.reviews-add {
	padding-top: 40px;
	margin-bottom: 40px;

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		color: rgb(0, 0, 0);
		margin-bottom: 4px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
	}

	&__smtitle {
		font-size: 16px;
		font-weight: 500;
		color: rgb(0, 0, 0);
	}

	&__more {
		@include button($w: 206, $h: 32px, $p: 0 24px, $bgc: rgb(221, 0, 22), $c: #fff);
	}

	@media (max-width: 768px) {
		padding-top: 0;
		padding-bottom: 56px;
		position: relative;
		margin-bottom: 16px;

		&__header {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 0;
		}

		&__more {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 40px;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
		}

		&__smtitle {
			font-size: 12px;
			line-height: 16px;
		}
	}
}
