<div class="reviews-add">
	<div class="reviews-add__title">Оценка модели Blanco Supra 340-U</div>
	<div class="reviews-add__header">
		<div class="reviews-add__smtitle">
			Еще никто не оставил отзыв о данной модели. Будьте первыми!
		</div>
		<a class="reviews-add__more" href="#">Смотреть все отзывы</a>
	</div>
</div>
<!-- /.reviews-add -->