<div class="basket-comment">

	<div class="basket-comment__title basket__title">Комментарий к заказу</div>
	<!-- /.basket-comment__title -->

	<div class="form__field">
		<textarea name="" class="form__input form__input_msg" data-form-label></textarea>
		<label class="form__label">
			Ваш вопрос <span>*</span>
		</label>
	</div>
	<!-- /.form__field -->

</div>
<!-- /.basket-comment -->
