<div class="brand-history">
	<div class="brand-history__title">История Smeg</div>
	<div class="brand-history__menu" data-tabs="data-tabs">
		{% for item in[
			'1948',
			'1955',
			'1963',
			'1970',
			'1971',
			'1977',
			'1985',
			'1991',
			'1995',
			'1997',
			'2008',
			'2010',
			'2012',
			'2014/2015'
		] %}
			<a class="brand-history__link" data-hash="#js-tabs-{{ loop.index }}" data-tabs-children="data-tabs-children">
				{{ item }}
			</a>
		{% endfor %}
	</div>
	<div class="tabs">
		{% for item in[
			'1948',
			'1955',
			'1963',
			'1970',
			'1971',
			'1977',
			'1985',
			'1991',
			'1995',
			'1997',
			'2008',
			'2010',
			'2012',
			'2014/2015'
		] %}
			<div class="tabs__inner" id="js-tabs-{{ loop.index }}">
				<div class="brand-history__section">
					<div class="brand-history__photo">
						<img class="brand-history__pic lazyload" data-src="images/brand-history__pic.jpg" alt=""/>
					</div>
					<div class="brand-history__desc">
						<div class="brand-history__year">{{ item }}</div>
						<p>Основана компания Smeg в небольшом итальянском городке Гуасталла. Italia Independent и корпорация Смег создали джинсовый холодильник — Smeg FAB28RDB. В этом же году создан уникальный продукт — мини-бар SMEG500.</p>
					</div>
				</div>
				<div class="brand-history__title">Итальянское превосходство
				</div>
				<p>Smeg — известный итальянский бренд, на протяжении 60 лет помогающий людям во всем мире заботится о доме. Эта техника создается с акцентом на качество, надежность, дизайн и экологические показатели. На практике это означает, что перед каждой
					отправкой партии продукции с завода проводится проверка каждой единицы товара.
				</p>
				<p>Ремонт приборов скандинавской фирмы — явление настолько редкое, что владельцы техники этого бренда даже не знают о существовании сервисных центров бренда. И такие типичные проблемы стиральных машин, как: прибор не сливает отработанную воду и
					зависает; при любой программе стирки вода не греется — стирка происходит в холодной воде; люк не закрывается совсем или не блокируется; барабан не вращается или делает это слишком медленно — не знакомы обладателям бытовой техники данной фирмы.</p>
				<p>Вся бытовая техника аско, изготовленная на заводах бренда, создается с соблюдением критериев экономного потребления воды и электроэнергии и длительного срока службы. Все продукты для кухни и по уходу за бельем по истечении срока службы подлежат
					вторичной переработке и имеют соответствующую маркировку.</p>
				<div class="brand-history__picture">
					<img class="lazyload" data-src="images/brand-history__pic2.png" alt=""/>
				</div>
				<div class="brand-history__title">Итальянское превосходство
				</div>
				<p>Становление компании, широко признанной во всем мире в сфере дизайна бытовой техники.</p>
				<div class="brand-history__picture">
					<img class="lazyload" data-src="images/brand-history__pic3.png" alt=""/>
				</div>
				<p>Эволюция бренда:</p>
				<ul class="brand-history__list">
					<li>
						<b>1948
						</b>— Основана компания Smeg в небольшом итальянском городке Гуасталла.
					</li>
					<li>
						<b>1955
						</b>— Компанией выпущена первая газовая плита серии Elizabeth, оснащенная автоматическим поджигом, таймером и газ-контролем.
					</li>
					<li>
						<b>1963
						</b>— Презентация первой модели стиральной машины коллекции Leda.
					</li>
					<li>
						<b>1970
						</b>— Революция на рынке посудомоечных машин — премьера посудомоечной машины , вместимостью на 14 комплектов посуды.
					</li>
					<li>
						<b>1971
						</b>—Начало серийного производства встраиваемых духовых шкафов и варочных панелей, которые стали визитной карточкой итальянского бренда.
					</li>
					<li>
						<b>1977
						</b>— Заключен контракт на спонсорство с легендарным пилотом Ferrari . В этом же году известный дизайнер Франко Мария Риччи создал логотип торговой марки.
					</li>
					<li>
						<b>1985
						</b>— Совместно с итальянским архитектором Гуидо Канали была разработана продуктовая линейка Classica, которая известна использованием нержавеющей стали с особой стилистической строгостью.
					</li>
					<li>
						<b>1991
						</b>— Выпуск новой линии техники Contemporanea.
					</li>
					<li>
						<b>1995
						</b>— Начало сотрудничества с архитектором Рензо Пьяно, которое способствовало появлению неповторимых варочных панелей, духовых шкафов,</li>
					<li>
						<b>холо
						</b>дильников и домашней оранжереи.
					</li>
					<li>
						<b>1997
						</b>— Свет увидели яркие и эксклюзивные холодильники коллекции FAB.
					</li>
					<li>
						<b>2008
						</b>— Юбилейный год для компании — 60 лет — принес компании премию Wallpaper design award за совместную работу с дизайнером Марком Ньюсоном.
					</li>
					<li>
						<b>2010
						</b>— Варочная поверхность и духовой шкаф серии Linea получили престижную награду Good Design award.
					</li>
					<li>
						<b>2012
						</b>— Italia Independent и корпорация Смег создали уникальный продукт — джинсовый холодильник — FAB28RDB. В этом же году создан уникальный продукт — мини-бар SMEG500.
					</li>
					<li>
						<b>2014/2015
						</b>— Малая бытовая техника Смег в ретро-стиле. Коллекция получила награды: Red Dot Design Award и Good Design Award.
					</li>
				</ul>
				<div class="brand-history__title">Непревзойденное качество приборов, проверенное временем
				</div>
				<p>Инновационные технологии, продуманный дизайн и исключительно лучшие материалы — неотъемлемые качества продукции итальянского бренда. Официальный сайт предлагает ознакомиться со всеми существующими коллекциями, материалами, из которых изготовлены
					приборы, и прочитать отзывы покупателей по всему миру.
				</p>
				<div class="brand-history__video">
					<img class="lazyload" data-src="images/brand-history__pic4.png" alt=""/>
					<a class="brand-history__play" href="#"></a>
				</div>
				<p>Все приборы проходят строгий контроль на этапе производства, отвечают самым строгим стандартам качества и безопасности.
				</p>
				<p>Надежность техники бренда не вызывает сомнений. Покупая эту технику, будьте уверены — она вам прослужит долгие годы. Тем не менее, по всему миру функционируют сервисные центры, в которые каждый пользователь может обратиться с вопросом по технике,
					ее функционалу, гарантии или подключению.
				</p>
				<p>В бутике Hausdorf вы можете купить приборы по привлекательной цене и заказать доставку в удобное для вас время.</p>
			</div>
		{% endfor %}
	</div>
</div>
<!-- /.brand-history -->
