.popup-manager {
	max-width: 800px;
	border-radius: 5px;
	padding: 24px 32px 40px;

	@media (min-width: 768px) {
		background: #ffffff url(../images/manager/popup-manager.jpg) no-repeat center;
		background-size: cover;
	}

	@media (max-width: 767px) {
		background: #ffffff url(../images/manager/popup-manager-mb.jpg) no-repeat center;
		background-size: cover;
	}

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		margin-bottom: 24px;
		text-transform: uppercase;
	}

	&__titlesm {
		font-size: 16px;
		font-weight: 500;
		color: #dd0016;
		margin-bottom: 8px;
	}

	&__text {
		font-size: 13px;
		line-height: 1.85;
		color: #000000;
		margin-bottom: 32px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0 -16px 32px;
	}

	&__col {
		padding: 0 16px;
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__photo {
		width: 56px;
		flex-shrink: 0;
		margin-right: 16px;
	}

	&__pic {
		display: block;
	}

	&__desc {
		max-width: 110px;
		font-size: 12px;
		line-height: 1.67;
		color: #000000;
	}

	&__required {
		padding-top: 24px;
		font-size: 12px;
		line-height: 1.5;
		color: #58585a;
	}

	.form__submit {
		width: 100%;
		max-width: 100%;
	}

	@media (--phone) {
		padding: 24px 16px 16px;
		border-radius: 8px;

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 16px;
		}

		&__titlesm {
			font-size: 12px;
			font-weight: 500;
			line-height: 1.5;
		}

		&__text {
			font-size: 12px;
			line-height: 1.67;
			margin-bottom: 16px;
		}

		&__row {
			flex-wrap: wrap;
			margin-bottom: 8px;
		}

		&__col {
			width: 50%;
			margin-bottom: 16px;
		}

		&__item {
			flex-direction: column;
		}

		&__photo {
			margin: 0 0 8px;
		}

		&__desc {
			text-align: center;
			font-size: 12px;
			line-height: 1.17;
		}

		.form__submit {
			margin-top: 16px;
		}
	}
}
