<div class="popup-manager">

	<div class="popup-manager__title">
		ВЫЕЗД МЕНЕДЖЕРА НА ДОМ — БЕСПЛАТНО!*
	</div>

	<div class="popup-manager__titlesm">
		Замер, подбор техники, консультация — на объекте
	</div>

	<div class="popup-manager__text">
		Если вам нужен замер, подбор техники и консультация в нестандартных решениях —  мы будем рады встретиться на объекте и согласовать возможные варианты комплектации.
	</div>

	<div class="popup-manager__row">
		<div class="popup-manager__col">
			<div class="popup-manager__item">
				<div class="popup-manager__photo">
					<img src="images/manager/1.svg" alt="" class="popup-manager__pic">
				</div>
				<div class="popup-manager__desc">
					Удобное время
				</div>
			</div>
		</div>
		<div class="popup-manager__col">
			<div class="popup-manager__item">
				<div class="popup-manager__photo">
					<img src="images/manager/2.svg" alt="" class="popup-manager__pic">
				</div>
				<div class="popup-manager__desc">
					Персональный менеджер
				</div>
			</div>
		</div>
		<div class="popup-manager__col">
			<div class="popup-manager__item">
				<div class="popup-manager__photo">
					<img src="images/manager/3.svg" alt="" class="popup-manager__pic">
				</div>
				<div class="popup-manager__desc">
					Счет после консультации
				</div>
			</div>
		</div>
		<div class="popup-manager__col">
			<div class="popup-manager__item">
				<div class="popup-manager__photo">
					<img src="images/manager/4.svg" alt="" class="popup-manager__pic">
				</div>
				<div class="popup-manager__desc">
					Возможна быстрая оплата заказа
				</div>
			</div>
		</div>
	</div>

	{% import "templates/default/src/components/form/form.njk" as form %}
	<form action="#" class="form">

		<div class="row">
			<div class="col-md-6">
				{{ form.input( label = 'Ваше имя' ) }}
			</div>
			<div class="col-md-6">
				{{
					form.input(
						label = 'Телефон',
						type = 'tel'
					)
				}}
			</div>
		</div>

		{{ form.input( label = 'Адрес' ) }}

		<div class="row align-items-center">
			<div class="col-md-6">
				{{ form.checkbox( attrs = 'checked' ) }}
			</div>
			<div class="col-md-6">
				{{ form.submit( value = 'Заказать выезд менеджера' ) }}
			</div>
		</div>

	</form>
	<!-- /.form -->

	<div class="popup-manager__required">
		*Услуга распространяется на бренды люкс и премиум-класса при заказе комплекта от двух моделей крупной бытовой техники.
	</div>

</div>
<!-- /.popup-callback -->
