<div class="popup-special-offer">
	<div class="popup-special-offer__logo"></div>
	<div class="popup-special-offer__title">СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ? НА ТЕХНИКУ КАЖДОМУ ПОКУПАТЕЛЮ!</div>
	<div class="popup__text popup-special-offer__text">
		Получите индивидуальное предложение от нашего салона — разместите заказ на сайте или оставьте свой контактный номер:
	</div>
	<!-- /.popup__text -->

	{% import "templates/default/src/components/form/form.njk" as form %}
	<form action="#" class="form">

		{{
			form.input(
				label = 'Телефон',
				type = 'tel'
			)
		}}

		{{ form.checkbox( attrs = 'checked' ) }}

		<div class="popup__footer popup__footer_center">
			{{ form.submit( value = 'Жду звонка' ) }}
		</div>

	</form>
	<!-- /.form -->

</div>
<!-- /.popup-callback -->
