.popup-special-offer {
	max-width: 415px;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 40px 32px;

	&__logo {
		margin-bottom: 30px;

		@media (min-width: 768px) {
			height: 104px;
			background: url(../images/hausdorf_logo_big.svg) no-repeat center;
		}

		@media (max-width: 767px) {
			height: 52px;
			background: url(../images/hausdorf-logo-offer.svg) no-repeat center;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		text-align: center;
		color: #000000;
		margin-bottom: 16px;
	}

	&__text {
		text-align: center;
		margin-bottom: 16px;
	}

	@media (--phone) {
		padding: 32px 24px;
		border-radius: 8px;

		&__logo {
			margin-bottom: 24px;
		}

		&__title {
			margin-bottom: 8px;
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
		}

		&__text {}
	}
}
