<div class="banner">
	<div class="row">
		<div class="col-sm-4 order-sm-2">
			<a class="banner__item" href="#">
				<img class="banner__pic lazyload" data-srcset="images/banner__pic2_768w.png 768w, images/banner__pic2.png 4000w" data-src="images/banner__pic2.png" alt=""/>
				<span class="banner__footer">
					<img class="banner__pic banner__pic_blur lazyload" data-srcset="images/banner__pic2_768w.png 768w, images/banner__pic2.png 4000w" data-src="images/banner__pic2.png" alt=""/>
					<span>Выезд консультанта на дом</span>
				</span>
			</a>
			<!-- /.banner__item -->
		</div>
		<!-- /.col-sm-4 -->
		<div class="col-sm-4 order-sm-3">
			<a class="banner__item" href="#">
				<img class="banner__pic lazyload" data-srcset="images/banner__pic3_768w.png 768w, images/banner__pic3.png 4000w" data-src="images/banner__pic3.png" alt=""/>
				<span class="banner__footer">
					<img class="banner__pic banner__pic_blur lazyload" data-srcset="images/banner__pic3_768w.png 768w, images/banner__pic3.png 4000w" data-src="images/banner__pic3.png" alt=""/>
					<span>Сотрудничество с дизайнерами и архитекторами</span>
				</span>
			</a>
			<!-- /.banner__item -->
		</div>
		<!-- /.col-sm-4 -->
		<div class="col-sm-4 order-sm-1">
			<a class="banner__item" href="#">
				<img class="banner__pic lazyload" data-srcset="images/banner__pic1_768w.png 768w, images/banner__pic1.png 4000w" data-src="images/banner__pic1.png" alt=""/>
				<span class="banner__desc">
					<span class="banner__title">Отзывы<br class="d-none d-sm-block"> о бутике Hausdorf</span>
					<span class="banner__text">Остались довольны сервисом? Поделитесь своим мнение о Бутике Hausdorf</span>
					<span class="banner__button">Подробнее</span>
				</span>
			</a>
			<!-- /.banner__item -->
		</div>
		<!-- /.col-sm-4 -->
		<div class="col-sm-4 order-sm-4">
			<a class="banner__item" href="#">
				<img class="banner__pic lazyload" data-srcset="images/banner__pic4_768w.png 768w, images/banner__pic4.jpg 4000w" data-src="images/banner__pic4.jpg" alt=""/>
			</a>
			<!-- /.banner__item -->
		</div>
		<!-- /.col-sm-4 -->
		<div class="col-sm-8 order-sm-5">
			<a class="banner__item banner__item_indent" href="#">
				<img class="banner__pic lazyload" data-srcset="images/banner__pic5_768w.png 768w, images/banner__pic5.png 4000w" data-src="images/banner__pic5.png" alt=""/>
			</a>
			<!-- /.banner__item -->
			<a class="banner__item" href="#">
				<img class="banner__pic lazyload" data-srcset="images/banner__pic6_768w.png 768w, images/banner__pic6.png 4000w" data-src="images/banner__pic6.png" alt=""/>
			</a>
			<!-- /.banner__item -->
		</div>
		<!-- /.col-sm-8 -->
	</div>
</div>
<!-- /.banner -->
