.partners-list {
	box-shadow: inset 0 1px 0 rgb(255, 255, 255);
	background-color: rgb(243, 243, 243);
	margin: 0 -24px 40px;
	padding: 32px 24px 17px;

	.title {
		margin-bottom: 16px;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 24px;
	}

	&__col {
		&:nth-child(2) .combox {
			width: 240px;
			margin-right: 48px;
		}

		&:nth-child(4) .combox {
			width: 474px;
		}
	}

	&__name {
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		margin-right: 24px;
	}

	&__text {
		margin-bottom: 24px;
	}

	&__photos {}

	&__link {
		text-decoration: none;
		display: block;
		margin-bottom: 14px;

		&_fancybox {
			position: relative;

			&:after {
				width: 48px;
				height: 48px;
				border-radius: 8px;
				background: rgba(26, 26, 26, 0.2) url(../images/arrow-expand-all.svg) no-repeat center;
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -24px 0 0 -24px;
				content: '';
				transform: scale(0);
				transition: transform 400ms;
			}

			&:hover:after {
				transform: scale(1);
			}
		}
	}

	&__pic {
		border-radius: 5px;
		overflow: hidden;
	}

	@media (--phone) {
		margin: 0 -16px 24px;
		padding: 19px 16px 0;

		.title {
			margin-bottom: 4px;
		}

		&__row {
			margin-bottom: 0;
			flex-direction: column;
			align-items: flex-start;
		}

		&__col {
			width: 100% !important;

			.combox {
				width: 100% !important;
				margin-bottom: 16px;
			}
		}

		&__photos {
			padding-bottom: 10px;
		}

		&__name {
			font-size: 12px;
			line-height: 1;
			margin: 0 0 8px;
		}

		&__text {
			font-size: 12px;
			line-height: 1.5;
			margin-bottom: 16px;
		}

		&__pic {
			max-width: 100%;
		}
	}
}
