<div class="partners-list">
	<div class="title title_small">Партнеры ЖК</div>

	{% from "combox/combox.njk" import combox %}
	<div class="partners-list__row">
		<div class="partners-list__col">
			<div class="partners-list__name">Выберите город</div>
		</div>
		<div class="partners-list__col">
			{{ combox(['Москва и область', 'Москва и область']) }}
		</div>
		<div class="partners-list__col">
			<div class="partners-list__name">Выберите ЖК партнера</div>
		</div>
		<div class="partners-list__col">
			{{ combox(['ЖК KnightsBridge', 'ЖК KnightsBridge']) }}
		</div>
	</div>
	<div class="partners-list__text">
		<b>ЖК KnightsBridge</b>
		<br/>
		Жилой комплекс «Knightsbridge Private park» — это четыре жилых особняка, английский парк в 2 гектара и обширная инфраструктура.
	</div>
	<div class="partners-list__photos row">
		<div class="col-sm-4">
			<a class="partners-list__link partners-list__link_fancybox" href="#">
				<img class="partners-list__pic lazyload" data-src="images/parking_pic_1.jpg" alt=""/>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="partners-list__link partners-list__link_fancybox" href="#">
				<img class="partners-list__pic lazyload" data-src="images/parking_pic_2.jpg" alt=""/>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="partners-list__link partners-list__link_fancybox" href="#">
				<img class="partners-list__pic lazyload" data-src="images/parking_pic_3.jpg" alt=""/>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="partners-list__link partners-list__link_fancybox" href="#">
				<img class="partners-list__pic lazyload" data-src="images/parking_pic_4.jpg" alt=""/>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="partners-list__link partners-list__link_fancybox" href="#">
				<img class="partners-list__pic lazyload" data-src="images/parking_pic_5.jpg" alt=""/>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="partners-list__link partners-list__link_fancybox" href="#">
				<img class="partners-list__pic lazyload" data-src="images/parking_pic_6.jpg" alt=""/>
			</a>
		</div>
	</div>
</div>
<!-- /.partners-list -->
