.brand-list-photo {
	@include row(9px);

	&__title {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 16px;
	}

	&__item {
		border-radius: 5px;
		border: 1px solid rgb(215, 215, 215);
		padding-bottom: 20px;
		height: 100%;
	}

	&__photo {
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__pic {
		display: block;
		max-height: 60px;
		max-width: 100%;
	}

	&__phone {
		display: flex;
		justify-content: center;
	}

	@media (--phone) {
		&__title {
			font-size: 14px;
			margin-bottom: 8px;
		}

		&__item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 8px;
			height: 72px;
			padding-bottom: 0;
		}

		&__photo {
			justify-content: flex-start;
			width: 135px;
			height: 72px;
			padding: 0 0 0 17px;
			flex-shrink: 0;
		}

		&__pic {
			max-width: 100px;
		}
	}

}