{% from "utilities/phone-info/phone-info.njk" import phoneInfo %}
<div class="brand-list-photo">
	<div class="brand-list-photo__title">Контактные центры по брендам:</div>
	<div class="row align-items-stretch">
		<div class="col-sm-3">
			<div class="brand-list-photo__item">
				<div class="brand-list-photo__photo"><img class="brand-list-photo__pic lazyload" data-src="images/brand-list1.png" alt=""/></div>
				<div class="brand-list-photo__phone">
					{{ phoneInfo(['+7 800 200 29 61']) }}
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="brand-list-photo__item">
				<div class="brand-list-photo__photo"><img class="brand-list-photo__pic lazyload" data-src="images/brand-list2.png" alt=""/></div>
				<div class="brand-list-photo__phone">
					{{ phoneInfo(['+7 800 200 29 62']) }}
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="brand-list-photo__item">
				<div class="brand-list-photo__photo"><img class="brand-list-photo__pic lazyload" data-src="images/brand-list3.png" alt=""/></div>
				<div class="brand-list-photo__phone">
					{{ phoneInfo(['+7 800 100 42 52']) }}
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="brand-list-photo__item">
				<div class="brand-list-photo__photo"><img class="brand-list-photo__pic lazyload" data-src="images/brand-list4.png" alt=""/></div>
				<div class="brand-list-photo__phone">
					{{ phoneInfo(['+7 800 707 07 72']) }}
				</div>
			</div>
		</div>
	</div>
</div>
