{% macro bannerCatalog(
		src768 = 'images/banner-catalog__pic768w.jpg',
		src = 'images/banner-catalog__pic.jpg'
	)
%}
	<div class="banner-catalog">
		<a class="banner-catalog__link" href="#">
			<img class="banner-catalog__pic lazyload" data-srcset="{{ src768 }} 768w, {{ src }} 4000w" data-src="{{ src }}" alt=""/>
		</a>
	</div>
	<!-- /.banner-catalog -->
{% endmacro %}
