.header-phone-mobile {
	position: absolute;
	left: 50%;
	top: 12px;
	height: 22px;
	overflow: hidden;
	padding: 0 20px 0 0;
	margin-left: -55px;

	&__section {
		transition: transform 500ms;
	}

	&__icon.active + &__section {
		transform: translate(0, -50%);
	}

	&__item {}

	&__tel {
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
		border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
		color: #000;
	}

	&__icon {
		width: 20px;
		height: 22px;
		position: absolute;
		right: 0;
		top: 0;

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			@include css-triangle(bottom, var(--cherry), 5px, 8px);
		}
	}
}
