.header-basket {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 8px 0 0 41px;
	position: absolute;
	top: 16px;
	right: 24px;
	min-height: 43px;

	&__icon {
		background: url("../images/header-basket__icon.svg") no-repeat;
		width: 33px;
		height: 43px;
		position: absolute;
		left: 0;
		top: 0;
	}

	&__text {
		color: #000000;
		font-size: 11px;
		font-weight: 400;
		line-height: 15px;
		margin-bottom: -2px;

		b {
			color: #dd0016;
			font-weight: 500;
		}
	}

	&__price {
		display: inline-block;
		color: #dd0016;
		font-size: 14px;
		font-weight: 500;

		@include link;
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@media (--phone) {
		z-index: 1;
		right: 16px;
	}
}
