.header-city {
	position: absolute;
	left: 455px;
	top: 17px;

	&__button {
		cursor: pointer;
		position: relative;
		z-index: 1;

		span {
			color: #000000;
			font-size: 14px;
			font-weight: 400;
			border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
			position: relative;

			&:after {
				top: 50%;
				margin-top: -2px;
				right: -15px;
				content: '';
				position: absolute;

				@include css-triangle(bottom, #dd0016, 4px, 6px);
			}
		}
	}

	&__text {
		position: relative;

		&:before {
			left: -16px;
			top: 50%;
			margin-top: -4px;
			width: 8px;
			height: 8px;
			background-color: #dd0016;
			content: '';
			border-radius: 50%;
			position: absolute;
		}

		a {
			color: #000000;
			font-size: 11px;
			font-weight: 400;
			text-decoration: underline;
		}
	}

	&__section {
		pointer-events: none;
		opacity: 0;
		margin: 0 0 0 -24px;
		padding: 8px 24px;
		z-index: 2;
		position: absolute;
		box-shadow: inset 0 1px 0 #ffffff;
		border-radius: 8px;
		background-image: linear-gradient(to top, #fcfcfc 0%, #e0e0e0 100%);
		transition: .4s;
	}

	&__button.active + &__section {
		opacity: 1;
		pointer-events: auto;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {}

	&__link {
		white-space: nowrap;
		color: #000;
		font-size: 12px;
		font-weight: 400;
		border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
		transition: .4s;

		&:hover {
			color: #dd0016;
		}
	}
}
