.menu-brand-item {
	border-radius: 5px;
	border: 1px solid #f5f7fa;
	background-color: #ffffff;
	padding: 15px 16px 24px;
	text-align: center;

	&__logo {
		margin-bottom: 16px;
	}

	&__brand {}

	&__name {
		color: #000000;
		font-size: 16px;
		font-weight: 400;
		display: inline-block;
		text-align: center;
		line-height: 20px;
		margin: 0 0 16px;
	}

	&__photo {
		height: 200px;
		margin-bottom: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__link {
		text-decoration: none;
	}

	&__pic {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}

	&__text {
		margin-bottom: 17px;
	}

	&__buy {
		@include button($w: 100%, $h: 32px, $bdrs: 24px);

		max-width: 185px;
	}
}
