.brand-list {
	padding-top: 14px;
	padding-bottom: 10px;

	&__title {
		height: 50px;
	}

	&__titlelink {}

	&__pic {
		display: block;
	}

	&__item {
		margin-bottom: 5px;
	}

	&__link {
		color: #000000;
		font-size: 11px;
		font-weight: 400;
		line-height: 17px;
		text-decoration: none;
		display: block;
		transition: color .4s;

		&:hover {
			color: #dd0016;
		}
	}
}
