<div class="block">

	<div class="block__title">Популярные категории товаров в бренде</div>

	<div class="block__section">

		<div class="swiper swiper_brandlist">

			<div class="swiper-container" data-swiper data-options='{"slidesPerView":6,"spaceBetween":30, "slidesPerGroup": 6, "breakpoints":{"768":{"slidesPerView":"auto","spaceBetween":24,"slidesPerGroup":1}}}'>
				<div class="swiper-wrapper">

					<div class="swiper-slide">
						<div class="brand-list">
							<div class="brand-list__title">
								<a class="brand-list__titlelink" href="#">
									<img class="brand-list__pic lazyload" data-src="images/brand-list__pic1.svg" alt=""/>
								</a>
							</div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Стиральные машины Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Сушильные машины Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Посудомоечные машины Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Холодильники Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Варочные панели Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Духовые шкафы Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Вытяжки Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Микроволновые печи Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Кофемашины Asko</a></div>
						</div>
					</div>
					<!-- /.swiper-slide -->

					<div class="swiper-slide">
						<div class="brand-list">
							<div class="brand-list__title">
								<a class="brand-list__titlelink" href="#">
									<img class="brand-list__pic lazyload" data-src="images/brand-list__pic2.svg" alt=""/>
								</a>
							</div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Печи Gorenje</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Витрины Gorenje</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Посудомоечные машины</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Стаканомоечные машины Gorenje</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Холодильное оборудование Gorenje</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Ледогенераторы Gorenje</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Аксессуары Gorenje</a></div>
						</div>
					</div>
					<!-- /.swiper-slide -->

					<div class="swiper-slide">
						<div class="brand-list">
							<div class="brand-list__title">
								<a class="brand-list__titlelink" href="#">
									<img class="brand-list__pic lazyload" data-src="images/brand-list__pic3.png" alt=""/>
								</a>
							</div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Варочные панели Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Пароварки Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Посудомоечные машины Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Кофемашины Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Вытяжки Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Подогреватели Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Посудомоечные Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Кофемашины Neff</a></div>
						</div>
					</div>
					<!-- /.swiper-slide -->

					<div class="swiper-slide">
						<div class="brand-list">
							<div class="brand-list__title">
								<a class="brand-list__titlelink" href="#">
									<img class="brand-list__pic lazyload" data-src="images/brand-list__pic4.png" alt=""/>
								</a>
							</div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Духовые шкафы Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Варочные центры Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Микроволновые печи Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Пароварки Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Посудомоечные машины Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Кофемашины Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Вытяжки Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Подогреватели Smeg</a></div>
						</div>
					</div>
					<!-- /.swiper-slide -->

					<div class="swiper-slide">
						<div class="brand-list">
							<div class="brand-list__title">
								<a class="brand-list__titlelink" href="#">
									<img class="brand-list__pic lazyload" data-src="images/brand-list__pic5.png" alt=""/>
								</a>
							</div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Холодильники AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Стиральные машины AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Сушильные машины AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Варочные панели AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Духовые шкафы AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Варочные центры AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Микроволновые печи AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Посудомоечные машины AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Кофемашины AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Вытяжки AEG</a></div>
						</div>
					</div>
					<!-- /.swiper-slide -->

					<div class="swiper-slide">
						<div class="brand-list">
							<div class="brand-list__title">
								<a class="brand-list__titlelink" href="#">
									<img class="brand-list__pic lazyload" data-src="images/brand-list__pic1.svg" alt=""/>
								</a>
							</div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Стиральные машины Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Сушильные машины Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Посудомоечные машины Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Холодильники Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Варочные панели Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Духовые шкафы Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Вытяжки Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Микроволновые печи Asko</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Кофемашины Asko</a></div>
						</div>
					</div>
					<!-- /.swiper-slide -->

					<div class="swiper-slide">
						<div class="brand-list">
							<div class="brand-list__title">
								<a class="brand-list__titlelink" href="#">
									<img class="brand-list__pic lazyload" data-src="images/brand-list__pic2.svg" alt=""/>
								</a>
							</div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Печи Gorenje</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Витрины Gorenje</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Посудомоечные машины</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Стаканомоечные машины Gorenje</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Холодильное оборудование Gorenje</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Ледогенераторы Gorenje</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Аксессуары Gorenje</a></div>
						</div>
					</div>
					<!-- /.swiper-slide -->

					<div class="swiper-slide">
						<div class="brand-list">
							<div class="brand-list__title">
								<a class="brand-list__titlelink" href="#">
									<img class="brand-list__pic lazyload" data-src="images/brand-list__pic3.png" alt=""/>
								</a>
							</div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Варочные панели Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Пароварки Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Посудомоечные машины Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Кофемашины Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Вытяжки Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Подогреватели Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Посудомоечные Neff</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Кофемашины Neff</a></div>
						</div>
					</div>
					<!-- /.swiper-slide -->

					<div class="swiper-slide">
						<div class="brand-list">
							<div class="brand-list__title">
								<a class="brand-list__titlelink" href="#">
									<img class="brand-list__pic lazyload" data-src="images/brand-list__pic4.png" alt=""/>
								</a>
							</div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Духовые шкафы Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Варочные центры Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Микроволновые печи Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Пароварки Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Посудомоечные машины Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Кофемашины Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Вытяжки Smeg</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Подогреватели Smeg</a></div>
						</div>
					</div>
					<!-- /.swiper-slide -->

					<div class="swiper-slide">
						<div class="brand-list">
							<div class="brand-list__title">
								<a class="brand-list__titlelink" href="#">
									<img class="brand-list__pic lazyload" data-src="images/brand-list__pic5.png" alt=""/>
								</a>
							</div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Холодильники AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Стиральные машины AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Сушильные машины AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Варочные панели AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Духовые шкафы AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Варочные центры AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Микроволновые печи AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Посудомоечные машины AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Кофемашины AEG</a></div>
							<div class="brand-list__item"><a class="brand-list__link" href="#">Вытяжки AEG</a></div>
						</div>
					</div>
					<!-- /.swiper-slide -->

				</div>
			</div>
			<!-- /.swiper-container -->

			<div class="swiper__arrow swiper__arrow_right">
				<div class="swiper__prev swiper__prev_round js-swiper__prev"></div>
				<div class="swiper__next swiper__next_round js-swiper__next"></div>
			</div>
			<!-- /.swiper__arrow -->

		</div>
		<!-- /.swiper_brandlist -->

	</div>
	<!-- /.block__section -->
</div>
<!-- /.block -->
