<div class="basket-table">
	<div class="basket-table__table">
		<div class="basket-table__header">
			<div class="basket-table__title">Товар</div>
			<div class="basket-table__title"></div>
			<div class="basket-table__title">Цена</div>
			<div class="basket-table__title">Количество</div>
			<div class="basket-table__title">Стоимость</div>
		</div>
		<div class="basket-table__row">
			<div class="basket-table__col">
				<a class="basket-table__link" href="#">
					<img class="basket-table__pic lazyload" data-src="images/basket-table__pic1.jpg"/>
				</a>
			</div>
			<div class="basket-table__col">
				<div class="basket-table__articul">
					<span>Артикул:</span>
					146-9713
				</div>
				<div class="basket-table__name">
					<a class="basket-table__namelink" href="#">
						<span>Стиральная машина</span>
						V-ZUG WAASLQ li
					</a>
				</div>
			</div>
			<div class="basket-table__col" data-col="Цена">
				<div class="basket-table__price">905 100 руб.</div>
			</div>
			<div class="basket-table__col" data-col="Количество">
				{% include "basket/basket-counter/basket-counter.njk" %}
			</div>
			<div class="basket-table__col" data-col="Стоимость">
				<div class="basket-table__summ">1 810 200 руб.</div>
			</div>
			<div class="basket-table__col">
				<a class="basket-table__delete" href="#">Удалить</a>
			</div>
		</div>
		<!-- /.basket-table__row -->
		<div class="basket-table__row">
			<div class="basket-table__col">
				<a class="basket-table__link" href="#">
					<img class="basket-table__pic lazyload" data-src="images/basket-table__pic2.jpg"/>
				</a>
			</div>
			<div class="basket-table__col">
				<div class="basket-table__articul">
					<span>Артикул:</span>
					146-9713
				</div>
				<div class="basket-table__name">
					<a class="basket-table__namelink" href="#">
						<span>Стиральная машина</span>
						V-ZUG WAASLQ li
					</a>
				</div>
			</div>
			<div class="basket-table__col" data-col="Цена">
				<div class="basket-table__price">905 100 руб.</div>
			</div>
			<div class="basket-table__col" data-col="Количество">
				{% include "basket/basket-counter/basket-counter.njk" %}
			</div>
			<div class="basket-table__col" data-col="Стоимость">
				<div class="basket-table__summ">1 810 200 руб.</div>
			</div>
			<div class="basket-table__col">
				<div class="basket-table__recovery">
					<div class="basket-table__recovery-txt">Вы действительно хотите удалить этот товар?</div>
					<div class="basket-table__recovery-section">
						<a class="basket-table__recovery-delete" href="#">Да, удалить</a>
						<a class="basket-table__recovery-recovery" href="#">Восстановить</a>
					</div>
				</div>
				<a class="basket-table__delete" href="#">Удалить</a>
			</div>
		</div>
		<!-- /.basket-table__row -->
	</div>
	<div class="basket-table__footer">
		<div class="basket-table__text">Общая стоимость товаров:</div>
		<div class="basket-table__total">1 905 300 руб.</div>
	</div>
</div>
<!-- /.basket-table -->
