.catalog-thumb {
	height: calc(100% - 14px);
	background-color: #ffffff;
	transition: box-shadow 400ms;
	padding: 24px 16px 22px;
	margin-bottom: 14px;
	border-radius: 5px;
	position: relative;

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		border-radius: 5px;
		content: "";
		transition: all 400ms;
	}

	&:hover:before {
		height: 104%;
		width: 104%;
		top: -2%;
		left: -2%;
		box-shadow: 0 2px 25px rgba(0, 0, 0, 0.14);
	}

	&__inner {
		position: relative;
	}

	&__label {}

	&__photo {
		height: 190px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 -20px 24px;
	}

	&__link {
		display: block;
	}

	&__pic {
		max-height: 180px;
		max-width: 100%;
	}

	&__title {
		margin-bottom: 4px;
		line-height: 1.71;
	}

	&__titlelink {
		font-size: 14px;
		color: #000000;

		span {
			display: block;
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 30px;

		&_utility {
			padding-top: 19px;
		}
	}

	&__col {}

	&__price {
		font-size: 20px;
		font-weight: 500;
		color: #000000;

		span {
			font-size: 14px;
		}
	}

	&__getPrice {
		font-size: 13px;
		color: #dd0016;
		line-height: 15px;
	}

	@media (--phone) {
		.catalog_thumb & {
			height: calc(100% - 2px);
			margin-bottom: 2px;
			border-radius: 2px;
			padding: 8px;

			.label {
				display: none;
			}

			&__inner {
				padding-bottom: 24px;
			}

			&__photo {
				margin: 0 0 8px;
				height: 146px;
			}

			&__pic {
				max-height: 146px;
			}

			&__title {
				margin-bottom: 0;
			}

			&__titlelink {
				font-size: 12px;
				line-height: 1.17;

				span {
					display: block;
					font-size: 10px;
					font-weight: 300;
				}
			}

			.available {
				font-size: 10px;
				line-height: 16px;
				padding: 2px 0 0 12px;
				margin-bottom: 4px;
			}

			&__price {
				font-size: 16px;
			}

			&__footer {
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;

				&_utility {
					position: static;
					padding: 0;
					justify-content: flex-start;
					margin-bottom: 9px;

					.button-compare {
						margin-right: 18px;
					}

					.button-compare__text {
						display: none;
					}

					.button-favorite__text {
						display: none;
					}
				}
			}
		}
	}
}
