{%
	macro thumb(
		name = '<span>Холодильник</span> Smeg FAB28LUJ1',
		src = 'images/catalog-thumb__pic1.jpg',
		price = '139 390 ' ,
		compare = false,
		favorite = false,
		label = false,
		labelItemsText = [ 'Скидка 20%' ],
		footer = 'show',
		available = 'show',
		getPrice = false
	)
%}
<div class="catalog-thumb">
	<div class="catalog-thumb__inner">
		{% if label %}
			<div class="label">
				{% for item in labelItemsText %}
					<div class="label__item">
						<div class="label__text">{{ item }}</div>
						<!-- /.label__text -->
					</div>
					<!-- /.label__item -->
				{% endfor %}
			</div>
			<!-- /.label -->
		{% endif %}
		<div class="catalog-thumb__photo">
			<a href="#" class="catalog-thumb__link">
				<img data-src="{{ src }}" alt="" class="catalog-thumb__pic lazyload" />
			</a>
		</div>
		<!-- /.catalog-thumb__photo -->
		<div class="catalog-thumb__title" data-mh="catalog-thumb-name">
			<a href="#" class="catalog-thumb__titlelink">{{ name | safe }}</a>
		</div>
		<!-- /.catalog-thumb__title -->
		{% if available %}
			<div class="available">В наличии</div>
			<!-- /.available -->
		{% endif %}
		<div class="catalog-thumb__footer">
			{% if getPrice %}
			<div class="catalog-thumb__getPrice">
				* Стоимость модели можно уточнить у нашего консультанта
			</div>
			{% else %}
			<div class="catalog-thumb__col">
				<div class="catalog-thumb__price">
					{{ price }} <span>руб.</span>
				</div>
				<!-- /.catalog-thumb__price -->
			</div>
			<!-- /.catalog-thumb__col -->
			<div class="catalog-thumb__col">
				<a href="№" class="button-buy catalog-thumb__buy">Купить</a>
			</div>
			<!-- /.catalog-thumb__col -->	
			{% endif %}
		</div>
		<!-- /.catalog-thumb__footer -->
		{% if footer == 'show' %}
			<div class="catalog-thumb__footer catalog-thumb__footer_utility">
				<div class="catalog-thumb__col">
					{% if compare %}
						<a class="button-compare active" href="#">
							<span class="button-compare__icon"></span>
							<span class="button-compare__text">В сравнении</span>
						</a>
					{% else %}
						<a class="button-compare" href="#">
							<span class="button-compare__icon"></span>
							<span class="button-compare__text">Сравнить</span>
						</a>
					{% endif %}
				</div>
				<!-- /.catalog-thumb__col -->
				<div class="catalog-thumb__col">
					{% if favorite %}
						<a class="button-favorite active" href="#">
							<span class="button-favorite__icon"></span>
							<span class="button-favorite__text">В избранном</span>
						</a>
					{% else %}
						<a class="button-favorite" href="#">
							<span class="button-favorite__icon"></span>
							<span class="button-favorite__text">В избранное</span>
						</a>
					{% endif %}
				</div>
				<!-- /.catalog-thumb__col -->
			</div>
			<!-- /.catalog-thumb__footer catalog-thumb__footer_utility -->
		{% endif %}
	</div>
</div>
<!-- /.catalog-thumb -->
{% endmacro %}
