<div class="popup-price">
	<div class="popup__title">
		Уточнить стоимость
	</div>
	<!-- /.popup__title -->    
	<div class="popup__text">
		Укажите Ваши контактные данные, и наш менеджер свяжется с Вами в ближайшее время для уточнения интересующей Вас информации.
	</div>
	<!-- /.popup__text -->

	{% import "templates/default/src/components/form/form.njk" as form %}
	<form action="#" class="form">

		{{ form.input( label = 'Ваше имя' ) }}

		{{
			form.input(
				label = 'Телефон или e-mail для связи'
			)
		}}

		<div class="popup-price__field">
			<b>Товар</b>
			Морозильный шкаф Gaggenau RF 463-300
		</div>

		{{ form.checkbox( attrs = 'checked' ) }}

		<div class="popup__footer popup__footer_center">
			{{ form.submit() }}
		</div>

	</form>
	<!-- /.form -->

</div>
<!-- /.popup-price -->
