<div class="swiper swiper_main">

	<div class="swiper-container" data-swiper data-options='{"slidesPerView": 1, "spaceBetween": 30}'>
		<div class="swiper-wrapper">
			{% for item in [1, 2, 3, 4] %}
				<div class="swiper-slide">

					<div class="main-banner">
						<img data-srcset="images/main-banner_768w.png 768w, images/main-banner.png" data-src="images/main-banner.png" alt="" class="main-banner__pic lazyload" />
						<div class="main-banner__desc">
							<div class="main-banner__title">
								Варочная панель Kuppersberg FA6RC Bronze
							</div>
							<!-- /.main-banner__title -->
							<div class="main-banner__price">
								35 990 руб.
							</div>
							<!-- /.main-banner__price -->
						</div>
						<!-- /.main-banner__desc -->
						<a href="#" class="main-banner__button"></a>
					</div>
					<!-- /.main-banner -->

				</div>
				<!-- /.swiper-slide -->
			{% endfor %}
		</div>
		<!-- /.swiper-wrapper -->
	</div>
	<!-- /.swiper-container -->
	<div class="swiper__arrow swiper__arrow_main">
		<div class="swiper__prev swiper__prev_big js-swiper__prev"></div>
		<div class="swiper__next swiper__next_big js-swiper__next"></div>
	</div>
	<!-- /.swiper__arrow swiper__arrow_main -->
</div>
<!-- /.swiper swiper_main -->
