.main-banner {
	position: relative;
	margin-top: -50px;

	&__pic {
		display: block;
		margin: 0 auto;

		img {
			display: block;
			margin: 0 auto;
		}
	}

	&__desc {
		width: 1156px;
		margin: 0 auto;
		position: absolute;
		left: 50%;
		bottom: 112px;
		margin-left: calc(1156px / 2 * (-1));
	}

	&__price {
		color: #000000;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		position: relative;
		display: inline;

		&:after {
			content: '';
			position: absolute;
			right: -20px;
			top: 50%;
			border-left: 11px solid #dd0016;
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			margin-top: -8px;
		}
	}

	&__title {
		color: #58585a;
		font-size: 32px;
		font-weight: 500;
		margin-bottom: 16px;
	}

	&__button {
		position: absolute;
		left: 0;
		top: 25%;
		width: 100%;
		height: 65%;
	}

	@media (--phone) {
		position: relative;
		margin-top: 0;

		&__pic {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			max-width: 100%;
			width: 100%;
		}

		&__desc {
			width: auto;
			left: 16px;
			bottom: 15px;
			margin-left: 0;
		}

		&__price {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;

			&:after {
				right: -20px;
				border-left: 8px solid #dd0016;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				margin-top: -5px;
			}
		}

		&__title {
			font-size: 16px;
			line-height: 1.35;
			margin-bottom: 3px;
			font-weight: 500;
			color: #000000;
			max-width: 70%;
		}

		&__button {}
	}
}
