<div class="detail-section">
	<div class="detail-section__top">

		{% include "detail-page/detail-models/detail-models.njk" %}
		
	</div>
	<div class="detail-section__bottom">
	
		<div class="title title_small">Статьи и видео:</div>
		<!-- /.title title_small -->

		{% from "news/news-block/news-block.njk" import newsBlock %}

		<div class="news-block">
			<div class="swiper">
				<div class="swiper-container" data-swiper data-options='{"slidesPerView":4,"spaceBetween":16,"breakpoints":{"768":{"slidesPerView":"auto","spaceBetween":16,"slidesPerGroup":1}}}'>
					<div class="swiper-wrapper">
						{% for item in '12' %}
						<div class="swiper-slide">
							{{
								newsBlock()
							}}
						</div>
						<!-- /.swiper-slide -->
						<div class="swiper-slide">
							{{
								newsBlock(
									src = 'images/news-block__pic2.jpg',
									name = 'Новые сушильные шкафы от Asko'
								)
							}}
						</div>
						<!-- /.swiper-slide -->
						<div class="swiper-slide">
							{{
								newsBlock(
									src = 'images/news-block__pic3.jpg',
									name = 'Лучшие марки холодильников',
									video = 'show'
								)
							}}
						</div>
						<!-- /.swiper-slide -->
						<div class="swiper-slide">
							{{
								newsBlock(
									src = 'images/news-block__pic4.jpg',
									name = 'Специальные цены на вытяжки Falmec',
									video = 'show'
								)
							}}
						</div>
						<!-- /.swiper-slide -->
						{% endfor %}
					</div>
				</div>
				<div class="swiper__arrow swiper__arrow_right">
					<div class="swiper__prev swiper__prev_round js-swiper__prev"></div>
					<div class="swiper__next swiper__next_round js-swiper__next"></div>
				</div>
			</div>
			<!-- /.swiper -->
		</div>
		<!-- /.news-block -->	
	
	</div>
</div>