.detail-section {
	&__top {
		border-radius: 5px 5px 0 0;
		background-color: rgb(255, 255, 255);
		padding: 24px;
	}

	&__bottom {
		border-radius: 0 0 5px 5px;
		background-color: rgb(243, 243, 243);
		padding: 24px;

		.title {
			margin-bottom: 16px;
		}
	}

	@media (max-width: 768px) {
		margin: 0 -16px;

		&__top {
			padding: 16px;
		}

		&__bottom {
			padding: 16px;

			.title {
				margin-bottom: 0;
			}
		}
	}
}
