.detail-price {
	margin-bottom: 11px;

	&__old {
		color: #b0b0b0;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		text-decoration: line-through;
		margin-bottom: 8px;
	}

	&__new {
		color: #2e2e2e;
		font-size: 36px;
		font-weight: 500;
		line-height: 24px;

		span {
			font-size: 24px;
		}
	}
	@media (--phone) {
		text-align: center;

		&__new {
			font-size: 24px;
		}
	}
}