<div class="detail-price">
	<div class="detail-price__old">
		122 750 <span>руб.</span>
	</div>
	<!-- /.detail-price__old -->
	<div class="detail-price__new">
		2 750 <span>руб.</span>
	</div>
	<!-- /.detail-price__new -->
</div>
<!-- /.detail-price -->
