<div class="basket-person">
	<div class="basket-person__section">
		<div class="basket-person__text">
			Тип плательщика:
		</div>
		<div class="basket-person__combox">
			{% from "combox/combox.njk" import combox %}
			{{
				combox(['Физическое лицо', 'Физическое лицо', 'Физическое лицо'])
			}}
		</div>
	</div>
</div>
<!-- /.basket-person -->
