.basket-person {
	&__section {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text {
		font-size: 14px;
		line-height: 1.71;
	}

	&__combox {
		width: calc(100% - 136px);
	}

	@media (--phone) {
		&__section {
			flex-direction: column;
			align-items: flex-start;
		}

		&__text {
			font-size: 12px;
			line-height: 1.67;
			margin-bottom: 8px;
		}

		&__combox {
			width: 100%;
		}
	}
}
