.about-hausdorf {
	margin-top: 16px;
	margin-bottom: 24px;

	&_partner {
		margin-bottom: 0;
	}

	&_partner &__item:last-child {
		margin-bottom: 0;
	}

	&__item {
		margin-bottom: 16px;
		position: relative;
	}

	&__pic {
		display: block;
		border-radius: 5px;
		width: 100%;
	}

	&__desc {
		position: absolute;
		left: 40px;
		top: 49px;
		border-radius: 8px;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 32px 24px 32px 32px;
	}

	&__item:nth-child(even) &__desc {
		left: auto;
		right: 40px;
		padding-right: 38px;
	}

	&__title {
		color: rgb(255, 255, 255);
		margin-bottom: 16px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__text {
		color: rgb(255, 255, 255);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 16px;
	}

	&__button {
		@include button($w: 320px);
	}

	@media (--phone) {
		margin: 0 -16px;

		&__pic {
			border-radius: 0;
		}

		&__desc {
			left: 16px !important;
			top: auto !important;
			bottom: 24px !important;
			right: 16px !important;
			padding: 24px 16px 24px;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		&__text {
			font-size: 12px;
			line-height: 1.5;
			margin-bottom: 32px;
		}

		&__button {
			width: 100%;
		}
	}
}
