{% macro aboutHd(
	src = 'about-hd__pic1.jpg',
	src768 = 'about-hd__pic1_768w.png',
	title = 'Техника в бутике Hausdorf',
	text = 'Витрина нашей бытовой техники включает<br> бренды премиум- и бизнес-класса: Asko, Beltratto,<br> Gaggenau, Kuppersbusch, Fulgor Milano, SUB-ZERO,<br> Bertazzoni и другие.',
	button = 'Перейти на сайт'
	)
%}
<div class="about-hausdorf__item">
	<img class="about-hausdorf__pic lazyload" data-srcset="images/{{ src768 }} 768w, images/{{ src }} 4000w" data-src="images/{{ src }}" />
	<div class="about-hausdorf__desc">
		<div class="about-hausdorf__title">{{ title }}</div>
		<div class="about-hausdorf__text">{{ text | safe }}</div>
		<a class="about-hausdorf__button" href="#">{{ button }}</a>
	</div>
</div>
<!-- /.about-hausdorf__item -->
{% endmacro %}
