{% macro yaReviews(
	name = 'Капустина Екатерина',
	title = 'De Dietrich DPI7572G',
	text = 'отличная навигация, очень подробное, информативное меню, работает тихо и отстирывает отменно! нагромождать квартирую стиральной а потом еще и сушильной машину не хотела. О стирально-сушильной машине задумывалась давно, пугали отзывы о том, что вещи после сушки пересушены и их невозможно прогладить. По тем же отзывав выбрала ряд брендов по ним проконсультировалась у менеджеров магазина. Остановилась на этом производителе. Белье стираю с капсулами - все прекрасно вымывается',
	photo = false,
	src = 'images/news-list__pic1.png'
	)
%}

	{% from "rating-stars/rating-stars.njk" import rating %}
			
	<div class="yandex-reviews__row">
		{% if photo %}
			<div class="yandex-reviews__photo">
				<a class="yandex-reviews__link" href="#">
					<img class="yandex-reviews__pic lazyload" data-src="{{ src }}" alt=""/>
				</a>
			</div>
		{% endif %}
		<div class="yandex-reviews__desc">
			<div class="yandex-reviews__header">
				<div class="yandex-reviews__col">
					<div class="yandex-reviews__name">
						{{ name }}
					</div>
					<div class="yandex-reviews__ratings">
						{{
							rating(
								counter = 4,
								text = '4'
							)
						}}
					</div>
				</div>
				<div class="yandex-reviews__col">
					<div class="yandex-reviews__date">26.10.2018</div>
				</div>
			</div>
			<div class="yandex-reviews__text">
				{{ text }}
			</div>
		</div>
	</div>
	<!-- /.yandex-reviews__row -->
{% endmacro %}
