.detail-settings-preview {
	border-radius: 6px;
	background-color: var(--pale-grey);
	padding: 16px 24px;
	margin-bottom: 24px;

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		color: rgb(0, 0, 0);
		margin-bottom: 14px;
	}

	&__section {}

	&__field {
		margin-bottom: 16px;
		display: flex;
		justify-content: space-between;
		font-size: 14px;

		&:last-child {
			margin-bottom: 0;
		}

		span {
			line-height: 0.86;
			color: rgb(26, 26, 26);
			opacity: 0.4;
		}

		b {
			width: 40%;
			line-height: 0.86;
			color: rgb(26, 26, 26);
			font-weight: normal;
		}
	}

	@media (max-width: 768px) {
		margin: 0 -16px 16px;
		padding: 16px;

		&__title {
			font-size: 16px;
		}

		&__field {
			font-size: 12px;
			line-height: 1.5;
		}
	}
}
