{% set data = [
	{
		id: 'Ширина:',
		value: '100.0 см'
	},
	{
		id: 'Глубина:',
		value: '511.0 см'
	},
	{
		id: 'Высота чаши:',
		value: '19.0 см'
	},
	{
		id: 'Материал',
		value: 'Керамогранит'
	},
	{
		id: 'Тип',
		value: 'Прямая'
	},
	{
		id: 'Гарантия',
		value: '2 года'
	},
	{
		id: 'Страна',
		value: 'Германия'
	}
] %}

<div class="detail-settings-preview">
	<div class="detail-settings-preview__title">Характеристики</div>
	<div class="detail-settings-preview__section">
		{% for item in data %}
		<div class="detail-settings-preview__field">
			<span>{{ item.id }}</span>
			<b>{{ item.value }}</b>
		</div>			
		{% endfor %}
	</div>
</div>
<!-- /.detail-settings-preview -->