<div class="phone-content-large">
    <div class="phone-content-large__text">
		Получить консультацию по вопросу выбора холодильника Liebherr вы можете у наших менеджеров в салоне Hausdorf или по телефону: <br/>
		<a href="#">+7 (800) 333-10-52</a> (звонок бесплатный).
	</div>
    <div class="phone-content-large__icon"></div>
</div>
<!-- /.phone-content-large -->
