{% set data = [
		{
			"src": "images/benefits-content__pic1.svg",
			"title": "Лучшие партнерские условия",
			"text": "Индивидуальные программы сотрудничества на выгодных условиях."
		},
		{
			"src": "images/benefits-content__pic2.svg",
			"title": "Защита проекта",
			"text": "Поддержка авторских прав дизайнера на любом этапе реализации проекта."
		},
		{
			"src": "images/benefits-content__pic3.svg",
			"title": "Гарантия качества товара",
			"text": "Только проверенные и известные бренды с гарантией от производителя."
		},
		{
			"src": "images/benefits-content__pic4.svg",
			"title": "Постпродажная поддержка",
			"text": "Персональный подход к каждому клиенту до и после свершения сделки."
		}
	]
%}

<div class="benefits-content">
    <div class="row">
		{% for item in data %}
		<div class="col-sm-3">
			<div class="benefits-content__item">
				<div class="benefits-content__photo">
					<img class="benefits-content__pic lazyload" data-src="{{ item.src }}" />
				</div>
				<div class="benefits-content__desc">
					<div class="benefits-content__name">
						{{ item.title }}
					</div>
					<div class="benefits-content__text">
						{{ item.text }}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
    </div>
</div>
<!-- /.benefits-content -->
