.benefits-content {
	.banner-content & {
		border-top: 1px solid #fff;
		padding-top: 32px;
		position: absolute;
		left: 24px;
		right: 24px;
		bottom: 31px;
	}

	&__photo {
		margin-bottom: 24px;
	}

	&__pic {
		display: block;
	}

	&__name {
		color: rgb(255, 255, 255);
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 12px;
	}

	&__text {
		color: rgb(255, 255, 255);
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
	}

	@media (--phone) {
		.banner-content & {
			border: none;
			padding: 0;
			position: static;
		}

		&__item {
			display: flex;
			align-items: center;
			margin-bottom: 24px;
		}

		&__photo {
			width: 56px;
			margin: 0 24px 0 0;
			flex-shrink: 0;
		}

		&__name {
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 6px;
		}

		&__text {
			font-size: 12px;
			line-height: 1.5;
			color: #a5a5a6;
		}
	}
}
