.menu-sidebar {
	border: 1px solid rgb(238, 238, 238);
	background-color: rgb(255, 255, 255);
	padding: 13px 25px;
	font-size: 14px;
	line-height: 33px;
	margin-bottom: 40px;
	margin-top: 3px;

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		padding: 0 0 0 16px;
		position: relative;

		&:before {
			position: absolute;
			left: 0;
			top: 13px;
			width: 4px;
			height: 4px;
			background-color: rgb(46, 46, 46);
			border-radius: 50%;
			content: '';
		}

		&.active:before {
			background-color: rgb(0, 119, 255);
		}
	}

	&__link {
		color: rgb(46, 46, 46);
		text-decoration: none;
	}

	&__item.active &__link,
	&__link:hover {
		color: rgb(0, 39, 117);
		font-weight: 700;
	}
}