{% macro menuSideBar(items, modCls='', activeIndexCls=1) %}
<nav class="menu-sidebar{{ modCls }}">
	<ul class="menu-sidebar__list">
		{% for item in items %}
		{% if activeIndexCls == loop.index %}
		<li class="menu-sidebar__item active">
			<a href="#" class="menu-sidebar__link">{{ item }}</a>
		</li>
		{% else %}
		<li class="menu-sidebar__item">
			<a href="#" class="menu-sidebar__link">{{ item }}</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</nav>
<!--end menu-->
{% endmacro %}
