<div class="benefits-main {{ modClass }}">
	{% if isHideBenefitsMainTitle != 'hide' %}
	<div class="benefits-main__title">
		<div class="title title_small title_center">Ключевые преимущества Hausdorf</div>
	</div>
	{% endif %}
	<div class="benefits-main__toptext">    
		Hausdorf — эксперт в мире бытовой техники бизнес- и премиум-классов. Представляем коллекцию подборки брендов бытовой техники заслуживающих ваше внимание. Наши специалисты расскажут об особенностях, отличиях и преимуществах каждого из них,
		продемонстрируют разницу и предложат оптимальный вариант, отвечающий вашим потребностям. Качество помнят еще долго после того, как забывается цена.  
	</div>
	<div class="benefits-main__row">
		<div class="benefits-main__col">
			<div class="benefits-main__photo"><img class="benefits-main__picture lazyload" data-src="images/benefits-main__picture.png" alt=""/></div>
		</div>
		<div class="benefits-main__col">
			<div class="benefits-main__desc">
				<div class="benefits-main__name">Мальцев Иван</div>
				<div class="benefits-main__infotext">Генеральный директор бутика Hausdorf</div>
			</div>
		</div>
	</div>
	<div class="benefits-main__line"></div>
	<div class="benefits-main__minfo">Преимущества кликабельны</div>
	<div class="benefits-main__section row">
		
		{% for item in ['БЕСПЛАТНАЯ<br>ДОСТАВКА', 'БЕСПЛАТНОЕ<br>ПОДКЛЮЧЕНИЕ', 'БЕСПЛАТНОЕ<br>ХРАНЕНИЕ', 'ЛЕГКИЙ ОБМЕН<br>И ВОЗВРАТ', 'ОФИЦИАЛЬНАЯ<br>ГАРАНТИЯ', 'ВЫЗОВ МЕНЕДЖЕРА<br>НА ОБЪЕКТ', 'ЛУЧШИЕ<br>СПЕЦИАЛИСТЫ', 'ОФИЦИАЛЬНЫЙ ДИЛЕР<br>МНОГИХ БРЕНДОВ', 'ШИРОКИЙ<br>АССОРТИМЕНТ', 'ШОУ-РУМ<br>В ТЦ', 'АКЦИИ<br>И СКИДКИ', 'ПОСТПРОДАЖНАЯ<br>ПОДДЕРЖКА', 'ДЕТИ<br>И ФУТБОЛ', 'СПЕЦУСЛОВИЯ<br>ДЛЯ ЖК И ПАРТНЕРОВ', 'СОТРУДНИЧЕСТВО<br>С ДИЗАЙНЕРАМИ', 'ПОЛНАЯ<br>КОНФИДЕНЦИАЛЬНОСТЬ'] %}
			<div class="col-6 col-sm-3">
				<div class="benefits-main__item">
					<div class="benefits-main__icon">
						<img class="benefits-main__pic lazyload" data-src="images/benefits-main__pic{{ loop.index }}.svg" alt=""/>
					</div>
					<div class="benefits-main__text">{{ item | safe }}</div>
					<a class="benefits-main__link" href="#"></a>
				</div>
			</div>
		{% endfor %}

	</div>
</div>
<!-- /.benefits-main -->
