.benefits-main {
	box-shadow: inset 0 1px 0 rgb(255, 255, 255);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 24px;
	padding: 24px 73px 21px;

	&_popup {
		padding: 0;
		margin: 0;
		box-shadow: none;
	}

	&__title {
		margin-bottom: 46px;
	}

	&__toptext {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 24px;
	}

	&__row {
		display: flex;
		align-items: center;
		margin-bottom: 28px;
	}

	&__col {}

	&__photo {
		margin-right: 15px;
	}

	&__picture {
		display: block;
	}

	&__desc {}

	&__name {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
	}

	&__infotext {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}

	&__line {
		border-bottom: 1px solid rgb(243, 243, 243);
		margin-bottom: 30px;
	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 32px;
		position: relative;
	}

	&__link {
		@include posa;
	}

	&__icon {
		min-width: 60px;
	}

	&__pic {
		display: block;
	}

	&__text {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		text-transform: lowercase;
	}

	&__minfo {
		display: none;
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		padding: 24px 16px 16px;
		border-radius: 0;

		&_popup {
			padding: 0;
			margin: 0;
			box-shadow: none;
		}

		&__title {
			margin-bottom: 8px;
			text-align: left;

			.title {
				text-align: left;
			}
		}

		&__toptext {
			font-size: 12px;
			line-height: 1.5;
			margin-bottom: 27px;
		}

		&__picture {
			width: 48px;
			height: 48px;
		}

		&__name {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 4px;
		}

		&__infotext {
			font-size: 12px;
			line-height: 1.67;
		}

		&__row {
			margin-bottom: 16px;
		}

		&__line {
			margin-bottom: 8px;
		}

		&__item {
			margin-bottom: 16px;
		}

		&__icon {
			min-width: 50px;
		}

		&__text {
			font-size: 10px;
			line-height: 1.5;
		}

		&__minfo {
			font-size: 10px;
			line-height: 2;
			text-align: center;
			color: #a5a5a6;
			margin-bottom: 8px;
			text-align: center;
			display: block;
		}
	}
}
