<div class="about-banner {{ mClass }}">
	<div class="row">
		<div class="col-12">
			<div class="about-banner__item">
				<img class="about-banner__pic lazyload" data-srcset="images/about-banner__pic1_768w.png 768w, images/about-banner__pic1.jpg 4000w" data-src="images/about-banner__pic1.jpg" alt=""/>
				<span class="about-banner__desc">
					<div class="row">
						<div class="col-sm-8">
							<span class="about-banner__title">
								Индивидуальные условия для собственников недвижимости<br/>в ЖК и посёлках партнёров Hausdorf
							</span>
						</div>
						<div class="col-sm-4">
							<div class="about-banner__buttons">
								<a class="about-banner__more" href="#">Узнать подробнее</a>
							</div>
						</div>
					</div>
					<div class="about-banner__line"></div>
					<div class="benefits">
						<div class="row">
							<div class="col-6 col-sm-3">
								<div class="benefits__item">
									<div class="benefits__icon">
										<img class="benefits__pic lazyload" data-src="images/benefits__pic1.svg"/>
									</div>
									<div class="benefits__text">
										Специальные<br/>условия
									</div>
								</div>
							</div>
							<div class="col-6 col-sm-3">
								<div class="benefits__item">
									<div class="benefits__icon">
										<img class="benefits__pic lazyload" data-src="images/benefits__pic2.svg"/>
									</div>
									<div class="benefits__text">
										Бесплатная<br/>доставка
									</div>
								</div>
							</div>
							<div class="col-6 col-sm-3">
								<div class="benefits__item">
									<div class="benefits__icon">
										<img class="benefits__pic lazyload" data-src="images/benefits__pic3.svg"/>
									</div>
									<div class="benefits__text">
										Бесплатная<br/>установка
									</div>
								</div>
							</div>
							<div class="col-6 col-sm-3">
								<div class="benefits__item">
									<div class="benefits__icon">
										<img class="benefits__pic lazyload" data-src="images/benefits__pic4.svg"/>
									</div>
									<div class="benefits__text">
										Персональный<br/>менеджер
									</div>
								</div>
							</div>
						</div>
					</div>
				</span>
			</div>
			<!-- /.about-banner__item -->
		</div>
		<div class="col-12">
			<div class="about-banner__item">
				<img class="about-banner__pic lazyload" data-srcset="images/about-banner__pic2_768w.png 768w, images/about-banner__pic2.jpg 4000w" data-src="images/about-banner__pic2.jpg" alt=""/>
				<span class="about-banner__desc">
					<span class="about-banner__title">Поддержим юных футболистов вместе</span>
					<span class="about-banner__text">
						Бутик Hausdorf содействует развитию детского спорта в России. Поддерживаем детскую футбольную лигу, а также детский ФК "Фортуна".
					</span>
					<a class="about-banner__more" href="#">Узнать подробнее</a>
				</span>
			</div>
			<!-- /.about-banner__item -->
		</div>
		<div class="col-sm-6">
			<a href="#" class="about-banner__item">
				<img class="about-banner__pic lazyload" data-srcset="images/about-banner__pic3_768w.png 768w, images/about-banner__pic3.jpg 4000w" data-src="images/about-banner__pic3.jpg" alt=""/>
				<span class="about-banner__footer">
					<span>Выезд консультанта на дом</span>
				</span>
			</a>
			<!-- /.about-banner__item -->
		</div>
		<div class="col-sm-6">
			<a href="#" class="about-banner__item">
				<img class="about-banner__pic lazyload" data-srcset="images/about-banner__pic4_768w.png 768w, images/about-banner__pic4.jpg 4000w" data-src="images/about-banner__pic4.jpg" alt=""/>
				<span class="about-banner__footer">
					<span>Сотрудничество с дизайнерами и архитекторами</span>
				</span>
			</a>
			<!-- /.about-banner__item -->
		</div>
	</div>
</div>
<!-- /.about-banner -->
