.about-banner {
	padding-top: 10px;

	&__item {
		border-radius: 5px;
		overflow: hidden;
		margin-bottom: 16px;
		display: block;
		position: relative;
		text-decoration: none;
	}

	&__footer {
		width: 100%;
		height: 85px;
		border-radius: 5px;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 0 32px;
		display: flex;
		align-items: center;
		color: rgb(255, 255, 255);
		font-size: 18px;
		font-weight: 500;
		line-height: 1;
		backdrop-filter: blur(5px);

		&:after {
			content: '';
			position: absolute;
			right: 32px;
			top: 50%;
			border-left: 15px solid #dd0016;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			margin-top: -10px;
		}
	}

	&__pic {
		display: block;
		width: 100%;
	}

	&__desc {
		position: absolute;
		left: 24px;
		top: 32px;
		right: 24px;
	}

	&__title {
		color: rgb(255, 255, 255);
		font-size: 24px;
		font-weight: 500;
		line-height: 32px;
		margin-bottom: 16px;
		display: block;
	}

	&__text {
		color: #ffffff;
		margin-bottom: 16px;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		display: block;
		margin-bottom: 32px;
		max-width: 511px;
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		padding-top: 11px;
	}

	&__more {
		@include button($p: 0 50px);
	}

	&__line {
		margin-top: 14px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.17);
		margin-bottom: 32px;
	}

	@media (--phone) {
		margin: 0 -16px;

		&_content {
			padding-top: 0;
		}

		.row {
			[class*=col-] {
				position: static;
			}
		}

		&__line {
			margin-top: 0;
			margin-bottom: 24px;
		}

		&__item {
			border-radius: 0;
			margin-bottom: 16px;
		}

		&__desc {
			bottom: 16px;
			right: 16px;
			left: 16px;
		}

		&__title {
			font-size: 16px;
			margin-bottom: 8px;
			line-height: 20px;
		}

		&__text {
			font-size: 12px;
			line-height: 1.5;
			max-width: 70%;
		}

		&__footer {
			height: 68px;
			font-size: 14px;
			padding: 0 16px;
			border-radius: 0;
			line-height: 20px;

			&:after {
				right: 16px;
			}
		}

		&__more {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}

		&_content & {
			&__title {
				line-height: 18px;
			}

			&__desc {
				top: 26px;
				bottom: 24px;
			}
		}
	}
}
