{% macro phoneInfo(arr = ['8 (495) 744 00 14']) %}
	<div class="phone-info">
		{% for item in arr %}
			<a href="tel:{{ item }}">{{ item }}</a>
		{% endfor %}
	</div>
	<!-- /.phone-info -->
{% endmacro %}
