<div class="popup-boss">
	<div class="popup__title">
		Письмо руководству
	</div>
	<!-- /.popup__title -->    
	<div class="popup__text">
		<p>
			Руководство компании и в частности Генеральный директор Hausdorf уделяет пристальное внимание качеству обслуживания своих клиентов.
		</p>
		<p>
			Если у вас возникли вопросы или вы столкнулись с какими-либо трудностями на любом этапе заказа, мы будем благодарны за подробную информацию.
		</p>
		<p>Все сообщения рассматриваются лично руководителем компании Hausdorf.</p>
	</div>
	<!-- /.popup__text -->

	{% import "templates/default/src/components/form/form.njk" as form %}
	<form action="#" class="form">

		{{ form.input( label = 'Ваше имя' ) }}

		<div class="row">
			<div class="col-md-4">
			
				{{ form.input( label = '№ заказа', text = 'hide' ) }}

			</div>
			<div class="col-md-8">
			
				{{
					form.input(
						label = 'Телефон',
						type = 'tel'
					)
				}}

			</div>
		</div>

		{{
			form.input(
				label = 'E-mail',
				type = 'email'
			)
		}}

		{{
			form.textarea(
				label = 'Ваш вопрос:'
			)
		}}

		{{ form.checkbox( attrs = 'checked' ) }}

		<div class="popup__footer popup__footer_center">
			{{ form.submit() }}
		</div>

	</form>
	<!-- /.form -->

</div>
<!-- /.popup-boss -->
