.social {
	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__item {
		display: inline-block;
		vertical-align: middle;
		height: 30px;
		width: 30px;
	}

	&__link {
		display: block;
		height: 100%;
		text-indent: -9999px;
		background-repeat: no-repeat;
		background-size: contain;

		&_vk {
			background-image: url(../images/social-vk.svg);

			&:hover {
				background-image: url(../images/social-vk-colored.svg);
			}
		}

		&_fb {
			background-image: url(../images/social-fb.svg);

			&:hover {
				background-image: url(../images/social-fb-colored.svg);
			}
		}

		&_youtube {
			background-image: url(../images/social-yt.svg);

			&:hover {
				background-image: url(../images/social-yt-colored.svg);
			}
		}
	}

	@media (max-width: 480px) {
		display: none;
	}
}
