.reviews-wrapper {
	padding-top: 24px;
	margin-bottom: 24px;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
	}

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		color: rgb(0, 0, 0);
	}

	&__more {
		@include button($fz: 14px, $h: 32px, $p: 0 24px, $bgc: rgb(255, 255, 255), $c: #000);
	}

	&__row {
		margin-bottom: 14px;
		display: flex;
		align-items: center;
	}

	&__col {
		&:nth-child(1) {
			width: 204px;
			display: flex;
			align-items: center;
		}

		&:nth-child(2) {
			width: calc(100% - 204px);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__text {
		font-size: 16px;
		font-weight: 500;
		color: rgb(0, 0, 0);
	}

	&__ratings {
		font-size: 16px;
		font-weight: 500;
		color: rgb(0, 0, 0);
		display: inline-flex;
		align-items: center;

		&:before {
			margin: 0 3px 0 16px;
			width: 16px;
			height: 15px;
			position: relative;
			top: -1px;
			background: url(../images/rating-stars__icon_active.svg) no-repeat center;
			background-size: 100% auto;
			content: '';
			display: block;
		}
	}

	&__cell {}

	&__section {}

	@media (max-width: 768px) {
		padding-top: 0;
		padding-bottom: 56px;
		position: relative;
		margin-bottom: 16px;

		&__header {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 0;
		}

		&__more {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 40px;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
		}

		&__row {
			margin-bottom: 8px;
		}

		&__col {
			&:nth-child(2) {
				display: none;
			}
		}

		&__text {
			font-size: 12px;
		}

		&__ratings {
			font-size: 12px;

			&:before {
				height: 10px;
				background-size: contain;
				position: relative;
				top: -1px;
				margin-left: 8px;
			}
		}

		&__section {
			.row {
				overflow-x: auto;
				flex-wrap: nowrap;
				margin: 0 -4px;
				scroll-behavior: smooth;
				-webkit-overflow-scrolling: touch;

				[class*=col-] {
					width: 264px;
					padding: 0 4px;
					flex-shrink: 0;
				}
			}
		}
	}
}
