<div class="reviews-wrapper">
	<div class="reviews-wrapper__header">
		<div class="reviews-wrapper__title">Последние отзывы</div>
		<a class="reviews-wrapper__more" href="#">Смотреть все отзывы</a>
	</div>
	<div class="reviews-wrapper__row">
		<div class="reviews-wrapper__col">
			<div class="reviews-wrapper__text">
				Средняя оценка
			</div>
			<div class="reviews-wrapper__ratings">5,0</div>
		</div>
		<div class="reviews-wrapper__col">
			
			{% from "rating-stars/rating-stars.njk" import rating %}
			
			<div class="reviews-wrapper__cell">
				{{
					rating(
						counter = 5,
						text = '15 отзывов'
					)
				}}
			</div>
			<div class="reviews-wrapper__cell">
				{{
					rating(
						counter = 4,
						text = '9 отзывов'
					)
				}}
			</div>
			<div class="reviews-wrapper__cell">
				{{
					rating(
						counter = 3,
						text = '17 отзывов'
					)
				}}
			</div>
			<div class="reviews-wrapper__cell">
				{{
					rating(
						counter = 2,
						text = '5 отзывов'
					)
				}}
			</div>
			<div class="reviews-wrapper__cell">
				{{
					rating(
						counter = 1,
						text = '0 отзывов'
					)
				}}
			</div>
		</div>
	</div>
	<div class="reviews-wrapper__section">
		<div class="row">
			{% for item in '1234' %}
			<div class="col-sm-3">
				{% include "reviews/reviews-thumb/reviews-thumb.njk" %}
			</div>
			{% endfor %}
		</div>
	</div>
	<!-- /.reviews-wrapper__section -->
</div>
<!-- /.reviews-wrapper -->