.rating-stars {
	display: flex;
	align-items: center;

	&__section {
		display: flex;
		align-items: center;

		i {
			width: 14px;
			height: 13px;
			margin: 0 2px;
			background: url(../images/rating-stars__icon.svg) no-repeat center;
			background-size: auto 100% !important;
		}

		&[data-rating*='1'] i {
			&:nth-child(1) {
				background: url(../images/rating-stars__icon_active.svg) no-repeat center;
			}
		}

		&[data-rating*='2'] i {
			&:nth-child(1),
			&:nth-child(2) {
				background: url(../images/rating-stars__icon_active.svg) no-repeat center;
			}
		}

		&[data-rating*='3'] i {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				background: url(../images/rating-stars__icon_active.svg) no-repeat center;
			}
		}

		&[data-rating*='4'] i {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				background: url(../images/rating-stars__icon_active.svg) no-repeat center;
			}
		}

		&[data-rating*='5'] i {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5) {
				background: url(../images/rating-stars__icon_active.svg) no-repeat center;
			}
		}
	}

	&_large &__section i {
		height: 16px;
		width: 16px;
	}

	&__text {
		padding-top: 2px;
		font-size: 14px;
		font-weight: 500;
		line-height: 1;
		color: rgb(88, 88, 90);
		margin-left: 4px;
		white-space: nowrap;
	}
}
