{% macro rating(counter = 4, text = '', mClass = '') %}
	<div class="rating-stars {{ mClass }}">
		<div class="rating-stars__section" data-rating="{{ counter }}">
			<i></i>
			<i></i>
			<i></i>
			<i></i>
			<i></i>
		</div>
		{% if text %}
			<div class="rating-stars__text">{{ text }}</div>
		{% endif %}
	</div>
{% endmacro %}