<div class="compare" id="js-compare">
	<div class="compare__top">

		{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}
		{{ breadcrumbs( text = 'Сравнение товаров' ) }}

		<div class="title">Сравнение товаров</div>
		<!-- /.title -->

		<div class="compare__menu">
			{% include "compare/compare-menu/compare-menu.njk" %}
		</div>
		<!-- /.compare__menu -->

		<div class="compare__arrow">
			<div class="compare__prev" data-compare-prev></div>
			<div class="compare__next" data-compare-next></div>
		</div>

		{% include "compare/compare-item/compare-item.njk" %}

	</div>
	<!-- /.compare__top -->
	<div class="compare__bottom">

		{% from "compare/compare-props/compare-props.njk" import compareProps %}

		<div class="compare__title">
			<b>Общие характеристики</b>
			<span class="compare__button" data-compare-button></span>
		</div>
		<!-- /.compare__title -->
		<div class="compare__section">
			{{
				compareProps()
			}}
		</div>
		<!-- /.compare__section -->

		<div class="compare__title">
			<b>Дизайн</b>
			<span class="compare__button" data-compare-button></span>
		</div>
		<!-- /.compare__title -->
		<div class="compare__section">
			{{
				compareProps()
			}}
		</div>
		<!-- /.compare__section -->

		<div class="compare__title">
			<b>Дополнительные характеристики</b>
			<span class="compare__button" data-compare-button></span>
		</div>
		<!-- /.compare__title -->
		<div class="compare__section">
			{{
				compareProps(
					data = [
						{
							"row": [
								{
									"title": "Дополнительные параметры ",
									"props": "2 зоны horiZone (каждую можно разделить на 2 независимые конфорки)<div class='compare-props__sep'></div>4 сенсора программируемого прямого доступа для каждой зоны<div class='compare-props__sep'></div>4 независимых таймера с настройками от 1 до 99 минут<div class='compare-props__sep'></div>10 функций безопасности<div class='compare-props__sep'></div>
									Функции: Boil, Elapsed Time, Recall, Switch, Clean Lock, Grill/Plancha (гриль и планча приобретаются отдельно) Ограничитель температуры<div class='compare-props__sep'></div>Серийная комплектация Деревянная разделочная доска"
								},
								{
									"title": "Дополнительные параметры ",
									"props": "2 зоны horiZone (каждую можно разделить на 2 независимые конфорки)<div class='compare-props__sep'></div>4 сенсора программируемого прямого доступа для каждой зоны<div class='compare-props__sep'></div>4 независимых таймера с настройками от 1 до 99 минут"
								},
								{
									"title": "Дополнительные параметры ",
									"props": "2 зоны horiZone (каждую можно разделить на 2 независимые конфорки)<div class='compare-props__sep'></div>4 сенсора программируемого прямого доступа для каждой зоны<div class='compare-props__sep'></div>4 независимых таймера с настройками от 1 до 99 минут<div class='compare-props__sep'></div>10 функций безопасности<div class='compare-props__sep'></div>
									Функции: Boil, Elapsed Time, Recall, Switch, Clean Lock, Grill/Plancha (гриль и планча приобретаются отдельно) Ограничитель температуры<div class='compare-props__sep'></div>Серийная комплектация Деревянная разделочная доска"
								},
								{
									"title": "Дополнительные параметры ",
									"props": "2 зоны horiZone (каждую можно разделить на 2 независимые конфорки)<div class='compare-props__sep'></div>4 сенсора программируемого прямого доступа для каждой зоны<div class='compare-props__sep'></div>4 независимых таймера с настройками от 1 до 99 минут<div class='compare-props__sep'></div>10 функций безопасности<div class='compare-props__sep'></div>
									Функции: Boil, Elapsed Time, Recall, Switch, Clean Lock, Grill/Plancha (гриль и планча приобретаются отдельно) Ограничитель температуры<div class='compare-props__sep'></div>Серийная комплектация Деревянная разделочная доска"
								},
								{
									"title": "Дополнительные параметры ",
									"props": "2 зоны horiZone (каждую можно разделить на 2 независимые конфорки)<div class='compare-props__sep'></div>4 сенсора программируемого прямого доступа для каждой зоны<div class='compare-props__sep'></div>4 независимых таймера с настройками от 1 до 99 минут<div class='compare-props__sep'></div>10 функций безопасности<div class='compare-props__sep'></div>
									Функции: Boil, Elapsed Time, Recall, Switch, Clean Lock, Grill/Plancha (гриль и планча приобретаются отдельно) Ограничитель температуры<div class='compare-props__sep'></div>Серийная комплектация Деревянная разделочная доска"
								},
								{
									"title": "Дополнительные параметры ",
									"props": "2 зоны horiZone (каждую можно разделить на 2 независимые конфорки)<div class='compare-props__sep'></div>4 сенсора программируемого прямого доступа для каждой зоны<div class='compare-props__sep'></div>4 независимых таймера с настройками от 1 до 99 минут<div class='compare-props__sep'></div>10 функций безопасности<div class='compare-props__sep'></div>
									Функции: Boil, Elapsed Time, Recall, Switch, Clean Lock, Grill/Plancha (гриль и планча приобретаются отдельно) Ограничитель температуры<div class='compare-props__sep'></div>Серийная комплектация Деревянная разделочная доска"
								},
								{
									"title": "Дополнительные параметры ",
									"props": "2 зоны horiZone (каждую можно разделить на 2 независимые конфорки)<div class='compare-props__sep'></div>4 сенсора программируемого прямого доступа для каждой зоны<div class='compare-props__sep'></div>4 независимых таймера с настройками от 1 до 99 минут<div class='compare-props__sep'></div>10 функций безопасности<div class='compare-props__sep'></div>
									Функции: Boil, Elapsed Time, Recall, Switch, Clean Lock, Grill/Plancha (гриль и планча приобретаются отдельно) Ограничитель температуры<div class='compare-props__sep'></div>Серийная комплектация Деревянная разделочная доска"
								},
								{
									"title": "Дополнительные параметры ",
									"props": "2 зоны horiZone (каждую можно разделить на 2 независимые конфорки)<div class='compare-props__sep'></div>4 сенсора программируемого прямого доступа для каждой зоны<div class='compare-props__sep'></div>4 независимых таймера с настройками от 1 до 99 минут<div class='compare-props__sep'></div>10 функций безопасности<div class='compare-props__sep'></div>
									Функции: Boil, Elapsed Time, Recall, Switch, Clean Lock, Grill/Plancha (гриль и планча приобретаются отдельно) Ограничитель температуры<div class='compare-props__sep'></div>Серийная комплектация Деревянная разделочная доска"
								}
							]
						},
						{
							"row": [
								{
									"title": "Новинки ",
									"props": ""
								},
								{
									"title": "Новинки ",
									"props": "<div class='icon-text icon-text_red'>Новинка</div>"
								},
								{
									"title": "Новинки ",
									"props": ""
								},
								{
									"title": "Новинки ",
									"props": ""
								},
								{
									"title": "Новинки ",
									"props": ""
								},
								{
									"title": "Новинки ",
									"props": ""
								},
								{
									"title": "Новинки ",
									"props": ""
								},
								{
									"title": "Новинки ",
									"props": ""
								}
							]
						},
						{
							"row": [
								{
									"title": "Высота (см)",
									"props": "6.4"
								},
								{
									"title": "Высота (см)",
									"props": "6.4"
								},
								{
									"title": "Высота (см)",
									"props": "6.4"
								},
								{
									"title": "Высота (см)",
									"props": "6.4"
								},
								{
									"title": "Высота (см)",
									"props": "6.4"
								},
								{
									"title": "Высота (см)",
									"props": "6.4"
								},
								{
									"title": "Высота (см)",
									"props": "6.4"
								},
								{
									"title": "Высота (см)",
									"props": "6.4"
								}
							]
						}
					]
				)
			}}
		</div>
		<!-- /.compare__section -->

	</div>
	<!-- /.compare__bottom -->
</div>
<!-- /.compare -->
