.compare {
	.title {
		margin-bottom: 19px;
	}

	&__top {
		padding: 16px 24px 24px;
		border-radius: 5px 5px 0 0;
		box-shadow: inset 0 1px 0 0 rgb(255, 255, 255);
		background-color: rgb(243, 243, 243);
		position: relative;
	}

	&__menu {
		position: absolute;
		top: 44px;
		left: 345px;
	}

	&__arrow {
		display: flex;
		align-items: center;
		width: 70px;
		position: absolute;
		right: 24px;
		top: 48px;
		justify-content: space-between;
	}

	&__prev {
		width: 32px;
		height: 32px;
		background: url("../images/swiper__prev_round.svg") no-repeat;
		cursor: pointer;
	}

	&__next {
		width: 32px;
		height: 32px;
		background: url("../images/swiper__next_round.svg") no-repeat;
		cursor: pointer;
	}

	&__bottom {
		background-color: #fff;
		padding: 24px;
		border-radius: 0 0 5px 5px;
	}

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		color: rgb(0, 0, 0);
		margin-bottom: 16px;
	}

	&__button {
		margin-left: 16px;
		font-size: 14px;
		line-height: 1.71;
		color: rgb(165, 165, 166);
		border-bottom: 1px dotted;
		cursor: pointer;

		&:after {
			content: 'Свернуть';
		}
	}

	&__title.active &__button {
		&:after {
			content: 'Развернуть';
		}
	}

	&__section {
		border-bottom: 1px solid rgb(243, 243, 243);
		margin-bottom: 14px;
		max-height: 1500px;
		overflow: hidden;
		transition: max-height 400ms;
	}

	&__title.active + &__section {
		max-height: 0;
	}

	@media (--phone) {
		margin: 0 -16px;

		&__top {
			padding: 11px 16px 16px;
			border-radius: 0;
		}

		&__checkbox {
			margin-bottom: 10px;
			top: auto;
			display: block;
			right: auto;
			position: relative !important;
		}

		&__menu {
			margin-bottom: 10px;
			position: static;
			margin-top: -16px;
		}

		&__bottom {
			padding: 16px;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			color: rgb(0, 0, 0);

			b {
				margin-right: 16px;
			}
		}

		&__button {
			font-size: 12px;
			margin-left: 0;
		}

		&__section {
			border-bottom: 1px solid rgb(243, 243, 243);
			margin-bottom: 14px;
			max-height: 1500px;
			overflow: hidden;
			transition: max-height 400ms;
		}

		&__title.active + &__section {
			max-height: 0;
		}

		&__arrow {
			top: 223px;
			width: 100%;
			left: 0;
			padding: 0 8px;
			pointer-events: none;
			z-index: 1;
		}

		&__prev {
			width: 24px;
			height: 36px;
			border-radius: 4px;
			background: rgba(26, 26, 26, 0.3) url("../images/swiper__next_banner.svg") no-repeat center;
			background-size: auto 60%;
			transform: rotate(-180deg);
			pointer-events: auto;
		}

		&__next {
			width: 24px;
			height: 36px;
			border-radius: 4px;
			background: rgba(26, 26, 26, 0.3) url("../images/swiper__next_banner.svg") no-repeat center;
			background-size: auto 60%;
			pointer-events: auto;
		}
	}
}
