.search {
	margin-top: -4px;

	&_delivery {
		padding-top: 19px;
		margin-bottom: 59px;
		margin-top: 0;
	}

	&_brand {
		margin-top: -5px;
		margin-bottom: -4px;
	}

	&__row {
		display: flex;
		align-items: center;
	}

	&__col {
		&_delivery {
			&:nth-child(1) {
				width: 80px;
			}

			&:nth-child(2) {
				width: 240px;
			}
		}
	}

	&__col {
		&_brand {
			&:nth-child(1) {
				width: 151px;
			}

			&:nth-child(2) {
				width: 264px;
				padding-right: 24px;
			}

			&:nth-child(3) {
				width: calc(100% - 151px - 264px);
			}
		}
	}

	&__section {
		position: relative;
		height: 40px;
		border-radius: 5px;
		box-shadow: inset 0 2px 5px 0 rgba(102, 113, 123, 0.1), inset 0 0 0 1px rgba(102, 113, 123, 0.25);
		background-color: #ffffff;
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;

		&_brand {
			margin-bottom: 0;
		}
	}

	&__input {
		font-size: 14px;
		font-weight: bold;
		line-height: 1.71;
		color: #000000;
		padding: 0 16px;
		border: none;
		background: none;
		width: calc(100% - 50px);

		&::placeholder {
			color: rgb(38, 38, 38);
		}
	}

	&__submit {
		background: url("../images/header-search.svg") no-repeat center center;
		width: 50px;
		height: 100%;
		border: none;
		cursor: pointer;
	}

	&__notfound {
		font-size: 16px;
		line-height: 1.88;
		color: #000000;
		margin-bottom: -4px;

		b {
			font-weight: bold;
			color: var(--cherry);
		}

		a {
			@include link;
		}
	}

	&__result {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: -5px;

		b {
			font-weight: bold;
			color: var(--cherry);
		}
	}

	&__text {
		font-size: 16px;
		line-height: 1.88;
		color: #000000;
	}

	&__menu {
		display: flex;
		align-items: center;
	}

	@media (--phone) {
		margin-top: -7px;

		&_delivery {
			padding-top: 90px;
			margin-bottom: 16px;
		}

		&__row {
			flex-direction: column;
			align-items: flex-start;
		}

		&__col {
			width: 100% !important;
			padding: 0 !important;
		}

		&__section {
			margin-bottom: 8px;

			&_brand {
				margin-bottom: 0;
			}
		}

		&__input {
			width: calc(100% - 40px);

			&::placeholder {}
		}

		&__submit {
			width: 40px;
		}

		&__notfound {
			font-size: 12px;
			line-height: 1.5;
			margin-bottom: 6px;

			b {}

			a {}
		}

		&__result {
			flex-direction: column;
			align-items: flex-start;

			b {}
		}

		&__text {
			font-size: 12px;
			line-height: 1.5;
			margin-bottom: 8px;
		}

		&__menu {
			overflow-x: auto;

			@include scrollCss;

			width: 100%;
		}
	}
}
