{% macro searchBrand() %}
<div class="search search_brand">
	<form class="search__form" action="">
		<div class="search__row search__row_brand">
			<div class="search__col search__col_brand d-none d-sm-block">
				<div class="search__text">Выберите бренд:</div>
			</div>
			<div class="search__col search__col_brand">
				{% from "combox/combox.njk" import combox %}
				{{ combox() }}
			</div>
			<div class="search__col search__col_brand">
				<div class="search__section search__section_brand"><input class="search__input" type="text" placeholder="или введите название..." /><input class="search__submit" type="submit" value="" /></div>
			</div>
		</div>
	</form>
</div>
{% endmacro %}

{% macro search(trigger) %}
<div class="search">
	<form class="search__form" action="">
		<div class="search__section">
			<input class="search__input" type="text" placeholder="Silly is mylove" />
			<input class="search__submit" type="submit" value="" />
		</div>
		{% if trigger %}
		<div class="search__result">
			<div class="search__text">
				По вашему запросу «<b>Sicily is my love</b>» найдено:
			</div>
			<div class="search__menu">
				{% from "menu/menu-content/menu-content.njk" import menuContent %}
				{{ menuContent() }}
			</div>
		</div>
		{% else %}
		<div class="search__notfound">
			По вашему запросу «<b>Silly is mylove</b>» ничего не найдено. Попробуйте уточнить поиск или вернитесь нa <a href="#">главную страницу</a>.
		</div>
		{% endif %}
	</form>
</div>
{% endmacro %}
