<div class="filter-choice">
	<div class="filter-choice__title">Подборки</div>
	<div class="filter-choice__section">
		<div class="filter-choice__block">
			<a class="filter-choice__item" href="#">Узкие холодильники до 55 см</a>
			<a class="filter-choice__item" href="#">Широкие двухдверные холодильники</a>
			<a class="filter-choice__item" href="#">Холодильники из Германии</a>
			<a class="filter-choice__item" href="#">С ледогенератором</a>
			<a class="filter-choice__item" href="#">С ледогенератором</a>
			<a class="filter-choice__item" href="#">Широкие двухдверные холодильники</a>
			<a class="filter-choice__item" href="#">Холодильники из Германии</a>
		</div>
		<a class="filter-choice__more" href="#">Еще подборки</a>
	</div>
</div>
<!-- /.filter-choice -->
