.filter-choice {
	padding: 20px 0 0;
	margin-bottom: -20px;
	display: flex;
	line-height: 1;
	position: relative;

	.filter-wrap_outside & {
		border-radius: 0 0 5px 5px;
		box-shadow: inset 0 1px 0 0 #fff;
		background-color: #f3f3f3;
		padding: 20px 24px 10px;
		margin-bottom: 0;

		&:after {
			right: 24px;
		}
	}

	&:after {
		content: '';
		width: 56px;
		height: 100%;
		background: url(../images/filter-choice.svg) no-repeat center;
		position: absolute;
		right: 0;
		top: 0;
	}

	&__title {
		color: rgb(0, 0, 0);
		width: 107px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		padding-top: 5px;
	}

	&__section {
		width: calc(100% - 110px);
	}

	&__block {
		display: inline;
	}

	&__item {
		margin: 0 4px 10px 0;
		height: 32px;
		border-radius: 20px;
		border: 1px solid rgb(215, 215, 215);
		background-color: rgb(255, 255, 255);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0 16px;
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;

		&:last-child {
			margin-right: 20px;
		}
	}

	&__more {
		font-size: 14px;

		@include link;
	}

	@media (--phone) {
		margin: 0 -16px 0;
		border-radius: 0;
		padding: 8px 16px 0;
		flex-wrap: wrap;

		.filter-wrap_outside & {
			border-radius: 0;
			padding: 8px 16px 16px;

			&:after {}
		}

		.header-search & {
			width: 100%;
			padding: 0;
			margin: 0;
		}

		&:after {
			display: none;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			width: 100%;
			margin-bottom: 8px;
		}

		&__section {
			width: calc(100% + 32px);
			padding: 0 16px 5px;
			margin: 0 -16px;
			position: relative;
			overflow-x: auto;

			@include scrollCss;
		}

		&__block {
			width: 675px;
			display: block;
		}

		&__item {
			margin: 0 8px 8px 0;
			height: 24px;
			border-radius: 17px;
			font-size: 12px;
		}

		&__more {
			font-size: 12px;
		}
	}
}
