{% macro tooltip() %}
	<div class="tooltip-hd">
		<div class="tooltip-hd__inner">
			<div class="tooltip-hd__popup">
				<div class="tooltip-hd__title">AQUASTOP</div>
				<div class="tooltip-hd__text">
					Надежная система защиты от протечек, реализованная в корпусе и шлангах стиральной машины.
				</div>
				<a href="#" class="tooltip-hd__more">
					Открыть словарь терминов
				</a>
			</div>
		</div>
	</div>
{% endmacro %}