.tooltip-hd {
	position: relative;
	top: -100%;
	height: 100%;
	z-index: 2;

	&__icon {
		position: relative;
		width: 16px;
		height: 16px;
		background: url(../images/tooltip-hd__icon.svg) no-repeat center;
		display: inline-block;
		top: 3px;
		margin-left: 4px;
		transition: background 400ms;
		cursor: pointer;

		&:hover {
			background: url(../images/tooltip-hd__icon_active.svg) no-repeat center;
		}
	}

	&__icon & {
		top: 0;
	}

	&__inner {
		height: 100%;
		top: -10px;
		opacity: 0;
		pointer-events: none;
		position: relative;
		transition: opacity 500ms;
	}

	&:hover &__inner {
		opacity: 1;
		pointer-events: auto;
	}

	&__popup {
		border-radius: 2px;
		box-shadow: 0 2px 19px 0 rgba(0, 0, 0, 0.1);
		background-color: rgb(255, 255, 255);
		position: absolute;
		max-width: 300px;
		min-width: 280px;
		padding: 14px 24px;
		bottom: 100%;
		left: 50%;
		transform: translate(-50%, 0);

		&:after {
			position: absolute;
			left: 50%;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 6px solid #fff;
			content: '';
			bottom: -5px;
			transform: translate(-50%, 0);
		}
	}

	&__title {
		font-size: 14px;
		font-weight: bold;
		color: rgb(0, 0, 0);
	}

	&__text {
		font-size: 12px;
		line-height: 1.5;
		color: rgb(88, 88, 90);
	}

	&__more {
		color: rgb(221, 0, 22);
		font-size: 12px;
	}
}
