<div class="logo">
	<a href="#" class="logo__link">
		<picture class="logo__pic">
			<source media="(max-width: 767px)" srcset="images/logo-mobile.svg">
			<img alt="" class="lazyload" data-src="images/hausdorf_logo_big.svg">
		</picture>
		<!-- /.logo__pic -->
	</a>
</div>
<!-- /.logo -->
