.combox {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	box-shadow: inset 0 2px 5px 0 rgba(102, 113, 123, 0.1), inset 0 0 0 1px rgba(102, 113, 123, 0.25);
	background: #fff;

	.basket-person & {
		height: 48px;
	}

	&__select {
		background: none;
		border: none;
		appearance: none;
		height: 100%;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.71;
		color: #000000;
		padding: 0 16px;
		width: 100%;
		background: url(../images/caret-down.svg) no-repeat;
		background-position: right 10px center;
	}

	@media (--phone) {
		.search_brand & {
			margin-bottom: 8px;
		}
	}
}
