.scroll-up {
	cursor: pointer;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 1000;
	width: 106px;
	height: 106px;
	background: url("../images/up-button-normal.svg") no-repeat;
	opacity: 0;
	transition: opacity 400ms;

	.body-scroll-up & {
		opacity: 1;
	}
}