@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

@font-face {
	font-family: 'Gotham Pro';
	src: url("fonts/Gotha/GothaProReg.otf");
	font-weight: 400;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url("fonts/Gotha/GothaProMed.otf");
	font-weight: 500;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url("fonts/Gotha/GothaProBol.otf");
	font-weight: 700;
}
