.middle {
	margin: 0 auto 62px;
	width: 1156px;

	@include clearfix;

	&__container {
		float: left;
		width: 100%;
	}

	@media (--phone) {
		min-width: 320px;
		width: auto;
		padding: 0 16px;
		margin-bottom: 0;
	}
}
