.benefits-detail {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 16px;

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 5px;
	}

	&__photo {
		width: 32px;
		flex-shrink: 0;
	}

	&__pic {
		display: block;
	}

	&__text {
		font-size: 14px;
		line-height: 1.71;
		color: rgb(0, 0, 0);
	}

	@media (--phone) {
		&__text {
			font-size: 13px;
		}
	}
}
