{% from "tooltip-hd/tooltip-hd.njk" import tooltip %}

<div class="benefits-detail">
	<div class="benefits-detail__item">
		<div class="benefits-detail__photo">
			<img class="benefits-detail__pic lazyload" data-src="images/benefits-detail__pic1.svg"/>
		</div>
		<div class="benefits-detail__text">
			Бесплатная доставка (МКАД+15 км)
			<span class="tooltip-hd__icon">
				{{ tooltip() }}
			</span>
		</div>
	</div>
	<div class="benefits-detail__item">
		<div class="benefits-detail__photo">
			<img class="benefits-detail__pic lazyload" data-src="images/benefits-detail__pic2.svg"/>
		</div>
		<div class="benefits-detail__text">
			Бесплатная установка
			<span class="tooltip-hd__icon">
				{{ tooltip() }}
			</span>
		</div>
	</div>
</div>
<!-- /.benefits-detail -->
