<div class="sorting">
	<div class="sorting__row">
		<div class="sorting__col d-none d-sm-flex">
			<div class="sorting__text">Сортировать по:</div>
			<div class="sorting__mscroll">
				<div class="sorting__scroll">
					<a href="#" class="sorting__link">
						<span>Хиты продаж</span>
					</a>
					<a href="#" class="sorting__link sorting__link_inc">
						<span>Цена</span>
					</a>
					<a href="#" class="sorting__link">
						<span>Новинки</span>
					</a>
					<a class="sorting__link">
						<span>Акции и скидки</span>
					</a>
					<a href="#" class="sorting__link sorting__link_dec">
						<span>Цена и качество</span>
					</a>
				</div>
			</div>
		</div>
		<!-- /.sorting__col -->
		<div class="sorting__col d-block d-sm-none">
			{% from "combox/combox.njk" import combox %}
			{{
				combox(['Хиты продаж', 'Цена по возрастанию', 'Цена по убыванию', 'Новинки', 'Акции и скидки', 'Цена и качество'])
			}}
		</div>
		<!-- /.sorting__col -->
		<div class="sorting__col">
			{% include "catalog/sorting-view/sorting-view.njk" %}
		</div>
		<!-- /.sorting__col -->
	</div>
</div>
<!-- /.sorting -->
