.sorting {
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 16px;

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__col {
		display: flex;
		align-items: center;
		align-items: center;
	}

	&__text {
		margin-right: 16px;
	}

	&__scroll {
		display: flex;
		align-items: center;
	}

	&__link {
		margin-right: 24px;
		color: rgb(88, 88, 90);
		position: relative;

		&:before {
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			border-bottom: 1px dotted rgb(88, 88, 90);
			content: "";
		}

		&_dec,
		&_inc {
			font-weight: 500;
			color: #000;

			&:before {
				display: none;
			}
		}

		&_inc {
			&:after {
				content: '';
				display: inline-block;
				margin-left: 8px;
				position: relative;
				top: -1px;

				@include css-triangle(top, var(--cherry), 8px, 10px);
			}
		}

		&_dec {
			&:after {
				content: '';
				display: inline-block;
				margin-left: 8px;
				position: relative;
				top: -1px;

				@include css-triangle(bottom, var(--cherry), 8px, 10px);
			}
		}
	}

	@media (--phone) {
		margin: -8px -16px 8px;
		padding: 0 16px;

		&__row {
			display: flex;
			justify-content: space-between;
		}

		&__col {
			&:nth-child(2) {
				width: calc(100% - 114px - 8px);
			}

			&:nth-child(3) {
				width: 114px;
			}
		}

		.combox {
			height: 34px;
		}
	}
}
