.reviews-list {
	border-radius: 5px;
	background-color: var(--very-light-pink);
	padding: 24px 9px 24px 37px;

	&_border {
		border-radius: 0 0 5px 5px;
	}

	.detail & {
		padding: 24px 0 0;
	}

	.detail &__row {}

	&__row {
		border-bottom: 1px solid #d8d8d8;
		padding-bottom: 16px;
		margin-bottom: 16px;
		display: flex;

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	&__photo {
		flex-shrink: 0;
		width: 120px;
		height: 120px;
		border-radius: 8px;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 24px;
	}

	&__link {
		display: block;
		text-decoration: none;
	}

	&__pic {
		max-width: 88px;
		max-height: 104px;
		display: block;
	}

	&__desc {
		padding-top: 7px;
	}

	&__header {
		margin-bottom: 12px;
		display: flex;
		justify-content: space-between;
	}

	&__col {
		display: flex;
		align-items: center;
	}

	&__name {
		font-size: 16px;
		font-weight: 500;
		color: #000000;
		margin-right: 33px;
	}

	&__ratings {
		margin-right: 40px;
		position: relative;
		top: 1px;
	}

	&__title {
		font-size: 14px;
		font-weight: 500;
		color: #000000;
	}

	&__titlelink {
		color: #000000;

		@include link(rgba(0, 0, 0, 0.1));
	}

	&__date {
		font-size: 12px;
		font-weight: 500;
		text-align: right;
		color: var(--bluey-grey);
	}

	&__text {
		font-size: 12px;
		line-height: 1.5;
		color: #000000;
	}

	&__field {
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__smtitle {
		font-size: 12px;
		font-weight: 500;
		line-height: 1.5;
	}

	@media (--phone) {
		border-radius: 0;
		padding: 16px;
		margin: 0 -16px 16px;

		&_border {}

		.detail & {
			padding: 16px;
		}

		.detail &__row {}

		&__row {
			position: relative;

			&:last-child {}
		}

		&__photo {
			width: 60px;
			height: 60px;
			border-radius: 8px;
			background-color: #ffffff;
			position: absolute;
			left: 0;
			top: 0;
			min-width: auto;
		}

		&__link {}

		&__pic {
			display: block;
			max-width: 40px;
			max-width: 40px;
		}

		&__desc {
			padding-top: 0;
		}

		&__header {
			padding-left: 76px;
			min-width: 74px;
			display: flex;
			align-items: center;
			border-bottom: 1px solid #d8d8d8;
			padding-bottom: 8px;
			margin-bottom: 8px;
		}

		&__col {
			&:first-child {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}
		}

		&__name {
			font-size: 12px;
			margin: 0;
		}

		&__ratings {
			margin: 0;
		}

		&__title {
			font-size: 12px;
		}

		&__titlelink {}

		&__date {
			font-size: 12px;
		}

		&__text {
			font-size: 12px;
			line-height: 1.5;
		}
	}
}
