{% macro reviewsList(
	name = 'Капустина Екатерина',
	title = 'De Dietrich DPI7572G',
	text = 'отличная навигация, очень подробное, информативное меню, работает тихо и отстирывает отменно! нагромождать квартирую стиральной а потом еще и сушильной машину не хотела. О стирально-сушильной машине задумывалась давно, пугали отзывы о том, что вещи после сушки пересушены и их невозможно прогладить. По тем же отзывав выбрала ряд брендов по ним проконсультировалась у менеджеров магазина. Остановилась на этом производителе. Белье стираю с капсулами - все прекрасно вымывается',
	photo = false,
	src = 'images/news-list__pic1.png'
) %}

	{% from "rating-stars/rating-stars.njk" import rating %}
	<div class="reviews-list__row">
		{% if photo %}
		<div class="reviews-list__photo">
			<a class="reviews-list__link" href="#">
				<img class="reviews-list__pic lazyload" data-src="{{ src }}" alt=""/>
			</a>
		</div>
		{% endif %}
	    <div class="reviews-list__desc">
	        <div class="reviews-list__header">
	            <div class="reviews-list__col">
	                <div class="reviews-list__name">
	                	{{ name }}
	                </div>
	                <div class="reviews-list__ratings">
						{{
							rating(
								counter = 4,
								text = '4'
							)
						}}
	                </div>
	                <div class="reviews-list__title">
						<a class="reviews-list__titlelink" href="#">
							{{ title }}
						</a>
					</div>
	            </div>
	            <div class="reviews-list__col">
	                <div class="reviews-list__date">26.10.2018</div>
	            </div>
	        </div>
	        <div class="reviews-list__text">
	        	<div class="reviews-list__field">
					<div class="reviews-list__smtitle">Достоинства:</div>
					отличная навигация, очень подробное, информативное меню, работает тихо и отстирывает отменно!
				</div>
				<div class="reviews-list__field">
					<div class="reviews-list__smtitle">Недостатки:</div>
					нагромождать квартирую стиральной а потом еще и сушильной машину не хотела.
				</div>
				<div class="reviews-list__field">
					<div class="reviews-list__smtitle">Комментарий:</div>
					нагромождать квартирую стиральной а потом еще и сушильной машину не хотела. О стирально-сушильной машине задумывалась давно, пугали отзывы о том, что вещи после сушки пересушены и их невозможно прогладить. По тем же отзывав выбрала ряд брендов по ним проконсультировалась у менеджеров магазина. Остановилась на этом производителе. Белье стираю с капсулами - все прекрасно вымывается
				</div>
	        </div>
	    </div>
	</div>
	<!-- /.reviews-list__row -->
{% endmacro %}
