.last-viewed-item {
	border-radius: 5px;
	border: solid 1px rgb(243, 243, 243);
	background-color: rgb(255, 255, 255);
	padding: 24px 16px 24px 8px;
	display: flex;

	&__photo {
		width: 80px;
		margin-right: 8px;
		flex-shrink: 0;
	}

	&__link {
		text-decoration: none;
	}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__desc {}

	&__name {
		font-size: 14px;
		line-height: 1.71;
		color: rgb(0, 0, 0);
		margin-bottom: 10px;
	}

	&__namelink {
		color: rgb(0, 0, 0);
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__price {
		font-size: 18px;
		font-weight: 500;
		color: rgb(0, 0, 0);

		span {
			font-size: 14px;
		}
	}

	&__buy {
		width: 24px;
		height: 24px;
		display: block;
		background: url(../images/buy-small.svg) no-repeat center;
		transition: .4s;

		&:hover,
		&.active {
			background: url(../images/buy-small-active.svg) no-repeat center;
		}
	}
}
