<div class="last-viewed">

	<div class="title title_small">Вы недавно смотрели</div>
	<!-- /.title title_small -->

	<div class="swiper">
		<div class="swiper-container" data-swiper data-options='{"slidesPerView":4,"spaceBetween":16,"breakpoints":{"768":{"slidesPerView":"auto","spaceBetween": 8,"slidesPerGroup":1}}}'>
			<div class="swiper-wrapper">
				{% for item in '12345678' %}
				<div class="swiper-slide">

					<div class="last-viewed-item">
						<div class="last-viewed-item__photo">
							<a href="#" class="last-viewed-item__link">
								<img data-src="images/last-viewed-item__pic.jpg" alt="" class="last-viewed-item__pic lazyload">
							</a>
						</div>
						<div class="last-viewed-item__desc">
							<div class="last-viewed-item__name">
								<a href="#" class="last-viewed-item__namelink">
									<span>Стиральная машина</span>
									Miele PW 6080 Vario
								</a>
							</div>
							<div class="last-viewed-item__footer">
								<div class="last-viewed-item__price">
									2 118 000 <span>руб.</span>
								</div>
								<a href="#" class="last-viewed-item__buy"></a>
							</div>
						</div>
					</div>
					
				</div>
				<!-- /.swiper-slide -->
				{% endfor %}
			</div>
		</div>
		<div class="swiper__arrow swiper__arrow_right">
			<div class="swiper__prev swiper__prev_round js-swiper__prev"></div>
			<div class="swiper__next swiper__next_round js-swiper__next"></div>
		</div>
	</div>
	<!-- /.swiper -->
</div>
<!-- /.news-block -->