{% macro filterColor(
	data = ["background-color: rgb(75, 80, 90);", "background-image: linear-gradient(180deg, rgb(180, 236, 81) 0%, rgb(66, 147, 33) 100%);", "background-image: linear-gradient(180deg, rgb(245, 81, 95) 0%, rgb(159, 4, 27) 100%);", "background-image: linear-gradient(225deg, rgb(75, 28, 255) 0%, rgb(176, 30, 255) 100%);", "background-color: rgb(0, 0, 0);", "background-color: rgb(255, 255, 255);", "background-color: rgb(208, 2, 27);", "background-image: linear-gradient(180deg, rgb(36, 36, 36) 0%, rgb(0, 0, 0) 100%);", "background-color: rgb(0, 122, 255);", "background-image: linear-gradient(to top, rgb(162, 162, 162) 0%, rgb(200, 200, 200) 100%);", "background-color: rgb(139, 87, 42);" ]
	)
%}
	<div class="filter-color">
		{% for item in data %}
			<div class="filter-color__item">
				<label class="filter-color__label" style="{{ item }};">
					<input class="filter-color__input" type="checkbox"/>
					<span class="filter-color__icon"></span>
				</label>
			</div>
			<!-- /.filter-color__item -->
		{% endfor %}
	</div>
	<!-- /.filter-color -->
{% endmacro %}
