.basket-counter {
	display: flex;
	align-items: center;
	width: 170px;
	height: 40px;
	border-radius: 8px;
	border: 1px solid #ebebeb;
	background-color: #ffffff;
	justify-content: space-between;

	&__minus {
		width: 40px;
		height: 30px;
		background: url(../images/minus.svg) no-repeat center;
		display: block;
	}

	&__input {
		line-height: 1;
		border: none;
		width: 50px;
		height: 30px;
		text-align: center;
		display: block;
		color: #000000;
		font-size: 14px;
		font-weight: 500;
	}

	&__plus {
		width: 40px;
		height: 30px;
		background: url(../images/plus.svg) no-repeat center;
		display: block;
	}

	@media (--phone) {
		width: 122px;
	}
}
