<div class="benefits benefits_fdc">
	<div class="row">
		<div class="col-sm-3">
			<div class="benefits__item">
				<div class="benefits__icon">
					<img class="benefits__pic lazyload" data-src="images/benefits__pic1.svg"/>
				</div>
				<div class="benefits__name">Специальные условия</div>
				<div class="benefits__txtsmall">
					Собственникам жилья предоставляется дополнительная скидка на широкий ассортимент техники от известных производителей
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="benefits__item">
				<div class="benefits__icon">
					<img class="benefits__pic lazyload" data-src="images/benefits__pic2.svg"/>
				</div>
				<div class="benefits__name">Бесплатная доставка</div>
				<div class="benefits__txtsmall">
					Салон Hausdorf осуществляет бесплатную доставку заказанной техники
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="benefits__item">
				<div class="benefits__icon">
					<img class="benefits__pic lazyload" data-src="images/benefits__pic3.svg"/>
				</div>
				<div class="benefits__name">Бесплатная установка</div>
				<div class="benefits__txtsmall">
					Наши специалисты оперативно и качественно производят установку техники на готовые коммуникации
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="benefits__item">
				<div class="benefits__icon">
					<img class="benefits__pic lazyload" data-src="images/benefits__pic4.svg"/>
				</div>
				<div class="benefits__name">Персональный менеджер</div>
				<div class="benefits__txtsmall">
					Ваш персональный менеджер предложит решения для любых нестандартных ситуаций. От замера и подбора техники до совместной работы с Вашим дизайнером
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.benefits -->
