.detail-gallery {
	padding-top: 16px;

	@media (min-width: 769px) {
		.swiper-large {
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			margin: 0;
		}

		&__top {
			width: calc(100% - 80px);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__inner {
			flex-shrink: 0;
			width: 100%;
		}

		&__bottom {
			height: 560px;
			width: 80px !important;

			.swiper-container {
				height: 100%;
			}
		}

		&__more {
			font-size: 13px;
			line-height: 16px;
			letter-spacing: .1px;
			color: #4d7399;
			border-bottom: 1px solid #e6ecf2;
			white-space: nowrap;
			margin-left: 8px;
			display: inline-block;
			cursor: pointer;
		}

		.swiper__arrow {
			display: none;
		}
	}

	&__play {
		left: 50%;
		top: 50%;
		margin-top: -16px;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-left: -16px;
		position: absolute;
		background: url(../images/caret-right-gallery.svg) rgba(26, 26, 26, 0.2) no-repeat 8px center;
	}

	@media (--phone) {
		margin: 0;

		&__more {
			display: none;
		}

		&__bottom {
			width: 200px !important;
		}
	}
}
