<div class="detail-gallery">
	<div class="swiper-large">
		<div class="swiper-large__top detail-gallery__top">
			<div class="detail-gallery__inner">
				<div class="swiper-container" data-gallery-top>
					<div class="swiper-wrapper">
						{% for item in '123451234512345' %}
							<div class="swiper-slide">
								<div class="swiper-large__item swiper-large__item_large">
									<a href="{{ detailGalleryPhoto }}" class="swiper-large__fancybox" data-fancybox>
										<img class="swiper-large__pic swiper-large__pic_big lazyload" data-src="{{ detailGalleryPhoto }}"/>
									</a>
								</div>
							</div>
							<!-- /.swiper-slide -->
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<!-- /.swiper-large__top -->
		<div class="swiper-large__bottom detail-gallery__bottom">
			<div class="swiper-container" data-gallery-bottom data-options='{"slidesPerView": 7, "watchSlidesVisibility": true, "watchSlidesProgress": true, "direction": "vertical", "breakpoints": { "768" : { "slidesPerView": 4,"spaceBetween": 0, "direction": "horizontal" } } }'>
				<div class="swiper-wrapper">
					{% for item in '123451234512345' %}
						{% if loop.index == 3 %}
							<div class="swiper-slide">
								<div class="swiper-large__item swiper-large__item_small">
									<img class="swiper-large__pic swiper-large__pic_small lazyload" data-src="images/detail-gallery__small.jpg"/>
									<span class="detail-gallery__play"></span>
								</div>
							</div>
						{% else %}
							<div class="swiper-slide">
								<div class="swiper-large__item swiper-large__item_small">
									<img class="swiper-large__pic swiper-large__pic_small lazyload" data-src="images/detail-gallery__small.jpg"/>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="detail-gallery__more swiper__more" data-swiper-more>Еще 7 фото</div>
			<div class="swiper__arrow swiper__arrow_large">
				<div class="swiper__prev swiper__prev_banner js-swiper__prev"></div>
				<div class="swiper__next swiper__next_banner js-swiper__next"></div>
			</div>
		</div>
		<!-- /.swiper-large__bottom -->
	</div>
</div>
<!-- /.detail-gallery -->
