.news-item {
	border-radius: 5px;
	background-color: #ffffff;
	position: relative;
	padding: 0 0 40px;

	&__title {
		color: #000000;
		padding: 8px 16px;
		font-size: 16px;
		font-weight: 500;
		text-align: center;
	}

	&__photo {
		height: 189px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__pic {
		display: block;
		height: 100%;
		object-fit: cover;
		width: 100%;
	}

	&__text {
		color: #000000;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.54;
		padding: 11px 16px 20px;
	}

	&__more {
		height: 40px;
		border-radius: 0 0 5px 5px;
		background-color: #e6e6e6;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 18px;
		overflow: hidden;

		span {
			color: #dd0016;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			display: block;
			position: relative;

			@include link;
		}

		&:before {
			background-color: #dd0016;
			content: '';
			width: 500px;
			height: 500px;
			position: absolute;
			left: 0;
			margin-top: -200px;
			top: 50%;
			border-radius: 50%;
			transition: all 500ms;
			transform: translate(-100%, 0);
		}
	}

	&:hover &__more {
		span {
			color: #fff;
		}

		&:before {
			transform: translate(-60%, 0);
		}
	}

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		opacity: 0;
	}

	@media (--phone) {
		&__title {
			padding: 12px 16px;
			font-size: 12px;
			line-height: 1;
		}

		&__photo {
			height: auto;
		}

		&__text {
			font-size: 12px;
			line-height: 1.5;
		}

		&__more {
			span {
				font-size: 12px;
			}
		}
	}
}
