{% macro newsItem(
			title = 'Новинки в бутике Hausdorf',
			src = 'images/news-item__pic1.jpg',
			text = 'Подробный обзор бытовой техники для дома, чтобы сделать ваш выбор быстрым и удобным.',
			group1 = 'group1',
			group2 = 'group2'
		)
	%}
	<div class="news-item">
		<div class="news-item__title" data-mh="{{ group1 }}">
			{{ title }}
		</div>
		<div class="news-item__photo">
			<img class="news-item__pic lazyload" data-src="{{ src }}" alt=""/>
		</div>
		<div class="news-item__text" data-mh="{{ group2 }}">
			{{ text }}
		</div>
		<div class="news-item__more">
			<span>Подробнее</span>
		</div>
		<a class="news-item__link" href="#"></a>
	</div>
{% endmacro %}
