.phone-content-address {
	border-radius: 5px;
	background-color: rgb(245, 247, 250);
	padding: 24px 24px 20px;
	position: relative;
	margin-left: -45px;

	&__title {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 8px;
	}

	&__text {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 22px;
		max-width: 260px;
	}

	&__link {
		color: rgb(0, 0, 0);
		font-size: 32px;
		font-weight: 500;
		border-bottom: none !important;
	}

	&__icon {
		right: 24px;
		width: 158px;
		height: 100%;
		top: 0;
		background: url("../images/phone-content-address__icon.svg") no-repeat center;
		position: absolute;
	}

	@media (--phone) {
		margin: 11px 0 16px;
		padding: 15px 16px 16px;

		&__row {
			&_pics {
				margin-bottom: 8px;
			}

			&_children {
				margin-bottom: 16px;
			}
		}

		&__title {
			font-size: 14px;
			line-height: 1.29;
			margin-bottom: 4px;
		}

		&__text {
			font-size: 12px;
			line-height: 1.5;
			margin-bottom: 13px;
		}

		&__link {
			font-size: 12px;
			color: rgb(221, 0, 22);
		}

		&__icon {
			display: none;
		}
	}
}
