<div class="phone-content-address">
	<div class="phone-content-address__title">Уважаемые покупатели!</div>
	<!-- /.phone-content-address__title -->
	<div class="phone-content-address__text">Ассортимент техники можно уточнить у менеджеров Hausdorf по телефону</div>
	<!-- /.phone-content-address__text -->
	<a href="tel:+7 (495) 646-61-04" class="phone-content-address__link">+7 (495) 646-61-04</a>
	<div class="phone-content-address__icon"></div>
	<!-- /.phone-content-address__icon -->
</div>
<!-- /.phone-content-address -->
