.catalog {
	&__title {
		color: rgb(0, 0, 0);
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	@media (--phone) {
		margin: 0 0 -23px;

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		&_thumb {
			margin-bottom: -10px;

			.row {
				margin: 0 1px;

				[class*=col-sm-3] {
					padding: 0 1px;
					width: 50%;
				}
			}
		}

		&_thumb &__inner {
			margin: 0 -16px;
		}

		&_list {
			margin-bottom: -43px;
		}
	}
}
