.compare-menu {
	display: flex;
	align-items: center;

	&__section {
		display: flex;
		align-items: center;
	}

	&__text {
		font-size: 16px;
		line-height: 1.88;
		margin-right: 16px;
	}

	&__combox {
		height: 40px;
		margin-right: 16px;
		width: 240px;
	}

	&__checkboxes {}

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: flex-start;

		&__section {
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 5px;
		}

		&__text {
			font-size: 12px;
			margin-bottom: 3px;
		}

		&__combox {
			width: 100%;
			margin: 0;
		}
	}
}
