{% import "form/form.njk" as form %}

<div class="compare-menu">
	<div class="compare-menu__section">
		<div class="compare-menu__text">
			Категория:
		</div>
		<div class="compare-menu__combox">
			{% from "combox/combox.njk" import combox %}
			{{
				combox(['Стиральные машины', 'Стиральные машины', 'Стиральные машины'])
			}}
		</div>
	</div>
	<div class="compare-menu__checkboxes">
		{{
			form.checkbox(
				mod = 'compare-menu__checkbox',
				text = 'Показывать только отличия',
				attrs = 'checked data-compare-checkbox'
			)
		}}
	</div>
</div>
<!-- /.compare-menu -->
