<div class="news-sale">
	<div class="news-sale__banner">
		<img class="news-sale__pic lazyload" data-src="images/news-sale__pic.jpg" alt=""/>
		<div class="news-sale__desc">
			<div class="news-sale__title">
				<img class="lazyload" src="images/news-sale__title.png" alt=""/>
			</div>
			<div class="news-sale__info">До конца акции осталось</div>
			<div class="news-sale__datesection">
				{% include "news/news-counter/news-counter.njk" %}
			</div>
		</div>
	</div>
	<div class="news-sale__header">
		<div class="news-sale__header-col">
			<div class="icon-text icon-text_red">Акция!</div>
			<a class="button-favorite">
				<span class="button-favorite__icon"></span>
				<span class="button-favorite__text">В избранное</span>
			</a>
		</div>
		<div class="news-sale__header-col">
			<div class="news-sale__date">26.10.2018</div>
		</div>
	</div>
	<div class="news-sale__text">
		<p>Раздаем подарки при покупке планетарного миксера! До 28 декабря купи миксер Smeg SMF01… и получи в подарок комплект из трех аксессуаров:</p>
		<ul>
			<li>
				<span>ролик для приготовления пасты</span></li>
			<li>
				<span>насадка-мясорубка</span></li>
			<li>
				<span>насадка для равиоли
				</span>
			</li>
		</ul>
		<p>* Акции от магазина не суммируются с акциями от производителей, подробности у наших менеджеров</p>
	</div>
</div>
<!-- /.news-sale -->
