{% set data = [
		{ src: 'images/pdf.svg', text: 'Инструкция к De Dietrich DPI7572G', small: 'PDF, 1.3 Мб' },
		{ src: 'images/jpg.svg', text: 'Схема встраивания', small: 'JPG, 22.21 Кб' },
		{ src: 'images/pdf.svg', text: 'Информация о приборе', small: 'PDF, 1.24 Мб' },
		{ src: 'images/pdf.svg', text: 'Класс энергоэффективности', small: 'PDF, 272.73 Кб' },
		{ src: 'images/jpg.svg', text: 'Технические данные', small: 'GIF, 153 Кб' },
		{ src: 'images/pdf.svg', text: 'Инструкция к De Dietrich DPI7572G', small: 'PDF, 1.3 Мб' }
	] 
%}
<div class="download-files-seo">
	<div class="download-files-seo__header">
		<div class="download-files-seo__title">Инструкции к холодильникам</div>
		<a href="#" class="download-files-seo__more">Смотреть все инструкции</a>
	</div>
	<div class="download-files-seo__row">
		{% for item in data %}
		<div class="download-files-seo__field">
			<div class="download-files-seo__icon">
				<img class="download-files-seo__pic lazyload" data-src="{{ item.src }}" />
			</div>
			<div class="download-files-seo__text">
				{{ item.text }}
				<span>{{ item.small }}</span>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
