.download-files-seo {
	line-height: 1;

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		color: rgb(0, 0, 0);
	}

	&__more {
		@include button($fz: 14px, $h: 32px, $p: 0 24px, $bgc: rgb(255, 255, 255), $c: #000, $bd: solid 1px rgb(215, 215, 215) !important);
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
	}

	&__field {
		width: calc(100% / 3);
		display: flex;
		align-items: center;
		margin-bottom: 14px;
	}

	&__icon {
		width: 40px;
	}

	&__pic {
		display: block;
		margin: 0 !important;
	}

	&__text {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;

		span {
			color: rgb(165, 165, 166);
			margin-left: 10px;
		}
	}

	@media (--phone) {
		padding-bottom: 40px;
		position: relative;
		margin-bottom: 8px;

		&__header {
			margin-bottom: 0;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 16px;
		}

		&__row {
			flex-direction: column;
		}

		&__field {
			width: 100%;
			margin-bottom: 10px;
		}

		&__text {
			font-size: 12px;

			span {
				padding-top: 2px;
				margin: 0;
				display: block;
			}
		}

		&__more {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	}
}
