<div class="phone-content">
	<div class="phone-content__title">Если у вас остались вопросы:</div>
	<div class="phone-content__row">
		<div class="phone-content__item">
			<div class="phone-content__text">Звоните: (бесплатно)</div>
			<a class="phone-content__link" href="#">+7 (800) 333-10-52</a>
		</div>
		<div class="phone-content__item">
			<div class="phone-content__text">Пишите:</div>
			<a class="phone-content__link" href="#">client@hausdorf.ru
			</a>
		</div>
		<div class="phone-content__icon"></div>
	</div>
</div>
<!-- /.phone-content -->
