.address {
	box-shadow: inset 0 1px 0 rgb(255, 255, 255);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	padding: 18px 24px 24px;

	.title {
		margin-bottom: 15px;
	}

	&__title.title {
		margin-bottom: 31px;
	}

	&__field {
		margin-bottom: 14px;

		a {
			border-bottom: none !important;
		}
	}

	&__picture {
		margin-top: -4px;
		margin-bottom: 24px;

		img {
			max-width: 100%;
			display: block;
			width: 100%;
		}
	}

	&__row {
		margin-bottom: 26px;

		&_pics {
			margin-bottom: 31px;
		}

		&_children {
			margin-bottom: 41px;
		}
	}

	a {
		@include link;
	}

	&__map {
		height: 450px;
		margin-bottom: 32px;

		iframe {
			border: none;
		}
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		padding: 11px 16px 16px;
		font-size: 12px;
		line-height: 1.5;

		&__picture {
			margin-top: -14px;
		}

		&__row {
			margin-bottom: 0;

			.title {
				margin-bottom: 8px;
			}

			img {
				display: block;
				margin-bottom: 8px;
				max-width: 100%;
			}
		}

		&__title.title {
			margin-bottom: 8px;
		}

		&__field {
			margin-bottom: 9px;
		}

		&__picture {
			margin-bottom: 16px;
		}

		&__map {
			height: 250px;
			margin: -7px -16px 16px;
		}
	}
}
