.available {
	font-size: 14px;
	color: #31b64b;
	font-weight: 500;
	margin-bottom: 11px;

	.catalog-list &,
	.detail & {
		margin-bottom: 0;
	}

	&_order {
		color: #31b64b;
	}

	&_temp_not {
		color: #d85400;
	}

	&_not {
		color: #dd0016;
	}

	&_out {
		color: #a5a5a6;
	}

	&_soon {
		color: #005fb2;
	}
}
