.banner-content {
	margin: -18px -24px 46px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	position: relative;

	&__pic {
		display: block;
		width: 100%;
	}

	&__desc {
		position: absolute;
		left: 24px;
		top: 83px;
		max-width: 368px;

		p {
			margin-bottom: 16px;
		}
	}

	.title {
		margin-bottom: 14px;
	}

	&__text {
		color: rgb(88, 88, 90);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}

	@media (--phone) {
		margin: -11px -16px 30px;
		border-radius: 0;
		background: #212528;
		padding: 177px 16px 5px;

		&__pic {
			position: absolute;
			left: 0;
			top: 0;
		}

		.title {
			margin-bottom: 9px;
		}

		&__desc {
			padding: 0 0 20px;
			position: relative;
			left: auto;
			top: auto;
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			margin-bottom: 24px;

			p {
				margin-bottom: 8px;
			}
		}

		.title {
			color: #fff;
		}

		&__text {
			font-size: 12px;
			line-height: 1.5;
			color: #fff;
		}
	}
}
