.block {
	box-shadow: inset 0 1px 0 #ffffff;
	border-radius: 5px;
	background-color: #f3f3f3;
	margin-bottom: 16px;
	padding: 16px;

	&__title {
		color: #000000;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 20px;
	}

	&__section {}

	@media (--phone) {
		margin: 0 -16px 16px;
		padding: 16px;
		border-radius: 0;

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 16px;
		}
	}
}