.catalog-swipers {
	position: relative;
	padding-bottom: 32px;

	&_noindent {
		padding-bottom: 0;
	}

	.tabs-menu {
		margin-bottom: 5px;
	}

	.swiper__arrow {
		top: -36px;
	}

	@media (max-width: 768px) {
		padding-bottom: 32px;

		&_noindent {
			padding-bottom: 32px;
		}
	}
}
