.content-block {
	border-radius: 5px;
	box-shadow: inset 0 1px 0 0 #ffffff;
	background-color: var(--very-light-pink);
	padding: 18px 24px 28px;
	margin-bottom: 16px;
	position: relative;

	&_delivery {
		background-image: url("../images/delivery.png") !important;
		background-position: right top !important;
		background-repeat: no-repeat !important;
	}

	&_bg_white {
		background: #fff;
		border-radius: 5px 5px 0 0;
		margin-bottom: 0;
	}

	&_bdrs {
		border-radius: 5px;
	}

	&__row {
		display: flex;
		align-items: center;

		&_reverse {
			flex-direction: row-reverse;
			justify-content: flex-end;
		}
	}

	&__crow {
		margin-bottom: 16px;
	}

	&__text {
		margin-right: 16px;
		color: #000000;
		position: relative;
		z-index: 1;
	}

	&__row_reverse &__text {
		margin-left: 48px;
	}

	&__menu {
		&_fixed {
			margin: -51px 0 -4px 196px;
		}
	}

	&__icon {
		position: absolute;
		right: 0;
		top: 0;
		width: 347px;
		height: 100%;
		background: url("../images/content-block__icon.png") no-repeat;
		display: none;
	}

	&__info {
		text-align: right;
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		white-space: nowrap;
		padding: 7px 0 0;
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		border-radius: 0;
		padding: 11px 16px 16px;

		&_bg_white {
			margin-bottom: 0;
		}

		&_mobile {
			margin-bottom: 16px !important;
		}

		&_bdrs {
			// margin-bottom: 16px;
	
		}

		&_delivery {
			font-size: 12px;
			line-height: 1.5;
			background-image: url("../images/delivery768.svg") !important;
			background-size: 100% auto;

			p {
				margin-bottom: 8px;
			}
		}

		&__crow {
			margin-bottom: 23px;
		}

		&__row {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			&_reverse {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}
		}

		&__text {
			margin: 0 0 8px !important;
			font-size: 10px;
			line-height: 2;
		}

		&__menu {
			overflow-x: auto;

			@include scrollCss;

			width: 100%;

			&_fixed {
				margin: 0;
			}
		}

		&__icon {
			width: 187px;
			height: 86px;
			background-size: contain;
			display: block;
		}

		&__info {
			font-size: 12px;
			line-height: 1;
			text-align: left;
			padding: 0;
			margin: -6px 0 0;
		}
	}
}
