.download {
	margin-bottom: 27px;

	&__link {
		background: url("../images/download__link.svg") no-repeat left center;
		padding: 0 0 0 28px;
		color: rgb(221, 0, 22);
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		border: none;

		span {
			@include link;
		}
	}

	&_contact {
		padding-top: 6px;
		margin-bottom: 0;
	}

	&_contact & {
		&__link {
			font-size: 18px;
			border: none;
		}
	}

	@media (max-width: 768px) {
		margin-bottom: 15px;

		&__link {
			font-size: 16px;
		}

		&_contact {
			display: none;
		}
	}
}
