.installation {
	padding-bottom: 24px;
	border-bottom: 1px solid rgb(243, 243, 243);
	margin-bottom: 24px;

	.row {
		margin-left: -20px;
		margin-right: -20px;

		[class*=col-] {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&__photo {
		margin-bottom: 30px;
	}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__name {
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		padding-left: 7px;
	}

	@media (--phone) {
		border: none;
		padding-bottom: 0;
		margin-bottom: 8px;
		padding-top: 16px;

		&__photo {
			margin-bottom: 8px;
		}

		&__name {
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 16px;
			padding-left: 0;
		}
	}
}
