.label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: -10px;

	.detail__label & {
		position: static;
		flex-direction: row;
		justify-content: flex-start;

		&__item {
			width: auto;
			height: 32px;
			padding: 0 24px;
			margin: 0 8px 0 0;
		}
	}

	&__item {
		width: 126px;
		height: 24px;
		border-radius: 8px;
		border: solid 2px rgb(0, 95, 178);
		background: #fff;
		justify-content: center;
		align-items: center;
		display: flex;
		font-size: 12px;
		text-align: center;
		color: rgb(0, 0, 0);
		line-height: 1;
		margin-bottom: 8px;

		&_red {
			border: solid 2px rgb(221, 0, 22);
		}
	}

	&__text {}

	.detail-accessories & {
		top: 8px;
		left: 8px;

		&__item {
			width: 80px;
			height: 24px;
			border-radius: 2px;
			background-color: rgb(221, 0, 22);
			border: none;
			font-size: 12px;
			font-weight: bold;
			color: rgb(255, 255, 255);
		}
	}
}
