.our-benefits {
	margin-bottom: 48px;
	padding-top: 11px;

	&__photo {}

	&__pic {
		border-radius: 10px;
		display: block;
	}
	@media (--phone) {
		margin: 0 -16px 35px;
		padding-top: 0;

		&__pic {
			border-radius: 0;
			max-width: 100%;
		}
	}
}