.page-notfound {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	&__inner {
		position: relative;
	}

	&__pic {
		display: block;
		flex-shrink: 0;
		margin: 0 auto -57px;
	}

	&__text {
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;

		span {
			color: #dd0016;
			font-weight: bold;
		}

		a {
			@include link;
		}
	}

	&__title {
		color: #000000;
		text-align: center;
		margin-bottom: 15px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	@media (--phone) {
		&__pic {
			width: 320px;
			margin-bottom: -20px;
		}

		&__title {
			margin-bottom: 18px;
		}

		&__text {
			padding: 0 24px;
			position: static;
			font-size: 14px;
			line-height: 1.71;
		}
	}
}
