.service-popup {
	position: absolute;
	right: 24px;
	top: 12px;
	display: flex;
	align-items: center;
	z-index: 2;

	&__button {
		margin-right: 16px;
		position: relative;

		span {
			cursor: pointer;
			position: relative;
			z-index: 1;
			border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
		}
	}

	&__pic {
		display: block;
	}

	&__popup {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		top: 0;
		height: 30px;
	}

	&__section {
		pointer-events: none;
		opacity: 0;
		transition: opacity 400ms;
		position: relative;
		width: 307px;
		box-shadow: 0 2px 19px rgba(0, 0, 0, 0.1);
		background-color: rgb(255, 255, 255);
		padding: 16px 24px;
		top: calc(100% - 1px);

		&:before {
			position: absolute;
			left: 50%;
			margin-left: -9px;
			top: -7px;

			@include css-triangle(top, #fff, 8px, 18px);

			content: '';
		}
	}

	&__button:hover &__section {
		pointer-events: auto;
		opacity: 1;
	}

	&__field {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 20px;
		}
	}

	&__title {
		color: rgb(0, 0, 0);
		font-size: 12px;
		font-weight: 700;
		margin-bottom: 5px;
	}

	&__item {}

	&__phone {
		color: rgb(88, 88, 90);
		font-size: 12px;
		font-weight: 400;
		padding: 0 0 0 25px;
		background: url("../images/phone.svg") no-repeat left 2px;

		a {
			color: rgb(88, 88, 90);
			margin-right: 10px;
		}
	}

	&__address {
		color: rgb(88, 88, 90);
		font-size: 12px;
		font-weight: 400;
		background: url("../images/address.svg") no-repeat left 2px;
		padding: 0 0 0 25px;
	}

	&__more {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 32px;
		border-radius: 24px;
		background-color: rgb(235, 235, 235);
		color: rgb(88, 88, 90);
		font-size: 15px;
		font-weight: 400;
	}

	@media (--phone) {
		.detail & {
			position: absolute;
			left: 0;
			bottom: 16px;
			top: auto;

			&__button {
				font-size: 12px;
				margin-right: 8px;
				color: rgb(88, 88, 90);
			}

			&__photo {
				max-width: 80px;
			}

			&__pic {
				max-width: 80px;
			}
		}
	}
}
