.slidedown {
	&__title {
		display: flex;
		align-items: baseline;
		padding: 24px 0;
		line-height: 1;
	}

	&__titletext {
		color: rgb(0, 0, 0);
		margin-right: 16px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__button {
		color: rgb(165, 165, 166);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		cursor: pointer;
		border-bottom: 1px dotted rgba(0, 0, 0, 0.1);

		&:after {
			content: 'Развернуть';
			line-height: 1.2;
			display: block;
		}

		&.active:after {
			content: 'Свернуть';
			line-height: 1.2;
			display: block;
		}
	}

	&__desc {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;

		// padding-bottom: 20px;

	}

	&__field {
		position: relative;
		padding: 0 0 0 64px;
		margin-bottom: 20px;

		> i {
			position: absolute;
			left: 0;
			top: 0;
			color: rgb(221, 0, 22);
			font-size: 14px;
			font-weight: bold;
			line-height: 24px;
			font-style: normal;
		}

		ul {
			color: #dd0016;
			margin-top: 20px;
			padding-left: 20px;

			span {
				color: #000;
			}
		}
	}

	@media (--phone) {
		.search_delivery ~ & {
			border-top: 1px solid #f3f3f3;
		}

		&__title {
			padding: 16px 0;
		}

		&__titletext {
			font-size: 14px;
			margin-right: 8px;
		}

		&__button {
			font-size: 12px;
		}

		&__desc {
			font-size: 12px;
			line-height: 1.5;
			padding-bottom: 8px;
		}

		&__field {
			padding: 0 0 0 40px;
			margin-bottom: 8px;

			> i {
				font-size: 10px;
				line-height: 2;
			}

			ul {
				color: #dd0016;
				margin-top: 20px;
				padding-left: 20px;

				span {
					color: #000;
				}
			}
		}

		p {
			margin-bottom: 8px;
		}
	}
}
