.text-default {
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin: -5px 0 0;

	&_bottom {
		border-top: 1px solid #f3f3f3;
		padding-top: 24px;
	}

	&__title {
		margin-bottom: 3px;
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
	}

	&__title2 {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		color: #000000;
		margin-bottom: 10px;
	}

	&__important {
		margin-left: -60px;
	}

	ul {
		color: rgb(221, 0, 22);
		margin-left: 0;
		padding-left: 15px;
		margin-bottom: 20px;

		li {
			padding-left: 5px;

			span {
				color: #000;
			}
		}
	}

	p {
		margin-bottom: 24px;
	}

	p i {
		font-weight: bold;
		color: rgb(221, 0, 22);
	}

	&__grayblock {
		padding: 24px;
		border-radius: 8px;
		background-color: rgb(245, 247, 250);

		&_bottom {
			margin-bottom: 30px;
		}
	}

	&__redbold {
		color: rgb(221, 0, 22);
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: 500;
	}

	&__photo {
		padding: 24px 0 40px;
		display: flex;
		align-items: center;

		img {
			margin-right: 24px;
		}

		a {
			@include link;
		}
	}

	a {
		@include link;
	}

	&__row {
		display: flex;
		padding-bottom: 24px;
		border-bottom: 1px solid rgb(243, 243, 243);
	}

	&__col {
		margin-right: 30px;

		b {
			font-size: 18px;
			font-weight: 500;
		}
	}

	@media (--phone) {
		font-size: 12px;
		line-height: 1.5;

		&__title {
			font-size: 12px;
			line-height: 18px;
		}

		&__title2 {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		&__important {
			margin-left: 0;
			border-radius: 8px;
			border: solid 2px rgb(221, 0, 22);
			margin-bottom: 16px;
			padding: 16px 8px;

			ul {
				margin-bottom: 0;
			}
		}

		p {
			margin-bottom: 8px;
		}

		ul {
			padding-left: 14px;

			li {
				padding-left: 4px;
			}
		}

		&__grayblock {
			padding: 16px;
			margin-bottom: 16px;
		}

		&__photo {
			padding-bottom: 24px;

			img {
				margin-right: 16px;
			}
		}

		&__redbold {
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 16px;
		}

		&__row {
			border: none;
			flex-direction: column;
			margin-bottom: 0;
			padding-bottom: 16px;
		}

		&__col {
			width: 100%;
			margin: 0;

			b {
				font-size: 12px;
			}
		}
	}
}
