.text-default-table {
	margin-bottom: 30px;

	&__field {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		margin-bottom: 20px;
	}

	&__left {
		color: rgb(88, 88, 90);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		padding-right: 40px;

		b {
			color: #000;
		}
	}

	&__right {
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		min-width: 195px;
		border-left: 1px solid rgb(215, 215, 215);
	}

	@media (--phone) {
		margin-bottom: 16px;

		&__field {
			display: flex;
			flex-direction: column;
			margin-bottom: 16px;

			&:after {
				content: attr(data-price);
				font-size: 12px;
				font-weight: bold;
			}
		}

		&__left {
			font-size: 12px;
			line-height: 1.5;

			b {
				color: #000;
			}
		}

		&__right {
			display: none;
		}

		&__price {
			font-size: 12px;
			font-weight: bold;
			color: #000;
		}
	}
}
