<div class="contact">
	<div class="row contact__row">
		<div class="col-sm-4">

			<div class="contact__field">
				<div class="contact__smtitle">
					Телефон
				</div>
				<!-- /.contact__smtitle -->
				<a href="tel:+74955653990 " class="contact__phone">+7 (495) 565-39-90 </a>
			</div>
			<!-- /.contact__item -->

			<div class="contact__field">
				<div class="contact__smtitle">
					Email
				</div>
				<!-- /.contact__smtitle -->
				<a href="mailto:shop@2linzi.ru">shop@2linzi.ru</a>
			</div>
			<!-- /.contact__item -->

			<div class="contact__field">
				<div class="contact__smtitle">
					Телефон
				</div>
				<!-- /.contact__smtitle -->
				<div class="contact__text">
					Пн-Пт: с 8:00 до 22:00;<br>
					Сб-Вс: с 9:00 до 22:00
				</div>
				<!-- /.contact__text -->
			</div>
			<!-- /.contact__item -->

		</div>
		<!-- /.col-sm-4 -->
		<div class="col-sm-8">

			<div class="contact__field">
				<div class="contact__smtitle">
					Реквизиты
				</div>
				<!-- /.contact__smtitle -->
				<div class="contact__text">
					ООО «2Линзы»<br>
					Фактический и юридический адрес:<br>
					123103, г. Москва, проспект Маршала Жукова, дом 59<br>
					Почтовый адрес: 123103, г. Москва, а/я 28<br>
					ОГРН: 1167746250319<br>
					ИНН: 7734379272, КПП: 773401001<br>
					р/сч.: 40702810100021 в филиале № 7701 банка ВТБ (ПАО)<br>
					кор/сч.: 30101810345250000745<br>
					БИК: 044525745
				</div>
				<!-- /.contact__text -->
			</div>
			<!-- /.contact__item -->

		</div>
		<!-- /.col-8 -->
	</div>
	<!-- /.row -->

	<div class="contact__line"></div>
	<!-- /.contact__line -->

	<div class="contact__title">Задать вопрос</div>
	<!-- /.contact__title -->

	{% from "checkbox/checkbox.njk" import checkbox %}

	<form action="#" class="contact__form form">
		<div class="row">
			<div class="col-sm-4">
				<div class="form__field">
					<input type="text" class="form__input" data-form-label value="" />
					<label class="form__label">
						Ваше имя <span>*</span>
					</label>
				</div>
				<!-- /.form__field -->
			</div>
			<!-- /.col-sm-4 -->
			<div class="col-sm-4">
				<div class="form__field">
					<input type="email" class="form__input" data-form-label value="" />
					<label class="form__label">
						Email <span>*</span>
					</label>
				</div>
				<!-- /.form__field -->
			</div>
			<!-- /.col-sm-4 -->
			<div class="col-sm-4">
				<div class="form__field">
					<input type="tel" class="form__input" data-form-label value="" />
					<label class="form__label">
						Телефон <span>*</span>
					</label>
				</div>
				<!-- /.form__field -->
			</div>
			<!-- /.col-sm-4 -->
			<div class="col-12">
				<div class="form__field contact__msg">
					<textarea name="" class="form__input form__input_msg" data-form-label></textarea>
					<label class="form__label">
						Ваш вопрос <span>*</span>
					</label>
				</div>
				<!-- /.form__field -->
			</div>
			<!-- /.-->
		</div>
		<!-- /.row -->
		<div class="row align-items-center">
			<div class="col-sm-8">
				{{ checkbox(
					text='Согласен с <a href="#">использованием персональных данных</a> для обработки обращения',
					mod=' checkbox_oferta contact__checkbox',
					attr=' checked'
				)}}
			</div>
			<!-- /.col-sm-8 -->
			<div class="col-sm-4">
				<input type="submit" value="отправить" class="form__submit" />
			</div>
			<!-- /.col-sm-4 -->
		</div>
		<!-- /.row -->
	</form>
	<!-- /.contact__form -->

	<div class="contact__line"></div>
	<!-- /.contact__line -->

	<div class="contact__title contact__title_bottom">Правила приема рекламационных обращений</div>
	<!-- /.contact__title -->

	<p>
		Информация по приему <a href="#">претензий и заявлений на рекламацию</a>.
	</p>

</div>
<!-- /.contact -->
