.reviews-product {
	&__row {
		display: flex;
	}

	.title {
		line-height: 38px;

		span {
			display: block;
		}
	}

	&__col {
		width: 61.5%;

		&:first-child {
			width: 38.5%;
		}

		&:last-child {
			padding-top: 22px;
		}
	}

	&__photo {
		height: 239px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 13px;
	}

	&__pic {
		max-height: 234px;
		max-width: 100%;
		display: block;
	}

	&__section {
		margin-bottom: 22px;
		display: flex;
		align-items: center;
		line-height: 1;
	}

	&__text {
		margin-right: 16px;
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;

		span {
			color: rgb(221, 0, 22);
			font-weight: 700;
			margin-left: 5px;
		}
	}

	&__btn {
		@include button($m: 0, $w: 206px);
	}

	&__back {
		width: 276px;
		margin: 0 16px 0 0;
		height: 40px;
		border-radius: 8px;
		border: 1px solid rgb(215, 215, 215);
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: 500;
	}

	&__footer {
		display: flex;
		align-items: center;
	}

	@media (--phone) {
		&__row {
			flex-direction: column;
		}

		&__col {
			width: 100% !important;
			padding: 0 !important;
			border: none !important;
		}

		&__photo {
			height: auto;
			padding: 8px 0 0;
			margin: 0 0 24px;
		}

		&__block {
			display: flex;
			flex-direction: column-reverse;
		}

		&__section {
			margin: 0 0 2px;
		}

		&__footer {
			flex-direction: column;
			margin-bottom: 11px;
		}

		&__text {
			font-size: 12px;
			margin-right: 8px;

			span {}
		}

		.ratings__total {
			font-size: 12px;
		}

		&__back {
			margin: 0 0 7px;
			width: 100%;
		}

		&__btn {
			margin: 0;
			width: 100%;
		}
	}
}
