{% macro reviewsProduct(text = 'Вернуться к товару') %}
	<div class="title d-block d-sm-none">Отзывы о товаре Стиральная машина De Dietrich DPI7572G</div>
	<div class="reviews-product">
		<div class="reviews-product__row">
			<div class="reviews-product__col">
				<div class="reviews-product__photo">
					<a class="reviews-product__link" href="#">
						<img class="reviews-product__pic lazyload" data-src="images/reviews-product__pic.png"/>
					</a>
				</div>
			</div>
			<!-- /.reviews-product__col -->
			<div class="reviews-product__col">
				<div class="title d-none d-sm-block"><span>Отзывы о товаре</span> Стиральная машина De Dietrich DPI7572G</div>
				<div class="reviews-product__block">
					<div class="reviews-product__section">
						<div class="reviews-product__text">Средняя оценка<span>4</span></div>
						{% from "rating-stars/rating-stars.njk" import rating %}
						{{
							rating(
								counter = 4,
								text = '100 отзывов'
							)
						}}
					</div>
					<div class="reviews-product__footer">
						<a href="#" class="reviews-product__back">{{ text }}</a>
						<a class="reviews-product__btn" href="#">Оставить отзыв</a>
					</div>
				</div>
			</div>
			<!-- /.reviews-product__col -->
		</div>
	</div>
	<!-- /.reviews-product -->
{% endmacro %}
