<!DOCTYPE html>
<html lang="en">

<head>

	<title>Created by Aleksei Tarakanov</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
	<link rel="stylesheet" href="css/style.css">

</head>
