<div class="news-col">
	<div class="row align-items-stretch">
		<div class="col-sm-4">
			<div class="news-col__item">
				<div class="news-col__name">Особенности выбора техники в небольшую квартиру</div>
				<div class="news-col__text">Базовый набор для кухни, вне зависимости от площади помещения, традиционно состоит из варочной панели, духовки и холодильника. Покупки такого комплекта не избежать и владельцам небольших квартир, заботящихся об экономии полезного пространства.</div>
				<a class="news-col__more" href="#">Подробнее</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="news-col__item">
				<div class="news-col__name">Стиральные машины Asko</div>
				<div class="news-col__text">ASKO — это современный лаконичный дизайн, сочетающийся с продуманным до мелочей высокотехнологичным оснащением.
				</div>
				<a class="news-col__more" href="#">Подробнее</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="news-col__item">
				<div class="news-col__name">Воздушно-пузырьковая стиральная машина</div>
				<div class="news-col__text">Воздушно-пузырьковые стиральные машины все чаще используются как в специализированных прачечных, в том числе производственных, так и в мини-прачечных при гостиницах, ресторанах и домах отдыха.</div>
				<a class="news-col__more" href="#">Подробнее</a>
			</div>
		</div>
	</div>
</div>
<!-- /.news-col -->
