.time-info {
	color: rgb(0, 0, 0);
	padding-left: 25px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	background: url("../images/time-info.svg") no-repeat left center;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-width: 20px;

	@media (--phone) {
		font-size: 12px;
		line-height: 18px;
		background-position: left 0;
	}
}
