.popup-callback {
	max-width: 439px;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 24px 32px 40px;

	&__phones {
		display: none;
	}

	@media (--phone) {
		padding: 16px 24px;
		border-radius: 8px;

		&__phones {
			display: block;
			margin-bottom: 20px;

			div {
				display: flex;
				align-items: center;
				line-height: 1;
				margin-bottom: 8px;

				a {
					font-size: 16px;
					font-weight: 500;
					color: #000000;
					border-bottom: dotted 1px rgba(0, 0, 0, 0.1);
					margin-right: 8px;
				}

				span {
					font-size: 12px;
					line-height: 1.67;
					color: #58585a;
				}
			}
		}
	}
}
