<div class="popup-callback">
	<div class="popup-callback__phones">
		<div><a href="+74956029621">+7 (495) 602-96-21</a><span>Москва и МО</span></div>
		<div><a href="+78003331052">+7 (800) 333-10-52</a><span>Звонок бесплатный</span></div>
	</div>
	<div class="popup__title">
		Обратный звонок
	</div>
	<!-- /.popup__title -->    
	<div class="popup__text">
		Если у вас возникли вопросы или вы столкнулись с какими-либо трудностями на любом этапе заказа, мы с радостью Вам поможем.
	</div>
	<!-- /.popup__text -->

	{% import "templates/default/src/components/form/form.njk" as form %}
	<form action="#" class="form">

		{{ form.input( label = 'Ваше имя' ) }}

		{{
			form.input(
				label = 'Телефон',
				type = 'tel'
			)
		}}

		{{ form.checkbox( attrs = 'checked' ) }}

		<div class="popup__footer popup__footer_center">
			{{ form.submit() }}
		</div>

	</form>
	<!-- /.form -->

</div>
<!-- /.popup-callback -->
