.button-buy {
	width: 24px;
	height: 24px;
	background: url(../images/buy-small.svg) no-repeat center;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
	transition: background 400ms;

	&:hover,
	&.active {
		background: url(../images/buy-small-active.svg) no-repeat center;
	}

	// @include button($bdrs: 20px, $h: 32px);
}
