.contact-form {
	&_bg {
		box-shadow: inset 0 1px 0 rgb(255, 255, 255);
		border-radius: 5px;
		background-color: rgb(255, 255, 255);
		padding: 24px 24px 35px;
	}

	&__inner {}

	&__title {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 24px;
	}

	&__section {}

	&__field {
		margin-bottom: 8px;
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;

		i {
			margin-left: 16px;
		}

		span {
			color: rgb(165, 165, 166);
		}
	}

	&__name {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 9px;
	}

	&__form {
		margin-left: -13px;

		.form {
			.row {
				margin-left: -8px;
				margin-right: -8px;

				[class*=col-] {
					padding-left: 8px;
					padding-right: 8px;
				}
			}
		}
	}

	@media (--phone) {
		&_bg {
			margin: 0 -16px 16px;
			padding: 24px 16px 16px;
			border-radius: 0;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		&__name {
			font-size: 12px;
			line-height: 1.5;
			margin-bottom: 6px;
		}

		&__field {
			font-size: 12px;
			line-height: 1.5;
			margin-bottom: 8px;

			span {
				color: #000000;
			}
		}

		&__form {
			margin: 0;
		}
	}
}
