<div class="contact-form {{ mod }}">
	<div class="contact-form__inner">
		<div class="row">
			<div class="col-sm-6">

				<div class="contact-form__title">Реквизиты</div>
				<!-- /.contact-form__title -->
				<div class="contact-form__section">
				    <div class="contact-form__name">ООО «Хаусдорф» </div>
				    <div class="contact-form__field"><span>ИНН</span> 9723040280 <i></i><span>КПП</span> 772301001 <i></i><span>ОГРН</span> 5177746395547 </div>
				    <div class="contact-form__field"><span>Адрес места нахождения:</span> <br/> 121609, г. Москва, Рублевское шоссе, дом 52А, ТЦ "Западный" </div>
				    <div class="contact-form__field"><span>Почтовый адрес:</span> 121609, г. Москва, а/я 38, Рублевское шоссе, дом 52А </div>
				    <div class="contact-form__field"><span>Расчетный счет:</span> 40702810133030000125 </div>
				    <div class="contact-form__field"><span>Наименование Банка:</span> <br/> ФИЛИАЛ № 7701 БАНКА ВТБ (ПАО) БИК Банка 044525745 </div>
				    <div class="contact-form__field"><span>Корреспондентский счёт:</span> <br/> 30101810345250000745 в ГУ БАНКА РОССИИ ПО ЦФО г. МОСКВА</div>
					<div class="download download_contact">
						<a class="download__link" href="#">
							<span>Скачать реквизиты</span>
						</a>
					</div>
				</div>

			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6">
				<div class="contact-form__form">

					<div class="contact-form__title">
						Обратная связь
					</div>
					<!-- /.contact-form__title -->

					{% import "form/form.njk" as form %}

					<div class="form">
						<div class="row">
							<div class="col-12">
								{{ form.input( label = 'Ваше имя' ) }}
							</div>
							<!-- /.col-12 -->
							<div class="col-sm-6">
								{{
									form.input(
										label = 'E-mail',
										type = 'email'
									)
								}}
							</div>
							<!-- /.col-sm-6 -->
							<div class="col-sm-6">
								{{
									form.input(
										label = '+7(_ _ _) _ _ _ - _ _ - _ _',
										type = 'tel'
									)
								}}
							</div>
							<!-- /.col-sm-6 -->
							<div class="col-12">
								{{ 
									form.textarea( 
										label = 'Ваш вопрос',
										mClass = 'form__input_textarea'
									)	
								}}
							</div>
							<!-- /.col-12 -->
						</div>
						<!-- /.row -->
						<div class="form__footer">
							{{ form.checkbox( attrs = 'checked' ) }}
							{{ form.submit() }}
						</div>
						<!-- /.row align-items-center -->
					</div>
					<!-- /.form -->

				</div>
				<!-- /.contact-form__form -->
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.contact-form__inner -->
</div>
<!-- /.contact-form -->
