{% macro thumbSmall(
		name = 'Холодильник Smeg FAB28LUJ1',
		src = 'images/catalog-thumb-small__pic1.jpg',
		price = '139 390 ',
		compare = false,
		favorite = false,
		label = false,
		labelItemsText = [ 'Скидка 20%' ],
		footer = 'show',
		available = 'show'
	)
%}
	<div class="catalog-thumb-small">
		{% if label %}
			<div class="label">
				{% for item in labelItemsText %}
					<div class="label__item">
						<div class="label__text">{{ item }}</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<div class="catalog-thumb-small__photo">
			<div class="acatalog-thumb-small__link" href="#">
				<img class="catalog-thumb-small__pic lazyload" data-src="{{ src }}" alt=""/>
			</div>
		</div>
		<div class="catalog-thumb-small__title" data-mh="catalog-thumb-name-small">
			<a class="catalog-thumb-small__titlelink" href="#">{{ name }}</a>
		</div>
		{% if available == 'show' %}
			<div class="available">В наличии</div>
		{% endif %}
		<div class="catalog-thumb-small__footer">
			<div class="catalog-thumb-small__col">
				<div class="catalog-thumb-small__price">
					{{ price }}
					<span>руб.</span>
				</div>
			</div>
			<div class="catalog-thumb-small__col">
				<a class="button-buy catalog-thumb-small__buy" href="#">Купить</a>
			</div>
		</div>
		{% if footer == 'show' %}
			<div class="catalog-thumb-small__footercatalog-thumb-small__footer_utility">
				<div class="catalog-thumb-small__col">
					{% if compare %}
						<a class="button-compare active">
							<span class="button-compare__icon"></span>
							<span class="button-compare__text">В сравнении</span>
						</a>
					{% else %}
						<a class="button-compare">
							<span class="button-compare__icon"></span>
							<span class="button-compare__text">Сравнить</span>
						</a>
					{% endif %}
				</div>
				<div class="catalog-thumb-small__col">
					{% if favorite %}
						<a class="button-favorite active">
							<span class="button-favorite__icon"></span>
							<span class="button-favorite__text">В избранном</span>
						</a>
					{% else %}
						<a class="button-favorite">
							<span class="button-favorite__icon"></span>
							<span class="button-favorite__text">В избранное
							</span>
						</a>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
	<!-- /.catalog-thumb-small -->
{% endmacro %}
