.catalog-thumb-small {
	height: 100%;
	background-color: #ffffff;
	transition: box-shadow 400ms;
	padding: 16px 16px 24px;
	border-radius: 5px;

	&:hover {
		box-shadow: 0 2px 25px rgba(0, 0, 0, 0.14);
	}

	&__label {}

	&__photo {
		height: 190px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 -20px 24px;
	}

	&__link {
		display: block;
	}

	&__pic {
		max-height: 180px;
		max-width: 100%;
	}

	&__title {
		margin-bottom: 10px;
		line-height: 1.71;

		.news-article & {
			margin-bottom: 23px;
		}
	}

	&__titlelink {
		font-size: 14px;
		color: #000000;
		border: none !important;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&_utility {
			padding-top: 16px;
		}
	}

	&__col {}

	&__price {
		font-size: 20px;
		font-weight: 500;
		color: #000000;

		span {
			font-size: 14px;
		}
	}

	&__buy {
		border: none !important;
	}

	.swiper_small {
		padding-bottom: 19px;
	}

	.swiper_small &__photo {
		margin-bottom: 31px;
	}

	.swiper_small &__title {
		margin-bottom: 26px;
	}

	@media (--phone) {
		height: calc(100% - 16px);
		margin-bottom: 16px;
	}
}
