{% macro filterSlider(modCls = '', min = '0', max = '200000', startValue = '12000', endValue = '132000') %}
	<div class="filter-slider {{ modCls }}">
		<div class="filter-slider__header">
			<input class="filter-slider__input" type="number" value="{{ startValue }}" min="{{ min }}" max="{{ max }}" />
			<div class="filter-slider__sep"></div>
			<input class="filter-slider__input" type="number" value="{{ endValue }}" min="{{ min }}" max="{{ max }}" />
		</div>
		<div class="filter-slider__slider" data-nouislider="data-nouislider" data-min="{{ min }}" data-max="{{ max }}" data-value-start="{{ startValue }}" data-value-end="{{ endValue }}"></div>
	</div>
	<!-- /.filter-slider -->
{% endmacro %}
