<header class="header">

	<div class="header__mobile">
		<div class="header__burger" data-burger>
			<span>
				<i></i>
				<i></i>
				<i></i>
				<i></i>
			</span>
		</div>
		<!-- /.header__burger -->

		<a href="#" class="header__logo">
			<img alt="" class="lazyload" data-src="images/hausdorf_logo_mobile.svg">
		</a>

		<div class="header-phone-mobile">
			<div class="header-phone-mobile__icon" data-toggle-class></div>
			<!-- /.header-phone-mobile__icon -->
			<div class="header-phone-mobile__section">
				<div class="header-phone-mobile__item">
					<a href="tel:+74956029621" class="header-phone-mobile__tel">+7 (495) 602-96-21</a>
				</div>
				<!-- /.header-phone-mobile__item -->
				<div class="header-phone-mobile__item">
					<a href="tel:+78003331052" class="header-phone-mobile__tel">+7 (800) 333-10-52</a>
				</div>
				<!-- /.header-phone-mobile__item -->
			</div>
			<!-- /.header-phone-mobile__section -->
		</div>
		<!-- /.header-phone-mobile -->

		<div class="header__search header__search_m js-header__search"></div>
		<!-- /.header__search header__search_m js-header__search -->

	</div>
	<!-- /.header__mobile -->

	<div class="header__desktop" id="js-header__desktop">
		<div class="header__top">
			<div class="header__inner">
			
				<div class="header__close" data-burger>
					<span>
						<i></i><i></i>
					</span>
				</div>
				<!-- /.header__close -->
				
				{% include "header/logo/global/logo.njk" %}

				<div class="header__section">
					<div class="header__section-top">
						<div class="header-phone">
							<div class="header-phone__item">
								<div class="header-phone__tel">
									<a href="tel:+74956029621">
										<span>+7 (495)</span> 602-96-21
									</a>
								</div>
								<!-- /.header-phone__tel -->
								<div class="header-phone__text">
									Заказать обратный звонок
								</div>
								<!-- /.header-phone__text -->
							</div>
							<!-- /.header-phone__item -->
							<div class="header-phone__item">
								<div class="header-phone__tel">
									<a href="tel:+78003331052">
										<span>+7 (800)</span> 333-10-52
									</a>
								</div>
								<!-- /.header-phone__tel -->
								<div class="header-phone__text">
									Время работы
								</div>
								<!-- /.header-phone__text -->
							</div>
							<!-- /.header-phone__item -->
						</div>
						<!-- /.header-phone -->

						<div class="header-city">
							<div class="header-city__button" data-toggle-class>
								<span>Москва</span>
							</div>
							<!-- /.header-city__button -->
							<div class="header-city__section">
								<ul class="header-city__list">
									<li class="header-city__item">
										<a href="#" class="header-city__link">Санкт-Петербург</a>
									</li>
									<li class="header-city__item">
										<a href="#" class="header-city__link">Казань</a>
									</li>
									<li class="header-city__item">
										<a href="#" class="header-city__link">Краснодар</a>
									</li>
									<li class="header-city__item">
										<a href="#" class="header-city__link">Другие регионы</a>
									</li>
								</ul>
							</div>
							<div class="header-city__text">
								<a href="#">Рублевское шоссе, д.52а</a>
							</div>
							<!-- /.header-city__text -->
						</div>
						<!-- /.header-city -->

						<div class="header-compare active">
							<div class="header-compare__icon"></div>
							<!-- /.header-compare__icon -->
							<div class="header-compare__text">1</div>
							<!-- /.header-compare__text -->
							<a href="#" class="header-compare__link"></a>
							<!-- /.header-compare__link -->
						</div>
						<!-- /.header-compare -->

						<div class="header-favorite active">
							<div class="header-favorite__icon"></div>
							<!-- /.header-favorite__icon -->
							<div class="header-favorite__text">4</div>
							<!-- /.header-favorite__text -->
							<a href="#" class="header-favorite__link"></a>
							<!-- /.header-favorite__link -->
						</div>
						<!-- /.header-favorite -->

						<div class="header-basket">
							<div class="header-basket__icon"></div>
							<!-- /.header-basket__icon -->
							<div class="header-basket__text">
								В заказе <b>2</b> товара</div>
							<!-- /.header-basket__text -->
							<div class="header-basket__price">2 125 950 руб.</div>
							<!-- /.header-basket__price -->
							<a href="#" class="header-basket__link"></a>
							<!-- /.header-basket__link -->
						</div>
						<!-- /.header-basket -->
					</div>
					<!-- /.header__section-top -->
					<div class="header__section-bottom">
						
						<div class="header__search js-header__search">Поиск</div>
						<!-- /.header__search js-header__search --> 

						{% include "menu/menu-header/menu-header.njk" %}

					</div>
					<!-- /.header__section-bottom -->
				</div>
				<!-- /.header__section -->

			</div>
			<!-- /.header__inner -->
		</div>
		<!-- /.header__top -->

		<div class="header__bottom">

			<div class="header__inner header__inner_bottom">
				
				<div class="header__catalog">
					<div class="header__catalogshow" menu-dropdown menu-mobile data-body-class="menu-show">
						Каталог товаров
					</div>
					<!-- /.header__catalogshow -->

					{% include "menu/menu/menu.njk" %}

				</div>
				<!-- /.header__catalog -->

				<div class="header__menu">

					<div class="header__brandshow" menu-mobile>Все бренды</div>
					<!-- /.header__brandshow -->

					{% include "menu/menu-brand/menu-brand.njk" %}

					{% include "menu/menu-brand-list/menu-brand-list.njk" %}

				</div>
				<!-- /.header__menu -->

			</div>
			<!-- /.header__inner header__inner_bottom -->
		</div>
		<!-- /.header__bottom -->
			
	</div>
	<!-- /#js-header__desktop.header__desktop -->
	
</header>
<!-- /.header -->