.header {
	width: 1156px;
	margin: 0 auto 16px;
	position: relative;
	padding: 16px 0 0;
	z-index: 4;

	&__top {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 24px;
	}

	&__section {
		width: 938px;

		&-top {
			position: relative;
			height: 79px;
			box-shadow: inset 0 1px 0 #ffffff;
			border-radius: 8px 8px 0 0;
			background-image: linear-gradient(to top, #fcfcfc 0%, #e0e0e0 100%);

			&:before {
				width: 265px;
				height: 79px;
				opacity: 0.74;
				background: url("../images/header.png") no-repeat;
				left: 50%;
				transform: translate(-50%, 0);
				content: '';
				position: absolute;
				top: 0;
				margin-left: 27px;
			}
		}

		&-bottom {
			height: 41px;
			box-shadow: inset 0 1px 0 #d7d7d7;
			border-radius: 0 0 8px 8px;
			background-color: #f3f3f3;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__search {
		background: url("../images/header-search.svg") no-repeat 24px center;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 0 0 0 57px;
		color: rgba(88, 88, 90, 0.44);
		font-size: 13px;
		font-style: italic;
		cursor: pointer;
	}

	&__inner {
		&_bottom {
			display: flex;
			justify-content: space-between;
		}
	}

	&__catalog {
		width: 206px;
	}

	&__catalogshow {
		height: 32px;
		box-shadow: inset 0 1px 0 #ffffff;
		border-radius: 5px;
		background-color: #f3f3f3;
		display: flex;
		align-items: center;
		cursor: pointer;
		color: #000000;
		font-size: 15px;
		font-weight: 400;
		padding: 0 0 0 24px;

		&:before {
			width: 16px;
			height: 16px;
			background: url("../images/header__catalogshow.svg") no-repeat;
			display: block;
			content: '';
			margin-right: 24px;
		}
	}

	&__menu {
		width: 937px;
	}

	&__mobile {
		display: none;
	}

	&__brandshow {
		display: none;
	}

	@media (--phone) {
		height: 48px;
		box-shadow: inset 0 1px 0 #ffffff;
		background-image: linear-gradient(to top, #fcfcfc 0%, #e0e0e0 100%);
		width: 100%;
		margin: 0;
		padding: 0;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10;
		border-bottom: 1px solid #e9e9e9;

		.bar-gift + .wrapper & {
			position: absolute;
		}

		&__mobile {
			display: block;
			position: relative;
		}

		&__section {
			&-top:after {
				position: absolute;
				left: 0;
				top: 100%;
				width: 100%;
				height: 64px;
				background: #f3f3f3;
				content: "";
			}

			&-bottom {
				display: none;
			}
		}

		&__burger {
			height: 48px;
			width: 48px;
			position: absolute;
			padding: 18px 16px;

			span {
				height: 100%;
				width: 100%;
				display: block;
				position: relative;

				i {
					height: 2px;
					width: 100%;
					background: #000;
					border-radius: 1px;
					position: absolute;
					opacity: 1;
					transition: transform 400ms, opacity 400ms;
					transform-origin: 50% 50%;

					&:nth-child(1) {
						top: 0;
					}

					&:nth-child(2) {
						top: 50%;
						margin-top: -1px;
						width: 10px;
						transition: transform 400ms ease-in-out, width 100ms .4s;
					}

					&:nth-child(3) {
						top: 50%;
						margin-top: -1px;
						width: 10px;
						transition: transform 400ms ease-in-out, width 100ms .4s;
					}

					&:nth-child(4) {
						bottom: 0;
					}
				}
			}

			.menu-open & span {
				i {
					&:nth-child(1) {
						transform: translate(-100%, 0);
						opacity: 0;
					}

					&:nth-child(2) {
						width: 100%;
						transform: rotate(-45deg);
						transition: transform 400ms ease-in-out .1s, width 100ms;
					}

					&:nth-child(3) {
						width: 100%;
						transform: rotate(45deg);
						transition: transform 400ms ease-in-out .1s, width 100ms;
					}

					&:nth-child(4) {
						transform: translate(100%, 0);
						opacity: 0;
					}
				}
			}
		}

		&__logo {
			display: block;
			position: absolute;
			left: 48px;
			height: 48px;
			display: flex;
			align-items: center;
			top: 0;
		}

		&__search {
			background-position: center;
			height: 48px;
			width: 48px;
			position: absolute;
			right: 0;
			top: 0;
			text-indent: -9999px;
			padding: 0;
		}

		&__desktop {
			display: none;
		}

		&__close {
			height: 46px;
			width: 46px;
			position: absolute;
			padding: 18px 16px;
			right: 0;
			top: 0;

			span {
				height: 100%;
				width: 100%;
				display: block;
				position: relative;

				i {
					height: 2px;
					width: 100%;
					background: #dd0016;
					border-radius: 1px;
					position: absolute;
					opacity: 0;
					top: 50%;
					margin-top: -1px;
					transition: left 200ms .1s, opacity 200ms .1s, transform 100ms;
					transform-origin: 50% 50%;

					&:nth-child(1) {
						left: -15px;
					}

					&:nth-child(2) {
						left: 15px;
					}
				}
			}

			.menu-open & span {
				i {
					left: 0;
					opacity: 1;
					transition: left 400ms .5s, opacity 400ms .5s, transform 400ms .9s;

					&:nth-child(1) {
						transform: rotate(-45deg);
					}

					&:nth-child(2) {
						transform: rotate(45deg);
					}
				}
			}
		}
	}
}
