.compare-item {
	&__inner {
		margin: 0 -4px;
	}

	&__scroll {
		display: flex;
		align-items: center;
		overflow-x: auto;

		/* @include scrollCss(); */
		-webkit-overflow-scrolling: touch;
	}

	&__col {
		padding: 0 4px;
		flex-shrink: 0;
		width: 278px;
	}

	&__item {
		position: relative;
		height: 128px;
		border-radius: 5px;
		border: solid 1px rgb(243, 243, 243);
		background-color: rgb(255, 255, 255);
		display: flex;
		align-items: center;
		padding: 0 15px 0 0;
		min-width: 270px;
	}

	&__delete {
		position: absolute;
		top: 5px;
		height: 24px;
		right: 5px;
		width: 24px;
		background: url("../images/basket-table__delete.svg") no-repeat center;
		display: block;
		overflow: hidden;
		text-indent: -9999px;
		cursor: pointer;
	}

	&__photo {
		width: 100px;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link {}

	&__pic {
		display: block;
		margin: 0 auto;
		max-width: 80px;
		max-height: 80px;
	}

	&__desc {
		width: calc(100% - 100px);
	}

	&__name {
		font-size: 14px;
		line-height: 1.71;
		color: rgb(0, 0, 0);
		margin-bottom: 12px;
		height: 46px;
		overflow: hidden;
	}

	&__namelink {
		color: rgb(0, 0, 0);

		span {
			display: block;
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__price {
		font-size: 18px;
		font-weight: 500;
		color: rgb(0, 0, 0);
	}

	&__buy {
		width: 24px;
		height: 24px;
		background: url(../images/buy-small.svg) no-repeat center;
		text-indent: -9999px;
		display: block;
		overflow: hidden;
		transition: background 400ms;

		&:hover,
		&.active {
			background: url(../images/buy-small-active.svg) no-repeat center;
		}
	}

	@media (--phone) {
		&__col {
			width: 148px;
		}

		&__item {
			padding: 0;
			flex-direction: column;
			width: 140px;
			height: 180px;
			min-width: 140px;
			text-align: center;
		}

		&__photo {
			height: 87px;
			margin: 0;
			width: 100%;
		}

		&__pic {
			max-width: 64px;
			max-height: 64px;
		}

		&__desc {
			width: 100%;
			padding: 0 0 8px;
		}

		&__name {
			font-size: 12px;
			line-height: 1.17;
			color: rgb(0, 0, 0);
			margin-bottom: 2px;
			height: 28px;
		}

		&__footer {
			flex-direction: column;
			align-items: flex-start;
		}

		&__price {
			font-size: 14px;
			font-weight: 500;
			color: rgb(0, 0, 0);
			margin-bottom: 12px;
			line-height: 1;
			width: 100%;

			span {
				font-size: 10px;
			}
		}

		&__delete {
			top: auto;
			bottom: 11px;
			right: 29px;
		}

		&__buy {
			margin-left: 15px;
		}
	}
}
