<div class="compare-item">
	<div class="compare-item__inner">
		<div class="compare-item__scroll" data-compare-scroll>
			{% for item in '12345678' %}
				<div class="compare-item__col">

					<div class="compare-item__item">
						<div class="compare-item__delete"></div>
						<!-- /.compare-item__delete -->
						<div class="compare-item__photo">
							<a href="#" class="compare-item__link">
								<img src="images/compare-item.jpg" alt="" class="compare-item__pic" />
							</a>
						</div>
						<!-- /.compare-item__photo -->
						<div class="compare-item__desc">
							<div class="compare-item__name">
								<a href="#" class="compare-item__namelink">
									<span>Стиральная машина</span>
									Miele PW 6080 Vario
								</a>
							</div>
							<!-- /.compare-item__name -->
							<div class="compare-item__footer">
								<div class="compare-item__price">
									498 000 <span>руб.</span>
								</div>
								<!-- /.compare-item__price -->
								<a href="#" class="compare-item__buy"></a>
							</div>
							<!-- /.compare-item__footer -->
						</div>
						<!-- /.compare-item__desc -->
					</div>
					<!-- /.compare-item__item -->
				</div>
				<!-- /.compare-item__col -->

			{% endfor %}
		</div>
	</div>
</div>
<!-- /.compare-item -->
