.news-counter {
	height: 35px;
	border-radius: 5px;
	background-color: #f5f7fa;
	padding: 0 20px;
	display: flex;
	align-items: center;
	color: #a5a5a6;
	font-size: 16px;
	font-weight: 400;

	span {
		color: #000000;
		font-weight: 700;
		margin: 0 5px;
	}

	i {
		font-style: normal;
	}

	@media (--desk) {
		.news-sale & {
			color: rgb(255, 255, 255);
			font-size: 24px;
			font-weight: 400;
			padding: 0;
			background: none;
			height: auto;

			span {
				font-weight: 400;
				color: #fff;
			}

			i {
				margin-left: 5px;
			}

		}
	}

	@media (--phone) {
		justify-content: center;
	}

}