{% from "news/news-item/news-item.njk" import newsItem %}

<div class="block">

	<div class="tabs-menu" data-tabs>
		<a class="tabs-menu__link" data-hash="#js-tabs-1" data-tabs-children>Акции и новости</a>
		<a class="tabs-menu__link" data-hash="#js-tabs-2" data-tabs-children>Акции</a>
		<a class="tabs-menu__link" data-hash="#js-tabs-3" data-tabs-children>Новости</a>
	</div>
	<!-- /.tabs-menu -->

	<div class="block__section">

		<div class="tabs">

			{% for item in '123' %}
			<div class="tabs__inner" id="js-tabs-{{ item }}">
				<div class="swiper swiper_newsitem">

					<div class="swiper-container" data-swiper data-options='{"slidesPerView":4,"spaceBetween":16,"breakpoints":{"768":{"slidesPerView":"auto","spaceBetween":8,"slidesPerGroup":1}}}'>
						<div class="swiper-wrapper">

							{% for p in '12' %}
								<div class="swiper-slide">
									{{
										newsItem(
											title = 'Скидка 25% на варочные панели Smeg',
											src = 'images/news-item__pic5.png',
											text = 'С 16 августа по 28 декабря 2018 года при заказе комплекта техники на варочные поверхности предоставляется скидка 25%!'
										)
									}}
								</div>
								<!-- /.swiper-slide -->
								<div class="swiper-slide">
									{{
										newsItem(
											title = 'Новые сушильные шкафы от Asko',
											src = 'images/news-item__pic6.png',
											text = 'Новый сушильный шкаф Asko станет функциональным и стильным дополнением вашего дома — вы будете удивляться…'
										)
									}}
								</div>
								<!-- /.swiper-slide -->
								<div class="swiper-slide">
									{{
										newsItem(
											title = 'Лучшие марки холодильников',
											src = 'images/news-item__pic7.png',
											text = 'Холодильники давно перестали быть предметами роскоши, но он должен соответствовать самым строгим требованиям. Каким?'
										)
									}}
								</div>
								<!-- /.swiper-slide -->
								<div class="swiper-slide">
									{{
										newsItem(
											title = 'Специальные цены на вытяжки Falmec',
											src = 'images/news-item__pic8.png',
											text = 'Уникальная возможность приобрести надежную итальянскую вытяжку по доступной цене. '
										)
									}}
								</div>
								<!-- /.swiper-slide -->
							{% endfor %}

						</div>
					</div>
					<!-- /.swiper-container -->

					<div class="swiper__arrow swiper__arrow_right">
						<div class="swiper__prev swiper__prev_round js-swiper__prev"></div>
						<div class="swiper__next swiper__next_round js-swiper__next"></div>
					</div>
					<!-- /.swiper__arrow -->

				</div>
			</div>
			<!-- /.tabs__inner -->
			{% endfor %}

		</div>
		<!-- /.tabs -->

	</div>
	<!-- /.block__section -->
</div>
<!-- /.block -->
