.footer {
	min-width: 1200px;
	height: 225px;
	box-shadow: 0 2px 53px 0 rgba(0, 0, 0, 0.13);
	background: #f3f3f3 url("../images/footer.svg") no-repeat center 41px;
	position: relative;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;

	&__top {}

	&__inner {
		width: 1156px;
		margin: 0 auto;
	}

	&__top &__inner {
		height: 160px;
		padding: 21px 0 0;
		border-bottom: 1px solid #d8d8d8;
	}

	&__copyright {
		color: #58585a;
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 10px;
	}

	&__phones {
		margin-bottom: 28px;

		a {
			margin-right: 30px;
			color: #000000;
			font-size: 18px;
			font-weight: 500;
			line-height: 24px;
			text-decoration: none;
		}
	}

	&__emails {
		margin-bottom: 25px;

		a {
			margin-right: 70px;

			@include link;
		}
	}

	&__row {
		height: calc(225px - 160px);
	}

	&__boss {
		width: 240px;
		height: 32px;
		border-radius: 5px;
		text-decoration: none;
		color: #ffffff;
		font-size: 15px;
		font-weight: 500;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;

		@include bgRed;
	}

	&__info {
		color: #58585a;
		text-decoration: none;
		margin-left: -26px;
	}

	@media (--phone) {
		width: 100%;
		min-width: 320px;
		padding: 24px 16px 0;
		position: relative;
		bottom: auto;
		left: auto;
		top: auto;
		height: auto;
		background-position: center 245px;
		background-size: 112px 128px;
		transition: transform 400ms;

		&:before {
			content: '';
			display: block;
			width: 214px;
			height: 52px;
			background: url(../images/hausdorf-logo.svg) no-repeat;
			margin: 0 auto 24px;
		}

		body.menu-open & {
			transform: translate(100%, 0);
			position: fixed;
			left: 0;
			top: 100vh;
			width: 100%;
		}

		&__top {}

		&__inner {
			width: 100%;
		}

		&__top &__inner {
			height: auto;
			padding-top: 0;

			[class*=col-] {
				position: static;
			}
		}

		&__phones {
			display: flex;
			justify-content: space-between;
			margin-bottom: 0;

			a {
				font-size: 14px;
				display: block;
				margin: 0;
			}
		}

		&__emails {
			display: flex;
			justify-content: space-between;
			margin-bottom: 12px;
			padding-bottom: 15px;
			border-bottom: 1px solid #d8d8d8;

			a {
				font-size: 14px;
				display: block;
				margin: 0;
			}
		}

		&__row {
			height: auto;
			padding: 16px 0;
		}

		&__boss {
			margin: 0 auto 10px;
			width: 100%;
		}

		&__info {
			display: block;
			margin: 0 0 28px;
			text-align: center;
			font-size: 12px;
		}

		&__copyright {
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
			bottom: 35px;
			font-size: 12px;
		}
	}
}
