{% include "footer/footer-info/footer-info.njk" %}

<footer class="footer">
	<div class="footer__top">
		<div class="footer__inner">

			<div class="row">
				<div class="col-sm-6">

					<div class="footer__copyright">
						&copy; 2009-2018 Бутик бытовой техники Hausdorf
					</div>
					<div class="footer__phones">
						<a href="tel:+74956029621">+7 (495) 602-96-21</a>
						<a href="tel:+78003331052">+7 (800) 333-10-52</a>
					</div>
					<div class="footer__emails">
						<a href="mailto:shop@hausdorf.ru">shop@hausdorf.ru</a>
						<a href="mailto:client@hausdorf.ru">client@hausdorf.ru</a>
					</div>

				</div>
				<!-- /.col-sm-6 -->
				<div class="col-sm-6">

					{% include "menu/menu-footer/menu-footer.njk" %}

				</div>
				<!-- /.col-sm-6 -->
			</div>
			<!-- /.row -->

		</div>
		<!-- /.footer__inner -->
	</div>
	<!-- /.footer__top -->

	<div class="footer__bottom">
		<div class="footer__inner">

			<div class="footer__row row align-items-center">
				<div class="col-sm-4 order-2 order-sm-1">

					<a href="#" class="footer__boss">Пожаловаться руководству</a>

				</div>
				<!-- /.col-sm-4 order-2 order-sm-1 -->
				<div class="col-sm-3 order-3 order-sm-2">

					<a href="#" class="footer__info">Политика конфиденциальности</a>

				</div>
				<!-- /.col-sm-3 order-3 order-sm-2 -->

				<div class="col-sm-2 order-4 order-sm-3">

					{% from "footer/footer-icons/footer-icons.njk" import footerIcons %}

					{{
						footerIcons (arr= [
							'images/visa.svg',
							'images/mastercard.svg'
						])
					}}

				</div>
				<!-- /.col-sm-2 order-4 order-sm-3 -->

				<div class="col-sm-3 order-1 order-sm-4">

					{{
						footerIcons (
							mod= 'footer-icons_social',
							arr= [
							'images/vk.svg',
							'images/facebook.svg',
							'images/instagram.svg',
							'images/ok.svg'
						])
					}}

				</div>
				<!-- /.col-sm-3 order-1 order-sm-4 -->
			</div>
			<!-- /.footer__row row align-items-center -->

		</div>
		<!-- /.footer__inner -->
	</div>
	<!-- /.footer__bottom -->
</footer>
<!-- /.footer -->

{% include "footer/scroll-up/scroll-up.njk" %}
