.detail-complect {
	margin-bottom: 28px;

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		color: rgb(0, 0, 0);
		margin-bottom: 16px;
	}

	&__section {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		margin: 0 -8px;
	}

	&__col {
		padding: 0 8px 16px;
		width: 25%;
		flex-shrink: 0;
	}

	&__item {
		height: 100%;
		padding: 8px 8px 16px;
		border-radius: 5px;
		border: solid 1px rgb(235, 235, 235);
		background-color: rgb(255, 255, 255);
		transition: all 500ms;

		&:hover {
			box-shadow: 0 2px 58px 0 rgba(0, 0, 0, 0.09);
		}
	}

	&__photo {
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 16px;
		position: relative;
	}

	&__link {
		display: block;
	}

	&__pic {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}

	&__name {
		margin-bottom: 8px;
		font-size: 14px;
		line-height: 1.43;
		letter-spacing: 0.1px;
		color: rgb(26, 26, 26);
	}

	&__namelink {
		color: rgb(26, 26, 26);

		span {
			display: block;
			color: rgb(163, 163, 163);
			font-weight: normal;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		b {
			display: block;
			font-weight: normal;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 40px;
	}

	&__price {
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.1px;
		color: rgb(0, 0, 0);

		&-old {
			font-size: 12px;
			letter-spacing: 0.1px;
			color: rgb(77, 115, 153);
			text-decoration: line-through;
			font-weight: 300;
			line-height: 12px;
		}
	}

	&__buy {}

	&__footer {
		position: relative;
		padding-top: 8px;

		&:before {
			height: 1px;
			background-color: rgb(165, 165, 166);
			width: 100%;
			left: 0;
			top: 50%;
			position: absolute;
			content: "";
		}
	}

	&__more {
		@include button($w: 206px, $h: 40px, $bdrs: 20px, $bgc: #fff, $c: rgb(221, 0, 22), $m: 0 auto, $d: flex, $bd: solid 1px rgb(165, 165, 166));

		position: relative;
	}

	@media (max-width: 768px) {
		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			color: rgb(0, 0, 0);
			margin-bottom: 8px;
		}

		&__section {}

		&__col {
			width: 100%;
		}
	}
}
