<div class="detail-complect">
	<div class="detail-complect__title">Варианты других цветов De Dietrich DPI7572G</div>
	<div class="detail-complect__section">
		{% for item in '12345678' %}
		<div class="detail-complect__col">
			<div class="detail-complect__item">
				<div class="detail-complect__photo">
					<a href="#" class="detail-complect__link">
						<img data-src="images/detail-complect__pic.jpg" alt="" class="detail-complect__pic lazyload">
					</a>
				</div>
				<div class="detail-complect__content">
					<div class="detail-complect__name">
						<a href="#" class="detail-complect__namelink">
							<span>BLANCO Axia III 6S</span>
							<b>Шампань</b>
						</a>
					</div>
					<div class="detail-complect__buttons">
						<div class="detail-complect__price">
							176 990 руб.
						</div>
						<a href="#" class="detail-complect__buy button-buy"></a>
					</div>
				</div>
			</div>
			<!-- /.detail-complect__item -->
		</div>
		<!-- /.detail-complect__col -->
		{% endfor %}
	</div>
	<div class="detail-complect__footer">
		<a href="#" class="detail-complect__more">Загрузить еще</a>
	</div>
</div>