.menu-content {
	display: flex;
	align-items: center;

	&__link {
		border-radius: 8px;
		border: solid 1px rgb(215, 215, 215);
		font-size: 14px;
		color: rgb(88, 88, 90);
		display: flex;
		height: 40px;
		align-items: center;
		padding: 0 24px;
		position: relative;
		transition: all 400ms;
		margin-left: 8px;
		white-space: nowrap;

		&:first-child {
			margin-left: 0;
		}

		span {
			position: relative;
		}

		b {
			font-weight: bold;
			color: var(--cherry);
			margin-left: 2px;
		}
	}

	&__link.active,
	&__link:hover {
		font-weight: 500;
		color: rgb(0, 0, 0);
		background-color: rgb(255, 255, 255);
	}

	@media (--phone) {
		display: flex;
		background-color: transparent;
	}
}
