{%
	macro menuContent(
		arr = [ '<span>Товаров <b>5</b></span>', '<span>Новостей <b>2</b></span>', '<span>Отзывы о товарах <b>8</b></span>' ],
		index = 1
	)
%}
	<div class="menu-content">
		{% for item in arr %}
			{% if loop.index == index %}
				<a href="#" class="menu-content__link active">
					{{ item | safe }}
				</a>
			{% else %}
				<a href="#" class="menu-content__link">
					{{ item | safe }}
				</a>
			{% endif %}
		{% endfor %}
	</div>
	<!-- /.menu-content -->
{% endmacro %}
