{% from "news/news-item/news-item.njk" import newsItem %}
<div class="news news_item">
	<div class="row">
		<div class="col-sm-3">
			{{ newsItem() }}
		</div>
		<!-- /.col-sm-3 -->
		<div class="col-sm-3">
			{{
				newsItem(
					title = 'Скидки до 50% с витрины!',
					src = 'images/news-item__pic2.jpg',
					text = 'Распродажа с витрины Hausdorf по беспрецедентным ценам! Скидки до 50%! '
				)
			}}
		</div>
		<!-- /.col-sm-3 -->
		<div class="col-sm-3">
			{{
				newsItem(
					title = 'Будущее разумной жизни',
					src = 'images/news-item__pic3.jpg',
					text = 'Теперь вашим холодильником Liebherr можно управлять, не находясь рядом с ним.'
				)
			}}
		</div>
		<!-- /.col-sm-3 -->
		<div class="col-sm-3">
			{{
				newsItem(
					title = 'Рейтинг бытовой техники',
					src = 'images/news-item__pic4.jpg',
					text = 'Подробный обзор бытовой техники для дома, чтобы сделать ваш выбор быстрым и удобным.'
				)
			}}
		</div>
		<!-- /.col-sm-3 -->
	</div>
	<!-- /.row -->
</div>
<!-- /.news news_item -->
