.compare-props {
	&__scroll {
		overflow-x: auto;

		/* @include scrollCss(); */
		-webkit-overflow-scrolling: touch;
	}

	&__row {
		margin-bottom: 16px;
		display: flex;
		align-items: stretch;
		display: flex;

		&.hide {
			display: none;
		}
	}

	&__item {
		flex-shrink: 0;
		width: 278px;
		padding: 0 24px 0 0;
	}

	&__title {
		font-size: 12px;
		font-weight: normal;
		color: rgb(88, 88, 90);
		margin-bottom: 2px;
	}

	&__prop {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.2;
		color: rgb(0, 0, 0);
	}

	&__sep {
		display: block;
		margin-bottom: 5px;
	}

	@media (--phone) {
		&__item {
			width: 148px;
		}

		&__row {
			margin-bottom: 8px;
		}

		&__title {
			font-size: 12px;
			line-height: 1.33;
			color: rgb(0, 0, 0);
		}

		&__prop {
			font-size: 12px;
			font-weight: 500;
			line-height: 1.5;
		}
	}
}
