{% macro compareProps(
		data = [
			{
				"row": [
					{
						"title": "Вид",
						"props": "индукционная"
					},
					{
						"title": "Вид",
						"props": "индукционная"
					},
					{
						"title": "Вид",
						"props": "индукционная"
					},
					{
						"title": "Вид",
						"props": "индукционная"
					},
					{
						"title": "Вид",
						"props": "индукционная"
					},
					{
						"title": "Вид",
						"props": "индукционная"
					},
					{
						"title": "Вид",
						"props": "индукционная"
					},
					{
						"title": "Вид",
						"props": "индукционная"
					}
				]
			},
			{
				"row": [
					{
						"title": "Установка",
						"props": "независимая"
					},
					{
						"title": "Установка",
						"props": "независимая"
					},
					{
						"title": "Установка",
						"props": "независимая"
					},
					{
						"title": "Установка",
						"props": "независимая"
					},
					{
						"title": "Установка",
						"props": "независимая"
					},
					{
						"title": "Установка",
						"props": "независимая"
					},
					{
						"title": "Установка",
						"props": "независимая"
					},
					{
						"title": "Установка",
						"props": "независимая"
					}
				]
			},
			{
				"row": [
					{
						"title": "Способ подключения",
						"props": "электрическая"
					},
					{
						"title": "Способ подключения",
						"props": "электрическая"
					},
					{
						"title": "Способ подключения",
						"props": "электрическая"
					},
					{
						"title": "Способ подключения",
						"props": "электрическая"
					},
					{
						"title": "Способ подключения",
						"props": "электрическая"
					},
					{
						"title": "Способ подключения",
						"props": "электрическая"
					},
					{
						"title": "Способ подключения",
						"props": "электрическая"
					},
					{
						"title": "Способ подключения",
						"props": "механическая"
					}
				]
			},
			{
				"row": [
					{
						"title": "Высота (см)",
						"props": "6.4"
					},
					{
						"title": "Высота (см)",
						"props": "6.4"
					},
					{
						"title": "Высота (см)",
						"props": "6.4"
					},
					{
						"title": "Высота (см)",
						"props": "6.4"
					},
					{
						"title": "Высота (см)",
						"props": "6.4"
					},
					{
						"title": "Высота (см)",
						"props": "6.4"
					},
					{
						"title": "Высота (см)",
						"props": "6.4"
					},
					{
						"title": "Высота (см)",
						"props": "6"
					}
				]
			}
		]
	)
%}

<div class="compare-props">
	<div class="compare-props__scroll" data-compare-scroll>
		{% for item in data %}
			<div class="compare-props__row" data-compare-row>
				{% for i in item.row %}
					<div class="compare-props__item">
						<div class="compare-props__title">
							{{ i.title | safe }}
						</div>
						<!-- /.compare-props__title -->
						<div class="compare-props__prop" data-compare-prop>
							{{ i.props | safe }}
						</div>
						<!-- /.compare-props__prop -->
					</div>
					<!-- /.compare-props__item -->
				{% endfor %}
			</div>
			<!-- /.compare-props__row -->
		{% endfor %}
	</div>
	<!-- /.compare-props__scroll -->
</div>
<!-- /.compare-props -->

{% endmacro %}
