.header-search {
	background-image: linear-gradient(to top, #d7d7d7, #f5f7fa);
	padding: 24px 24px 64px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	z-index: 100000;
	opacity: 0;
	pointer-events: none;
	transition: .4s;

	&.active {
		opacity: 1;
		pointer-events: auto;
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		cursor: pointer;
		z-index: 2;

		&:before,
		&:after {
			position: absolute;
			left: 50%;
			margin: -1px 0 0 -8px;
			top: 50%;
			height: 2px;
			width: 16px;
			background: #a5a5a6;
			content: '';
			transform-origin: 50% 50%;
		}

		&:before {
			transform: rotate(-45deg);
		}

		&:after {
			transform: rotate(45deg);
		}
	}

	&__inner {
		margin: 0 auto;
		width: 1156px;
	}

	&__logo {
		background: url(../images/hdlogo.svg) no-repeat center;
		width: 50px;
		height: 54px;
		margin: 0 auto 72px;
	}

	&__middle {}

	&__form {
		width: 890px;
		border-bottom: 1px solid #d7d7d7;
		position: relative;
		display: block;
		margin: 0 auto 16px;
	}

	&__input {
		border: none;
		height: 56px;
		font-size: 16px;
		width: 100%;
		text-align: center;
		background: none;
	}

	&__submit {
		position: absolute;
		left: 0;
		top: 0;
		width: 56px;
		height: 56px;
		border: none;
		background: url("../images/header-search.svg") no-repeat left center;
	}

	&__hints {
		display: flex;
		margin-bottom: 64px;
		justify-content: center;

		div {
			display: none;
		}

		span {
			cursor: pointer;
			margin: 0 8px;
			font-size: 16px;
			color: #000000;
			transition: .4s;

			&:hover {
				color: #dd0016;
			}
		}
	}

	&__products {}

	&__choice {
		padding-top: 4px;
	}

	@media (max-width: 767px) {
		background: #fff;
		padding: 0 16px 64px;

		&__close {
			height: 48px;
			width: 48px;
		}

		&__inner {
			width: 100%;
		}

		&__logo {
			display: none;
		}

		&__middle {}

		&__form {
			width: calc(100% + 32px);
			margin: 0 -16px 16px;
		}

		&__input {
			height: 48px;
			font-size: 14px;
		}

		&__submit {
			width: 48px;
			height: 48px;
			background: url("../images/header-search.svg") no-repeat center;
		}

		&__hints {
			margin-bottom: 16px;
			display: block;

			div {
				display: block;
				font-size: 12px;
				line-height: 1.67;
				color: #58585a;
				margin-bottom: 2px;
			}

			span {
				font-size: 12px;
				font-weight: 500;
				margin: 0 24px 8px 0;
			}
		}

		&__products {}

		&__choice {
			padding-top: 0;
			margin-top: -16px;
		}

		.swiper__arrow {
			display: flex;
			left: 0;
			right: 0;
			width: 100%;
			top: 50%;
			margin: -32px 0 0;
		}

		.swiper__prev {
			border-radius: 4px;
			background: rgba(26, 26, 26, 0.3) url(../images/swiper__next_banner.svg) no-repeat 50%;
			transform: rotate(-180deg);
			width: 24px;
			height: 36px;
			background-size: auto 60%;
			margin-top: -17px;
		}

		.swiper__next {
			border-radius: 4px;
			background: rgba(26, 26, 26, 0.3) url(../images/swiper__next_banner.svg) no-repeat 50%;
			width: 24px;
			height: 36px;
			background-size: auto 60%;
			margin-top: -17px;
		}
	}
}
