<div class="header-search active">
	<div class="header-search__close"></div>
	<div class="header-search__inner">
		<div class="header-search__logo"></div>
		<div class="header-search__middle">
			<form action="#" class="header-search__form">
				<input type="text" class="header-search__input js-header-search__input" value="">
				<input type="submit" class="header-search__submit" value="">
			</form>
			<div class="header-search__hints">
				<div>Часто ищут:</div>
				<span class="js-form__hint">акции</span>
				<span class="js-form__hint">новинки</span>
				<span class="js-form__hint">холодильники смег</span>
				<span class="js-form__hint">дизайнерские вытяжки</span>
			</div>
			<script>
			var inputSearch = document.querySelector('.js-header-search__input');
			inputSearch.focus();
			[].forEach.call(document.querySelectorAll('.js-form__hint'), function(item) {
				item.addEventListener('click', function() {
					inputSearch.value = this.innerHTML;
					inputSearch.parentNode.submit()
				})
			})
			</script>
		</div>
		<div class="header-search__products">
			
			<div class="title title_small">Холодильники Liebherr</div>

			{% from "catalog/catalog-thumb-small/catalog-thumb-small.njk" import thumbSmall %}

			<div class="swiper">
				<div class="swiper-container" data-swiper data-options='{"slidesPerView":5,"spaceBetween":16,"breakpoints":{"768":{"slidesPerView":"auto","spaceBetween":20,"slidesPerGroup":1}}}'>
					<div class="swiper-wrapper">
						{% for item in [1, 2] %}
						<div class="swiper-slide">
							{{
								thumbSmall(
									footer = 'false',
									available = 'false',
									src = 'images/catalog-thumb-small__pic2.jpg'
								)
							}}
						</div>
						<div class="swiper-slide">
							{{
								thumbSmall(
									footer = 'false',
									available = 'false',
									src = 'images/catalog-thumb-small__pic2.jpg'
								)
							}}
						</div>
						<div class="swiper-slide">
							{{
								thumbSmall(
									footer = 'false',
									available = 'false',
									src = 'images/catalog-thumb-small__pic2.jpg'
								)
							}}
						</div>
						<div class="swiper-slide">
							{{
								thumbSmall(
									footer = 'false',
									available = 'false',
									src = 'images/catalog-thumb-small__pic2.jpg'
								)
							}}
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="swiper__arrow swiper__arrow_right">
					<div class="swiper__prev swiper__prev_round swiper__bdrs js-swiper__prev"></div>
					<div class="swiper__next swiper__next_round swiper__bdrs js-swiper__next"></div>
				</div>
			</div>

		</div>
		<div class="header-search__choice">
			{% include "filter/filter-choice/filter-choice.njk" %}
		</div>
	</div>
</div>