.form {
	.row {
		margin-left: -20px;
		margin-right: -20px;

		[class*=col-] {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&__row {
		margin: 0 -20px;
		display: flex;
	}

	&__col {
		padding: 0 20px;

		&:nth-child(1) {
			width: calc(474px + 40px);
		}

		&:nth-child(2) {
			width: calc(100% - (474px + 40px));
		}
	}

	&__title {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 24px;
	}

	&__field {
		margin-bottom: 16px;
		position: relative;
	}

	&__input {
		width: 100%;
		height: 48px;
		box-shadow: inset 0 2px 5px rgba(102, 113, 123, 0.1), inset 0 0 0 1px rgba(102, 113, 123, 0.25);
		border-radius: 5px;
		border: 1px solid rgb(215, 215, 215);
		background-color: rgb(255, 255, 255);
		padding: 0 16px;
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 700;
		line-height: 1;
		appearance: none;
		display: block;

		&_msg {
			height: 112px;
			padding-top: 22px !important;
			padding-bottom: 15px;
		}

		&_textarea {
			height: 144px;
			margin-bottom: 23px;
		}
	}

	&__field:hover &__input,
	&__input:focus,
	&__input_full {
		padding-top: 10px;
		box-shadow: 0 0 5px rgba(115, 201, 255, 0.25), inset 0 2px 5px rgba(102, 113, 123, 0.1), inset 0 0 0 1px rgb(115, 201, 255);
		border: 1px solid rgb(115, 201, 255);
	}

	&__input_full {
		box-shadow: inset 0 2px 5px rgba(102, 113, 123, 0.1), inset 0 0 0 1px rgba(102, 113, 123, 0.25);
		border-radius: 5px;
		border: 1px solid rgb(88, 88, 90);
	}

	&__label {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		color: rgb(165, 165, 166);
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
		width: 100%;
		padding: 0 16px;
		pointer-events: none;
		margin: 0;
		transform: translate(0, 0);
		transition: transform 400ms, font-size 400ms;
	}

	&__requiredtext {
		position: absolute;
		pointer-events: none;
		color: rgb(215, 215, 215);
		font-size: 11px;
		font-weight: 400;
		right: 0;
		top: 0;
		height: 100%;
		width: 100%;
		padding: 0 16px 0 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		line-height: 1;
		transform: translate(0, 0);
		transition: transform 400ms;
	}

	&__field:hover &__label,
	&__input:focus ~ &__label,
	&__input_full ~ &__label {
		font-size: 11px;
		transform: translate(0, -13px);
	}

	&__field:hover &__requiredtext,
	&__input:focus ~ &__requiredtext,
	&__input_full ~ &__requiredtext {
		transform: translate(0, -13px);
	}

	&__input_msg ~ &__label {
		align-items: flex-start;
		padding: 16px;
	}

	&__input_msg ~ &__requiredtext {
		align-items: flex-start;
		padding-top: 19px;
	}

	&__field:hover &__input_msg + &__label,
	&__input_msg.form__input_full ~ &__label,
	&__input_msg:focus ~ &__label {
		transform: translate(0, -11px) !important;
	}

	&__submit {
		@include button($w: 100%);

		max-width: 255px;

		.contact-form & {
			max-width: 210px;
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media (--phone) {
		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		&__row {
			flex-wrap: wrap;
		}

		&__col {
			width: 100%;

			&:nth-child(1),
			&:nth-child(2) {
				width: 100%;
			}
		}

		&__input {
			&_textarea {
				height: 151px;
			}
		}

		&__footer {
			flex-direction: column;
		}

		.contact-form &__submit,
		&__submit {
			max-width: none;
		}
	}
}
