.about-main {
	position: relative;
	margin-bottom: 16px;
	overflow: hidden;
	border-radius: 5px;

	&__inner {}

	&__pic {
		display: block;
		width: 100%;
	}

	&__desc {
		box-shadow: 0 18px 29px rgba(0, 0, 0, 0.15);
		border-radius: 8px;
		background-color: rgba(0, 0, 0, 0.55);
		position: absolute;
		left: 24px;
		right: 24px;
		bottom: 40px;
		padding: 37px 40px 5px;

		&:before {
			position: absolute;
			left: 41px;
			width: 48px;
			height: 52px;
			top: -28px;
			background: url("../images/about-main__desc.svg") no-repeat;
			content: '';
		}
	}

	&__title {
		color: rgb(255, 255, 255);
		font-size: 32px;
		font-weight: 500;
		line-height: 32px;
		margin-bottom: 11px;
	}

	&__text {
		color: rgb(255, 255, 255);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 21px;
	}

	&__line {
		border: 1px solid rgba(255, 255, 255, 0.17);
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 22px 0 27px;
	}

	&__link {}

	&__brand {}

	@media (--phone) {
		height: 599px;
		margin: 0 -16px 16px;
		border-radius: 0;

		&__inner {}

		&__pic {}

		&__desc {
			left: 16px;
			right: 16px;
			bottom: 24px;
			top: auto;
			padding: 36px 16px 32px;

			&:before {
				left: 16px;
				top: -26px;
			}
		}

		&__title {
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 9px;
		}

		&__text {
			font-size: 10px;
			line-height: 2;
			margin-bottom: 13px;
		}

		&__line {
			border-top: none;
		}

		&__footer {
			padding: 17px 0 0;
			margin-bottom: -18px;
			flex-wrap: wrap;
			justify-content: center;
		}

		&__link {
			width: calc(100% / 3);
			padding: 0 8px 8px;
		}

		&__brand {
			max-width: 100%;
		}
	}
}
