.menu-brand-list {
	width: 1156px;
	margin-left: -219px;
	position: relative;
	top: 8px;

	&__inner {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		pointer-events: none;
		box-shadow: 0 2px 46px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		background-color: #ffffff;
		padding: 24px 40px 45px;
		border: 4px solid #dd0016;
		width: 100%;
		transition: opacity 500ms;
	}

	.menu-brand-show &__inner {
		opacity: 1;
		pointer-events: auto;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		columns: 7;
	}

	&__item {
		margin-bottom: 4px;
	}

	&__item_selected &__link {
		&:before {
			width: 6px;
			height: 6px;
			background-color: rgb(221, 0, 22);
			border-radius: 50%;
			content: '';
			top: 5px;
			left: -15px;
			position: absolute;
		}
	}

	&__link {
		font-size: 14px;
		line-height: 1.43;
		color: rgb(0, 0, 0);
		position: relative;
	}

	@media (--phone) {
		width: 100%;
		margin: 0;
		top: auto;
		display: none;

		.header__brandshow.active ~ & {
			display: block;
		}

		&__inner {
			position: static;
			opacity: 1;
			border: none;
			padding: 16px 15px 0;
			background: none;
			box-shadow: none;
		}

		&__list {
			columns: 2;
		}

		&__item {
			margin-bottom: 4px;
		}

		&__item_selected &__link {
			&:before {
				width: 6px;
				height: 6px;
				background-color: rgb(221, 0, 22);
				border-radius: 50%;
				content: '';
				top: 5px;
				left: -15px;
				position: absolute;
			}
		}

		&__link {
			font-size: 14px;
			line-height: 1.43;
			color: rgb(0, 0, 0);
			position: relative;
		}
	}
}
