{% set lists = [
	'AEG',
	'Asko',
	'Bang & Olufsen',
	'Barazza',
	'Bertazzoni',
	'Big Green Egg',
	'Blanco',
	'Bone Crusher',
	'BORA',
	'BORK',
	'De Dietrich',
	'Dunavox',
	'Electrolux',
	'Elica',
	'EuroCave',
	'Faber',
	'Falmec',
	'Fhiaba',
	'Franke',
	'Fulgor Milano',
	'Gaggenau',
	'Gemm',
	'Gorenje',
	'Gorenje Plus',
	'Graude',
	'Gutmann',
	'Hitachi',
	'Ilve',
	'In Sink Erator',
	'IO MABE',
	'IP',
	'iRobot',
	'Jura',
	'Kaiser',
	'KitchenAid',
	'Korting',
	'Kuppersberg',
	'Kuppersbusch',
	'La Sommeliere',
	'Laurastar',
	'LG',
	'Liebherr',
	'Lofra',
	'Maunfeld',
	'Maytag',
	'Miele',
	'Mitsubishi Electric',
	'Neff',
	'NOVIS',
	'Other',
	'Panasonic',
	'Philips',
	'Restart',
	'Samsung',
	'Sharp',
	'Siemens',
	'Smeg',
	'Sony',
	'SUB-ZERO',
	'Teka',
	'V-ZUG',
	'Vestfrost',
	'Whirlpool',
	'WMF',
	'Wolf',
	'Zigmund Shtain'
] %}

<div class="menu-brand-list">
	<div class="menu-brand-list__inner">
		<ul class="menu-brand-list__list">
			{% for item in lists %}
			<li class="menu-brand-list__item {% if loop.index == 1 or loop.index == 2 or loop.index == 10 or loop.index == 15 or loop.index == 19 %}menu-brand-list__item_selected{% endif %}">
				<a href="#" class="menu-brand-list__link">
					{{ item }}
				</a>
			</liclass="menu-brand-list__item>
			{% endfor %}
		</ul>
	</div>
	<!-- /.menu-brand-list__inner -->
</div>
<!-- /.menu-brand-list -->