<div class="confirm">
	<div class="confirm__toptext">
		Ваш заказ <b>№ 23579</b> от 12.11.2018 успешно сформирован. В ближайшее время с вами свяжется менеджер.
	</div>
	<!-- /.confirm__toptext -->
	<div class="confirm__title">
		Состав заказа
	</div>
	<!-- /.confirm__title -->
	<table class="confirm__table">
		<tr>
			<th colspan="2">Товар</th>
			<th>Цена</th>
			<th>Количество</th>
			<th>Стоимость</th>
		</tr>
		<tr>
			<td>
				<img data-src="images/confirm__pic.png" alt="" class="confirm__pic lazyload" />
			</td>
			<td>
				<a href="#" class="confirm__name">
					Стиральная машина V-ZUG WAASLQ li
				</a>
			</td>
			<td data-text="Цена">
				905 100 руб.
			</td>
			<td data-text="Количество">
				2
			</td>
			<td data-text="Стоимость">
				1 810 200 руб.
			</td>
		</tr>
		<tr>
			<td>
				<img data-src="images/confirm__pic.png" alt="" class="confirm__pic lazyload" />
			</td>
			<td>
				<a href="#" class="confirm__name">
					Варочная панель De Dietrich DPI7572G
				</a>
			</td>
			<td data-text="Цена">
				905 100 руб.
			</td>
			<td data-text="Количество">
				2
			</td>
			<td data-text="Стоимость">
				95 100 руб.
			</td>
		</tr>
	</table>
	<!-- /.confirm__table -->
	<div class="confirm__footer">
		<div class="confirm__row">
			<div class="confirm__col">
				Сумма к оплате:
			</div>
			<!-- /.confirm__col -->
			<div class="confirm__col">
				<b class="confirm__total">1 905 300 руб.</b>
			</div>
			<!-- /.confirm__col -->
		</div>
		<!-- /.confirm__row -->
		<div class="confirm__row">
			<div class="confirm__col">
				Выбранный способ оплаты:
			</div>
			<!-- /.confirm__col -->
			<div class="confirm__col">
				<b class="confirm__payment">Наличными при доставке</b>
			</div>
			<!-- /.confirm__col -->
		</div>
		<!-- /.confirm__row -->
	</div>
	<!-- /.confirm__footer -->
</div>
<!-- /.confirm -->
