{% macro swiperBanner(
		src = 'images/swiper-banner__pic1.jpg',
		src768 = 'images/swiper-banner__pic1_768w.jpg',
		title = 'Стиральные машины Asko',
		text = 'Стиральные машины Asko — эта вершина в производстве бытовой техники. Самое главное преимущество стиральных машин Asko заключается, в использовании уникальных технологий!',
		button = 'Все стиральные машины Asko',
		videoButton = 'show'
	)
%}
	<div class="swiper-banner">
		<div class="swiper">
			<div class="swiper-container" data-swiper="data-swiper" data-options='{"slidesPerView":1,"spaceBetween":16}'>
				<div class="swiper-wrapper">
					{% for item in[1, 2, 3, 4] %}
						<div class="swiper-slide">
							<div class="swiper-banner__item">
								<img class="swiper-banner__pic lazyload" data-srcset="{{ src768 }} 768w, {{ src }} 4000w" data-src="{{ src }}"/>
								<div class="swiper-banner__desc">
									<div class="swiper-banner__desc-top">
										<div class="swiper-banner__title">
											{{ title | safe }}
										</div>
										<div class="swiper-banner__text">
											{{ text }}
										</div>
									</div>
									<div class="swiper-banner__desc-bottom">
										<a class="swiper-banner__button" href="#">
											{{ button }}
										</a>
									</div>
								</div>
								{% if videoButton == 'show' %}
									<a class="swiper-banner__play" href="#"></a>
								{% endif %}
							</div>
						</div>
						<!-- /.swiper-slide -->
					{% endfor %}
				</div>
			</div>
			<div class="swiper__arrow swiper__arrow_banner">
				<div class="swiper__prev swiper__prev_banner js-swiper__prev"></div>
				<div class="swiper__next swiper__next_banner js-swiper__next"></div>
			</div>
		</div>
	</div>
	<!-- /.swiper-banner -->
{% endmacro %}
