.catalog-item {
	background-color: #ffffff;
	transition: box-shadow 400ms;
	padding: 0 16px 19px;
	margin-bottom: 24px;
	height: 100%;

	&:hover {
		box-shadow: 0 2px 25px rgba(0, 0, 0, 0.14);
	}

	&__photo {
		height: 165px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__link {
		display: block;
	}

	&__pic {
		max-height: 150px;
		max-width: 100%;
	}

	&__title {
		margin-bottom: 23px;
		color: #000000;
		font-size: 13px;
		line-height: 1.85;
	}

	&__titlelink {
		color: #000000;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__col {}

	&__price {
		color: #000000;
		font-size: 20px;
		font-weight: 500;

		span {
			font-size: 14px;
		}
	}

	&__buy {
		width: 24px;
		height: 24px;
		background: url("../images/buy-small.svg") no-repeat;
		display: block;
		transition: .4s;

		&:hover,
		&.active {
			background: url(../images/buy-small-active.svg) no-repeat center;
		}
	}

	@media (--phone) {
		margin-bottom: 16px;
	}
}
