{% macro catalogItem(
		name = 'Холодильник Smeg FAB28LUJ1',
		src = 'images/catalog-item__pic.jpg',
		price = '1 850 '
	)
%}
	<div class="catalog-item">
		<div class="catalog-item__photo">
			<a class="catalog-item__link" href="#">
				<img class="catalog-item__pic lazyload" data-src="{{ src }}" alt=""/>
			</a>
		</div>
		<div class="catalog-item__title" data-mh="catalog-thumb-name">
			<a class="catalog-item__titlelink" href="#">
				{{ name }}
			</a>
		</div>
		<div class="catalog-item__footer">
			<div class="catalog-item__col">
				<div class="catalog-item__price">
					{{ price }}
					<span>руб.</span>
				</div>
			</div>
			<div class="catalog-item__col">
				<a class="catalog-item__buy" href="#"></a>
			</div>
		</div>
	</div>
{% endmacro %}
