
{% set checkboxesTop = [ 'Miele', 'Smeg', 'Neff', 'Gaggenau', 'Kuppersbush', 'AEG', 'Bosch', 'Gorenje', 'Korting', 'LG', 'Maunfeld', 'Siemens', 'Teka', 'Whirlpool' ] %}

{% set checkboxesActive = [ 'Miele', 'Smeg', 'Neff', 'Gaggenau', 'Kuppersbush', 'AEG', 'Bosch', 'Gorenje', 'Korting', 'LG', 'Maunfeld', 'Siemens', 'Teka', 'Whirlpool', 'Miele' ] %}

{% set checkboxesDisable = [ 'Miele', 'Smeg', 'Neff', 'Gaggenau', 'Kuppersbush', 'AEG', 'Bosch', 'Gorenje', 'Korting', 'LG', 'Maunfeld', 'Siemens', 'Teka', 'Whirlpool', 'Miele', 'Smeg', 'Neff', 'Gaggenau', 'Kuppersbush', 'AEG', 'Bosch', 'Gorenje' ] %}

<div class="filter-brands">
	<div class="filter-brands__buttons">
		<a href="#" class="filter-brands__btn filter-brands__btn_all">Все бренды</a>
		<a href="#" class="filter-brands__btn filter-brands__btn_madecountry">Сделано в Германии</a>
	</div>
	<div class="filter-brands__topcheckboxes">
		<div class="filter-brands__blocks">
			{% for item in checkboxesTop %}
			<a href="#" class="filter-brands__lnk">{{ item }}</a>
			{#
			<label class="filter-brands__checkbox">
				<input type="checkbox" class="filter-brands__input">
				<span class="filter-brands__text">{{ item }}</span>
			</label>
			#}
			{% endfor %}
		</div>
	</div>
	<div class="filter-brands__btnOther">
		<div class="filter-brands__btn filter-brands__btn_show">Другие бренды</div>
	</div>
	<div class="filter-brands__other">
		<div class="filter-brands__title">Бренды</div>
		<div class="filter-brands__section">
			{% for item in checkboxesActive %}
			<a href="#" class="filter-brands__lnk">{{ item }}</a>
			{#
			<label class="filter-brands__checkbox">
				<input type="checkbox" class="filter-brands__input">
				<span class="filter-brands__text">{{ item }}</span>
			</label>
			#}
			{% endfor %}
		</div>
		<div class="filter-brands__title">Бренды не представленные в данной категории:</div>
		<div class="filter-brands__section">
			{% for item in checkboxesDisable %}
			<a href="#" class="filter-brands__lnk disable">{{ item }}</a>
			{#
			<label class="filter-brands__checkbox">
				<input type="checkbox" class="filter-brands__input">
				<span class="filter-brands__text">{{ item }}</span>
			</label>
			#}
			{% endfor %}
		</div>
	</div>
</div>