.filter-brands {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 32px;

	&__buttons {
		width: 122px;
		position: absolute;
		left: 0;
		top: 0;
	}

	&__btn {
		&_all {
			width: 118px;
			height: 32px;
			border-radius: 5px;
			border: solid 1px #979797;
			background-color: #d7d7d7;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			font-weight: 500;
			text-align: center;
			color: #424242;
			margin-bottom: 4px;
		}

		&_madecountry {
			width: 118px;
			height: 32px;
			border-radius: 5px;
			background-color: #c4c4c4;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			padding: 0 8px;
			font-weight: 500;
			text-align: center;
			color: #424242;
		}

		&_show {
			width: 132px;
			height: 68px;
			border-radius: 5px;
			background-color: #c4c4c4;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			padding: 0 8px;
			font-weight: 500;
			text-align: center;
			color: #424242;
			cursor: pointer;
			position: relative;
			transition: .4s;

			&:before {
				position: absolute;
				left: 50%;
				bottom: 10px;
				width: 16px;
				height: 16px;
				background: url(../images/caret-down-filter.svg) no-repeat center;
				content: '';
				margin-left: -8px;
				z-index: 1;
				transition: .4s;
			}

			&:after {
				background: #f3f3f3;
				position: absolute;
				left: 0;
				bottom: -10px;
				right: 0;
				content: '';
				height: 30px;
				opacity: 0;
				transition: .4s;
			}
		}
	}

	&.active &__btn_show {
		background: #f3f3f3;

		&:before {
			transform: rotate(180deg);
		}

		&:after {
			opacity: 1;
		}
	}

	&__topcheckboxes {
		position: relative;
		padding-left: 122px;
		width: calc(100% - 133px);
	}

	&__blocks {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -2px;
	}

	&__checkbox {
		display: block;
		margin: 0 2px 4px;
		position: relative;
	}

	&__input {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}

	&__text {
		width: 118px;
		height: 32px;
		border-radius: 5px;
		background-color: #dd0016;
		font-size: 15px;
		font-weight: 500;
		text-align: center;
		color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: .4s;
	}

	&__lnk {
		width: 118px;
		height: 32px;
		border-radius: 5px;
		background-color: #dd0016;
		font-size: 15px;
		font-weight: 500;
		text-align: center;
		color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		margin: 0 2px 4px;
		transition: .4s;

		&:hover,
		&.active {
			background: #af0011;
			color: #560000;
		}

		&.disable {
			background-color: #c4c4c4;

			&:hover {
				color: #fff;
			}
		}
	}

	&__section &__text {
		width: 131px;
	}

	&__section &__lnk {
		width: 131px;
	}

	&__input:checked + &__text {
		background: #af0011;
		color: #560000;
	}

	&__input:disabled + &__text {
		background-color: #c4c4c4;
		pointer-events: none;
	}

	&__btnOther {
		width: 133px;
		flex-shrink: 0;
		display: flex;
		justify-content: flex-end;
	}

	&__other {
		border-radius: 5px;
		background-color: #f3f3f3;
		transition: .4s;
		max-height: 0;
		padding: 0 16px 0 16px;
		overflow: hidden;
	}

	&.active &__other {
		padding: 16px 16px 1px;
		max-height: 500px;
	}

	&__title {
		font-size: 14px;
		font-weight: bold;
		color: #000000;
		margin-bottom: 8px;
	}

	&__section {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -2px 32px;
	}
}
