<div class="brand-section">
	<div class="brand-section__more" data-toggle-class="data-toggle-class">Smeg</div>
	<div class="brand-section__inner">
		<div class="brand-section__row">
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic1.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Холодильники Smeg</a>
						</div>
						<div class="brand-section__price">от 35 090 до 943 990 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic2.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Винные шкафы Smeg</a>
						</div>
						<div class="brand-section__price">от 184 290 до 916 990 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic3.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Стиральные машины Smeg</a>
						</div>
						<div class="brand-section__price">от 65 890 до 120 390 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic4.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Сушильные машины Smeg</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic5.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Варочные панели Smeg</a>
						</div>
						<div class="brand-section__price">от 30 290 до 200 590 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic1.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Холодильники Smeg</a>
						</div>
						<div class="brand-section__price">от 35 090 до 943 990 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic2.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Винные шкафы Smeg</a>
						</div>
						<div class="brand-section__price">от 184 290 до 916 990 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic3.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Стиральные машины Smeg</a>
						</div>
						<div class="brand-section__price">от 65 890 до 120 390 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic4.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Сушильные машины Smeg</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic5.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Варочные панели Smeg</a>
						</div>
						<div class="brand-section__price">от 30 290 до 200 590 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic1.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Холодильники Smeg</a>
						</div>
						<div class="brand-section__price">от 35 090 до 943 990 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic2.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Винные шкафы Smeg</a>
						</div>
						<div class="brand-section__price">от 184 290 до 916 990 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic3.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Стиральные машины Smeg</a>
						</div>
						<div class="brand-section__price">от 65 890 до 120 390 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic4.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Сушильные машины Smeg</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic5.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Варочные панели Smeg</a>
						</div>
						<div class="brand-section__price">от 30 290 до 200 590 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic1.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Холодильники Smeg</a>
						</div>
						<div class="brand-section__price">от 35 090 до 943 990 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic2.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Винные шкафы Smeg</a>
						</div>
						<div class="brand-section__price">от 184 290 до 916 990 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic3.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Стиральные машины Smeg</a>
						</div>
						<div class="brand-section__price">от 65 890 до 120 390 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic4.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Сушильные машины Smeg</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
			<div class="brand-section__col">
				<div class="brand-section__item">
					<div class="brand-section__photo">
						<a href="#" class="brand-section__link">
							<img class="brand-section__pic lazyload" data-src="images/brand-section__pic5.png" alt=""/>
						</a>
					</div>
					<div class="brand-section__desc">
						<div class="brand-section__name">
							<a href="#" class="brand-section__namelink">Варочные панели Smeg</a>
						</div>
						<div class="brand-section__price">от 30 290 до 200 590 руб.</div>
					</div>
				</div>
			</div>
			<!-- /.brand-section__col -->
		</div>
	</div>
</div>
<!-- /.brand-section -->
