.brand-section {
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	padding: 24px 24px 1px;

	&__inner {}

	&__row {
		margin: 0 -25px;
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
	}

	&__col {
		padding: 0 25px;
		margin-bottom: 24px;
		width: 20%;
	}

	&__item {
		height: 100%;
		text-align: center;
		border-bottom: 1px solid rgb(243, 243, 243);
		position: relative;

		&:after {
			opacity: 0;
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			height: 2px;
			background-color: rgb(88, 88, 90);
			transition: opacity 400ms;
		}

		&:hover:after {
			opacity: 1;
		}
	}

	&__photo {
		height: 120px;
		margin-bottom: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__pic {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		max-height: 100%;
	}

	&__name {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		margin-bottom: 8px;
	}

	&__namelink {
		color: #000000;
		transition: color 400ms;

		&:hover {
			color: rgb(221, 0, 22);
		}
	}

	&__price {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 24px;
	}

	&__more {
		display: none;
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		border-radius: 0;
		padding: 16px 16px 49px;
		position: relative;

		&__more {
			position: absolute;
			left: 16px;
			bottom: 20px;
			font-size: 12px;
			color: #a5a5a6;
			border-bottom: 1px dotted;
			display: block;
			line-height: 14px;

			&:before {
				content: 'Показать все категории товаров';
				margin-right: 5px;
			}

			&.active:before {
				content: "Скрыть все категории товаров";
			}
		}

		&__inner {
			max-height: 346px;
			overflow: hidden;
			transition: max-height 400ms;
		}

		&__more.active + &__inner {
			max-height: 2000px;
		}

		&__col {
			margin-bottom: 0;
			width: 100%;
		}

		&__item {
			padding: 4px 0;
			height: auto;
			display: flex;
			align-items: center;
			text-align: left;
		}

		&__photo {
			width: 90px;
			margin-right: 16px;
			flex-shrink: 0;
			height: auto;
			margin-bottom: 0;
		}

		&__name {
			font-size: 12px;
			line-height: 1.5;
			margin-bottom: 0;
		}

		&__price {
			margin-bottom: 0;
			font-size: 12px;
			line-height: 1.5;
		}
	}
}
