{% from "rating-stars/rating-stars.njk" import rating %}
<div class="reviews-thumb">
	<div class="reviews-thumb__title">
		Капустина Екатерина
	</div>
	<div class="reviews-thumb__header">
		<div class="reviews-thumb__rate">
			{{
				rating(
					counter = 4,
					text = '4'
				)
			}}
		</div>
		<div class="reviews-thumb__date">
			15.10.2018
		</div>
	</div>
	<div class="reviews-thumb__name">
		<a href="#" class="reviews-thumb__namelink">
			Стиральная машина De Dietrich DPI7572G
		</a>
	</div>
	<div class="reviews-thumb__section">
		<div class="reviews-thumb__field">
			<div class="reviews-thumb__smtitle">Достоинства:</div>
			отличная навигация, очень подробное, информативное меню, работает тихо и отстирывает отменно!
		</div>
		<div class="reviews-thumb__field">
			<div class="reviews-thumb__smtitle">Недостатки:</div>
			нагромождать квартирую стиральной а потом еще и сушильной машину не хотела.
		</div>
		<div class="reviews-thumb__field">
			<div class="reviews-thumb__smtitle">Комментарий:</div>
			нагромождать квартирую стиральной а потом еще и сушильной машину не хотела. О стирально-сушильной машине задумывалась давно, пугали отзывы о том, что вещи после сушки пересушены и их невозможно прогладить. По тем же отзывав выбрала ряд брендов по ним проконсультировалась у менеджеров магазина. Остановилась на этом производителе. Белье стираю с капсулами - все прекрасно вымывается
		</div>
	</div>
	<div class="reviews-thumb__footer">
		<a href="#" class="reviews-thumb__more">Читать подробнее</a>
	</div>
</div>