.reviews-thumb {
	height: 360px;
	border-radius: 5px;
	background-color: rgb(243, 243, 243);
	padding: 16px;

	&__title {
		font-size: 16px;
		font-weight: 500;
		color: rgb(0, 0, 0);
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
	}

	&__rate {}

	&__date {
		font-size: 12px;
		font-weight: 500;
		text-align: right;
		color: rgb(165, 165, 166);
	}

	&__name {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.29;
		color: rgb(0, 0, 0);
		margin-bottom: 14px;
	}

	&__namelink {
		color: rgb(0, 0, 0);
	}

	&__section {
		font-size: 12px;
		line-height: 1.5;
		color: rgb(0, 0, 0);
		overflow: hidden;
		max-height: 180px;
		position: relative;

		&:after {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background-image: linear-gradient(to top, rgba(243, 243, 243, 1), rgba(243, 243, 243, 0));
			content: "";
			height: 60px;
		}
	}

	&__field {
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__smtitle {
		font-weight: 500;
		display: block;
	}

	&__footer {
		position: absolute;
		left: 22px;
		bottom: 16px;
	}

	&__more {
		@include link;

		font-size: 13px;
		line-height: 1.85;
		color: rgb(221, 0, 22);
	}

	@media (max-width: 768px) {
		&__title {
			margin-bottom: 0;
		}

		&__header {
			margin-bottom: 11px;
		}

		&__section {
			max-height: 200px;
		}
	}
}
