.popup-basket {
	width: 615px;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 24px 32px 40px;

	&__top {
		display: flex;
		align-items: center;
		padding-bottom: 24px;
	}

	&__photo {
		width: 130px;
		margin-right: 40px;
		flex-shrink: 0;
	}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__desc {}

	&__articul {
		font-size: 13px;
		color: #a5a5a6;

		span {
			color: #000000;
		}
	}

	&__name {
		font-size: 14px;
		line-height: 1.71;
		color: #000000;
		margin-bottom: 8px;

		a {
			color: #000000;
		}
	}

	&__price {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		color: #000000;

		&_old {
			font-size: 12px;
			line-height: 2;
			color: #a5a5a6;
			text-decoration: line-through;
		}
	}

	&__middle {
		margin: 0 -32px 16px;
		padding: 24px 32px 0;
		background-color: #f3f3f3;
	}

	&__footer {}

	&__title {
		font-size: 16px;
		font-weight: 500;
		color: #000000;
		margin-bottom: 24px;
		text-align: center;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		margin: 0 -12px;
	}

	&__cell {
		width: 50%;
		padding: 0 12px;
	}

	&__back {
		height: 40px;
		border-radius: 24px;
		border: solid 1px #d7d7d7;
		display: flex;
		align-items: center;
		line-height: 1;
		justify-content: center;
		font-size: 15px;
		color: #58585a;
		transition: .4s;
		cursor: pointer;

		&:hover {
			border: solid 1px #dd0016;
			background-color: #dd0016;
			color: #fff;
		}
	}

	&__forward {
		display: flex;
		align-items: center;
		line-height: 1;
		justify-content: center;
		height: 40px;
		border-radius: 24px;
		background-color: #dd0016;
		font-size: 15px;
		font-weight: 500;
		color: #ffffff;
		transition: .4s;

		&:hover {
			background: #af0011;
		}
	}

	.title_small {
		font-size: 16px;
		margin-bottom: 20px;
	}

	@media (max-width: 767px) {
		max-width: 320px;
		width: 100%;
		border-radius: 8px;
		padding: 24px 16px 16px;

		&__top {}

		&__photo {
			width: 80px;
			margin-right: 24px;
		}

		&__desc {}

		&__articul {
			font-size: 12px;
		}

		&__name {
			font-size: 12px;
			margin-bottom: 8px;
		}

		&__price {
			&_old {
				line-height: 1;
			}
		}

		&__middle {
			margin: 0 -16px 16px;
			padding: 16px 16px 0;

			.swiper {
				width: 100%;
			}
		}

		&__footer {}

		&__title {
			margin-bottom: 16px;
		}

		&__buttons {
			margin: 0;
			flex-direction: column;
		}

		&__cell {
			width: 100%;
			padding: 0;
		}

		&__back {
			margin-bottom: 8px;
		}

		&__forward {}

		.title_small {
			font-size: 14px;
			margin-bottom: 8px;
		}
	}
}
