<div class="popup-basket">
	<div class="popup__title">
		Вы добавили товар в корзину
	</div>
	<!-- /.popup__title -->    
	<div class="popup-basket__top">
		<div class="popup-basket__photo">
			<a href="#">
				<img src="images/vzug.jpg" alt="" class="popup-basket__pic">
			</a>
		</div>
		<div class="popup-basket__desc">
			<div class="popup-basket__articul">
				Артикул: <span>146-9713</span>
			</div>
			<div class="popup-basket__name">
				<a href="#">Варочная панель De Dietrich DPI7572G</a>
			</div>
			<div class="popup-basket__price popup-basket__price_old">995 100 руб.</div>
			<div class="popup-basket__price">905 100 руб.</div>
		</div>
	</div>
	<div class="popup-basket__middle">
		<div class="title title_small">Не забудьте купить:</div>

		{% from "./templates/default/src/components/catalog/catalog-item/catalog-item.njk" import catalogItem %}
		<div class="swiper">
			<div class="swiper-container" data-swiper="data-swiper" data-options='{"slidesPerView":3,"spaceBetween":8,"breakpoints":{"768":{"slidesPerView":"auto","spaceBetween":8,"slidesPerGroup":1}}}'>
				<div class="swiper-wrapper">
					{% for item in[
						1,
						2,
						3,
						4,
						5,
						6,
						7,
						8
					] %}
						<div class="swiper-slide">
							{{ catalogItem() }}
						</div>
						<!-- /.swiper-slide -->
					{% endfor %}
				</div>
			</div>
			<div class="swiper__arrow swiper__arrow_right">
				<div class="swiper__prev swiper__prev_round js-swiper__prev"></div>
				<div class="swiper__next swiper__next_round js-swiper__next"></div>
			</div>
		</div>
		<!-- /.swiper -->
	</div>
	<div class="popup-basket__footer">
		<div class="popup-basket__title">Теперь в корзине 3 товара</div>
		<div class="popup-basket__buttons">
			<div class="popup-basket__cell">
				<div class="popup-basket__back" onclick="globalPopup.close();">Вернуться в каталог</div>
			</div>
			<div class="popup-basket__cell">
				<a href="#" class="popup-basket__forward">Оформить заказ</a>
			</div>
		</div>
	</div>
</div>
<!-- /.popup-callback -->
