.detail {
	border-radius: 5px;
	background-color: #ffffff;
	position: relative;
	padding: 18px 24px 24px;

	&__top {
		padding-bottom: 40px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__col {
		&:nth-child(1) {
			width: calc(100% - 352px - 48px);
			padding-top: 10px;
		}

		&:nth-child(2) {
			width: 352px;
		}
	}

	&__header {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 8px;

		.button-favorite {
			margin-right: 24px;
		}
	}

	&__utilities {
		display: flex;
		justify-content: space-between;
	}

	&__rating {
		width: 43.2px;
		height: 24px;
		border-radius: 2px;
		border: solid 2px rgb(215, 215, 215);
		background-color: rgb(255, 255, 255);
		font-size: 13px;
		font-weight: bold;
		color: rgb(88, 88, 90);
		padding: 0 0 0 8px;
		position: relative;
		display: flex;
		align-items: center;
		margin-right: 18px;

		span {
			width: 10px;
			height: 10px;
			background: url(../images/rating-stars__icon_active.svg) no-repeat;
			background-size: contain;
			margin-left: 3px;
			display: block;
			position: relative;
			z-index: 1;
		}

		&:after {
			background: #fff;
			position: absolute;
			right: -10px;
			top: 50%;
			height: 16px;
			width: 16px;
			border-top: solid 2px rgb(215, 215, 215);
			border-right: solid 2px rgb(215, 215, 215);
			content: '';
			transform: rotate(45deg);
			margin-top: -8px;
		}
	}

	&__btn {
		&-reviews {
			font-size: 13px;
			color: rgb(77, 115, 153);
			border-bottom: 1px solid rgb(230, 236, 242);
			line-height: 1;
			margin-right: 28px;
		}
	}

	&__articul {
		color: #a5a5a6;
		font-size: 13px;
		font-weight: 400;
		position: absolute;
		right: 0;
		top: 0;

		span {
			color: #000000;
		}
	}

	&__label {}

	&__desc {}

	&__available {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 46px;
		border-radius: 6px;
		background-color: var(--pale-grey);
		padding: 0 50px 0 24px;
		margin-bottom: 24px;

		.available {
			background: none;
			padding: 0;
			letter-spacing: 0.1px;
			color: rgb(49, 182, 75);
			font-size: 13px;
			font-weight: bold;
		}
	}

	&__information {
		font-size: 13px;
		letter-spacing: 0.1px;
		color: rgb(160, 160, 160);

		b {
			font-weight: bold;
			letter-spacing: 0.1px;
			color: rgb(26, 26, 26);
		}
	}

	&__table {
		display: flex;
		justify-content: space-between;

		&_prices {
			margin-bottom: 4px;
		}

		&_oneclick {
			margin-bottom: 10px;
		}

		&_economy {
			margin-bottom: 16px;
		}
	}

	&__cell {}

	&__price {
		font-size: 32px;
		font-weight: bold;
		letter-spacing: 0.2px;
		color: rgb(26, 26, 26);

		span {
			font-size: 24px;
			font-weight: normal;
		}

		&-old {
			display: block;
			font-size: 16px;
			letter-spacing: 0.1px;
			color: rgb(77, 115, 153);
			line-height: 16px;
			font-weight: normal;
			text-decoration: line-through;
			margin-bottom: 4px;
		}
	}

	&__buy {
		display: flex;
		width: 131px;
		height: 40px;
		border-radius: 6px;
		background-color: rgb(221, 0, 22);
		font-size: 15px;
		line-height: 1;
		font-weight: bold;
		letter-spacing: 0.1px;
		justify-content: center;
		align-items: center;
		color: rgb(255, 255, 255);
	}

	&__date {
		font-size: 13px;
		color: rgb(0, 0, 0);
	}

	&__oneclick {
		font-size: 13px;
		color: rgb(77, 115, 153);
		border-bottom: 1px solid rgb(230, 236, 242);
		line-height: 1;
	}

	&__economy {
		font-size: 15px;
		color: rgb(163, 163, 163);

		span {
			color: rgb(26, 26, 26);
		}
	}

	&__line {
		height: 1px;
		background-color: rgb(235, 235, 235);
		margin-bottom: 16px;
	}

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		color: rgb(0, 0, 0);
		margin-bottom: 25px;
	}

	&__smtitle {
		font-size: 16px;
		font-weight: 500;
		color: rgb(0, 0, 0);
		margin-bottom: 16px;
		line-height: 1.2;
	}

	&__btnpopup {
		height: 40px;
		border-radius: 6px;
		border: solid 2px rgb(240, 240, 240);
		background-color: rgb(255, 255, 255);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 24px;
		font-size: 14px;
		line-height: 1.71;
		color: rgb(0, 0, 0);

		span {
			border-bottom: 1px dotted rgba(0, 0, 0, 0.16);
			position: relative;
		}
	}

	&__files {
		margin-bottom: 32px;
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		padding: 8px 16px 16px;
		border-radius: 0;

		&__top {
			padding-bottom: 46px;
			position: relative;
		}

		&__header {
			flex-wrap: wrap;
			justify-content: space-between;

			.button-favorite {
				margin: 0 0 0 18px;
			}

			.button-favorite__text,
			.button-compare__text {
				display: none;
			}
		}

		&__utilities {
			flex-direction: row-reverse;
		}

		&__articul {
			font-size: 12px;
			position: static;
			width: 100%;
		}

		&__row {
			flex-wrap: wrap;
		}

		&__col {
			padding: 0 !important;
			width: 100% !important;
		}

		&__available {
			margin: 0 -16px 16px;
			padding: 0 16px;
		}

		&__price {
			font-size: 20px;

			span {
				font-size: 16px;
			}

			&-old {
				font-size: 12px;
				margin-bottom: 0;
			}
		}

		&__date {
			font-size: 12px;
		}

		&__economy {
			font-size: 13px;
		}

		&__btnpopup {
			margin-bottom: 16px;
			font-size: 12px;
		}

		&__files {
			margin-bottom: 16px;
		}
	}
}
