{% macro filter(brands = '', modelCount = 'Выбрано 2 модели') %}
	<div class="filter" id="js-filter">
		<form action="">
			<!-- тег инпут чекбокс нужен для того, чтоб имитировать change при прокрутке слайдера -->
			<input type="checkbox" class="filter__forchange" id="js-filter-hidden">
			<div class="filter__header" data-toggle-filter>
				Фильтр
			</div>
			<!-- /.filter__header -->
			<div class="filter__btnshow" data-toggle-filter>Показать</div>
			<div class="filter__inner">
				
				{% if brands %}
					{% include "filter/filter-brands/filter-brands-full.njk" %}
				{% else %}
					{% include "filter/filter-brands/filter-brands.njk" %}
				{% endif %}

				<div class="row">
					<div class="col-sm-3">
						<div data-filter-slider>
							<div class="filter__name">Цена, руб.</div>
							{% from "filter/filter-slider/filter-slider.njk" import filterSlider %}
							{{ filterSlider() }}
						</div>
					</div>
					<!-- /.col-sm-3 -->
					<div class="col-sm-2">
						<div class="filter__column">
							<div class="filter__slider" data-filter-slider>

								<div class="filter-popup enable" data-filter-popup>
									<div class="filter-popup__title" data-filter-popup-call>Ширина</div>
									<div class="filter-popup__value" data-filter-value data-filter-popup-call><b>30-50 см</b></div>
									<div class="filter-popup__close" data-filter-popup-close>ОК</div>
									<div class="filter-popup__section">
										<div class="filter-popup__sectioninner">
											<div class="filter-popup__scroll">

												{{ 
													filterSlider(
														modCls = 'filter-slider_hidden',
														min = '0',
														max = '100',
														startValue = '30',
														endValue = '50'
													) 
												}}

											</div>
											<!-- /.filter-popup__scroll -->
										</div>
										<!-- /.filter-popup__sectioninner -->									
									</div>
									<!-- /.filter-popup__section -->
								</div>
								<!-- /.filter-popup -->
							</div>
							<div class="filter__slider" data-filter-slider>

								<div class="filter-popup enable" data-filter-popup>
									<div class="filter-popup__title" data-filter-popup-call>Высота</div>
									<div class="filter-popup__value" data-filter-value data-filter-popup-call>Любая</div>
									<div class="filter-popup__close" data-filter-popup-close>ОК</div>
									<div class="filter-popup__section">
										<div class="filter-popup__sectioninner">
											<div class="filter-popup__scroll">

												{{ 
													filterSlider(
														modCls = 'filter-slider_hidden',
														min = '0',
														max = '100',
														startValue = '30',
														endValue = '50'
													) 
												}}

											</div>
											<!-- /.filter-popup__scroll -->
										</div>
										<!-- /.filter-popup__sectioninner -->									
									</div>
									<!-- /.filter-popup__section -->
								</div>
								<!-- /.filter-popup -->
							</div>
							<div class="filter__slider" data-filter-slider>

								<div class="filter-popup enable" data-filter-popup>
									<div class="filter-popup__title" data-filter-popup-call>Глубина</div>
									<div class="filter-popup__value" data-filter-value data-filter-popup-call>Любая</div>
									<div class="filter-popup__close" data-filter-popup-close>ОК</div>
									<div class="filter-popup__section">
										<div class="filter-popup__sectioninner">
											<div class="filter-popup__scroll">

												{{ 
													filterSlider(
														modCls = 'filter-slider_hidden',
														min = '0',
														max = '100',
														startValue = '30',
														endValue = '50'
													) 
												}}

											</div>
											<!-- /.filter-popup__scroll -->
										</div>
										<!-- /.filter-popup__sectioninner -->									
									</div>
									<!-- /.filter-popup__section -->
								</div>
								<!-- /.filter-popup -->
							</div>
						</div>
					</div>
					<!-- /.col-sm-2 -->
					<div class="col-sm-3">
						<div class="filter__column">
							<div class="filter__name">Функции</div>
							{% from "form/checkbox/checkbox.njk" import checkbox %}
							<div class="filter__checkbox">
								{{
									checkbox(
										mod = 'checkbox_filter',
										text = 'защита от протечек'
									)
								}}
							</div>
							<div class="filter__checkbox">
								{{
									checkbox(
										mod = 'checkbox_filter',
										text = 'сушка',
										attrs = 'disabled'
									)
								}}
							</div>
							<div class="filter__checkbox">
								{{
									checkbox(
										mod = 'checkbox_filter',
										text = 'интеллектуальное управление',
										attrs = 'disabled'
									)
								}}
							</div>
							<div class="filter__checkbox">
								{{
									checkbox(
										mod = 'checkbox_filter',
										text = 'био-фаза',
										attrs = 'disabled'
									)
								}}
							</div>
						</div>
					</div>
					<!-- /.col-sm-3 -->
					<div class="col-sm-4">
						<div class="filter__column">
							<div class="filter__name">Цвет корпуса</div>
							{% from "filter/filter-color/filter-color.njk" import filterColor %}
							{{
								filterColor()
							}}
						</div>
					</div>
					<!-- /.col-sm-4 -->
				</div>
				<!-- /.row -->

				<div class="filter__section" data-filter-hidden>
					<div class="row">
						<div class="col-sm-3">
							<div class="filter__name">Цена, руб.</div>
							{% from "combox/combox.njk" import combox %}
							{{ combox(['не важно', 'не важно', 'не важно']) }}
						</div>
						<!-- /.col-sm-3 -->
						<div class="col-sm-2">
							<div class="filter__column">
								<div class="filter-popup scrolling" data-filter-popup>
									<div class="filter-popup__title" data-filter-popup-call>Загрузка</div>
									<div class="filter-popup__close" data-filter-popup-close>ОК</div>
									<div class="filter-popup__section" data-h="140">
										<div class="filter-popup__sectioninner">
											<div class="filter-popup__scroll">
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '4 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '6,5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '9 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '11,5 кг'
														)
													}}
												</div>	
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '4 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '6,5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '9 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '11,5 кг'
														)
													}}
												</div>											
											</div>
											<!-- /.filter-popup__scroll -->
										</div>
										<!-- /.filter-popup__sectioninner -->									
									</div>
									<!-- /.filter-popup__section -->
									<div class="filter-popup__more" data-filter-popup-call>Еще</div>
								</div>
								<!-- /.filter-popup -->
							</div>
							<!-- /.filter__column -->
						</div>
						<!-- /.col-sm-2 -->
						<div class="col-sm-3">
							<div class="filter__column">
								<div class="filter-popup " data-filter-popup>
									<div class="filter-popup__title" data-filter-popup-call>Тип установки</div>
									<div class="filter-popup__close" data-filter-popup-close>ОК</div>
									<div class="filter-popup__section">
										<div class="filter-popup__sectioninner">
											<div class="filter-popup__scroll">
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = 'Отдельностоящая'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = 'Фронтальная',
															attrs = 'disabled'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = 'Встраиваемая',
															attrs = 'disabled'
														)
													}}
												</div>
											</div>
											<!-- /.filter-popup__scroll -->
										</div>
										<!-- /.filter-popup__sectioninner -->									
									</div>
									<!-- /.filter-popup__section -->
									<div class="filter-popup__more" data-filter-popup-call>Еще</div>
								</div>
								<!-- /.filter-popup -->
							</div>
							<!-- /.filter__column -->
						</div>
						<!-- /.col-sm-3 -->
						<div class="col-sm-4">
							<div class="filter__column">
								<div class="filter-popup " data-filter-popup>
									<div class="filter-popup__title" data-filter-popup-call>Еще какой-то параметр</div>
									<div class="filter-popup__close" data-filter-popup-close>ОК</div>
									<div class="filter-popup__section">
										<div class="filter-popup__sectioninner">
											<div class="filter-popup__scroll">
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = 'Короткое название',
															type = 'radio'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = 'Простое название',
															type = 'radio'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = 'Название',
															type = 'radio'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = 'Очень длинное название параметра',
															type = 'radio'
														)
													}}
												</div>
											</div>
											<!-- /.filter-popup__scroll -->
										</div>
										<!-- /.filter-popup__sectioninner -->									
									</div>
									<!-- /.filter-popup__section -->
									<div class="filter-popup__more" data-filter-popup-call>Еще</div>
								</div>
								<!-- /.filter-popup -->
							</div>
							<!-- /.filter__column -->
						</div>
						<!-- /.col-sm-4 -->
						<div class="col-sm-12 filter__separator"></div>	
						<!-- /.filter__separator -->					
						<div class="col-sm-3">
							<div class="filter__column">
								<div class="filter-popup enable scrolling" data-filter-popup>
									<div class="filter-popup__title" data-filter-popup-call>Загрузка</div>
									<div class="filter-popup__close" data-filter-popup-close>ОК</div>
									<div class="filter-popup__section" data-h="130" data-h-visible="250">
										<div class="filter-popup__sectioninner">
											<div class="filter-popup__scroll">
												{% from "form/checkbox/checkbox.njk" import checkbox %}
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '4 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '6,5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '4 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '6,5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '4 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '6,5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '4 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '6,5 кг'
														)
													}}
												</div>
											</div>
											<!-- /.filter-popup__scroll -->
										</div>
										<!-- /.filter-popup__sectioninner -->									
									</div>
									<!-- /.filter-popup__section -->
									<div class="filter-popup__more" data-filter-popup-call>Еще</div>
								</div>
								<!-- /.filter-popup -->
							</div>
							<!-- /.filter__column -->
						</div>
						<!-- /.col-sm-3 -->
						<div class="col-sm-2">
							<div class="filter__column">
								<div class="filter-popup" data-filter-popup>
									<div class="filter-popup__title" data-filter-popup-call>Загрузка</div>
									<div class="filter-popup__close" data-filter-popup-close>ОК</div>
									<div class="filter-popup__section">
										<div class="filter-popup__sectioninner">
											<div class="filter-popup__scroll">
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '4 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '6,5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '9 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '11,5 кг'
														)
													}}
												</div>	
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '4 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '6,5 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '9 кг'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '11,5 кг'
														)
													}}
												</div>											
											</div>
											<!-- /.filter-popup__scroll -->
										</div>
										<!-- /.filter-popup__sectioninner -->									
									</div>
									<!-- /.filter-popup__section -->
									<div class="filter-popup__more" data-filter-popup-call>Еще</div>
								</div>
								<!-- /.filter-popup -->
							</div>
							<!-- /.filter__column -->
						</div>
						<!-- /.col-sm-2 -->
						<div class="col-sm-3">
							
							<div class="filter__column">
								<div class="filter-popup " data-filter-popup>
									<div class="filter-popup__title" data-filter-popup-call>Тип установки</div>
									<div class="filter-popup__close" data-filter-popup-close>ОК</div>
									<div class="filter-popup__section">
										<div class="filter-popup__sectioninner">
											<div class="filter-popup__scroll">
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = 'Отдельностоящая'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = 'Фронтальная',
															attrs = 'disabled'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = 'Встраиваемая',
															attrs = 'disabled'
														)
													}}
												</div>
											</div>
											<!-- /.filter-popup__scroll -->
										</div>
										<!-- /.filter-popup__sectioninner -->									
									</div>
									<!-- /.filter-popup__section -->
									<div class="filter-popup__more" data-filter-popup-call>Еще</div>
								</div>
								<!-- /.filter-popup -->
							</div>
							<!-- /.filter__column -->

							<!-- попап со скрытыми значениями -->
							<div class="filter__column">
								<div class="filter-popup filter-popup_hidden filter-popup_noval enable" data-filter-popup>
									<div class="filter-popup__title" data-filter-popup-call>Тип установки</div>
									<div class="filter-popup__close" data-filter-popup-close>ОК</div>
									<div class="filter-popup__section">
										<div class="filter-popup__sectioninner">
											<div class="filter-popup__scroll">
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = 'Отдельностоящая'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = 'Фронтальная',
															attrs = 'disabled'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = 'Встраиваемая',
															attrs = 'disabled'
														)
													}}
												</div>
											</div>
											<!-- /.filter-popup__scroll -->
										</div>
										<!-- /.filter-popup__sectioninner -->									
									</div>
									<!-- /.filter-popup__section -->
								</div>
								<!-- /.filter-popup -->
							</div>
							<!-- /.filter__column -->	

							<div class="filter__column">
								<div class="filter-popup filter-popup_hidden enable" data-filter-popup>
									<div class="filter-popup__title" data-filter-popup-call>Кол-во комфорок</div>
									<div class="filter-popup__value" data-filter-value data-filter-popup-call>Любая</div>
									<div class="filter-popup__close" data-filter-popup-close>ОК</div>
									<div class="filter-popup__section">
										<div class="filter-popup__sectioninner">
											<div class="filter-popup__scroll">
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '1',
															attrs = 'data-text="1"'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '2',
															attrs = 'data-text="2"'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '3',
															attrs = 'data-text="3"'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '4',
															attrs = 'data-text="4"'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '5',
															attrs = 'data-text="5"'
														)
													}}
												</div>
												<div class="filter__checkbox">
													{{
														checkbox(
															mod = 'checkbox_filter',
															text = '6',
															attrs = 'data-text="6"'
														)
													}}
												</div>
											</div>
											<!-- /.filter-popup__scroll -->
										</div>
										<!-- /.filter-popup__sectioninner -->									
									</div>
									<!-- /.filter-popup__section -->
								</div>
								<!-- /.filter-popup -->
							</div>
							<!-- /.filter__column -->							
						</div>
						<!-- /.col-sm-3 -->
						<div class="col-sm-4">
							<div class="filter__column">
								<div class="filter-popup enable scrolling" data-filter-popup>
									<div class="filter-popup__title" data-filter-popup-call>Цвет корпуса</div>
									<div class="filter-popup__close" data-filter-popup-close>ОК</div>
									<div class="filter-popup__section" data-h="130" data-h-visible="250">
										<div class="filter-popup__sectioninner">
											<div class="filter-popup__scroll">
												<div class="filter-color">
													{% set data = ["background-color: rgb(75, 80, 90);", "background-image: linear-gradient(180deg, rgb(180, 236, 81) 0%, rgb(66, 147, 33) 100%);", "background-image: linear-gradient(180deg, rgb(245, 81, 95) 0%, rgb(159, 4, 27) 100%);", "background-image: linear-gradient(225deg, rgb(75, 28, 255) 0%, rgb(176, 30, 255) 100%);", "background-color: rgb(0, 0, 0);", "background-color: rgb(255, 255, 255);", "background-color: rgb(208, 2, 27);", "background-image: linear-gradient(180deg, rgb(36, 36, 36) 0%, rgb(0, 0, 0) 100%);", "background-color: rgb(0, 122, 255);", "background-image: linear-gradient(to top, rgb(162, 162, 162) 0%, rgb(200, 200, 200) 100%);", "background-color: rgb(139, 87, 42);", "background-color: rgb(75, 80, 90);", "background-image: linear-gradient(180deg, rgb(180, 236, 81) 0%, rgb(66, 147, 33) 100%);", "background-image: linear-gradient(180deg, rgb(245, 81, 95) 0%, rgb(159, 4, 27) 100%);", "background-image: linear-gradient(225deg, rgb(75, 28, 255) 0%, rgb(176, 30, 255) 100%);", "background-color: rgb(0, 0, 0);", "background-color: rgb(255, 255, 255);", "background-color: rgb(208, 2, 27);", "background-image: linear-gradient(180deg, rgb(36, 36, 36) 0%, rgb(0, 0, 0) 100%);", "background-color: rgb(0, 122, 255);", "background-image: linear-gradient(to top, rgb(162, 162, 162) 0%, rgb(200, 200, 200) 100%);", "background-color: rgb(139, 87, 42);", "background-color: rgb(75, 80, 90);", "background-image: linear-gradient(180deg, rgb(180, 236, 81) 0%, rgb(66, 147, 33) 100%);", "background-image: linear-gradient(180deg, rgb(245, 81, 95) 0%, rgb(159, 4, 27) 100%);", "background-image: linear-gradient(225deg, rgb(75, 28, 255) 0%, rgb(176, 30, 255) 100%);", "background-color: rgb(0, 0, 0);", "background-color: rgb(255, 255, 255);", "background-color: rgb(208, 2, 27);", "background-image: linear-gradient(180deg, rgb(36, 36, 36) 0%, rgb(0, 0, 0) 100%);", "background-color: rgb(0, 122, 255);", "background-image: linear-gradient(to top, rgb(162, 162, 162) 0%, rgb(200, 200, 200) 100%);", "background-color: rgb(139, 87, 42);", "background-color: rgb(75, 80, 90);", "background-image: linear-gradient(180deg, rgb(180, 236, 81) 0%, rgb(66, 147, 33) 100%);", "background-image: linear-gradient(180deg, rgb(245, 81, 95) 0%, rgb(159, 4, 27) 100%);", "background-image: linear-gradient(225deg, rgb(75, 28, 255) 0%, rgb(176, 30, 255) 100%);", "background-color: rgb(0, 0, 0);", "background-color: rgb(255, 255, 255);", "background-color: rgb(208, 2, 27);", "background-image: linear-gradient(180deg, rgb(36, 36, 36) 0%, rgb(0, 0, 0) 100%);", "background-color: rgb(0, 122, 255);", "background-image: linear-gradient(to top, rgb(162, 162, 162) 0%, rgb(200, 200, 200) 100%);", "background-color: rgb(139, 87, 42);" ] %}
													{% for item in data %}
														<div class="filter-color__item">
															<label class="filter-color__label" style="{{ item }};">
																<input class="filter-color__input" type="checkbox"/>
																<span class="filter-color__icon"></span>
															</label>
														</div>
														<!-- /.filter-color__item -->
													{% endfor %}
												</div>
												<!-- /.filter-color -->									
											</div>
											<!-- /.filter__scroll -->
										</div>									
									</div>
									<div class="filter-popup__more" data-filter-popup-call>Еще</div>
								</div>
							</div>
						</div>
						<!-- /.col-sm-4 -->						
					</div>
					<!-- /.row -->
				</div>
				<div class="filter__footer">
					<div class="filter__showResult">
						Найдено <b>232</b> товара, из них <b>197</b> есть в наличии
					</div>
					<div class="filter__more" data-filter-more></div>
					<div class="filter__btns">
						<input class="filter__reset" type="reset" value="Сбросить"/>
						<input type="submit" value="Применить фильтр" class="filter__submit">
					</div>
				</div>
				<!-- /.filter__footer -->
			</div>
		</form>
	</div>
	<!-- /.filter -->
{% endmacro %}
