.filter {
	background: #fff;
	padding: 14px 24px 22px;
	line-height: 1;
	color: #000;
	position: relative;
	z-index: 1;

	.filter-wrap_inner & {
		margin: 0 -24px;
		border-radius: 0;
	}

	.filter-wrap_outside & {
		border-radius: 5px 5px 0 0;
	}

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../images/filter.svg) no-repeat;
		background-position: center 46px;
		content: "";
	}

	&__forchange {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		pointer-events: none;
	}

	&__separator {
		margin-bottom: 32px;
	}

	&__btnshow {
		display: none;
	}

	&__inner {
		position: relative;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		height: 32px;
		align-items: center;
		position: relative;
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__section {
		overflow: hidden;
		max-height: 0;

		&.active {
			overflow: visible;
			max-height: none;
		}
	}

	.row {
		margin: 0 -24px 32px;

		[class*=col-] {
			padding: 0 24px;
		}
	}

	&__column {
		padding-left: 20px;

		&_color {
			padding-left: 40px;
		}
	}

	&__slider {
		margin: 0 -32px -16px 0;
	}

	&__name {
		color: rgb(0, 0, 0);
		margin-bottom: 18px;
		font-size: 14px;
		font-weight: 700;
	}

	&__checkbox {
		margin-bottom: 10px;
	}

	&__field {
		margin-bottom: 8px;
	}

	&__smname {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 700;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__showResult {
		font-size: 14px;
		color: rgb(88, 88, 90);
		line-height: 1;
		width: 40%;

		b {
			font-weight: bold;
			color: #000;
		}
	}

	&__btns {
		width: 40%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__reset {
		border: none;
		background: none;
		padding: 0;
		font-size: 15px;
		text-align: center;
		color: rgb(88, 88, 90);
	}

	&__submit {
		margin-left: 24px;

		@include button($h: 32px, $p: 0 16px, $m: 0 0 0 24px, $bgc: rgb(255, 255, 255), $c: rgb(88, 88, 90), $bd: solid 1px rgb(215, 215, 215));
	}

	&__more {
		width: 206px;
		height: 32px;
		border-radius: 24px;
		border: solid 1px rgb(165, 165, 166);
		color: rgb(221, 0, 22);
		font-size: 15px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		cursor: pointer;

		&:after {
			content: "Показать еще";
		}

		&.active:after {
			content: "Свернуть";
		}
	}

	@media (--phone) {
		margin: 0 -16px;
		padding: 0;
		border-radius: 0 !important;

		.filter-wrap_inner & {
			margin: 0 -16px;
		}

		&:before {
			background-size: 58px auto;
			background-position: center 18px;
			transition: all 400ms;
		}

		&.active:before {
			background-size: 222px auto;
			background-position: center 278px;
		}

		.row {
			margin-bottom: 0;
		}

		&__btnshow {
			width: calc(100% - 32px);
			margin: 0 auto 18px;
			height: 32px;
			border-radius: 24px;
			border: solid 1px rgb(165, 165, 166);
			color: rgb(221, 0, 22);
			background: #fff;
			font-size: 15px;
			font-weight: 500;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			position: relative;
			z-index: 1;
			transition: all 400ms;
		}

		&.active &__btnshow {
			height: 0;
			border: none;
			overflow: hidden;
			margin-bottom: 0;
		}

		&__header {
			height: 48px;
			padding: 0 16px;
			margin: 0;
			position: relative;
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;

			&:after {
				position: absolute;
				right: 16px;
				top: 50%;
				content: '';

				@include css-triangle(bottom, var(--cherry), 6px, 10px);

				margin-top: -3px;
				transition: transform 400ms;
			}

			&.active:after {
				transform: rotate(-180deg);
			}

			span {
				font-size: 10px;
				margin-left: 16px;
			}
		}

		&.active &__header {
			&:after {
				transform: rotate(-180deg);
			}
		}

		&__inner {
			overflow: hidden;
			max-height: 0;
			padding: 0 16px;
			position: relative;
			transition: max-height 400ms;
		}

		&.active &__inner {
			max-height: 4000px;
		}

		&__separator {
			margin-bottom: 0;
		}

		&__name {
			font-size: 12px;
			margin-bottom: 8px;
			line-height: 16px;
			font-weight: 500;
		}

		&__column {
			padding-left: 0;
			margin-bottom: 24px;

			&_color {
				padding-left: 0;
			}
		}

		&__smname {
			font-size: 12px;
			font-weight: 500;
		}

		&__footer {
			flex-direction: column;
		}

		&__showResult {
			font-size: 12px;
			order: 2;
			width: 100%;
			margin-bottom: 24px;
			text-align: center;
		}

		&__more {
			order: 1;
			width: 100%;
			margin-bottom: 16px;
		}

		&__btns {
			width: 100%;
			order: 3;
			flex-direction: column-reverse;
			padding-bottom: 16px;
		}

		&__reset {
			border: none;
			background: none;
			padding: 0;
			font-size: 15px;
			text-align: center;
			color: rgb(88, 88, 90);
		}

		&__submit {
			margin: 0 0 16px;
			border-radius: 8px;
			width: 100%;
		}
	}
}
