{% import "form/form.njk" as form %}
<div class="basket-payment">
	<div class="basket-payment__title">Способ оплаты:</div>
	<div class="basket-payment__section">
		<div class="row">
			<div class="col-sm-5">
				<div class="basket-payment__field">

					{{
						form.checkbox(
							mod = 'checkbox_radio',
							text = 'Наличными при доставке',
							type = 'radio'
						)
					}}

				</div>
				<div class="basket-payment__field">

					{{
						form.checkbox(
							mod = 'checkbox_radio',
							text = 'Безналичный рассчет',
							type = 'radio'
						)
					}}

				</div>
				<div class="basket-payment__field">

					{{
						form.checkbox(
							mod = 'checkbox_radio',
							text = 'Онлайн оплата',
							type = 'radio'
						)
					}}

				</div>
			</div>
			<div class="col-sm-7">
				<div class="basket-payment__info">
					<div class="basket-payment__icons">
						<img class="lazyload" data-src="images/basket-payment__icons1.svg"/>
						<img class="lazyload" data-src="images/basket-payment__icons2.svg"/>
					</div>
					<div class="basket-payment__text">
						Вы можете оплатить покупку с банковских карт, через терминалы, интернет-банкинг и
						<a href="#">другими способами</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.basket-payment -->
