.basket-payment {
	margin-bottom: 16px;
	padding-top: 8px;

	&__title {
		margin-bottom: 16px;
	}

	&__section {}

	&__field {
		margin-bottom: 20px;
	}

	&__info {
		border-radius: 5px;
		background-color: #f5f7fa;
		padding: 24px;
		margin-left: -35px;
	}

	&__icons {
		display: flex;
		align-items: center;
		margin-bottom: 16px;

		img {
			margin-right: 24px;
		}
	}

	&__text {
		color: #000000;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;

		a {
			@include link;
		}
	}

	@media (--phone) {
		margin: -4px 0 0;
		padding: 0;

		&__title {
			font-size: 12px;
			line-height: 1.67;
			margin-bottom: 4px;
		}

		&__field {
			margin-bottom: 9px;

			.checkbox {
				margin-bottom: 0 !important;
			}
		}

		&__info {
			display: none;
		}
	}
}
