<div class="news-article">
    <div class="news-article__banner"><img class="news-article__pic lazyload" data-src="images/news-article__pic.jpg" alt="" /></div>
    <div class="news-article__header">
        <div class="news-article__header-col">
            <div class="icon-text icon-text_gray">Статья</div><a class="button-favorite"><span class="button-favorite__icon"></span><span class="button-favorite__text">В избранное</span></a></div>
        <div class="news-article__header-col">
            <div class="news-article__date">26.10.2018</div>
        </div>
    </div>
    <div class="news-article__text">
        <div class="news-article__title">Положите холодильник в карман </div>
        <p>Теперь вашим холодильником Liebherr можно управлять, не находясь рядом с ним. Вы сможете легко сделать это с помощью своего смартфона или планшета. Это стало возможным с новой технологией SmartDevice, обеспечивающей подключение холодильника к
            сети с помощью специального модуля. Модуль позволяет видеть сообщения о состоянии прибора, дистанционно изменять настройки или активировать нужные функции, получать оповещения об ошибках, например, если кто-то из ваших близких забыл закрыть
            дверцу холодильника. </p>
        <p>SmartDeviceBox — это новая эра в мире технологий холодильного оборудования. Liebherr FridgeCam делает холодильники и морозильники центром управления продуктами питания. Ко всему прочему интегрируемый модуль FridgeCam ™ (проще говоря, компактная
            видеокамера) будет присылать на смартфон или планшет изображения хранящихся продуктов.</p>
        <div class="news-article__picture"><img class="lazyload" data-src="images/article_pic.jpg" /></div>
        <div class="news-article__title">Будущее разумной жизни</div>
        <p>Приборами Liebherr с отметкой «SmartDevice» можно управлять с помощью компьютера или мобильного устройства благодаря модулю SmartDeviceBox, который можно заказать в качестве аксессуара. Некоторые модели уже имеют в комплекте модуль SmartDeviceBox,
            об этом свидетельствует буквенный индекс «i» в аббревиатуре прибора, например, <a href="#">KBi 4350</a>.</p>
        <div class="news-article__title">Инструкция по установке модуля SmartDeviceBox: </div>
        <ol>
            <li>
                <div><b>Открыть упаковку</b></div>Откройте магнитную вкладку на упаковке аксессуара. Вложенный флаер предоставляет информацию о предварительных условиях использования SmartDeviceBox и дает представление о дополнительных сервисах и безопасности,
                к которым можно получить доступ с помощью технологии SmartDevice. Затем снимите прозрачную защиту и выньте SmartDeviceBox из упаковки. </li>
            <li>
                <div><b>Вставить SmartDeviceBox </b></div>Откройте панель за дверцей вашего прибора и вставьте SmartDeviceBox. Снимите крышку и закройте дверцу прибора. Выполните оставшиеся шаги с помощью сенсорного дисплея вашего устройства. </li>
            <li>
                <div><b>Активируйте устройство</b></div>Синхронизируйте работу Liebherr и вашего гаджета следуя инструкции. </li>
            <li>
                <div><b>Подключение и регистрация в приложении SmartDevice</b></div>Завершите подключение и регистрацию в приложении Liebherr SmartDevice. </li>
        </ol>
        <div class="news-article__video"><img class="lazyload" data-src="images/news-article__pic4.png" alt="" /><a class="news-article__play" href="#"></a></div>
        <div class="news-article__title">Три плюса системы SmartDevice: </div>
        <ol>
            <li><b>SmarHomePlus</b> — управление холодильником и дистанционное изменение настроек с помощью планшета или смартфона. Кроме того, данная система позволяет активировать многие настройки он-лайн еще до возвращения домой, например функцию SuperCool
                или SuperFrost.. </li>
            <li><b>ServicePlus</b> — лучшее сервисное обслуживание. </li>
            <li><b>SafetyPlus</b> — надежная защита персональных данных, которые хранятся на серверах Liebherr.</li>
        </ol>

		{% include "swiper/swiper-large/swiper-large.njk" %}

		<p>«SmartDevice» позволяет вам активно управлять запасами и планировать более здоровый подход к питанию. В эпоху цифровых технологий холодильник становится центром современного ведения домохозяйства и образом жизни — необычайно умным и эффективным.</p>
		<p>Благодаря видеокамере вы всегда знаете какие продукты находятся в холодильнике и в каком количестве. Изображения в высоком разрешении помогают при походе в магазин избегать двойных покупок, чтобы предотвратить растрату продуктов питания и тем самым сэкономить
		    деньги.</p>
		<div class="title title_small">Холодильники Liebherr</div>

		{% from "catalog/catalog-thumb-small/catalog-thumb-small.njk" import thumbSmall %}

		<div class="swiper">
		    <div class="swiper-container" data-swiper data-options='{"slidesPerView":5,"spaceBetween":16,"breakpoints":{"768":{"slidesPerView":"auto","spaceBetween":20,"slidesPerGroup":1}}}'>
		        <div class="swiper-wrapper">
					{% for item in [1, 2] %}
					<div class="swiper-slide">
						{{
							thumbSmall(
								footer = 'false',
								available = 'false',
								src = 'images/catalog-thumb-small__pic2.jpg'
							)
						}}
					</div>
					<div class="swiper-slide">
						{{
							thumbSmall(
								footer = 'false',
								available = 'false',
								src = 'images/catalog-thumb-small__pic2.jpg'
							)
						}}
					</div>
					<div class="swiper-slide">
						{{
							thumbSmall(
								footer = 'false',
								available = 'false',
								src = 'images/catalog-thumb-small__pic2.jpg'
							)
						}}
					</div>
					<div class="swiper-slide">
						{{
							thumbSmall(
								footer = 'false',
								available = 'false',
								src = 'images/catalog-thumb-small__pic2.jpg'
							)
						}}
					</div>
					{% endfor %}
		        </div>
		    </div>
		    <div class="swiper__arrow swiper__arrow_right">
		        <div class="swiper__prev swiper__prev_round swiper__bdrs js-swiper__prev"></div>
		        <div class="swiper__next swiper__next_round swiper__bdrs js-swiper__next"></div>
		    </div>
		</div>

    </div>
</div>
<!-- /.news-article -->

{% from "news/news-block/news-block.njk" import newsBlock %}

<div class="news-block news-block_article">

	<div class="news-block__title title title_small">Статьи вам могут быть интересны следующие статьи и видео:</div>
	<!-- /.title title_small -->

	<div class="swiper">
		<div class="swiper-container" data-swiper data-options='{"slidesPerView":4,"spaceBetween":16,"breakpoints":{"768":{"slidesPerView":"auto","spaceBetween":16,"slidesPerGroup":1}}}'>
			<div class="swiper-wrapper">
				{% for item in '12' %}
				<div class="swiper-slide">
					{{
						newsBlock()
					}}
				</div>
				<!-- /.swiper-slide -->
				<div class="swiper-slide">
					{{
						newsBlock(
							src = 'images/news-block__pic2.jpg',
							name = 'Новые сушильные шкафы от Asko'
						)
					}}
				</div>
				<!-- /.swiper-slide -->
				<div class="swiper-slide">
					{{
						newsBlock(
							src = 'images/news-block__pic3.jpg',
							name = 'Лучшие марки холодильников',
							video = 'show'
						)
					}}
				</div>
				<!-- /.swiper-slide -->
				<div class="swiper-slide">
					{{
						newsBlock(
							src = 'images/news-block__pic4.jpg',
							name = 'Специальные цены на вытяжки Falmec',
							video = 'show'
						)
					}}
				</div>
				<!-- /.swiper-slide -->
				{% endfor %}
			</div>
		</div>
		<div class="swiper__arrow swiper__arrow_right">
			<div class="swiper__prev swiper__prev_round js-swiper__prev"></div>
			<div class="swiper__next swiper__next_round js-swiper__next"></div>
		</div>
	</div>
	<!-- /.swiper -->
</div>
<!-- /.news-block -->

{% include "utilities/phone-content-large/phone-content-large.njk" %}
