.menu-brand {
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {}

	&__link {
		width: 130px;
		height: 32px;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		color: #ffffff;
		font-size: 15px;
		font-weight: 500;
		position: relative;

		@include bgRed;
	}

	&__item_all &__link {
		width: 134px;
		height: 32px;
		border-radius: 5px;
		background: rgb(196, 196, 196);
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		color: #424242;
		font-size: 12px;
		font-weight: 500;
		transition: all 400ms;

		&:after {
			content: '';
			position: absolute;
			right: 6px;
			top: 50%;
			margin-top: -3px;
			transition: opacity 400ms;

			@include css-triangle(bottom, #878788, 7px, 9px);
		}

		.menu-brand-show & {
			background-color: rgb(175, 0, 17);
			color: #fff;

			&:after {
				opacity: .5;
			}
		}
	}

	@media (--phone) {
		display: none;
	}
}
