{% set data = [
	{
		"title": "Asko"
	},
	{
		"title": "Miele"
	},
	{
		"title": "Smeg"
	},
	{
		"title": "Neff"
	},
	{
		"title": "Gaggenau"
	},
	{
		"title": "Kuppersbush"
	},
	{
		"title": "Другие бренды"
	}
] %}

<div class="menu-brand">
	<ul class="menu-brand__list">
		{% for item in data %}
			{% if loop.index == 7 %}
				<li class="menu-brand__item menu-brand__item_all">
					<a href="#" class="menu-brand__link" menu-dropdown data-body-class="menu-brand-show">
						{{ item.title }}
					</a>
				</li>
				<!-- /.menu-brand__item menu-brand__item_all -->
			{% else %}
				<li class="menu-brand__item">
					<a href="#" class="menu-brand__link">
						{{ item.title }}
					</a>
				</li>
				<!-- /.menu-brand__item -->
			{% endif %}
		{% endfor %}
	</ul>
	<!-- /.menu-brand__list -->
</div>
<!-- /.menu-brand -->
