{% macro breadcrumbs(
	items = '',
	text = '',
	arr = [ "Стиральные машины", "Сушильные машины", "Посудомоечные машины", "Холодильники", "Варочные панели", "Духовые шкафы", "Вытяжки", "Микроволновые печи", "Кофемашины", "Стиральные машины", "Сушильные машины", "Посудомоечные машины", "Холодильники", "Варочные панели", "Духовые шкафы", "Вытяжки", "Микроволновые печи", "Кофемашины" ]
) %}

	<div class="breadcrumbs">
		<ul class="breadcrumbs__list">
			<li class="breadcrumbs__item">
				<a href="#" class="breadcrumbs__link"></a>
			</li>
			<!-- /.breadcrumbs__item -->
			{% if items %}
				{% for prop in items %}
					{% if prop.mod %}
						<li class="breadcrumbs__item breadcrumbs__item_sub">
							<a href="#" class="breadcrumbs__link">
								<span>{{ prop.item }}</span>
							</a>
							{% if prop.submenu %}
								<div class="breadcrumbs-sub">
									<div class="breadcrumbs-sub__inner">
										<div class="swiper-container js-swiper-container">
											<div class="swiper-wrapper">
												<div class="swiper-slide">
													<ul class="breadcrumbs-sub__list">
														{% for i in arr %}
															<li class="breadcrumbs-sub__item">
																<a href="#" class="breadcrumbs-sub__link">{{ i }}</a>
															</li>
															<!-- /.breadcrumbs-sub__item -->
														{% endfor %}
													</ul>
													<!-- /.breadcrumbs-sub__list -->
												</div>
											</div>
											<!-- Add Scroll Bar -->
											<div class="swiper-scrollbar js-swiper-scrollbar"></div>
										</div>
									</div>							
								</div>
								<!-- /.breadcrumbs-sub -->
							{% endif %}
						</li>
						<!-- /.breadcrumbs__item breadcrumbs__item_sub -->
					{% else %}
						<li class="breadcrumbs__item">
							<a href="#" class="breadcrumbs__link">
								<span>{{ prop.item }}</span>
							</a>
						</li>
						<!-- /.breadcrumbs__item -->
					{% endif %}
				{% endfor %}
			{% endif %}
			{% if text %}
			<li class="breadcrumbs__item">
				<span class="breadcrumbs__text">
					{{ text }}
				</span>
			</li>
			<!-- /.breadcrumbs__item -->
			{% endif %}
		</ul>
		<!-- /.breadcrumbs__list -->
	</div>
	<!-- /.breadcrumbs -->
{% endmacro %}
