.breadcrumbs {
	margin-bottom: 13px;
	font-size: 12px;
	line-height: 1.33;
	color: #000000;

	.about-main &,
	.banner-content &,
	.partners &,
	.yandex-banner & {
		position: absolute;
		left: 24px;
		top: 18px;
		color: #fff;
		z-index: 1;
	}

	.banner-content & {
		color: #000;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
	}

	&__item {
		margin-right: 23px;
		position: relative;

		&:first-child {
			margin-right: 13px;
		}
	}

	&__item:first-child &__link {
		background: url("../images/breadcrumbs.svg") no-repeat center center;
		display: block;
		width: 16px;
		height: 16px;
		position: relative;
		top: -1px;
	}

	&__link {
		color: rgb(88, 88, 90);
		font-size: 12px;
		font-weight: 400;
		position: relative;
		z-index: 4;

		span {
			position: relative;
			cursor: pointer;
			z-index: 1;
		}
	}

	&__item_sub &__link {
		position: relative;
		display: inline-flex;
		align-items: center;
		color: rgb(0, 0, 0);

		&:before {
			position: absolute;
			left: 0;
			right: 11px;
			bottom: 0;
			border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
			content: '';
		}

		&:after {
			content: '';
			display: inline-block;
			position: relative;
			top: 1px;

			@include css-triangle(bottom, #dd0016, 4px, 6px);

			margin-left: 5px;
		}
	}

	&__item_sub:hover &__link {
		&:after {
			transform: rotate(-180deg);
		}
	}

	&-sub {
		position: absolute;
		top: 0;
		padding-top: 30px;
		width: 100%;
		z-index: 3;

		&__inner {
			box-shadow: 0 2px 19px rgba(0, 0, 0, 0.1);
			background-color: rgb(255, 255, 255);
			list-style: none;
			position: absolute;
			left: 0;
			top: 20px;
			padding: 8px 0;
			opacity: 0;
			pointer-events: none;
			transition: opacity 400ms;

			&:before {
				position: absolute;

				@include css-triangle(top, #fff, 4px, 6px);

				left: 20px;
				content: '';
				top: -4px;
			}

			.swiper-container {
				max-height: 225px;
			}
		}

		&__list {
			margin: 0;
			padding: 0;
		}

		&__link {
			color: rgb(88, 88, 90);
			font-size: 12px;
			font-weight: 400;
			display: flex;
			height: 25px;
			align-items: center;
			white-space: nowrap;
			padding: 0 16px;
			transition: background 400ms, color 400ms;
		}

		&__item.activce &__link,
		&__item:hover &__link {
			color: rgb(0, 0, 0);
			background-color: rgb(215, 215, 215);
		}
	}

	&__item:hover &-sub__inner {
		opacity: 1;
		pointer-events: auto;
	}

	@media (--phone) {
		margin-bottom: 2px;
		overflow-x: auto;
		font-size: 11px;
		padding: 0 0 0 3px;

		@include scrollCss;

		width: 100%;

		.about-main &,
		.banner-content &,
		.partners &,
		.yandex-banner & {
			left: 16px;
			top: 11px;
		}

		.banner-content_collaboration & {
			color: rgb(215, 215, 215);

			&__link,
			&__item_sub &__link {
				color: rgb(215, 215, 215);
			}
		}

		&__item {
			white-space: nowrap;
			margin-right: 17px;

			&:last-child {
				padding-right: 50px;
			}
		}

		&__link {
			font-size: 11px;

			&:after {
				display: none !important;
			}
		}

		&__item:first-child {
			margin-right: 17px;
		}

		&__item:first-child &__link {
			width: 10px;
			height: 12px;
			background-size: contain;
		}
	}
}
