.icon-text {
	align-items: center;
	display: inline-flex;
	line-height: 1;
	font-size: 12px;
	font-weight: 400;
	padding: 0 24px;
	height: 24px;
	border-radius: 8px;
	background-color: rgb(245, 247, 250);
	color: rgb(88, 88, 90);

	.news-article &,
	.news-sale & {
		margin-right: 24px;
	}

	&_red {
		color: rgb(0, 0, 0);
		background: #fff;
		border: 2px solid rgb(255, 0, 31);

		.news-sale & {
			background: rgb(255, 0, 31);
			color: #fff;
		}
	}

	&_gray {
		background-color: rgb(245, 247, 250);
		color: rgb(88, 88, 90);
	}
}
