.detail-models {
	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		color: rgb(0, 0, 0);
		margin-bottom: 16px;
	}

	&__inner {}

	&__section {
		min-height: 420px;
		position: relative;
		padding: 0 0 0 400px;
	}

	&__item {
		display: flex;
		flex-wrap: wrap;

		&_current {
			width: 344px;
			min-height: 420px;
			border-radius: 4px;
			border: solid 2px rgb(215, 215, 215);
			background-color: rgb(255, 255, 255);
			flex-direction: column;
			align-items: center;
			padding: 8px 16px 16px;
			position: absolute;
			left: 0;
			top: 0;
		}

		&:nth-child(1) {
			border-bottom: 1px solid rgb(243, 243, 243);
			padding-bottom: 16px;
			margin-bottom: 16px;
		}
	}

	&__smtitle {
		font-size: 13px;
		line-height: 1.85;
		color: rgb(0, 0, 0);
		width: 100%;
		margin-bottom: 8px;
	}

	&__photo {
		padding-top: 20px;
		width: 150px;
		margin-right: 24px;
		flex-shrink: 0;
	}

	&__link {
		text-decoration: none;
	}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__desc {}

	&__name {
		font-size: 14px;
		line-height: 1.71;
		color: rgb(0, 0, 0);
		margin-bottom: 8px;
	}

	&__namelink {
		color: rgb(0, 0, 0);
	}

	&__difftitle {
		font-size: 14px;
		font-weight: bold;
		color: rgb(0, 0, 0);

		span {
			color: rgb(221, 0, 22);
		}
	}

	&__difference {
		position: relative;
		padding-bottom: 39px;
	}

	&__button {
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.1px;
		color: rgb(77, 115, 153);
		border-bottom: solid 1px rgb(230, 236, 242);
		position: absolute;
		left: 0;
		bottom: 16px;

		&:after {
			content: "Показать все отличия";
		}

		&.active:after {
			content: "Свернуть все отличия";
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		font-size: 13px;
		color: rgb(88, 88, 90);
		overflow: hidden;
		transition: max-height 500ms;
		max-height: 46px;
	}

	&__button.active ~ &__list {
		max-height: 1000px;
	}

	&__footer {
		display: flex;
		align-items: baseline;
	}

	&__price {
		font-size: 24px;
		font-weight: 500;
		line-height: 1;
		color: rgb(0, 0, 0);

		span {
			font-size: 18px;
		}
	}

	&__pricemore {
		margin-left: 15px;
		font-size: 14px;
		font-weight: bold;
		color: rgb(120, 191, 48);

		&_down {
			color: rgb(221, 0, 22);
		}

		&_up {}
	}

	&__buy {}

	&__item_current & {
		&__smtitle {
			font-size: 13px;
			font-weight: 500;
			line-height: 1.85;
			text-align: center;
			color: rgb(221, 0, 22);
		}

		&__photo {
			padding: 0;
			width: 100%;
			margin: 0 0 24px;
		}

		&__pic {
			margin: 0 auto;
		}

		&__name {
			font-size: 16px;
			text-align: center;
			color: rgb(0, 0, 0);
			text-align: center;
			margin-bottom: 16px;
		}

		&__namelink {
			span {
				display: block;
			}

			b {
				font-weight: normal;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}

		&__price {
			font-size: 32px;
			font-weight: 500;
			line-height: 0.75;
			color: rgb(0, 0, 0);
			margin-bottom: 24px;

			span {
				font-size: 24px;
			}
		}

		&__buy {
			width: 160px;
			height: 32px;
			border-radius: 24px;
			background-color: rgb(221, 0, 22);
			font-size: 15px;
			font-weight: 500;
			text-align: center;
			color: rgb(255, 255, 255);
			line-height: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}
	}

	@media (max-width: 768px) {
		position: relative;

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			color: rgb(0, 0, 0);
			margin-bottom: 8px;
		}

		&__section {
			padding: 0;
			min-height: auto;
			display: flex;
			overflow-x: auto;
			scroll-behavior: smooth;
			-webkit-overflow-scrolling: touch;
		}

		&__item {
			width: 100%;
			text-align: center;
			flex-shrink: 0;
			border: none !important;
			margin: 0;
			flex-direction: column;
			padding-bottom: 0;

			&_current {
				position: static;
				min-height: auto;
			}
		}

		&__photo {
			padding-top: 8px;
			width: 100%;
			margin: 0 0 16px;
		}

		&__pic {
			margin: 0 auto;
		}

		&__button {
			left: 50%;
			transform: translate(-50%, 0);
		}

		&__footer {
			justify-content: center;
		}

		&__price {
			font-size: 18px;
		}

		&__item_current & {
			&__price {
				font-size: 24px;

				span {
					font-size: 18px;
				}
			}
		}

		&__arrow {
			position: absolute;
			left: -8px;
			right: -8px;
			display: flex;
			justify-content: space-between;
			top: 100px;
			pointer-events: none;
			z-index: 2;
		}

		&__prev {
			width: 24px;
			height: 36px;
			border-radius: 4px;
			background: rgba(26, 26, 26, 0.3) url(../images/swiper__next_banner.svg) no-repeat 50%;
			background-size: auto 60%;
			pointer-events: auto;
			transform: rotate(-180deg);
			cursor: pointer;
		}

		&__next {
			width: 24px;
			height: 36px;
			border-radius: 4px;
			background: rgba(26, 26, 26, 0.3) url(../images/swiper__next_banner.svg) no-repeat 50%;
			background-size: auto 60%;
			pointer-events: auto;
			cursor: pointer;
		}
	}
}
