<div class="detail-models">
	<div class="detail-models__title">Обратите внимание:</div>
	<div class="detail-models__arrow" data-scrolling>
		<div class="detail-models__prev" data-scrolling-prev></div>
		<div class="detail-models__next" data-scrolling-next></div>
	</div>
	<div class="detail-models__inner">
		<div class="detail-models__section" data-scrolling-section>
			<div class="detail-models__item">
				<div class="detail-models__smtitle">Модель дешевле</div>
				<div class="detail-models__photo">
					<a href="#" class="detail-models__link">
						<img data-src="images/detail-models__pic1.jpg" alt="" class="detail-models__pic lazyload">
					</a>
				</div>
				<div class="detail-models__desc">
					<div class="detail-models__name">
						<a href="#" class="detail-models__namelink">
							Варочная панель De Dietrich DPI7686XP
						</a>
					</div>
					<div class="detail-models__difftitle">
						Отличия: 
						<span>Нет функций</span>
					</div>
					<div class="detail-models__difference">
						<div class="detail-models__button" data-toggle-class></div>
						<ul class="detail-models__list">
							<li>Экономичная программа</li>
							<li>Программа деликатной мойки</li>
							<li>Тихая работа</li>
							<li>Внутренняя подсветка</li>
							<li>Обработка против отпечатков пальцев</li>
							<li>Программа для стирки шелковых вещей с адаптированным циклом</li>
							<li>Индикатор наличия ополаскивателя</li>
							<li>Индикатор "Луч на полу"</li>
							<li>Регулируемая по высоте корзина для посуды</li>
							<li>Проточный водонагреватель</li>
							<li>Удобный доступ к корзинам</li>
						</ul>
					</div>
					<div class="detail-models__footer">
						<div class="detail-models__price">
							108 000 <span>руб.</span>
						</div>
						<div class="detail-models__pricemore detail-models__pricemore_down">
							-10 000 руб.
						</div>
					</div>
				</div>
			</div>
			<!-- /.detail-models__item -->
			<div class="detail-models__item detail-models__item_current">
				<div class="detail-models__smtitle">Текущая модель</div>
				<div class="detail-models__photo">
					<a href="#" class="detail-models__link">
						<img data-src="images/detail-models__pic2.jpg" alt="" class="detail-models__pic lazyload">
					</a>
				</div>
				<div class="detail-models__desc">
					<div class="detail-models__name">
						<a href="#" class="detail-models__namelink">
							<span>Варочная панель</span>
							<b>De Dietrich DPI7572G</b>
						</a>
					</div>
					<div class="detail-models__price">
						118 000 <span>руб.</span>
					</div>
					<a href="#" class="detail-models__buy">Купить</a>
				</div>
			</div>
			<!-- /.detail-models__item -->
			<div class="detail-models__item">
				<div class="detail-models__smtitle">Модель дороже</div>
				<div class="detail-models__photo">
					<a href="#" class="detail-models__link">
						<img data-src="images/detail-models__pic1.jpg" alt="" class="detail-models__pic lazyload">
					</a>
				</div>
				<div class="detail-models__desc">
					<div class="detail-models__name">
						<a href="#" class="detail-models__namelink">
							Варочная панель De Dietrich DPI7686XP
						</a>
					</div>
					<div class="detail-models__difftitle">
						Отличия: 
						<span>Есть функции</span>
					</div>
					<div class="detail-models__difference">
						<div class="detail-models__button" data-toggle-class></div>
						<ul class="detail-models__list">
							<li>Экономичная программа</li>
							<li>Программа деликатной мойки</li>
							<li>Тихая работа</li>
							<li>Внутренняя подсветка</li>
							<li>Обработка против отпечатков пальцев</li>
							<li>Программа для стирки шелковых вещей с адаптированным циклом</li>
							<li>Индикатор наличия ополаскивателя</li>
							<li>Индикатор "Луч на полу"</li>
							<li>Регулируемая по высоте корзина для посуды</li>
							<li>Проточный водонагреватель</li>
							<li>Удобный доступ к корзинам</li>
						</ul>
					</div>
					<div class="detail-models__footer">
						<div class="detail-models__price">
							138 000 <span>руб.</span>
						</div>
						<div class="detail-models__pricemore detail-models__pricemore_up">
							+20 000 руб.
						</div>
					</div>
				</div>
			</div>
			<!-- /.detail-models__item -->
		</div>
	</div>
</div>