.basket {
	.title_small {
		margin-bottom: 16px;
	}

	&__section {
		border-radius: 0 0 5px 5px;
		background-color: #ffffff;
		margin: 0 -24px -30px;
		padding: 24px;
	}

	&__footer {}

	&__total {
		color: #000000;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		display: flex;
		align-items: baseline;
	}

	&__summ {
		color: #000000;
		font-size: 22px;
		font-weight: 500;
		line-height: 24px;
		margin-left: 16px;
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__submit {
		@include button($w: 256px, $bdrs: 20px);
	}

	@media (--phone) {
		padding-top: 0;

		.title_small {
			margin-bottom: 6px;
		}

		.swiper-slide {
			width: 180px;
		}

		&__section {
			margin: 0 -16px -16px;
			border-radius: 0;
			padding: 16px 16px 70px;
		}

		&__total {
			font-size: 12px;
			line-height: 1.67;
			margin-bottom: 19px;
		}

		&__summ {
			font-size: 18px;
		}

		&__buttons {
			flex-direction: column;
			align-items: flex-start;
		}

		&__footer &__buttons .checkbox {
			margin-bottom: 20px;
		}

		&__submit {
			width: 100%;
		}
	}
}
