<div class="sorting-view">
	<div class="sorting-view__text">
		Вид
	</div>
	<a class="sorting-view__list active" href="#"></a>
	<a class="sorting-view__table" href="#"></a>
</div>
<!-- /.sorting-view -->
