.sorting-view {
	width: 114px;
	height: 32px;
	border-radius: 8px;
	background-color: rgb(255, 255, 255);
	display: flex;
	line-height: 1;
	align-items: center;

	&__text {
		font-size: 14px;
		color: rgb(88, 88, 90);
		margin: 0 16px;
	}

	&__list {
		width: 16px;
		height: 16px;
		background: url(../images/sorting-view__list.svg) no-repeat center;
		margin-right: 16px;
		transition: background 400ms;

		&:hover,
		&.active {
			background: url(../images/sorting-view__list_active.svg) no-repeat center;
		}
	}

	&__table {
		width: 16px;
		height: 16px;
		background: url(../images/sorting-view__table.svg) no-repeat center;
		transition: background 400ms;

		&:hover,
		&.active {
			background: url(../images/sorting-view__table_active.svg) no-repeat center;
		}
	}
}
