<div class="catalog-list">
	<div class="catalog__title">Товары, участвующие в акции</div>
	{% for item in[1, 2, 3, 4, 5] %}
		<div class="catalog-list__item">
			<div class="row align-items-stretch">
				<div class="col-sm-4">
					<div class="catalog-list__photo">
						<a class="catalog-list__link" href="#">
							<img class="catalog-list__pic lazyload" data-src="images/catalog-list__pic1.jpg"/>
						</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="catalog-list__middle">
						<div class="catalog-list__middle-top">
							<div class="catalog-list__name">
								<a class="catalog-list__namelink" href="#">Стиральная машина Miele PW 6080 Vario LP RU</a>
							</div>
							{% set properties = [
								"Тип: <span>отдельностоящий</span>",
								"Вид: <span>холодильник с морозильником</span>",
								"Высота (см): <span>151</span>",
								"Ширина (см): <span>60</span>",
								"Количество камер: <span>1</span>",
								"Дверной упор: <span>справа</span>",
								"Зона свежести: <span>Да</span>"
							] %}
							<ul class="catalog-list__list">
								{% for prop in properties %}
									<li>{{ prop | safe }}</li>
								{% endfor %}
							</ul>
						</div>
						<div class="catalog-list__middle-bottom">
							{% include "benefits/benefits-product/benefits-product.njk" %}
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="catalog-list__desc">
						<div class="catalog-list__header">
							<div class="available">В наличии</div>
							<div class="catalog-list__articul">Артикул:
								<span>146-9713</span></div>
						</div>
						<div class="catalog-list__buttons">
							<div class="catalog-list__price">
								488 000
								<span>руб.</span>
							</div>
							<a class="button-buy catalog-list__buy" href="#">Купить
							</a>
							<div class="catalog-list__info">Бесплатная доставка и подключение</div>
						</div>
						<div class="catalog-list__line"></div>
						<div class="row catalog-list__utilities align-items-center">
							<div class="col-6 col-sm-5">
								<a class="button-compare active" href="#">
									<span class="button-compare__icon"></span>
									<span class="button-compare__text">В сравнении</span>
								</a>
							</div>
							<div class="col-6 col-sm-7">
								<a class="button-favorite active" href="#">
									<span class="button-favorite__icon"></span>
									<span class="button-favorite__text">В избранном</span>
								</a>
							</div>
						</div>
						<div class="catalog-list__text">
							<div class="catalog-list__smtitle">
								Максимальное удобство эксплуатации</div>Модель Miele PW 6080 Vario LP RU предназначена для профессиональной стирки. Возможность подключения кассового аппарата и выбора пакета специальных программ из 15 вариантов позволяют адаптировать модель к условиям вашего бизнеса.
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.catalog-list__item -->
	{% endfor %}
</div>
<!-- /.catalog-list -->
