.catalog-list {
	margin-bottom: 49px;

	&__item {
		border-radius: 5px;
		background-color: rgb(255, 255, 255);
		margin-bottom: 14px;
		padding: 24px 24px 16px;
	}

	&__photo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__link {
		text-decoration: none;
	}

	&__pic {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}

	&__middle {
		margin: 0 0 0 -12px;
		padding-right: 40px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-top {
			margin-bottom: 28px;
		}

		&-bottom {}
	}

	&__name {
		margin-bottom: 12px;
	}

	&__namelink {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;

		&:after {
			content: '';
			display: inline-block;
			margin-left: 16px;

			@include css-triangle(right, var(--cherry), 10px, 8px);
		}
	}

	&__list {
		margin: 0 0 16px;
		padding: 0;
		color: rgb(165, 165, 166);
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		list-style: none;

		li {
			margin-bottom: 8px;
		}

		span {
			color: rgb(0, 0, 0);
		}
	}

	&__desc {
		margin: -4px 0 0 -39px;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 9px;
	}

	&__articul {
		color: rgb(165, 165, 166);
		font-size: 13px;
		font-weight: 400;
		line-height: 1;

		span {
			color: rgb(0, 0, 0);
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 11px;
	}

	&__price {
		padding-top: 5px;
		color: rgb(0, 0, 0);
		font-size: 24px;
		font-weight: 500;
		margin-right: 26px;

		span {
			font-size: 16px;
		}
	}

	&__priceold {
		color: #4D7399;
		font-size: 15px;
		text-decoration: line-through;
		font-weight: normal;

		span {
			font-size: 15px;
		}
	}

	&__getPrice {
		font-size: 13px;
		color: #dd0016;
		line-height: 15px;
		width: calc(100% - 164px);

		span {
			max-width: 200px;
			display: block;
		}
	}

	@media (min-width: 769px) {
		&__buy {
			width: 164px;
			height: 32px;
			border-radius: 24px;
			background: rgb(221, 0, 22);
			text-indent: 0;
			font-size: 15px;
			font-weight: 500;
			text-align: center;
			color: rgb(255, 255, 255);
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 1;
			transition: .4s;

			&:hover {
				background: #FB001D;
			}

			&.active {
				background: #c4c4c4;
			}
		}
	}

	&__info {
		color: rgb(49, 182, 75);
		font-size: 13px;
		font-weight: 400;
		width: 100%;
		padding-top: 12px;
	}

	&__line {
		border-bottom: 1px solid rgb(243, 243, 243);
		margin-bottom: 14px;
	}

	&__utilities {
		margin-bottom: 20px;
	}

	&__smtitle {
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 8px;
	}

	&__text {
		color: rgb(0, 0, 0);
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
	}

	.button-favorite {
		margin-left: -14px;
	}

	@media (--phone) {
		&__item {
			height: calc(100% - 14px);
			background-color: #fff;
			transition: all 400ms;
			padding: 24px 16px 22px;
			margin-bottom: 14px;
			border-radius: 5px;
			position: relative;

			.row {
				flex-direction: column;

				[class*=col-] {
					width: 100%;
				}
			}
		}

		&__middle {
			height: auto;
			margin: 0;
			padding: 0;

			&-top {
				margin: 0;
			}
		}

		&__photo {
			height: 190px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 -20px 24px;
		}

		&__link {
			display: block;
		}

		&__pic {
			max-height: 180px;
			max-width: 100%;
		}

		&__name {
			margin-bottom: 4px;
			line-height: 1.71;
			font-weight: normal;
		}

		&__namelink {
			font-size: 14px;
			color: #000000;
			font-weight: normal;
			line-height: 1;

			&:after {
				display: none;
			}

			span {
				display: block;
			}
		}

		&__desc {
			margin: 0;
		}

		&__header {
			margin: 0 0 11px;
		}

		&__buttons {
			justify-content: space-between;
		}

		&__price {
			font-size: 20px;
			padding: 0;
		}

		&__getPrice {
			width: calc(100% - 40px);

			span {
				max-width: 100%;
			}
		}

		&__utilities.row {
			flex-direction: row;
			margin: 0;
			justify-content: space-between;

			[class*=col-] {
				width: auto;
				padding: 0;
				flex: none;
			}
		}

		.button-favorite {
			margin: 0;
		}

		&__text,
		&__line,
		&__articul,
		&__info,
		&__list,
		&__middle-bottom {
			display: none;
		}
	}
}
