<div class="catalog-list">
	{% for item in[1, 2] %}
		<div class="catalog-list__item">
			<div class="row align-items-stretch">
				<div class="col-sm-4">
					<div class="catalog-list__photo">
						<a class="catalog-list__link" href="#">
							<img class="catalog-list__pic lazyload" data-src="images/catalog-list__pic1.jpg">
						</a>
					</div>
					<!-- /.catalog-list__photo -->
				</div>
				<!-- /.col-sm-4 -->
				<div class="col-sm-4">
					<div class="catalog-list__middle">

						<div class="catalog-list__middle-top">
							<div class="catalog-list__name">
								<a class="catalog-list__namelink" href="#">Стиральная машина Miele PW 6080 Vario LP RU</a>
							</div>
							<ul class="catalog-list__list">
								{% for item in[
									"Тип: <span>отдельностоящий</span>",
									"Вид: <span>холодильник с морозильником</span>",
									"Высота (см): <span>151</span>",
									"Ширина (см): <span>60</span>",
									"Количество камер: <span>1</span>",
									"Дверной упор: <span>справа</span>",
									"Зона свежести: <span>Да</span>"
								] %}
									<li>{{ item | safe }}</li>
								{% endfor %}
							</ul>
						</div>

						<div class="catalog-list__middle-bottom">
							{% include "benefits/benefits-product/benefits-product.njk" %}
						</div>

					</div>
				</div>
				<!-- /.col-sm-4 -->
				<div class="col-sm-4">
					<div class="catalog-list__desc">
						<div class="catalog-list__header">
							<div class="available">В наличии</div>
							<div class="catalog-list__articul">Артикул:
								<span>146-9713</span></div>
						</div>
						<!-- /.catalog-list__header -->
						<div class="catalog-list__buttons">
							<div class="catalog-list__getPrice">
								<span>* Стоимость модели можно уточнить у нашего консультанта</span>
							</div>
							<a class="button-buy catalog-list__buy" href="#">Оставить заявку</a>
							<div class="catalog-list__info">Бесплатная доставка и подключение</div>
						</div>
						<!-- /.catalog-list__buttons -->
						<div class="catalog-list__line"></div>
						<div class="row catalog-list__utilities align-items-center">
							<div class="col-6 col-sm-5">
								<a class="button-compare active" href="#">
									<span class="button-compare__icon"></span>
									<span class="button-compare__text">В сравнении</span>
								</a>
							</div>
							<div class="col-6 col-sm-7">
								<a class="button-favorite active" href="#">
									<span class="button-favorite__icon"></span>
									<span class="button-favorite__text">В избранном</span>
								</a>
							</div>
						</div>
						<!-- /.catalog-list__utilities -->
						<div class="catalog-list__text">
							<div class="catalog-list__smtitle">Максимальное удобство эксплуатации</div>
							Модель Miele PW 6080 Vario LP RU предназначена для профессиональной стирки. Возможность подключения кассового аппарата и выбора пакета специальных программ из 15 вариантов позволяют адаптировать модель к условиям вашего бизнеса.
						</div>
						<!-- /.catalog-list__text -->
					</div>
					<!-- /.catalog-list__desc -->
				</div>
				<!-- /.col-sm-4 -->
			</div>
		</div>
		<!-- /.catalog-list__item -->
	{% endfor %}

	<div class="catalog__title">Популярные стиральные машины</div>
	<!-- /.catalog__title -->
	{% for item in[1, 2, 3, 4, 5] %}
		<div class="catalog-list__item">
			<div class="row align-items-stretch">
				<div class="col-sm-4">
					<div class="catalog-list__photo">
						<a class="catalog-list__link" href="#">
							<img class="catalog-list__pic lazyload" data-src="images/catalog-list__pic1.jpg">
						</a>
					</div>
					<!-- /.catalog-list__photo -->
				</div>
				<!-- /.col-sm-4 -->
				<div class="col-sm-4">
					<div class="catalog-list__middle">

						<div class="catalog-list__middle-top">
							<div class="catalog-list__name">
								<a class="catalog-list__namelink" href="#">Стиральная машина Miele PW 6080 Vario LP RU</a>
							</div>
							<ul class="catalog-list__list">
								{% for item in[
									"Тип: <span>отдельностоящий</span>",
									"Вид: <span>холодильник с морозильником</span>",
									"Высота (см): <span>151</span>",
									"Ширина (см): <span>60</span>",
									"Количество камер: <span>1</span>",
									"Дверной упор: <span>справа</span>",
									"Зона свежести: <span>Да</span>"
								] %}
									<li>{{ item | safe }}</li>
								{% endfor %}
							</ul>
						</div>

						<div class="catalog-list__middle-bottom">
							{% include "benefits/benefits-product/benefits-product.njk" %}
						</div>

					</div>
				</div>
				<!-- /.col-sm-4 -->
				<div class="col-sm-4">
					<div class="catalog-list__desc">
						<div class="catalog-list__header">
							<div class="available">В наличии</div>
							<div class="catalog-list__articul">Артикул:
								<span>146-9713</span></div>
						</div>
						<!-- /.catalog-list__header -->
						<div class="catalog-list__buttons">
							<div class="catalog-list__price">
								488 000
								<span>руб.</span>
							</div>
							<a class="button-buy catalog-list__buy" href="#">Купить
							</a>
							<div class="catalog-list__info">Бесплатная доставка и подключение</div>
						</div>
						<!-- /.catalog-list__buttons -->
						<div class="catalog-list__line"></div>
						<div class="row catalog-list__utilities align-items-center">
							<div class="col-6 col-sm-5">
								<a class="button-compare active" href="#">
									<span class="button-compare__icon"></span>
									<span class="button-compare__text">В сравнении</span>
								</a>
							</div>
							<div class="col-6 col-sm-7">
								<a class="button-favorite active" href="#">
									<span class="button-favorite__icon"></span>
									<span class="button-favorite__text">В избранном</span>
								</a>
							</div>
						</div>
						<!-- /.catalog-list__utilities -->
						<div class="catalog-list__text">
							<div class="catalog-list__smtitle">Максимальное удобство эксплуатации</div>
							Модель Miele PW 6080 Vario LP RU предназначена для профессиональной стирки. Возможность подключения кассового аппарата и выбора пакета специальных программ из 15 вариантов позволяют адаптировать модель к условиям вашего бизнеса.
						</div>
						<!-- /.catalog-list__text -->
					</div>
					<!-- /.catalog-list__desc -->
				</div>
				<!-- /.col-sm-4 -->
			</div>
		</div>
		<!-- /.catalog-list__item -->
	{% endfor %}
</div>
<!-- /.catalog-list -->
