<div class="detail-accessories">
	<div class="detail-accessories__title">Аксессуары для De Dietrich DPI7572G:</div>
	<div class="detail-accessories__section">
		<div class="detail-accessories__col">
			<div class="detail-accessories__item">
				<div class="detail-accessories__photo">
					<a href="#" class="detail-accessories__link">
						<img data-src="images/detail-accessories__pic2.png" alt="" class="detail-accessories__pic lazyload">
					</a>
				</div>
				<div class="detail-accessories__content">
					<div class="detail-accessories__name">
						<a href="#" class="detail-accessories__namelink">
							<span>Кухонный смеситель</span>
							<b>Grohe Concetto DN-15 + Blanco AXIA Grohe Concetto DN-15 + Blanco AXI</b>
						</a>
					</div>
					<div class="detail-accessories__buttons">
						<div class="detail-accessories__price">
							176 990 руб.
						</div>
						<a href="#" class="detail-accessories__buy button-buy"></a>
					</div>
				</div>
			</div>
			<!-- /.detail-accessories__item -->
		</div>
		<!-- /.detail-accessories__col -->
		<div class="detail-accessories__col">
			<div class="detail-accessories__item detail-accessories__item_selected">
				<div class="detail-accessories__photo">
					<a href="#" class="detail-accessories__link">
						<img data-src="images/detail-accessories__pic2.png" alt="" class="detail-accessories__pic lazyload">
					</a>
					<div class="label">
						<div class="label__item">Выгодно</div>
					</div>
				</div>
				<div class="detail-accessories__content">
					<div class="detail-accessories__name">
						<a href="#" class="detail-accessories__namelink">
							<span>Кухонный смеситель</span>
							<b>Grohe Concetto DN-15 + Blanco AXIA Grohe Concetto DN-15 + Blanco AXI</b>
						</a>
					</div>
					<div class="detail-accessories__buttons">
						<div class="detail-accessories__price">
							<div class="detail-accessories__price-old">
								504 996 руб.
							</div>
							176 990 руб.
						</div>
						<a href="#" class="detail-accessories__buy button-buy"></a>
					</div>
				</div>
			</div>
			<!-- /.detail-accessories__item -->
		</div>
		<!-- /.detail-accessories__col -->
		<div class="detail-accessories__col">
			<div class="detail-accessories__item">
				<div class="detail-accessories__photo">
					<a href="#" class="detail-accessories__link">
						<img data-src="images/detail-accessories__pic2.png" alt="" class="detail-accessories__pic lazyload">
					</a>
				</div>
				<div class="detail-accessories__content">
					<div class="detail-accessories__name">
						<a href="#" class="detail-accessories__namelink">
							<span>Кухонный смеситель</span>
							<b>Grohe Concetto DN-15 + Blanco AXIA Grohe Concetto DN-15 + Blanco AXI</b>
						</a>
					</div>
					<div class="detail-accessories__buttons">
						<div class="detail-accessories__price">
							176 990 руб.
						</div>
						<a href="#" class="detail-accessories__buy button-buy"></a>
					</div>
				</div>
			</div>
			<!-- /.detail-accessories__item -->
		</div>
		<!-- /.detail-accessories__col -->
		<div class="detail-accessories__col">
			<div class="detail-accessories__item">
				<div class="detail-accessories__photo">
					<a href="#" class="detail-accessories__link">
						<img data-src="images/detail-accessories__pic2.png" alt="" class="detail-accessories__pic lazyload">
					</a>
				</div>
				<div class="detail-accessories__content">
					<div class="detail-accessories__name">
						<a href="#" class="detail-accessories__namelink">
							<span>Кухонный смеситель</span>
							<b>Grohe Concetto DN-15 + Blanco AXIA Grohe Concetto DN-15 + Blanco AXI</b>
						</a>
					</div>
					<div class="detail-accessories__buttons">
						<div class="detail-accessories__price">
							176 990 руб.
						</div>
						<a href="#" class="detail-accessories__buy button-buy"></a>
					</div>
				</div>
			</div>
			<!-- /.detail-accessories__item -->
		</div>
		<!-- /.detail-accessories__col -->
	</div>
	<div class="detail-accessories__footer">
		<a href="#" class="detail-accessories__more">Загрузить еще</a>
	</div>
</div>