<div class="benefits-text">
	<div class="row aling-items-stretch">
		<div class="col-sm-6">
			<div class="benefits-text__item">
				<div class="benefits-text__photo"><img class="benefits-text__pic lazyload" data-src="images/benefits-text__pic1.svg"/></div>
				<div class="benefits-text__name">Наличный расчет</div>
				<div class="benefits-text__text">Оплата наличными при доставке.</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="benefits-text__item">
				<div class="benefits-text__photo"><img class="benefits-text__pic lazyload" data-src="images/benefits-text__pic2.svg"/></div>
				<div class="benefits-text__name">Банковские карты</div>
				<div class="benefits-text__text">Оплата банковской картой при доставке или онлайн. Мы принимаем карты: Visa, Visa Electron, Mastercard, Mastercard Electronic, Maestro.* Если вы хотите оплатить товар кредитной картой, необходимо предупредить об этом менеджера.</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="benefits-text__item">
				<div class="benefits-text__photo"><img class="benefits-text__pic lazyload" data-src="images/benefits-text__pic3.svg"/></div>
				<div class="benefits-text__name">Электронные деньги.</div>
				<div class="benefits-text__text">Вы можете оплатить покупку электронным кошельком: Webmoney, Яндекс. Деньги и другими видами электронных валют.</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="benefits-text__item">
				<div class="benefits-text__photo"><img class="benefits-text__pic lazyload" data-src="images/benefits-text__pic4.svg"/></div>
				<div class="benefits-text__name">Предоплата в бутике Hausdorf</div>
				<div class="benefits-text__text">наличными или банковской картой.</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="benefits-text__item">
				<div class="benefits-text__photo"><img class="benefits-text__pic lazyload" data-src="images/benefits-text__pic5.svg"/></div>
				<div class="benefits-text__name">Безналичный расчет</div>
				<div class="benefits-text__text">Безналичный расчет возможен как с юридическими, так и с физическими лицами. Мы высылаем счет по электронной почте или по факсу. Товар доставляется в удобное вам время после поступления денег на наш расчетный счет.
					Получатель от юридического лица обязан иметь оригинал доверенности на получение товара и печать организации.</div>
			</div>
		</div>
	</div>
</div>
<!-- /.benefits-text -->
