.benefits-text {
	.row {
		margin-left: -20px;
		margin-right: -20px;

		[class*=col-] {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&__item {
		height: calc(100% - 24px);
		margin-bottom: 24px;
		padding-bottom: 24px;
		border-bottom: 1px solid rgb(243, 243, 243);
	}

	&__photo {
		height: 56px;
		margin-bottom: 16px;
	}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__name {
		color: rgb(0, 0, 0);
		margin-bottom: 5px;
		font-size: 16px;
		font-weight: 500;
	}

	&__text {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}

	@media (--phone) {
		&__item {
			height: auto;
			margin-bottom: 16px;
			padding-bottom: 0;
			border: none;
		}

		&__photo {
			margin-bottom: 8px;
		}

		&__name {
			font-size: 12px;
		}

		&__text {
			line-height: 2;
			font-size: 10px;
		}
	}
}