<div class="seo-catalog">

	{#%# include "news/news-col/news-col.njk" #%#}

	{% from "news/news-block/news-block.njk" import newsBlock %}

	<div class="seo-catalog__news">

		<div class="title title_small">Статьи и видео:</div>

		<div class="news-block">
			<div class="swiper">
				<div class="swiper-container" data-swiper data-options='{"slidesPerView":4,"spaceBetween":16,"breakpoints":{"768":{"slidesPerView":"auto","spaceBetween":16,"slidesPerGroup":1}}}'>
					<div class="swiper-wrapper">
						{% for item in '12' %}
						<div class="swiper-slide">
							{{
								newsBlock()
							}}
						</div>
						<!-- /.swiper-slide -->
						<div class="swiper-slide">
							{{
								newsBlock(
									src = 'images/news-block__pic2.jpg',
									name = 'Новые сушильные шкафы от Asko'
								)
							}}
						</div>
						<!-- /.swiper-slide -->
						<div class="swiper-slide">
							{{
								newsBlock(
									src = 'images/news-block__pic3.jpg',
									name = 'Лучшие марки холодильников',
									video = 'show'
								)
							}}
						</div>
						<!-- /.swiper-slide -->
						<div class="swiper-slide">
							{{
								newsBlock(
									src = 'images/news-block__pic4.jpg',
									name = 'Специальные цены на вытяжки Falmec',
									video = 'show'
								)
							}}
						</div>
						<!-- /.swiper-slide -->
						{% endfor %}
					</div>
				</div>
				<div class="swiper__arrow swiper__arrow_right">
					<div class="swiper__prev swiper__prev_round js-swiper__prev"></div>
					<div class="swiper__next swiper__next_round js-swiper__next"></div>
				</div>
			</div>
			<!-- /.swiper -->
		</div>
		<!-- /.news-block -->
		
	</div>
	
	<div class="seo-catalog__more" data-toggle-class></div>
	<div class="seo-catalog__inner">
		<div class="seo-catalog__title">Холодильники в бутике Hausdorf</div>
		<p>Встраиваемый или отдельно стоящий холодильник — важнейшая техника для дома. Современные модели такого оборудования позволяют длительное время сохранять продукты свежими. Они делают лёд, мгновенно замораживают зелень и ягоды, сохраняя их вкус,
			поддерживают в своих камерах не только температуру, но и оптимальную влажность. Производители оснащают такую технику стеклянными дверцами, стильной металлической фурнитурой, электронными панелями управления.</p>
		<img class="lazyload" data-src="images/seo_pic_10.jpg"/>
		<div class="seo-catalog__title">Двухкамерные модели</div>
		<p>Такие холодильники наиболее распространены и востребованы. Это техника с верхней или нижней морозильной камерой. Она подойдёт большинству потребителей, так как является универсальной. В данной категории можно найти модели в белой, бежевой, чёрной,
			красной и другой расцветке.
		</p>
		<div class="seo-catalog__title">«Сайд-бай-сайд»</div>
		<p>Это большие двухдверные холодильники, самые вместительные в нашем ассортименте. Купить их можно для установки не только на домашней кухне, но и на предприятии, в офисе. Практически все производители предлагают такую технику для требовательных
			покупателей.
		</p>
		<div class="seo-catalog__video">
			<img class="lazyload" data-src="images/seo_pic_11.jpg"/>
			<a class="seo-catalog__play" href="#"></a>
		</div>
		<div class="seo-catalog__title">Необычная техника
		</div>
		<p>В нашем каталоге найдутся модели холодильников для людей со специфическими запросами. Так, например, у нас вы можете заказать:
		</p>
		<ol>
			<li>Морозильный ларь. Это холодильник-морозильник с дверцей, расположенной сверху. Он подходит для длительного хранения продуктов. Как правило, его покупают для замораживания ягод или других продуктов с дачи. Главное преимущество такой техники —
				доступная цена и небольшие размеры.</li>
			<li>Винный шкаф. Холодильник с винным шкафом поможет вам хранить дорогое вино в идеальных условиях. Внутри его камеры поддерживается оптимальная температура и влажность. Кроме этого, такая техника отличается особенно тихими компрессорами, которые
				работают практически без вибрации.
			</li>
			<li>Мини-бары. Это агрегаты со стильным дизайном, иногда с интересной раскраской корпуса. Внутреннее пространство организовано специально для размещения бутылок и банок с напитками.
			</li>
			<li>Модели с лёдогенераторами. Устройства для изготовления льда имеются у многих топовых моделей с морозилкой. Вода для получения льда заливается в специальную камеру. Как правило, такие лёдогенераторы могут подключаться к водопроводу или работать
				автономно.
			</li>
			<li>Шкафы для шоковой заморозки. Используются для очень быстрого замораживания продуктов. Чем быстрее происходит этот процесс, тем лучше сохраняются структура продуктов и полезные вещества в них.
			</li>
		</ol>
		<p>Уточнить характеристики и функционал понравившейся вам бытовой техники можно у наших консультантов.</p>

		{% include "download-files-seo/download-files-seo.njk" %}

	</div>
</div>
<!-- /.seo-catalog -->
