<div class="seo-catalog">

	{#% include "news/news-col/news-col.njk" %#}

	{% from "news/news-block/news-block.njk" import newsBlock %}

	<div class="seo-catalog__news">

		<div class="title title_small">Статьи и видео:</div>

		<div class="news-block">
			<div class="swiper">
				<div class="swiper-container" data-swiper data-options='{"slidesPerView":4,"spaceBetween":16,"breakpoints":{"768":{"slidesPerView":"auto","spaceBetween":16,"slidesPerGroup":1}}}'>
					<div class="swiper-wrapper">
						{% for item in '12' %}
						<div class="swiper-slide">
							{{
								newsBlock()
							}}
						</div>
						<!-- /.swiper-slide -->
						<div class="swiper-slide">
							{{
								newsBlock(
									src = 'images/news-block__pic2.jpg',
									name = 'Новые сушильные шкафы от Asko'
								)
							}}
						</div>
						<!-- /.swiper-slide -->
						<div class="swiper-slide">
							{{
								newsBlock(
									src = 'images/news-block__pic3.jpg',
									name = 'Лучшие марки холодильников',
									video = 'show'
								)
							}}
						</div>
						<!-- /.swiper-slide -->
						<div class="swiper-slide">
							{{
								newsBlock(
									src = 'images/news-block__pic4.jpg',
									name = 'Специальные цены на вытяжки Falmec',
									video = 'show'
								)
							}}
						</div>
						<!-- /.swiper-slide -->
						{% endfor %}
					</div>
				</div>
				<div class="swiper__arrow swiper__arrow_right">
					<div class="swiper__prev swiper__prev_round js-swiper__prev"></div>
					<div class="swiper__next swiper__next_round js-swiper__next"></div>
				</div>
			</div>
			<!-- /.swiper -->
		</div>
		<!-- /.news-block -->
		
	</div>

	<div class="seo-catalog__more" data-toggle-class></div>
	<div class="seo-catalog__inner">
		<div class="seo-catalog__title">Стиральные машины в бутике Hausdorf</div>
		<p>В интернет магазине Hausdorf представлен как широкий ассортимент стиральных машин по доступным ценам, так и ряд моделей техники премиум класса.</p>
		<p>Сегодня уже просто не существует домов, где обходятся без стиральных машин. В технике последнего поколения применяются новые стандарты, качества и комфорта, да и требования к стиральным автоматам изменились — современному потребителю мало просто
			стирки и отжима. На ваш выбор в
			<a href="#">бутике Хаусдорф в Москве</a>
			представлены полновстраиваемые и отдельностоящие модели, какому изделию отдать предпочтение зависит только от планируемого расположения прибора.</p>
		<img class="lazyload" data-src="images/seo_pic_1.jpg"/>
		<div class="seo-catalog__title">Новейшие технологии в повседневной жизни.</div>
		<p>Элитная техника, в том числе и стиральные машины, оснащаются инновационными технологиями. Так, например, компания V-ZUG разработала систему EcoManagement с широким спектром возможностей. Вы сможете легко вести домашнее хозяйство и при этом не быть
			привязанными к дому. Функция интеллектуальной отсрочки старта OptiTime применяется в новейших стиральных машинах Adora: загружаете белье в барабан, выбираете необходимую программу стирки и затем с помощью функции OptiTime задаете время окончания
			программы.</p>
		<p>Не менее интересно и запатентованное изобретение компании Siemens — функция ICS (Система Интеллектуального Контроля). Эта эксклюзивная технология обеспечивает простоту использования, оптимальный результат и экономию энергии. На интуитивной панели
			управления нужно лишь задать тип стирки: белое или цветное, и выбрать из предложенных вариантов уровень загрязнения. После этого машина автоматически определит вид ткани и вес заложенного в барабан белья, сама настроит все параметры стирки: тип
			программы, длительность, температуру, скорость отжима, количество воды и электроэнергии, потребляемой на различных этапах цикла.</p><img class="lazyload" data-src="images/seo_pic_3.jpg"/>
		<div class="seo-catalog__title">Улучшенные конструктивные особенности</div>
		<p>Производители современной бытовой техники постоянно ведут работу над улучшением и конструктивных характеристик. Новые модели с фронтальной загрузкой имеют возможность стирки до 8 кг белья. Несмотря на свою мощность, стиральные машины обеспечивают
			впечатляющую экономию электроэнергии при любой загрузке. Многие корпорации всерьез позаботились о шумоизоляции — приборы работают тихо, даже при отжиме 1600 оборотов в минуту. Инверторный мотор, устанавливаемый на флагманах техники для дома, обладает
			расширенной гарантией и пониженным уровнем шума. Стирка с паром, которую так же можно найти в передовых моделях, позволяет на 99,9% избавиться от бактерий и аллергенов. Пар воздействует на каждую вещь в барабане и эффективно удаляет загрязнения.</p>
		<div class="seo-catalog__title">Как выбрать</div>
		<p>Какую модель выбрать зависит только от вас, чтобы быть уверенным в своем выборе можно изучить отзывы других покупателей на приглянувшуюся модель или зайти на официальный сайт производителя, за максимально подробным описанием изделия.</p>
		<p>В нашем каталоге представлены модели с поворотными переключателями и простой светодиодной индикацией, приборы с большими цветными TFT-дисплеями или даже с поворотными панелями управления.</p>
		<p>Различные цвета корпусов представленных стиралок порадуют тех, кто скрупулезно относится к сочетанию оттенков в своем доме.</p>
		<div class="seo-catalog__video">
			<img class="lazyload" data-src="images/seo_pic_4.jpg"/>
			<a class="seo-catalog__play" href="#"></a>
		</div>
		<p>Подобрать и купить понравившуюся модель стиральной машины, можно на нашем сайте, ознакомившись с
			<a href="#">рейтингом лучших производителей стиральных машин</a>
			или позвонив нашим специалистам по телефону:
			<b>+7 (800) 333-10-52</b>
			(звонок бесплатный).
		</p>

		{% include "download-files-seo/download-files-seo.njk" %}
	</div>
</div>
