{% include "head/head.njk" %}

<body>

		<div class="page-notfound">
			<div class="page-notfound__inner">
				<img data-srcset="images/404_768w.jpg 768w, images/404.jpg" data-src="images/404.jpg" alt="" class="page-notfound__pic lazyload" />
				<div class="page-notfound__text">
					<div class="page-notfound__title">
						Такой страницы не существует.
					</div>
					<!-- /.page-notfound__title -->
					Через <span class="js-timer">5</span> секунд вы будете перенаправлены на <a href="#">главную страницу</a>
				</div>
				<!-- /.page-notfound__text -->
			</div>
			<!-- /.page-notfound__inner -->
		</div>
		<!-- /.page-notfound -->

		<script>
			(function() {
				var t = 5;
				var jsTimer = document.querySelector('.js-timer');
				var timer = setInterval(function() {
					t--;
					jsTimer.innerHTML = t;
					if(!t) {
						clearInterval(timer);
						location.href = '/';
					}
				}, 1000);
			})()
		</script>

		{% include "connect/script.njk" %}

</body>
</html>
