{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="about-main">

						{{ breadcrumbs( text = 'О бутике Hausdorf' ) }}

					    <div class="about-main__inner">
							<img class="about-main__pic lazyload" data-srcset="images/about-main__pic_768w.png 768w, images/about-main__pic.jpg 4000w" data-src="images/about-main__pic.jpg" />
					        <div class="about-main__desc">
					            <div class="about-main__title">О бутике Hausdorf</div>
					            <div class="about-main__text">
									Все представленные на сайте Hausdorf торговые марки — Miele, Kuppersbusch, Neff, Restart, Ilve, Smeg, Liebherr, Gaggenau, De Dietrich и другие — это бренды с мировым именем. Бренды с историей, полной успеха и восторженных отзывов. С репутацией,
					                которая наиболее наглядно демонстрирует правильность вашего выбора.
								</div>
					            <div class="about-main__line"></div>
					            <div class="about-main__footer">
									<a class="about-main__link" href="#">
										<img class="about-main__brand lazyload" data-src="images/miele_logo.svg"/>
									</a>
									<a class="about-main__link" href="#">
										<img class="about-main__brand lazyload" data-src="images/kuppers_logo.svg"/>
									</a>
									<a class="about-main__link" href="#">
										<img class="about-main__brand lazyload" data-src="images/neff_logo.svg"/>
									</a>
									<a class="about-main__link" href="#">
										<img class="about-main__brand lazyload" data-src="images/ilve_logo.svg"/>
									</a>
									<a class="about-main__link" href="#">
										<img class="about-main__brand lazyload" data-src="images/smeg_logo.svg"/>
									</a>
					                <a class="about-main__link" href="#">
										<img class="about-main__brand lazyload" data-src="images/Liebherr_logo.svg" />
									</a>
									<a class="about-main__link" href="#">
										<img class="about-main__brand lazyload" data-src="images/Group_6.svg"/>
									</a>
									<a class="about-main__link" href="#">
										<img class="about-main__brand lazyload" data-src="images/De_dietrish_logo.svg"/>
									</a>
								</div>
					        </div>
					    </div>
					</div>
					<!-- /.about-main -->

					{% include "benefits/benefits-main/benefits-main.njk" %}

					<div class="title title_small title_center">Бутик Hausdorf — комплексное решение для вашего дома</div>
					 <!-- /.title title_small title_center -->

					{% from "about/about-hausdorf/about-hausdorf.njk" import aboutHd %}

					<div class="about-hausdorf">
						{{
							aboutHd()
						}}
						{{
							aboutHd(
								src = 'about-hd__pic2.jpg',
								src768 = 'about-hd__pic2_768w.png',
								title = 'Кухни в бутике Hausdorf',
								text = 'Наши специалисты готовы предложить комплексное решение для <br>кухни, которое включает мебель и оптимально подобранную бытовую<br> технику. В бутике представлена мебель для кухонь в разных стилях<br>и цветовых вариантах = от классики и модерна до кантри и техно-арта.'
							)
						}}
						{{
							aboutHd(
								src = 'about-hd__pic3.jpg',
								src768 = 'about-hd__pic3_768w.png',
								title = 'Мебель в бутике Hausdorf',
								text = 'Hausdorf предлагает дизайнерскую мебель для каждого помещения в доме:<br> от просторных прихожих и продуманных гардеробных до изысканных<br> столовых и исключительных спален. На ваш выбор редчайшие породы <br>дерева, благородные металлы, сложные мозаики и многое другое.'
							)
						}}
					</div>
					<!-- /.about-hausdorf -->

					<div class="title title_small title_center d-none d-sm-block">Наши проекты</div>
					 <!-- /.title title_small title_center d-none d-sm-block -->

					{% set mClass = 'about-banner_content' %}
					{% include "about/about-banner/about-banner.njk" %}

					{% set mod = 'contact-form_bg' %}
					{% include "contact/contact-form/contact-form.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
