{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="address">

						{{ breadcrumbs( text = 'Адрес бутика' ) }}

						<div class="title">Адрес бутика Hausdorf</div>
						<!-- /.title -->

						<div class="address__picture">
							<picture class="lazyload">
								<source media="(max-width: 768px)" data-srcset="images/address__pic1_768.jpg">
								<img data-src="images/address__pic1.jpg" alt="" class="lazyload">
							</picture>
						</div>
						<!-- /.address__picture -->

						<div class="address__row row">
							<div class="col-sm-7">
								<div class="title title_small">
									«Бутик Hausdorf» расположен по адресу:
								</div>
								<!-- /.title title_small -->
								<div class="address__field">
									{% from "utilities/address-info/address-info.njk" import addressInfo %}
									{{ addressInfo(text = 'Москва, Рублевское шоссе, д. 52а, ТЦ «Западный», 3 этаж') }}
								</div>
								<!-- /.address__field -->
								<div class="address__field">
									{% from "utilities/metro-info/metro-info.njk" import metroInfo %}
									{{ metroInfo(text = 'Ближайшая станция метро: «Крылатское»') }}
								</div>
								<!-- /.address__field -->
								<div class="address__field">
									{% from "utilities/time-info/time-info.njk" import timeInfo %}
									{{ timeInfo(text = 'сall-центр — ежедневно: <b>с 9:00 до 22:00</b>, магазин — ежедневно: <b>с 10:00 до 22:00</b>') }}
								</div>
								<!-- /.address__field -->
								<div class="address__field">
									{% from "utilities/email-info/email-info.njk" import emailInfo %}
									{{ emailInfo(text = 'shop@hausdorf.ru') }}
								</div>
								<!-- /.address__field -->
							</div>
							<!-- /.col-sm-7 -->
							<div class="col-sm-5">
								{% include "utilities/phone-content-address/phone-content-address.njk" %}
							</div>
							<!-- /.col-sm-5 -->
						</div>
						<!-- /.address__row row -->

						<div class="address__title title title_small">
							Для вашего комфорта предусмотрены свободные места на наземной и подземной парковке.
						</div>
						 <!-- /.title title_small -->

						<div class="address__row address__row_pics row">
							<div class="col-sm-4">
								<img data-src="images/address__pic2.jpg" alt="" class="lazyload" />
							</div>
							<!-- /.col-sm-4 -->
							<div class="col-sm-4">
								<img data-src="images/address__pic3.jpg" alt="" class="lazyload" />
							</div>
							<!-- /.col-sm-4 -->
							<div class="col-sm-4">
								<img data-src="images/address__pic4.jpg" alt="" class="lazyload" />
							</div>
							<!-- /.col-sm-4 -->
						</div>
						<!-- /.address__row row -->

						<p>
							Бутик Hausdorf является официальным дилером известных мировых брендов бытовой техники. Мы предлагаем широкий ассортимент техники, как встроенной, так и отдельностоящей. У нас вы найдете лучших представителей отрасли: <a href="#">Asko</a>, <a href="#">Smeg</a>, <a href="#">Miele</a>, <a href="#">Gaggenau</a>, <a href="#">Kuppersbusch</a>, <a href="#">Ilve</a>, <a href="#">Restart</a> и другие. Вся техника сертифицирована и имеет официальную гарантию от производителя.
						</p>

						<div class="address__swiper">
							{% include "swiper/swiper-large/swiper-large.njk" %}
						</div>
						<!-- /.address__swiper -->

						<div class="address__title title title_small">Наши юные гости могут провести время в детской игровой комнате.</div>
						 <!-- /.title title_small -->

						<div class="address__row address__row_children row">
							<div class="col-sm-4">
								<img data-src="images/address__pic6.png" alt="" class="lazyload" />
							</div>
							<!-- /.col-sm-4 -->
							<div class="col-sm-4">
								<img data-src="images/address__pic7.jpg" alt="" class="lazyload" />
							</div>
							<!-- /.col-sm-4 -->
							<div class="col-sm-4">
								<img data-src="images/address__pic8.jpg" alt="" class="lazyload" />
							</div>
							<!-- /.col-sm-4 -->
						</div>
						<!-- /.address__row row -->

						<div class="title title_small">Схема проезда</div>
						<!-- /.title title_small -->

						<div class="address__map">
							<iframe src="https://yandex.ru/map-widget/v1/-/CCQWZDp2" frameborder="2" width="100%" height="100%" allowfullscreen="true"></iframe>
						</div>
						<!-- /.address__map -->

						{% include "contact/contact-form/contact-form.njk" %}

					</div>
					<!-- /.address -->

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
