{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block content-block_mobile">

						{{
							breadcrumbs(
								text = 'Оформление заказа'
							)
						}}

						<div class="title">Оформление заказа</div>
						<!-- /.title -->

						<div class="basket">

							<div class="form">

								{% include "basket/basket-table/basket-table.njk" %}

								{% include "basket/basket-products/basket-products.njk" %}

								<div class="basket__section">

									{% include "basket/basket-props/basket-props.njk" %}

									{% import "form/form.njk" as form %}
									<div class="basket__footer">
										<div class="row align-items-center">
											<div class="col-sm-5">
												<div class="basket__total">Общая стоимость товаров:
													<div class="basket__summ">1 905 300 руб.</div>
												</div>
											</div>
											<div class="col-sm-7">
												<div class="basket__buttons">

													{{
															form.checkbox(
																attrs = 'checked'
															)
														}}

													<input class="basket__submit" type="submit" value="Оформить заказ"/>

												</div>
											</div>
										</div>
									</div>
									<!-- /.basket__footer -->

								</div>
								<!-- /.basket__section -->

							</div>
							<!-- /.form -->

						</div>
						<!-- /.basket -->

					</div>
					<!-- /.content-block content-block_mobile -->

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
