{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="yandex-banner yandex-banner_botique">

						{{ breadcrumbs( text = 'Отзывы о бутике' ) }}

						<div class="yandex-banner__inner">
							<img class="yandex-banner__pic lazyload" data-src="images/banner-content__pic2.jpg"/>
							<div class="yandex-banner__desc">
								<div class="yandex-banner__title">Отзывы о бутике Hausdorf</div>
								<div class="yandex-banner__text">
									Мы ценим ваше время и очень стараемся держать наш сервис на высоком уровне.? Если у вас есть замечания, предложения или пожелания, мы с радостью выслушаем и постараемся помочь!
								</div>
								<div class="yandex-banner__footer">
									<div class="yandex-banner__ratetxt">Средняя оценка
										<span>5</span></div>
									<div class="yandex-banner__rate">
										{% from "rating-stars/rating-stars.njk" import rating %}
										{{
											rating(
												counter = 5,
												mClass = 'rating-stars_large'
											)
										}}
									</div>
									<div class="yandex-banner__reviews">50 отзывов</div>
									<a class="yandex-banner__button" href="#">Оставить отзыв</a>
								</div>
							</div>
							<div class="yandex-banner__copyright">
								Отзывы предоставлены сервисом
								<img class="lazyload" data-src="images/yandex-banner__copyright.svg" alt=""/>
							</div>
						</div>
					</div>
					<!-- /.yandex-banner -->

					<div class="yandex-reviews">
						<div class="yandex-reviews__title">Недавние отзывы о бутике</div>

						{% from "reviews/yandex-reviews/yandex-reviews.njk" import yaReviews %}
						{{ yaReviews( name = 'Nadine A' ) }}
						{{ yaReviews( name = 'Евгений Гурьев' ) }}
						{{ yaReviews() }}
						{{ yaReviews() }}
						{{ yaReviews() }}
						{{ yaReviews() }}
						{{ yaReviews() }}

						<div class="yandex-reviews__info">
							Ознакомиться со всеми отзывами и оставить свой вы можете на странице
							<a href="#">Яндекс Справочника</a>
						</div>
						<!-- /.yandex-reviews__info -->

						<div class="hausdorf-feedback">
							<div class="hausdorf-feedback__row">
								<div class="hausdorf-feedback__col">
									<div class="hausdorf-feedback__title">Остались вопросы или есть предложения по улучшению качества обслуживания?</div>
								</div>
								<div class="hausdorf-feedback__col">
									<div class="hausdorf-feedback__section">
										<div class="hausdorf-feedback__photo">
											<img class="hausdorf-feedback__pic lazyload" data-src="images/hausdorf-feedback__pic.png" alt=""/>
										</div>
										<div class="hausdorf-feedback__desc">
											<div class="hausdorf-feedback__name">Мальцев Иван</div>
											<div class="hausdorf-feedback__text">Генеральный директор бутика Hausdorf</div>
											<a class="hausdorf-feedback__button" href="#">Связаться со мной</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.hausdorf-feedback -->

					</div>
					<!-- /.yandex-reviews -->

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
