{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block">

						{{
							breadcrumbs(
								items = [{"item": "Все бренды", "submenu": false, "mod": false},{"item": "Smeg", "submenu": true, "mod": true}]
							)
						}}

						<div class="row content-block__crow">
						    <div class="col-sm-10">
						        <div class="title title_catalog">Бытовая техника Smeg на официальном сайте Hausdorf</div>
						    </div>
						    <div class="col-sm-2">
						        <div class="content-block__info">Цены на Smeg от 12.11.2018</div>
						    </div>
						</div>
						<!-- /.content-block__crow -->

						<div class="service-popup d-none d-sm-flex">
						    <div class="service-popup__button"><span>Сервисные центры</span>
						        <div class="service-popup__popup">
						            <div class="service-popup__section">
						                <div class="service-popup__field">
						                    <div class="service-popup__title">ООО «Мир и Сервис»</div>
						                    <div class="service-popup__item">
						                        <div class="service-popup__phone"><a href="#">8 (495)744 00 14</a></div>
						                    </div>
						                    <div class="service-popup__item">
						                        <div class="service-popup__address">Москва, улица Промышленная, 11, стр.2.</div>
						                    </div>
						                </div>
						                <div class="service-popup__field">
						                    <div class="service-popup__title">ООО «ВнешРемТорг»</div>
						                    <div class="service-popup__item">
						                        <div class="service-popup__phone">
													<a href="#">8 (495) 518 69 41;</a>
													<a href="#">8 (495) 518 69 47;</a><br/>
													<a href="#">8 (495) 518-6432</a>
												</div>
						                    </div>
						                    <div class="service-popup__item">
						                        <div class="service-popup__address">Москва, ул. Селезневская д.30 корп. Б-В</div>
						                    </div>
						                </div><a class="service-popup__more" href="#">Все сервисные центры</a>
									</div>
						        </div>
						    </div>
						    <div class="service-popup__photo">
								<img class="service-popup__pic lazyload" data-src="images/service-popup__pic.png" alt="" />
							</div>
						</div>
						<!-- /.service-popup -->

						{% from "swiper/swiper-banner/swiper-banner.njk" import swiperBanner %}
						<div class="swiper-withtext">
							{{
								swiperBanner(
									src = 'images/swiper-banner__pic3.png',
									title = '<span>Скидки на комплекты техники Smeg!</span>',
									text = 'До 28 декабря 2018, при покупке комплекта техники Smeg предоставляется дополнительная скидка!',
									button = 'Подробности Акции',
									videoButton = 'none'
								)
							}}
						</div>
						<!-- /.swiper-withtext -->

						{% from "catalog/catalog-thumb-small/catalog-thumb-small.njk" import thumbSmall %}

						<div class="title title_small">Популярные товары Smeg</div>
						<!-- /.title title_small -->

						<div class="swiper swiper_small">
						    <div class="swiper-container" data-swiper data-options='{"slidesPerView":5,"spaceBetween":16,"breakpoints":{"768":{"slidesPerView":"auto","spaceBetween":8,"slidesPerGroup":1}}}'>
						        <div class="swiper-wrapper">
									{% for item in [1, 2] %}
										<div class="swiper-slide">
											{{
												thumbSmall(
													footer = 'false',
													available = 'false',
													src = 'images/catalog-thumb-small__pic2.jpg'
												)
											}}
										</div>
										<div class="swiper-slide">
											{{
												thumbSmall(
													footer = 'false',
													available = 'false',
													src = 'images/catalog-thumb-small__pic2.jpg'
												)
											}}
										</div>
										<div class="swiper-slide">
											{{
												thumbSmall(
													footer = 'false',
													available = 'false',
													src = 'images/catalog-thumb-small__pic2.jpg'
												)
											}}
										</div>
										<div class="swiper-slide">
											{{
												thumbSmall(
													footer = 'false',
													available = 'false',
													src = 'images/catalog-thumb-small__pic2.jpg'
												)
											}}
										</div>
									{% endfor %}
						        </div>
						    </div>
						    <div class="swiper__arrow swiper__arrow_right">
						        <div class="swiper__prev swiper__prev_round js-swiper__prev"></div>
						        <div class="swiper__next swiper__next_round js-swiper__next"></div>
						    </div>
						</div>
						<!-- /.swiper swiper_small -->

					</div>
					 <!-- /.content-block -->

					<div class="title title_small">Категории товаров Smeg</div>
					<!-- /.title title_small -->

					{% include "brand/brand-section/brand-section.njk" %}

					{% include "reviews/reviews-wrapper/reviews-wrapper.njk" %}

					{% include "brand/brand-history/brand-history.njk" %}

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
