{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block">

						{{
							breadcrumbs(
								items = [{"item": "Стиральные машины", "submenu": true, "mod": true}, {"item": "Стиральные машины из Германии", "submenu": true, "mod": true}]
							)
						}}

						<div class="row content-block__crow">
							<div class="col-sm-7">
								<div class="title title_catalog">Стиральные машины из Германии<span>2 модели</span></div>
							</div>
							<div class="col-sm-5">
								<div class="content-block__info">Цены на стиральные машины из Германии от 07.11.2018</div>
							</div>
						</div>
						<!-- /.content-block__crow -->

						{% set catalogTextTitle = 'hide' %}
						{% include "catalog/catalog-text/catalog-text.njk" %}

						<div class="filter-wrap filter-wrap_inner">
							{% from "filter/filter/filter.njk" import filter %}
							{{
								filter()
							}}
							{% include "filter/filter-choice/filter-choice.njk" %}
						</div>
						<!-- /.filter-wrap filter-wrap_inner -->

					</div>
					<!-- /.content-block -->

					{% include "catalog/sorting/sorting.njk" %}

					<div class="catalog catalog_list">
						<div class="catalog__inner">
							{% include "catalog/catalog-list/catalog-list.njk" %}
						</div>
						<!-- /.catalog__inner -->
					</div>
					<!-- /.catalog -->

					{% include "pagination/pagination.njk" %}

					{% include "reviews/reviews-wrapper/reviews-wrapper.njk" %}

					{% include "seo/seo-catalog/seo-catalog.njk" %}

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
