{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block content-block_bg_white">

						{{
							breadcrumbs(
								items = [{"item": "Стиральные машины", "submenu": true, "mod": true}],
								text = 'Все отзывы'
							)
						}}

						<div class="title">Все отзывы о категории Стиральные машины</div>
						<!-- /.title -->

						{% from "reviews/reviews-header/reviews-header.njk" import reviewsHeader %}

						{{
							reviewsHeader(
								text = 'Вернуться в каталог товаров'
							)
						}}

					</div>
					<!-- /.content-block -->

					{% from "reviews/reviews-list/reviews-list.njk" import reviewsList %}

					<div class="reviews-list reviews-list_border">
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png'
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png',
								name = 'Анна В',
								text = 'Покупали стиральную машинку Miele не раздумывая. В бренде уверены, бренд проверен временем. Прежде чем брать напичканные всякимим непонятными функциями 10 в 1 и т.д за бешенные бабки лучше почитать и выяснить что не в огромном универсализме преимущества стиральной машины.'
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png',
								name = 'Кузьмина Дарья',
								text = 'Хороший производитель, очень тихая и не портит вещи. выбор стиральной машинки это нечасто и это очень выматывает. Потому что покумаем стиральные машинки опят таки нечасто и надолго. Доверились известному бренду. Белье вынимаю практически сухое и идеально чистое при том же порошке который использовала до приобретения, но в старой машинке вещи были намного темнее и это особенно было заметно по светлым вещам '
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png'
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png',
								name = 'Анна В',
								text = 'Покупали стиральную машинку Miele не раздумывая. В бренде уверены, бренд проверен временем. Прежде чем брать напичканные всякимим непонятными функциями 10 в 1 и т.д за бешенные бабки лучше почитать и выяснить что не в огромном универсализме преимущества стиральной машины.'
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png',
								name = 'Кузьмина Дарья',
								text = 'Хороший производитель, очень тихая и не портит вещи. выбор стиральной машинки это нечасто и это очень выматывает. Потому что покумаем стиральные машинки опят таки нечасто и надолго. Доверились известному бренду. Белье вынимаю практически сухое и идеально чистое при том же порошке который использовала до приобретения, но в старой машинке вещи были намного темнее и это особенно было заметно по светлым вещам '
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png'
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png',
								name = 'Анна В',
								text = 'Покупали стиральную машинку Miele не раздумывая. В бренде уверены, бренд проверен временем. Прежде чем брать напичканные всякимим непонятными функциями 10 в 1 и т.д за бешенные бабки лучше почитать и выяснить что не в огромном универсализме преимущества стиральной машины.'
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png',
								name = 'Кузьмина Дарья',
								text = 'Хороший производитель, очень тихая и не портит вещи. выбор стиральной машинки это нечасто и это очень выматывает. Потому что покумаем стиральные машинки опят таки нечасто и надолго. Доверились известному бренду. Белье вынимаю практически сухое и идеально чистое при том же порошке который использовала до приобретения, но в старой машинке вещи были намного темнее и это особенно было заметно по светлым вещам '
							)
						}}
					</div>
					<!-- /.reviews-list reviews-list_border -->

					{% include "pagination/pagination.njk" %}

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
