{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block">

						{{
							breadcrumbs(
								items = [{"item": "Холодильники", "submenu": true, "mod": true}]
							)
						}}

						<div class="row content-block__crow">
							<div class="col-sm-7">
								<div class="title title_catalog">Холодильники<span>315 моделей</span></div>
							</div>
							<div class="col-sm-5">
								<div class="content-block__info">Цены на холодильники от 07.11.2018</div>
							</div>
						</div>
						<!-- /.content-block__crow -->

						<div class="swiper-withtext">
							{% from "swiper/swiper-banner/swiper-banner.njk" import swiperBanner %}
							{{
								swiperBanner(
									src = 'images/swiper-banner__pic2.jpg',
									title = 'Холодильники Samsung',
									text = 'Мощные и вместительные холодильники Samsung позволят значительно продлить свежесть продуктов и их полезные свойства. Настоящее корейское качество и надежность от знаменитого бренда.',
									button = 'Все холодильники Samsung'
								)
							}}
						</div>
						<!-- /.swiper-withtext -->

						<div class="catalog-swipers catalog-swipers_noindent">

							<div class="tabs-menu" data-tabs="data-tabs">
								<a class="tabs-menu__link" data-hash="#js-tabs-1" data-tabs-children="data-tabs-children">Лидеры продаж</a>
								<a class="tabs-menu__link" data-hash="#js-tabs-2" data-tabs-children="data-tabs-children">Акции</a>
								<a class="tabs-menu__link" data-hash="#js-tabs-3" data-tabs-children="data-tabs-children">Новинки</a>
								<div class="tabs-menu__info">Рейтинг холодильников</div>
							</div>
							<!-- /.tabs-menu -->
							{% from "catalog/catalog-thumb-small/catalog-thumb-small.njk" import thumbSmall %}

							<div class="tabs">
								{% for item in[1, 2, 3] %}
									<div class="tabs__inner" id="js-tabs-{{ item }}">
										<div class="swiper swiper_small">
											<div class="swiper-container" data-swiper="data-swiper" data-options='{"slidesPerView":5,"spaceBetween": 8,"breakpoints":{"768":{"slidesPerView":"auto","spaceBetween":8,"slidesPerGroup":1}}}'>
												<div class="swiper-wrapper">
													{% for i in[
														1,
														2,
														3,
														4,
														5,
														6,
														7,
														8
													] %}
														<div class="swiper-slide">
															{{
														thumbSmall(
															footer = 'false',
															available = 'false',
															src =  'images/catalog-thumb-small__pic2.jpg'
														)
													}}
														</div>
														<!-- /.swiper-slide -->
													{% endfor %}
												</div>
											</div>
											<div class="swiper__arrow swiper__arrow_right">
												<div class="swiper__prev swiper__prev_round js-swiper__prev"></div>
												<div class="swiper__next swiper__next_round js-swiper__next"></div>
											</div>
										</div>
									</div>
									<!-- /.tabs__inner -->
								{% endfor %}
							</div>
							<!-- /.tabs -->

						</div>
						<!-- /.catalog-swipers -->

					</div>
					<!-- /.content-block -->

					{% include "catalog/catalog-text/catalog-text.njk" %}

					<div class="filter-wrap filter-wrap_outside">
						{% from "filter/filter/filter.njk" import filter %}
						{{
							filter(
								brands = ['Miele', 'Smeg', 'Neff', 'Gaggenau', 'Kuppersbush', 'AEG', 'Bosch', 'Сделано в Германии', 'Gorenje', 'Korting', 'LG', 'Maunfeld', 'Siemens', 'Teka', 'Whirlpool'],
								modelCount = 'Выбрано 30 моделей'
							)
						}}

						{% include "filter/filter-choice/filter-choice.njk" %}
					</div>
					<!-- /.filter-wrap filter-wrap_outside -->

					{% include "catalog/sorting/sorting.njk" %}

					<div class="catalog catalog_thumb">
						<div class="catalog__inner">
							{% from "catalog/catalog-thumb/catalog-thumb.njk" import thumb %}
							<div class="row">
									<div class="col-sm-3">
										{{
											thumb(
												src = 'images/catalog-thumb__pic1.jpg',
												compare = true,
												favorite = true,
												getPrice = true
											)
										}}
									</div>
									<!-- /.col-sm-3 -->
									<div class="col-sm-3">
										{{
											thumb(
												src = 'images/catalog-thumb__pic2.jpg',
												label = true,
												getPrice = true
											)
										}}
									</div>
									<!-- /.col-sm-3 -->
									<div class="col-sm-3">
										{{
											thumb(
												src = 'images/catalog-thumb__pic3.jpg'
											)
										}}
									</div>
									<!-- /.col-sm-3 -->							
								{% for item in[1, 2, 3] %}
									<div class="col-sm-3">
										{{
											thumb(
												src = 'images/catalog-thumb__pic1.jpg',
												compare = true,
												favorite = true
											)
										}}
									</div>
									<!-- /.col-sm-3 -->
									<div class="col-sm-3">
										{{
											thumb(
												src = 'images/catalog-thumb__pic2.jpg',
												label = true
											)
										}}
									</div>
									<!-- /.col-sm-3 -->
									<div class="col-sm-3">
										{{
											thumb(
												src = 'images/catalog-thumb__pic3.jpg'
											)
										}}
									</div>
									<!-- /.col-sm-3 -->
									<div class="col-sm-3">
										{{
											thumb(
												src = 'images/catalog-thumb__pic4.jpg'
											)
										}}
									</div>
									<!-- /.col-sm-3 -->
								{% endfor %}
								<div class="col-12">
									{% from "banner/banner-catalog/banner-catalog.njk" import bannerCatalog %}
									{{ bannerCatalog() }}
								</div>
								<!-- /.col-12 -->
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic1.jpg',
											compare = true,
											favorite = true
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic2.jpg',
											label = true
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic3.jpg'
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic4.jpg'
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.catalog__inner -->
					</div>
					<!-- /.catalog -->

					{% include "pagination/pagination.njk" %}

					{% include "reviews/reviews-wrapper/reviews-wrapper.njk" %}

					{% include "seo/seo-catalog/seo-catalog-thumb.njk" %}

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
