{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block content-block_bg_white content-block_bdrs">
						<div class="banner-content banner-content_collaboration">
							<img class="banner-content__pic lazyload" data-srcset="images/banner-content__pic768.jpg 768w, images/banner-content__pic.jpg 4000w" data-src="images/banner-content__pic.jpg" alt="" />
							{{ breadcrumbs( text = 'Сотрудничество с дизайнерами и архитекторами' ) }}

						    <div class="banner-content__desc">
						        <div class="title">Работаем вместе</div>
						        <div class="banner-content__text">
						            <p>Бутик Hausdorf стремится удовлетворить потребности покупателей и заказчиков, помогая создавать непревзойденные и продуманные интерьеры кухни и дома. Современные тенденции диктуют направление «custome-made» — «Выполнено под клиента», поэтому
						                особую ценность имеют уникальные, эксклюзивные вещи, сделанные на заказ.</p>
						            <p>Салон Hausdorf приглашает к сотрудничеству дизайнеров, стремящихся к успеху и развитию своего творческого потенциала, готовых реализовывать инновационные решения в соответствии с высокими требованиями качества и функциональности.</p>
						        </div>
						    </div>
							<!-- /.banner-content__desc -->

							{% include "benefits/benefits-content/benefits-content.njk" %}

						</div>
						<!-- /.banner-content -->

						<div class="text-default">
						    <div class="text-default__title2">Стать партнером</div>
						    <p><b style="color: #DD0016;">Важно!</b> Мы гарантируем конфиденциальность сотрудничества. <br/> Вы направили к нам клиента? Мы обеспечим качественное обслуживание и сервис профессионального уровня</p>
						</div>
						<!-- /.text-default -->

						{% import "form/form.njk" as form %}
						<div class="form">
							<div class="form__row">
								<div class="form__col">

									<div class="form__title">
										Дизайнер
									</div>
									<!-- /.form__title -->

									{{
										form.input()
									}}
									{{
										form.input(
											label = 'Имя'
										)
									}}
									{{
										form.input(
											label = '+7(_ _ _) _ _ _ - _ _ - _ _',
											type = 'tel'
										)
									}}
									{{
										form.input(
											label = 'E-mail',
											type = 'email'
										)
									}}
								</div>
								<div class="form__col">
									<div class="form__title">
										Закрепить объект и клиента за собой:
									</div>
									<!-- /.form__title -->

									{{
										form.input(
											label = 'Адрес'
										)
									}}
									{{
										form.input(
											label = 'Комментарий',
											text = ' '
										)
									}}
									{{
										form.textarea()
									}}

									<div class="form__footer">
										{{
											form.checkbox(
												attrs = 'checked'
											)
										}}
										{{ form.submit() }}
									</div>
								</div>
							</div>
							<!-- /.row -->
						</div>
						<!-- /.form -->

					</div>
					<!-- /.content-block content-block_bg_white content-block_bdrs -->

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
