{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

						{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

						<div class="content-block">

							{{ breadcrumbs(text = 'Оформление заказа') }}

							<div class="title">
								Спасибо за заказ
							</div>
							<!-- /.title -->

							{% include "basket/confirm/confirm.njk" %}

						</div>
						<!-- /.content-block -->

						{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
