{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block content-block_bg_white content-block_bdrs content-block_delivery">

						{{ breadcrumbs( text = 'Доставка и оплата' ) }}

						<div class="title">Доставка и оплата</div>
						<!-- /.title -->

						<div class="search search_delivery">
							<form action="#" class="search__form">
								<div class="row align-items-center">
									<div class="col-sm-1">
										<div class="search__text">Регион:</div>
										<!-- /.search__text -->
									</div>
									<!-- /.col-sm-1 -->
									<div class="col-sm-3">
										{% from "combox/combox.njk" import combox %}
										{{
											combox(['Москва', 'Москва', 'Москва'])
										}}
									</div>
									<!-- /.col-sm-3 -->
								</div>
								<!-- /.row align-items-center -->
							</form>
							<!-- /.search__form -->

						</div>
						<!-- /.search search_delivery -->

						<p>Бутик Hausdorf осуществляет доставку заказов по Москве в оговоренные сроки, предварительно уточнив время доставки по телефону.</p>
						<p>Перемещение товара до места установки в помещении не входит в обязанности курьеров и осуществляется по договорённости и за отдельную плату.</p>
						<p>Демонтаж деталей приборов сотрудниками транспортной компании запрещается, даже если отдельные части техники мешают транспортировке, так как в дальнейшем может поступить отказ сервисного центра по услугам гарантийного ремонта.</p>
						<p>После подписания товарной накладной ответственность за товар сотрудниками курьерской службы заканчивается. Повреждения, которые были получены после дальнейшего перемещения прибора по квартире, не подлежат гарантийному обслуживанию и не могут быть
							причиной для обмена товара.</p>

						<div class="slidedown">
							<div class="class">
								<div class="data-dropdown__inner">
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Доставка</div>
										<div class="data-dropdown__button slidedown__button active" data-dropdown="data-dropdown"></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">
												<div class="text-default">
													<p>Скорость доставки зависит от наличия товара на складе и вашего месторасположения: ежедневно, на следующий день или через день: с 10:00 до 22:00.</p>
													<p>Если статус товара «Под заказ», сроки оговариваются отдельно. Точная дата и время доставки согласовывается при подтверждении заказа менеджером.</p>
													<p>Доставка осуществляется до двери квартиры или в прихожую (коридор) покупателя. Доставка техники в квартиру возможна только при наличии свободного прохода, не препятствующего ее перемещению. Экспедитор по вашей просьбе может установить технику на
														предусмотренное место, но это не входит в его обязанности и считается дополнительной услугой.</p>
													<div class="row">
														<div class="col-sm-2 d-none d-sm-block">
															<img data-src="images/delivery-content.jpg" class="lazyload" alt="">
														</div>
														<div class="col-sm-10">
															<div class="text-default__important">
																<div class="text-default__title">Стоимость доставки:</div>
																<ul>
																	<li>
																		<span>Доставка техники в пределах МКАД — бесплатно, для всей техники, помеченной соответствующим знаком.</span></li>
																	<li>
																		<span>Доставка техники Miele осуществляется в соответствии с официальными действующими тарифами.</span></li>
																	<li>
																		<span>Доставка аксессуаров без техники в пределах МКАД — 500 руб. (за пределы МКАД — 30 руб./км).</span></li>
																	<li>
																		<span>Доставка техники за пределы МКАД — 30 руб./км.</span></li>
																</ul>
															</div>
														</div>
													</div>
													
													<div class="text-default__grayblock">
														<div class="text-default__title">Порядок приема товара</div>
														<p>Прежде чем подписывать документы о приеме товара, обязательно убедитесь в следующем:</p>
														<ul>
															<li>
																<span>В отсутствии внешних дефектов: сколы, царапины, вмятины.</span></li>
															<li>
																<span>В наличии всех составляющих товара: дополнительные аксессуары, детали, фурнитура.</span></li>
														</ul>
														<p>
															<b>Экспедитор не осуществляет консультирование покупателей</b>
															по функциональным особенностям товара и не производит установку/подключение техники.</p>
														<p>Доставка товара осуществляется в квартиры и офисы по точному адресу и в оговоренное время.</p>
														<p>Заказы не доставляются:</p>
														<ul>
															<li>
																<span>В общественные места.</span></li>
															<li>
																<span>В места массового скопления людей.</span></li>
															<li>
																<span>К торговым комплексам.</span></li>
															<li>
																<span>К станциям метро.</span></li>
															<li>
																<span>К строительным площадкам.</span></li>
															<li>
																<span>На пустыри и т.д.</span></li>
														</ul>
														<p>Если въезд на территорию доставки платный, то покупатель обязан оплатить расходы, связанные с этим. В противном случае товар будет доставлен до места платного въезда.</p>
														<p>Если за окном минусовая температура воздуха, техника, перед установкой, должна постоять несколько часов в теплом помещении.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Подъем</div>
										<div class="data-dropdown__button slidedown__button active" data-dropdown="data-dropdown"></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">
												<div class="text-default__redbold">Подъем техники без лифта:</div>
												<div class="text-default-table">
													<div class="text-default-table__field" data-price="50 руб. / этаж.">
														<div class="text-default-table__left">
															<div>
																<b>Мелкая техника</b>
															</div>СВЧ печи, вытяжки до 60см в ширину, аксессуары.</div>
														<div class="text-default-table__right">50 руб. / этаж.</div>
													</div>
													<div class="text-default-table__field" data-price="100 руб. / этаж.">
														<div class="text-default-table__left">
															<div>
																<b>Крупная техника</b>
															</div>Техника от 20 кг: стиральные, сушильные и посудомоечные машины, вытяжки, духовые шкафы.</div>
														<div class="text-default-table__right">100 руб. / этаж.</div>
													</div>
													<div class="text-default-table__field" data-price="400 руб. / этаж.">
														<div class="text-default-table__left">
															<div>
																<b>Негабаритный товар</b>
															</div>Габаритные размеры единицы товара свыше 230 см. одного из параметров (длина, ширина, высота, глубина), либо свыше 120 см. в диаметре, либо вес единицы товара свыше 100 кг.</div>
														<div class="text-default-table__right">400 руб. / этаж.</div>
													</div>
													<div class="text-default-table__field" data-price="400 руб. / этаж.">
														<div class="text-default-table__left">
															<div>
																<b>Холодильники Side-by-side</b>
															</div>Все холодильники Side-by-side.</div>
														<div class="text-default-table__right">400 руб. / этаж.</div>
													</div>
												</div>
												<div class="text-default__redbold">Подъем техники грузовым лифтом (исключая холодильники Side-by-side) — бесплатно.</div>
											</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Способы оплаты</div>
										<div class="data-dropdown__button slidedown__button active" data-dropdown="data-dropdown"></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">

												{% include "benefits/benefits-text/benefits-text.njk" %}

												<p>*Для некоторых видов техники может потребоваться предоплата. О необходимости предоплаты уточняйте у менеджера.Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации
													пользователя 3D Secure.</p>
											</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Процесс совершения заказа по предоплате</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown="data-dropdown"></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Гарантия</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown="data-dropdown"></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Возврат Товара</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown="data-dropdown"></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Условия продажи товара физическим лицам</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown="data-dropdown"></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
									<div class="text-default">
										<div class="text-default__photo"><img class="lazyload" data-src="images/miele_logo.png" alt=""/>
											<a href="#" title="title">Условия продажи товаров Miele</a>
										</div>
										<div class="text-default__title">Доставка и оплата по России</div>
										<p>Теперь доставка техники возможна в любую точку России! В регионы страны доставка осуществляется с помощью транспортных компаний. Мы работаем с компаниями «ПЭК» и ООО «ЖелДорЭкспедиция» или любой другой, на ваш выбор.</p>
										<div class="text-default__title">Условия доставки товара с привлечением транспортной компании:</div>
										<ul>
											<li>
												<span>Доставка товара до склада транспортной компании в пределах МКАД — бесплатно.</span></li>
											<li>
												<span>Срок отгрузки товара с нашего склада (при условии наличия товара на складе) — до трех суток.?</span></li>
											<li>
												<span>Срок и стоимость доставки заказа вам назовет наш менеджер (она зависит от веса, объема и дальности отправления).</span></li>
											<li>
												<span>Доставка товара транспортной компанией до филиала в вашем городе — бесплатная для заказа от 150 000 руб.</span></li>
											<li>
												<span>Стоимость доставки товара, транспортной компанией, до места назначения оплачивается при получении заказа.?</span></li>
											<li>
												<span>Как только товар будет отгружен, наш менеджер свяжется с вами и сообщит номер отправления.</span></li>
											<li>
												<span>Товар отправляется только в жесткой упаковке, со страховкой и пометкой «хрупкий груз».</span></li>
										</ul>
										<p>
											<b>Доставка товара в регионы России осуществляется по предоплате.</b>
										</p>
										<div class="text-default__grayblock text-default__grayblock_bottom">
											<div class="text-default__title">Порядок приема товара</div>
											<ul>
												<li>
													<span>Убедиться в отсутствии явных следов повреждений упаковки. Коробка, в которой был доставлен товар, должна быть плотно закрыта.</span></li>
												<li>
													<span>После вскрытия упаковки убедитесь в надлежащем качестве доставленного товара: отсутствие сколов, вмятин, соответствие заявленной комплектации.</span></li>
											</ul>
											<p>Что делать если Вам доставили товар ненадлежащего качества? Ни в коем случае не подписывайте документы о получении товара. В присутствии представителей транспортной компании нужно сфотографировать дефекты техники, сделать отметки с описанием
												недостатков в сопроводительных документах и оформить претензию.</p>
											<p>Если у Вас есть вопросы, позвоните нам:
												<a href="#">
													<b>+7 (495) 646-61-04</b>
												</a>
											</p>
										</div>
										<div class="text-default__title">При приеме товара необходимо сделать следующее:</div>
										<p>Оформляя заказ на сайте Hausdorf, вы соглашаетесь с
											<a href="#">условиями продажи товара физическим лицам</a>.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- /.slidedown -->

					</div>
					<!-- /.content-block -->

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
