{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="detail">

						{{
							breadcrumbs(
								items = [{"item": "Мойки", "submenu": true, "mod": true},{"item": "Blanco", "submenu": true, "mod": true}],
								text = 'Индукционная варочная панель De Dietrich DPI7572G'
							)
						}}

						<div class="title">Индукционная варочная панель De Dietrich DPI7572G</div>
						<!-- /.title -->

						<div class="detail__top">

							<div class="service-popup">
								<div class="service-popup__button">
									<span>Сервисные центры</span>
									<div class="service-popup__popup">
										<div class="service-popup__section">
											<div class="service-popup__field">
												<div class="service-popup__title">ООО «Мир и Сервис»</div>
												<div class="service-popup__item">
													<div class="service-popup__phone"><a href="#">8 (495)744 00 14</a></div>
												</div>
												<div class="service-popup__item">
													<div class="service-popup__address">Москва, улица Промышленная, 11, стр.2.</div>
												</div>
											</div>
											<div class="service-popup__field">
												<div class="service-popup__title">ООО «ВнешРемТорг»</div>
												<div class="service-popup__item">
													<div class="service-popup__phone">
														<a href="#">8 (495) 518 69 41;</a>
														<a href="#">8 (495) 518 69 47;</a><br/>
														<a href="#">8 (495) 518-6432</a>
													</div>
												</div>
												<div class="service-popup__item">
													<div class="service-popup__address">Москва, ул. Селезневская д.30 корп. Б-В</div>
												</div>
											</div>
											<a class="service-popup__more" href="#">Все сервисные центры</a>
										</div>
									</div>
								</div>
								<!-- /.service-popup__button -->
								<div class="service-popup__photo">
									<img class="service-popup__pic lazyload" data-src="images/service-popup__pic2.png" alt="" />
								</div>
							</div>
							<!-- /.service-popup -->

							<div class="detail__row">
								<div class="detail__col">

									<div class="detail__header">

										<div class="detail__articul">Артикул: <span>146-9713</span></div>

										<div class="detail__rating">
											4,5
											<span></span>
										</div>
										<a href="#" class="detail__btn-reviews">6 отзывов</a>

										<div class="detail__utilities">
											<a class="button-favorite" href="#">
												<span class="button-favorite__icon"></span>
												<span class="button-favorite__text">В избранное</span>
											</a>
											<a class="button-compare" href="#">
												<span class="button-compare__icon"></span>
												<span class="button-compare__text">Сравнить</span>
											</a>
										</div>

									</div>

									<div class="detail__label">
										<div class="label">
											<div class="label__item label__item_red">
												<div class="label__text">Новинка</div>
											</div>
											<div class="label__item">
												<div class="label__text">Хит продаж</div>
											</div>
										</div>
									</div>
									<!-- /.detail__label -->

									{% set detailGalleryPhoto = 'images/detail-gallery__large2.jpg' %}
									{% include "detail-page/detail-gallery/detail-gallery.njk" %}

								</div>
								<!-- /.detail__col -->
								<div class="detail__col">
									<div class="detail__desc">

										<div class="detail__available">
											<div class="available">В наличии</div>
											<div class="detail__information">Срок поставки: <b>Завтра</b></div>
										</div>
										<!-- /.detail__available -->

										<div class="detail__table detail__table_prices">
											<div class="detail__cell">
												<div class="detail__price">
													<div class="detail__price-old">504 996 руб.</div>
													51 499 <span>руб.</span>
												</div>
											</div>
											<div class="detail__cell">
												<a class="detail__buy" href="#">Купить</a>
											</div>
										</div>

										<div class="detail__table detail__table_oneclick">
											<div class="detail__cell">
												<div class="detail__date">Цена от 07.11.2018</div>
											</div>
											<div class="detail__cell">
												<a class="detail__oneclick" href="#">Купить в один клик</a>
											</div>
										</div>

										<div class="detail__table detail__table_economy">
											<div class="detail__cell">
												<div class="detail__economy">Экономия: <span>377 руб.</span></div>
											</div>
											<div class="detail__cell">
												
												{% include "detail-page/detail-icons/detail-icons.njk" %}

											</div>
										</div>

										<div class="detail__line"></div>

										{% include "benefits/benefits-detail/benefits-detail.njk" %}

										<a class="detail__btnpopup" href="#">
											<span>ВСЕ ПРИЧИНЫ ДОВЕРЯТЬ HAUSDORF</span>
										</a>

										{% include "detail-page/detail-settings-preview/detail-settings-preview.njk" %}

										<div class="detail__smtitle">Особенности</div>

										{% include "benefits/benefits-product/benefits-product.njk" %}

									</div>
									<!-- /.detail__desc -->
								</div>
								<!-- /.detail__col -->
							</div>
							<!-- /.row -->

						</div>
						<!-- /.detail__top -->

						{% include "detail-page/detail-text/detail-text.njk" %}

						<div class="row">
							<div class="col-sm-7">
								<div class="detail__title">Характеристики</div>

								{% include "detail-page/detail-properties/detail-properties.njk" %}

							</div>
							<!-- /.col-sm-7 -->
							<div class="col-sm-5">

								<div class="detail__files">
									<div class="detail__title">Скачать документы</div>

									{% from "download-files/download-files.njk" import downloadFiles %}
									{{
										downloadFiles(
											data = [
												{ src: 'images/pdf.svg', text: 'Инструкция к De Dietrich DPI7572G', small: 'PDF, 1.3 Мб' },
												{ src: 'images/jpg.svg', text: 'Схема встраивания', small: 'JPG, 22.21 Кб' },
												{ src: 'images/pdf.svg', text: 'Информация о приборе', small: 'PDF, 1.24 Мб' },
												{ src: 'images/pdf.svg', text: 'Класс энергоэффективности', small: 'PDF, 272.73 Кб' },
												{ src: 'images/jpg.svg', text: 'Технические данные', small: 'GIF, 153 Кб' }
											]
										)
									}}
								</div>
								<!-- /.detail__files -->

								{% include "detail-page/detail-phone/detail-phone.njk" %}

								{% include "detail-page/detail-manager/detail-manager.njk" %}

							</div>
							<!-- /.col-sm-5 -->
						</div>
						<!-- /.row -->

						{% set mClassDetailText = 'detail-text_bottom' %}
						{% include "detail-page/detail-text/detail-text.njk" %}

					</div>
					
					{% include "reviews/reviews-wrapper/reviews-wrapper.njk" %}

					{% include "detail-page/detail-accessories/detail-accessories.njk" %}

					{% include "detail-page/detail-brand/detail-brand.njk" %}

					{% include "detail-page/detail-section/detail-section.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
