{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block">

						{{ breadcrumbs( text = 'Избранное' ) }}

						<div class="title">Избранное</div>
						<!-- /.title -->

						<div class="content-block__menu content-block__menu_fixed">
							{% from "menu/menu-content/menu-content.njk" import menuContent %}
							{{
								menuContent(
									arr = ['<span>Статьи <b>30</b></span>', '<span>Товары <b>25</b></span>'],
									index = 2
								)
							}}
						</div>
						<!-- /.content-block__menu -->

						<div class="content-block__icon"></div>

					</div>
					<!-- /.content-block -->

					{% from "catalog/catalog-thumb/catalog-thumb.njk" import thumb %}
					<div class="catalog">
						<div class="row">
							{% for item in [1, 2] %}
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic5.jpg',
											compare = true,
											favorite = true
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic6.jpg',
											label = true,
											labelItemsText = ['Хит продаж']
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic7.jpg'
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic8.jpg'
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
							{% endfor %}
						</div>
						<!-- /.row -->
					</div>
					<!-- /.catalog -->

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
