{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block">

						{{ breadcrumbs( text = 'Избранное' ) }}

						<div class="title">Избранное</div>
						<!-- /.title -->

						<div class="content-block__menu content-block__menu_fixed">
							{% from "menu/menu-content/menu-content.njk" import menuContent %}
							{{
								menuContent(
									arr = ['<span>Товары <b>5</b></span>', '<span>Статьи <b>4</b></span>'],
									index = 1
								)
							}}
						</div>
						<!-- /.content-block__menu -->
						<div class="content-block__icon"></div>
						<!-- /.content-block__icon -->

					</div>
					<!-- /.content-block -->

					{% from "news/news/news.njk" import news %}

					<div class="news">
						{{
							news(
								photo = false,
								favorite = true
							)
						}}
						{{
							news(
								photo = false,
								favorite = true
							)
						}}
						{{
							news(
								title = 'Специальное предложение на легенду Smeg: FAB30',
								action = 'Акция!',
								actionCls = 'active',
								photo = true,
								footer = true
							)
						}}
						{{
							news(
								title = 'Купи миксер Smeg и получи подарок!',
								action = 'Акция!',
								actionCls = 'active',
								photo = true,
								src = 'images/news3.jpg'
							)
						}}
					</div>
					<!-- /.news -->

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
