{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					<ol>
						<li>
							<a target="_blank" href="index.html">index.html</a>
						</li>
						<br>
						<br>
						<li>
							<a target="_blank" href="404.html">404.html</a>
						</li>
						<li>
							<a target="_blank" href="service-center-by-brand.html">service-center-by-brand.html</a>
						</li>
						<li>
							<a target="_blank" href="return.html">return.html</a>
						</li>
						<li>
							<a target="_blank" href="usloviya.html">usloviya.html</a>
						</li>
						<li>
							<a target="_blank" href="installation.html">installation.html</a>
						</li>
						<li>
							<a target="_blank" href="main.html">main.html</a>
						</li>
						<li>
							<a target="_blank" href="botique-feedback.html">botique-feedback.html</a>
						</li>
						<li>
							<a target="_blank" href="service-center.html">service-center.html</a>
						</li>
						<li>
							<a target="_blank" href="collaboration.html">collaboration.html</a>
						</li>
						<li>
							<a target="_blank" href="adress-butika.html">adress-butika.html</a>
						</li>
						<li>
							<a target="_blank" href="about-hausdorf.html">about-hausdorf.html</a>
						</li>
						<li>
							<a target="_blank" href="confirm.html">confirm.html</a>
						</li>
						<li>
							<a target="_blank" href="basket.html">basket.html</a>
						</li>
						<li>
							<a target="_blank" href="search-result.html">search-result.html </a>
						</li>
						<li>
							<a target="_blank" href="search-result2.html">search-result2.html</a>
						</li>
						<li>
							<a target="_blank" href="favorites-product.html">favorites-product.html</a>
						</li>
						<li>
							<a target="_blank" href="favorites-news.html">favorites-news.html</a>
						</li>
						<li>
							<a target="_blank" href="search-result-news.html">search-result-news.html</a>
						</li>
						<li>
							<a target="_blank" href="search-result-reviews.html">search-result-reviews.html</a>
						</li>
						<li>
							<a target="_blank" href="news.html">news.html</a>
						</li>
						<li>
							<a target="_blank" href="news-article.html">news-article.html</a>
						</li>
						<li>
							<a target="_blank" href="delivery.html">delivery.html</a>
						</li>
						<li>
							<a target="_blank" href="brand-reviews.html">brand-reviews.html</a>
						</li>
						<li>
							<a target="_blank" href="catalog-reviews.html">catalog-reviews.html</a>
						</li>
						<li>
							<a target="_blank" href="product-reviews.html">product-reviews.html</a>
						</li>
						<li>
							<a target="_blank" href="partners.html">partners.html</a>
						</li>
						<li>
							<a target="_blank" href="news-sale.html">news-sale.html</a>
						</li>
						<li>
							<a target="_blank" href="compare.html">compare.html</a>
						</li>
						<li>
							<a target="_blank" href="brand.html">brand.html</a>
						</li>
						<li>
							<a target="_blank" href="catalog-thumb.html">catalog-thumb.html</a>
						</li>
						<li>
							<a target="_blank" href="catalog-list-without-slider.html">catalog-list-without-slider.html</a>
						</li>
						<li>
							<a target="_blank" href="catalog-list.html">catalog-list.html</a>
						</li>
						<li> 
							<a target="_blank" href="statuses_of_catalog.html">statuses_of_catalog.html</a>
						</li>
						<li>
							<a target="_blank" href="detail.html">detail.html</a>
						</li>
						<li>
							<a target="_blank" href="detail-with-complect.html">detail-with-complect.html</a>
						</li>
						<li>
							<a target="_blank" href="detail-simular.html">detail-simular.html</a>
						</li>
						<li>
							<a target="_blank" href="header-search.html">header-search.html</a>
						</li>
						<li> 
							<a target="_blank" href="popups.html">popups.html</a>
						</li>
					</ol>

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
