{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block content-block_bg_white content-block_bdrs content-block_delivery">

						{{ breadcrumbs( text = 'Подключение техники' ) }}

						<div class="title">Подключение техники</div>
						<!-- /.title -->

						<div class="search search_delivery">
							<form action="#" class="search__form">
								<div class="search__row search__row_delivery">
									<div class="search__col search__col_delivery">
										<div class="search__text">Регион:</div>
										<!-- /.search__text -->
									</div>
									<!-- /.search__col search__col_delivery -->
									<div class="search__col search__col_delivery">
										{% from "combox/combox.njk" import combox %}
										{{
											combox(['Москва', 'Москва', 'Москва'])
										}}
									</div>
									<!-- /.search__col search__col_delivery -->
								</div>
								<!-- /.row align-items-center -->
							</form>
							<!-- /.search__form -->

						</div>
						<!-- /.search search_delivery -->

						<div class="text-default">
							<p>При заказе техники в нашем магазине вы также можете заказать подключение. Работы по подключению выполняют мастера партнерских служб. Вызов мастера можно заказать у наших менеджеров по телефону +7 (495) 602-96-21. Дата приезда специалиста
								согласовывается при оформлении заказа. Чтобы не выделять дополнительное время на установку, визит мастера можно назначить на день доставки товара. Демонтаж старой техники в стоимость услуг не входит и оплачивается отдельно.</p>
							<div class="installation">
								<div class="row">
									<div class="col-sm-6">
										<div class="installation__item">
											<div class="installation__photo"><img class="installation__pic lazyload" data-src="images/installation__pic1.jpg" alt=""/></div>
											<div class="installation__name">Информация по
												<a href="#">подключению</a>
												техники
												<a href="#">Miele</a>
												и
												<a href="#">документы</a>
												для покупателей товаров Miele.</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="installation__item">
											<div class="installation__photo"><img class="installation__pic lazyload" data-src="images/installation__pic2.jpg" alt=""/></div>
											<div class="installation__name">Информация о новой услуге Miele —
												<a href="#">Miele Exclusive Care</a>.</div>
										</div>
									</div>
								</div>
							</div>
							<p>Наш магазин дарит вам <b>бесплатное подключение техники</b> на готовые коммуникации при стоимости товара от 50 000 рублей (кроме островных вытяжек) для следующих брендов:</p>
							<p>
								<a href="#">SMEG</a>,
								<a href="#">ASKO</a>,
								<a href="#">AEG</a>,
								<a href="#">DeDietrich</a>,
								<a href="#">Kuppersberg</a>,
								<a href="#">Kaiser</a>,
								<a href="#">Gaggenau</a>,
								<a href="#">Faber</a>,
								<a href="#">Kuppersbusch</a>,
								<a href="#">Ilve</a>,
								<a href="#">Barazza</a>,
								<a href="#">IP</a>,
								<a href="#">Steel</a>,
								<a href="#">Restart</a>
								и многих других товарных предложений, помеченных специальным знаком.</p>
							<p>Выезд мастера за пределы МКАД оплачивается дополнительно.</p>
							<div class="text-default__title">Цены на монтаж техники</div>
							<div class="text-default__row">
								<div class="text-default__col">Выезд мастера —
									<b>600 рублей.</b>
								</div>
								<div class="text-default__col">Вызов за МКАД
									<b>+40 руб./км</b>
								</div>
							</div>
						</div>
						<!-- /.text-default -->

						<div class="slidedown">
							<div class="data-dropdown">
								<div class="data-dropdown__inner">
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Подключение (на готовые коммуникации) отдельностоящей техники</div>
										<div class="data-dropdown__button slidedown__button active" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">
												<div class="text-default-table">
													<div class="text-default-table__field">
														<div class="text-default-table__left">
															<p>
																<b>Сушильный барабан
																	<br/></b>(разблокировка прибора, установка на место дальнейшей эксплуатации, регулировка по уровню, первый запуск, консультация по использованию)
																<div class="text-default-table__price d-block d-sm-none">1 600 рублей.</div>
															</p>
															<p>
																<b>Электроплита
																	<br/></b>(установка новой плиты на место дальнейшей эксплуатации, регулировка по уровню, монтаж электрического кабеля от плиты к розетке (материал в стоимость подключения не входит), первый запуск, консультация по использованию)
																<div class="text-default-table__price d-block d-sm-none">1 600 рублей.</div>
															</p>
															<p>
																<b>Стиральная машина
																	<br/></b>(разблокировка прибора, установка на место дальнейшей эксплуатации, регулировка по уровню, первый запуск, консультация по использованию)
																<div class="text-default-table__price d-block d-sm-none">1 600 рублей.</div>
															</p>
															<p>
																<b>Посудомоечная машина
																	<br/></b>(разблокировка прибора, установка на место дальнейшей эксплуатации, регулировка по уровню, первый запуск, консультация по использованию)
																<div class="text-default-table__price d-block d-sm-none">1 600 рублей.</div>
															</p>
														</div>
														<div class="text-default-table__right">1 600 рублей.</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Подключение (на готовые коммуникации) встраиваемой техники</div>
										<div class="data-dropdown__button slidedown__button active" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">
												<div class="text-default-table">
													<div class="text-default-table__field" data-price="1 600 рублей.">
														<div class="text-default-table__left">
															<b>Холодильник</b>(отдельностоящий, шириной до 60 см)</div>
														<div class="text-default-table__right">1 600 рублей.</div>
													</div>
													<div class="text-default-table__field" data-price="1 600 рублей.">
														<div class="text-default-table__left">
															<b>Холодильник встраиваемый</b>
														</div>
														<div class="text-default-table__right">1 900 рублей.</div>
													</div>
													<div class="text-default-table__field" data-price="1 600 рублей.">
														<div class="text-default-table__left">
															<b>Холодильник Side-by-Side</b>(отдельностоящий)</div>
														<div class="text-default-table__right">2 500 рублей.</div>
													</div>
													<div class="text-default-table__field" data-price="1 600 рублей.">
														<div class="text-default-table__left">
															<b>Холодильник Side-by-Side + вода</b>(установка на место дальнейшей эксплуатации, регулировка, подключение к готовым коммуникациям)</div>
														<div class="text-default-table__right">4 000 рублей.</div>
													</div>
													<div class="text-default-table__field" data-price="1 600 рублей.">
														<div class="text-default-table__left">
															<b>Холодильник Side-by-Side из двух частей</b>(установка на место дальнейшей эксплуатации, регулировка и соединение отдельных частей)</div>
														<div class="text-default-table__right">2 500 рублей.</div>
													</div>
													<div class="text-default-table__field" data-price="1 600 рублей.">
														<div class="text-default-table__left">
															<b>Холодильник Side-by-Side из двух частей с подключением к воде</b>(установка на место дальнейшей эксплуатации, регулировка и соединение отдельных частей, подключение к готовым коммуникациям)</div>
														<div class="text-default-table__right">4 000 рублей.</div>
													</div>
													<div class="text-default-table__field" data-price="1 600 рублей.">
														<div class="text-default-table__left">
															<b>Установка встраиваемого холодильника + перенавеска + навеска фасадов</b>(комплекс)</div>
														<div class="text-default-table__right">4 000 рублей.</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Холодильники</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Вытяжки</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Установка моек для кухни</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.slidedown -->
						<div class="text-default text-default_bottom">
							<div class="text-default__title">Подключение техники по России</div>
							<p>Подробную информацию по тарифам на ввод в эксплуатацию приборов, партнерским сервисным центрам и другие вопросы можно уточнить по телефону горячей линии Hausdorf:
								<a href="#">+7 (800) 333-10-52</a>
								(звонок бесплатный).</p>
						</div>
						<!-- /.text-default -->

						{% include "brand/brand-list-photo/brand-list-photo.njk" %}

					</div>
					<!-- /.content-block -->

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
