{% include "head/head.njk" %}

<body>

	{% include "bar-gift/bar-gift.njk" %}

	<div class="wrapper" id="wrapper">

		{% include "header/global/header.njk" %}

			{% include "pages/main/main-banner/main-banner.njk" %}

			<!-- ./swiper -->
			<div class="middle">
				<div class="middle__container">
					<div class="content">

						{% include "pages/main/main-info/main-info.njk" %}

						{% include "pages/main/news-item/news-item.njk" %}

						{% include "pages/main/banner/banner.njk" %}

						{% include "pages/main/tabs-news/tabs-news.njk" %}

						{% include "brand/brand-list/brand-list.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
