{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block">

						{{ breadcrumbs( text = 'Статьи' ) }}

						<div class="title">Статьи</div>
						<!-- /.title -->

						<div class="content-block__row">
							<div class="content-block__text">Рубрики:</div>
							<!-- /.content-block__text -->
							<div class="content-block__menu">
								{% from "menu/menu-content/menu-content.njk" import menuContent %}
								{{
									menuContent(
										arr = ['<span>Акции <b>5</b></span>', '<span>Новости <b>25</b></span>', '<span>Все статьи <b>30</b></span>'],
										index = 3
									)
								}}
							</div>
							<!-- /.content-block__menu -->
						</div>
						<!-- /.content-block__row -->

					</div>
					<!-- /.content-block -->

					{% from "news/news/news.njk" import news %}
					<div class="news">
						{{
							news()
						}}
						{{
							news(
								title = 'Серии стиральных машин Miele',
								favorite = true
							)
						}}
						{{
							news(
								title = 'Специальное предложение на легенду Smeg: FAB30',
								favorite = true,
								action = 'Акция!',
								actionCls = 'active',
								photo = true,
								footer = true
							)
						}}
						{{
							news(
								title = 'Новинки кухонной техники от Asko',
								action = 'Новинка',
								actionCls = 'active',
								photo = true,
								src = 'images/news2.jpg'
							)
						}}
						{{
							news(
								title = 'SmartDevice — будущее разумной жизни'
							)
						}}
						{{
							news(
								title = 'Цветные холодильники из Германии'
							)
						}}
						{{
							news(
								title = 'Купи миксер Smeg и получи подарок!',
								action = 'Акция!',
								actionCls = 'active',
								photo = true,
								src = 'images/news3.jpg'
							)
						}}
					</div>
					<!-- /.news -->

					{% include "pagination/pagination.njk" %}

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
