{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block content-block_bg_white content-block_bdrs">

						{{
							breadcrumbs(
								items = [{"item": "Статьи", "submenu": false, "mod": false}],
								text = 'Купи миксер Smeg и получи подарок!'
							)
						}}

						<div class="title">Купи миксер Smeg и получи подарок!</div>
						<!-- /.title -->

						{% include "news/news-sale/news-sale.njk" %}

					</div>
					<!-- /.content-block content-block_bg_white content-block_bdrs -->

					<div class="news-sale news-sale_products">
						<div class="news-sale__products">
							<div class="catalog">
								<div class="catalog__inner">

									{% include "catalog/catalog-list/catalog-list-newssale.njk" %}
									
								</div>
								<!-- /.catalog__inner -->
							</div>
							<!-- /.catalog -->
						</div>
						<!-- /.news-sale__products -->
					</div>
					<!-- /.news-sale -->

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
