{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block content-block_bg_white content-block_bdrs">

						{{
							breadcrumbs(
								items = [{"item": "Статьи", "submenu": false, "mod": false}],
								text = 'SmartDevice — будущее разумной жизни'
							) }}

						<div class="title">SmartDevice — будущее разумной жизни</div>
						<!-- /.title -->

						{% include "news/news-article/news-article.njk" %}

					</div>
					<!-- /.content-block -->

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
