{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="partners">

					    <div class="partners-banner">

							{{
								breadcrumbs(
									text = 'Индивидуальные условия для собственников недвижимости в ЖК и посёлках партнёров Hausdorf'
								)
							}}

							<div class="partners-banner__title">
								Индивидуальные условия для собственников недвижимости в ЖК <br/> и посёлках партнёров Hausdorf
							</div>

							<div class="partners-banner__menu" data-tabs>
								<a class="partners-banner__menulnk" data-hash="#js-tabs-1" data-tabs-children>Собственникам</a>
								<a class="partners-banner__menulnk" data-hash="#js-tabs-2" data-tabs-children>Партнерам</a>
							</div>

							<div class="partners-banner__section">
							    <div class="tabs">
									{% for item in [1, 2] %}
									<div class="tabs__inner" id="js-tabs-{{ loop.index }}">
										<p>Узнать специальные условия на приобретение техники можно посетив наш салон. Для подтверждения наличия собственности <br/> в партнерских организациях необходимо предоставить любой документ:</p>
										<ul>
											<li>Договор купли-продажи</li>
											<li>Свидетельство о собственности</li>
											<li>Адрес прописки в паспорте</li>
											<li>Иной документ с подтверждением</li>
										</ul>
									</div>
									{% endfor %}
							    </div>
							</div>

							<div class="partners-banner__footer">
								{% include "benefits/benefits/benefits-partners.njk" %}
							</div>

					    </div>
						<!-- /.partners-banner -->

						<div class="partners__brands">
						    <div class="title title_small">Бренды</div>
						    <div class="partners__brands-row">
								{% for i in [1, 2] %}
								{% for item in ["asko_logo", "beltratto_logo", "Group_43", "bugatti_logo", "bugatti_logo", "gga", "beltratto_logo", "logo-wolf", "bugatti_logo", "bugatti_logo"] %}
								<div class="partners__brands-col">
									<div class="partners__brands-link">
										<img class="partners__brands-pic lazyload" data-src="images/{{ item }}.png" />
									</div>
								</div>
								<!-- /.partners__brands-col -->
								{% endfor %}
								{% endfor %}
						    </div>
						</div>
						<!-- /.partners__brands -->

						{% include "partners/partners-list/partners-list.njk" %}

						<div class="partners__brands partners__brands_flex">
						    <div class="title title_small">С нами уже работают</div>
						    <div class="partners__brands-rowitems">
						        <div class="partners__brands-colitems">
						            <div class="partners__brands-linkitems">
										<img class="partners__brands-pic lazyload" data-src="images/partners__brands-pic1.jpg" />
									</div>
						        </div>
						        <div class="partners__brands-colitems">
						            <div class="partners__brands-linkitems">
										<img class="partners__brands-pic lazyload" data-src="images/partners__brands-pic2.jpg" />
									</div>
						        </div>
						        <div class="partners__brands-colitems">
						            <div class="partners__brands-linkitems">
										<img class="partners__brands-pic lazyload" data-src="images/partners__brands-pic3.jpg" />
									</div>
						        </div>
						        <div class="partners__brands-colitems">
						            <div class="partners__brands-linkitems">
										<img class="partners__brands-pic lazyload" data-src="images/partners__brands-pic4.jpg" />
									</div>
						        </div>
						        <div class="partners__brands-colitems">
						            <div class="partners__brands-linkitems">
										<img class="partners__brands-pic lazyload" data-src="images/partners__brands-pic5.jpg" />
									</div>
						        </div>
						        <div class="partners__brands-colitems">
						            <div class="partners__brands-linkitems">
										<img class="partners__brands-pic lazyload" data-src="images/partners__brands-pic6.jpg" />
									</div>
						        </div>
						        <div class="partners__brands-colitems">
						            <div class="partners__brands-linkitems">
										<img class="partners__brands-pic lazyload" data-src="images/partners__brands-pic7.jpg" />
									</div>
						        </div>
						        <div class="partners__brands-colitems">
						            <div class="partners__brands-linkitems">
										<img class="partners__brands-pic lazyload" data-src="images/partners__brands-pic8.jpg" />
									</div>
						        </div>
						        <div class="partners__brands-colitems">
						            <div class="partners__brands-linkitems">
										<img class="partners__brands-pic lazyload" data-src="images/partners__brands-pic9.jpg" />
									</div>
						        </div>
						    </div>
						</div>
						<div class="partners__footer">
							<a class="partners__button" href="#">Стать партнером</a>
						</div>

						<div class="address__row row partners__bottom">
						    <div class="col-sm-7">
						        <div class="title title_small">«Бутик Hausdorf» расположен по адресу:</div>

								{% from "utilities/address-info/address-info.njk" import addressInfo %}
								{% from "utilities/metro-info/metro-info.njk" import metroInfo %}
								{% from "utilities/time-info/time-info.njk" import timeInfo %}
								{% from "utilities/email-info/email-info.njk" import emailInfo %}
						        <div class="address__field">
						        	{{ addressInfo('Москва, Рублевское шоссе, д. 52а, ТЦ «Западный», 3 этаж') }}
						        </div>
						        <div class="address__field">
						        	{{ metroInfo('Ближайшая станция метро: «Крылатское»') }}
						        </div>
						        <div class="address__field">
						        	{{ timeInfo('сall-центр — ежедневно: <b>с 9:00 до 22:00</b>, магазин — ежедневно: <b>с 10:00 до 22:00</b>') }}
						        </div>
						        <div class="address__field">
						        	{{ emailInfo('shop@hausdorf.ru') }}
						        </div>
						    </div>
						    <div class="col-sm-5">
						        <div class="partners__map">
									<iframe src="https://yandex.ru/map-widget/v1/-/CCQWzYJO" width="100%" height="240" frameborder="2" allowfullscreen="true"></iframe>
								</div>
						    </div>
						</div>
						<!-- /.address__row -->

					</div>
					<!-- /.partners -->

					<div class="title title_small title_center">Бутик Hausdorf — комплексное решение для вашего дома</div>
					 <!-- /.title title_small title_center -->

					{% from "about/about-hausdorf/about-hausdorf.njk" import aboutHd %}

					<div class="about-hausdorf about-hausdorf_partner">
						{{
							aboutHd()
						}}
						{{
							aboutHd(
								src = 'about-hd__pic2.jpg',
								src768 = 'about-hd__pic2_768w.png',
								title = 'Кухни в бутике Hausdorf',
								text = 'Наши специалисты готовы предложить комплексное решение для <br>кухни, которое включает мебель и оптимально подобранную бытовую<br> технику. В бутике представлена мебель для кухонь в разных стилях<br>и цветовых вариантах = от классики и модерна до кантри и техно-арта.'
							)
						}}
						{{
							aboutHd(
								src = 'about-hd__pic3.jpg',
								src768 = 'about-hd__pic3_768w.png',
								title = 'Мебель в бутике Hausdorf',
								text = 'Hausdorf предлагает дизайнерскую мебель для каждого помещения в доме:<br> от просторных прихожих и продуманных гардеробных до изысканных<br> столовых и исключительных спален. На ваш выбор редчайшие породы <br>дерева, благородные металлы, сложные мозаики и многое другое.'
							)
						}}
					</div>
					<!-- /.about-hausdorf -->

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
