{% include 'head/head.njk' %}

<body>

<div class="wrapper" id="js-wrapper">

	{% include 'header/global/header.njk' %}

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

				{{ breadcrumbs(text='Попапы') }}

				<div class="title">Попапы</div>
				<!-- /.title -->

				<ul> 
					<li>
						<a data-ajax data-url="ajax/popup/popup-callback/popup-callback.html" href="#">Заказать звонок</a>
					</li>
					<li>
						<a data-ajax data-url="ajax/popup/popup-price/popup-price.html" href="#">Уточнить стоимость</a>
					</li>
					<li>
						<a data-ajax data-url="ajax/popup/popup-boss/popup-boss.html" href="#">Письмо руководству</a>
					</li>
					<li>
						<a data-ajax data-url="ajax/popup/popup-special-offer/popup-special-offer.html" href="#">Специальное предложение</a>
					</li>
					<li>
						<a data-ajax data-url="ajax/popup/popup-gift/popup-gift.html" href="#">Карта подарочная за регистрацию</a>
					</li>
					<li>
						<a data-ajax data-url="ajax/popup/popup-manager/popup-manager.html" href="#">Выезд менеджера на дом</a>
					</li>
					<li>
						<a data-ajax data-url="ajax/popup/popup-benefits/popup-benefits.html" href="#">Причины доверять ХД</a>
					</li>
					<li>
						<a data-ajax data-url="ajax/popup/popup-basket/popup-basket.html" href="#">Добавление в корзину</a>
					</li>
				</ul>

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.njk' %}
{% include 'connect/script.njk' %}
{% include 'connect/stylesheet.njk' %}

</body>
</html>
