{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block content-block_bg_white">

						{{
							breadcrumbs(
								items = [{"item": "Варочные панели", "submenu": true, "mod": true}, {"item": "De Dietrich", "submenu": true, "mod": true},{"item": "Варочная панель De Dietrich DPI7572G", "submenu": false, "mod": false}],
								text = 'Все отзывы'
							)
						}}

						<div class="service-popup d-none d-sm-flex">
							<div class="service-popup__button">
								<span>Сервисные центры</span>
								<div class="service-popup__popup">
									<div class="service-popup__section">
										<div class="service-popup__field">
											<div class="service-popup__title">ООО «Мир и Сервис»</div>
											<div class="service-popup__item">
												<div class="service-popup__phone">
													<a href="#">8 (495)744 00 14</a>
												</div>
											</div>
											<div class="service-popup__item">
												<div class="service-popup__address">Москва, улица Промышленная, 11, стр.2.</div>
											</div>
										</div>
										<div class="service-popup__field">
											<div class="service-popup__title">ООО «ВнешРемТорг»</div>
											<div class="service-popup__item">
												<div class="service-popup__phone">
													<a href="#">8 (495) 518 69 41;</a>
													<a href="#">8 (495) 518 69 47;</a><br/>
													<a href="#">8 (495) 518-6432</a>
												</div>
											</div>
											<div class="service-popup__item">
												<div class="service-popup__address">Москва, ул. Селезневская д.30 корп. Б-В
												</div>
											</div>
										</div>
										<a class="service-popup__more" href="#">Все сервисные центры</a>
									</div>
								</div>
							</div>
							<div class="service-popup__photo">
								<img class="service-popup__pic lazyload" data-src="images/service-popup__pic2.png" alt=""/>
							</div>
						</div>
						<!-- /.service-popup -->

						{% from "reviews/reviews-product/reviews-product.njk" import reviewsProduct %}

						{{
							reviewsProduct()
						}}

					</div>
					<!-- /.content-block -->

					{% from "reviews/reviews-list/reviews-list.njk" import reviewsList %}
					<div class="reviews-list reviews-list_border">
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png'
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png',
								name = 'Анна В',
								text = 'Покупали стиральную машинку Miele не раздумывая. В бренде уверены, бренд проверен временем. Прежде чем брать напичканные всякимим непонятными функциями 10 в 1 и т.д за бешенные бабки лучше почитать и выяснить что не в огромном универсализме преимущества стиральной машины.'
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png',
								name = 'Кузьмина Дарья',
								text = 'Хороший производитель, очень тихая и не портит вещи. выбор стиральной машинки это нечасто и это очень выматывает. Потому что покумаем стиральные машинки опят таки нечасто и надолго. Доверились известному бренду. Белье вынимаю практически сухое и идеально чистое при том же порошке который использовала до приобретения, но в старой машинке вещи были намного темнее и это особенно было заметно по светлым вещам '
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png'
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png',
								name = 'Анна В',
								text = 'Покупали стиральную машинку Miele не раздумывая. В бренде уверены, бренд проверен временем. Прежде чем брать напичканные всякимим непонятными функциями 10 в 1 и т.д за бешенные бабки лучше почитать и выяснить что не в огромном универсализме преимущества стиральной машины.'
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png',
								name = 'Кузьмина Дарья',
								text = 'Хороший производитель, очень тихая и не портит вещи. выбор стиральной машинки это нечасто и это очень выматывает. Потому что покумаем стиральные машинки опят таки нечасто и надолго. Доверились известному бренду. Белье вынимаю практически сухое и идеально чистое при том же порошке который использовала до приобретения, но в старой машинке вещи были намного темнее и это особенно было заметно по светлым вещам '
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png'
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png',
								name = 'Анна В',
								text = 'Покупали стиральную машинку Miele не раздумывая. В бренде уверены, бренд проверен временем. Прежде чем брать напичканные всякимим непонятными функциями 10 в 1 и т.д за бешенные бабки лучше почитать и выяснить что не в огромном универсализме преимущества стиральной машины.'
							)
						}}
						{{
							reviewsList(
								photo = true,
								src = 'images/news-list__pic4.png',
								name = 'Кузьмина Дарья',
								text = 'Хороший производитель, очень тихая и не портит вещи. выбор стиральной машинки это нечасто и это очень выматывает. Потому что покумаем стиральные машинки опят таки нечасто и надолго. Доверились известному бренду. Белье вынимаю практически сухое и идеально чистое при том же порошке который использовала до приобретения, но в старой машинке вещи были намного темнее и это особенно было заметно по светлым вещам '
							)
						}}
					</div>
					<!-- /.reviews-list reviews-list_border -->

					{% include "pagination/pagination.njk" %}

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
