{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block content-block_bg_white content-block_bdrs">

						{{ breadcrumbs( text = 'Возврат и обмен товаров' ) }}

						<div class="title">Возврат и обмен товаров</div>
						<!-- /.title -->

						<div class="text-default">
							<p>Уважаемые покупатели, пожалуйста, обращайте внимание, что заявления необходимо подавать в письменном виде. Срок обработки рекламации — до 10 дней.</p>
							<div class="text-default__title">Необходимый пакет документов для оформления рекламационного заявления:</div>
							<ul>
								<li>
									<span>Заявление с подписью и полной информацией о заказе (№ заказа, описание проблемы, требование возврата или обмена, а также телефон)</span></li>
								<li>
									<span>Заключение авторизованного сервисного центра о технической неисправности, представленное в виде отсканированного изображения или фотографии</span></li>
								<li>
									<span>Фотографии повреждений</span></li>
								<li>
									<span>Фотографии упаковки (в случае если товар не подошел)</span></li>
								<li>
									<span>Накладная или кассовый и товарный чеки</span></li>
							</ul>
						</div>
						<!-- /.text-default -->
						<div class="download">
							<a class="download__link" href="#">
								<span>Скачать бланк заявления</span>
							</a>
						</div>
						<!-- /.download -->

						{% include "utilities/phone-content/phone-content.njk" %}

						{% import "form/form.njk" as form %}
						<div class="title title_small">Заявка</div>
						<!-- /.title title_small -->
						<div class="form">
							<div class="form__row">
								<div class="form__col">
									{{
										form.input()
									}}
									{{
										form.input(
											label = 'Имя'
										)
									}}
									{{
										form.input(
											label = '+7(_ _ _) _ _ _ - _ _ - _ _',
											type = 'tel'
										)
									}}
									{{
										form.input(
											label = 'E-mail',
											type = 'email'
										)
									}}
									{{
										form.input(
											label = 'Номер заказа',
											type = 'number'
										)
									}}
								</div>
								<div class="form__col">
									{{
										form.textarea()
									}}

									{% include "form/file/file.njk" %}

									<div class="form__footer">
										{{
											form.checkbox(
												attrs = 'checked'
											)
										}}
										{{
											form.submit()
										}}
									</div>

								</div>
							</div>
							<!-- /.row -->
						</div>
						<!-- /.form -->

					</div>
					<!-- /.content-block -->

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
