{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block">

						{{ breadcrumbs( text =  'Результаты поиска' ) }}

						<div class="title">Результаты поиска</div>
						<!-- /.title -->

						{% import "search/search.njk" as search %}

						{{ search.search() }}

					</div>
					<!-- /.content-block -->

					<div class="title title_catalog_t title_small">Возможно вы искали что-то из этого?</div>
					<!-- /.title title_small -->

					{% from "catalog/catalog-thumb/catalog-thumb.njk" import thumb %}
					<div class="catalog">
						<div class="row">
							{% for item in [1, 2, 3] %}
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic1.jpg',
											compare = true,
											favorite = true
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic2.jpg',
											label = true
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic3.jpg'
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic4.jpg'
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
							{% endfor %}
						</div>
						<!-- /.row -->
					</div>
					<!-- /.catalog -->

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
