{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block">

						{{ breadcrumbs( text =  'Результаты поиска' ) }}

						<div class="title">Результаты поиска</div>
						<!-- /.title -->

						{% import "search/search.njk" as search %}

						{{ search.search(true) }}

						{#
						<!-- 							//- .content-block__row
						//- 	.content-block__text Рубрики:
						//- 	.content-block__menu
						//- 		include /menu/menu-content/menu-content
						//- 		+menuContent({
						//- 			arr: ['<span>Акции <b>5</b></span>', '<span>Новости <b>25</b></span>', '<span>Все статьи <b>30</b></span>'],
						//- 			index: 2
						//- 		}) -->
						#}

					</div>
					<!-- /.content-block -->

					{% from "catalog/catalog-thumb/catalog-thumb.njk" import thumb %}
					<div class="catalog">
						<div class="row">
							{% for item in [1, 2, 3] %}
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic5.jpg',
											compare = true,
											favorite = true
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic6.jpg',
											label = true,
											labelItemsText = ['Хит продаж']
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic7.jpg'
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
								<div class="col-sm-3">
									{{
										thumb(
											src = 'images/catalog-thumb__pic8.jpg'
										)
									}}
								</div>
								<!-- /.col-sm-3 -->
							{% endfor %}
						</div>
						<!-- /.row -->
					</div>
					<!-- /.catalog -->

					{% include "pagination/pagination.njk" %}

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
