{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block">

						{{ breadcrumbs( text =  'Результаты поиска' ) }}

						<div class="title">Результаты поиска</div>
						<!-- /.title -->

						{% import "search/search.njk" as search %}

						{{ search.search(true) }}

					</div>
					<!-- /.content-block -->

					{% from "news/news/news.njk" import news %}

					<div class="news"> 
						{{
							news(
								title = 'Серии стиральных машин Miele',
								favorite = true
							)
						}}
						{{
							news(
								title = 'Специальное предложение на легенду Smeg: FAB30',
								action = 'Акция!',
								actionCls = 'active',
								photo = true,
								footer = true
							)
						}}
					</div>
					<!-- /.news -->

					{% include "catalog/last-viewed/last-viewed.njk" %}

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
