{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block">

						{{ breadcrumbs( text = 'Сервисные центры' ) }}

						<div class="title">Сервисные центры</div>
						<!-- /.title -->

						{% import "search/search.njk" as search %}

						{{
							search.searchBrand()
						}}

					</div>
					<!-- /.content-block -->

					{% include "service-center/service-list/service-list.njk" %}

				</div>
				<!-- /.content -->

			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
