{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block content-block_bg_white content-block_bdrs">

						{{
							breadcrumbs(
								items = [{"item": "Сервисные центры", "submenu": false, "mod": false}, {"item": "ASKO", "submenu": true, "mod": true}]
							)
						}}

						<div class="title">Сервисные центры Asko</div>
						<!-- /.title -->

						<div class="service-center-brand">
							<div class="service-center-brand__row">
								<div class="service-center-brand__col">
									<div class="service-center-brand__photo">
										<a class="service-center-brand__link" href="#">
											<img class="service-center-brand__pic lazyload" data-src="images/service-center-brand__pic.png" alt=""/>
										</a>
									</div>
									<a class="service-center-brand__back" href="#">Вернуться к списку сервисных центров</a>
									<div class="service-center-brand__map">
										<iframe src="https://yandex.ru/map-widget/v1/-/CCQWZDp2" frameborder="2" width="100%" height="100%" allowfullscreen="true"></iframe>
									</div>
								</div>
								<div class="service-center-brand__col">
									<div class="service-center-brand__field">
										<div class="service-center-brand__title">ИП Прокофьев Е.С.</div>
										<div class="service-center-brand__phone">
											<a href="#">8 (499) 322-19-94</a>
										</div>
										<div class="service-center-brand__address">Московская обл., г. Красногорск, ул. Красногорский бульвар д.19</div>
									</div>
									<div class="service-center-brand__field">
										<div class="service-center-brand__title">ИП Солоп С.А.</div>
										<div class="service-center-brand__phone">
											<a href="#">8 (495) 998-01-79</a>
										</div>
										<div class="service-center-brand__address">124527, г. Зеленоград, кор. 841</div>
									</div>
									<div class="service-center-brand__field">
										<div class="service-center-brand__title">ИП Утешев Д.Н. АСЦ «Быт Монтаж»</div>
										<div class="service-center-brand__phone">
											<a href="#">8 (495) 740 51 02</a>
										</div>
									</div>
									<div class="service-center-brand__field">
										<div class="service-center-brand__title">ИП Щербаков Д.В.</div>
										<div class="service-center-brand__phone">
											<a href="#">8 (499) 346-72-18</a>
										</div>
										<div class="service-center-brand__address">г. Москва, проезд Русанова, д. 11</div>
									</div>
									<div class="service-center-brand__field">
										<div class="service-center-brand__title">ООО «ГОРСЕРВИС»</div>
										<div class="service-center-brand__phone">
											<a href="#">8 (495) 788-77-39</a>
										</div>
										<div class="service-center-brand__address">г. Москва, проезд Одоевского, д. 2а</div>
									</div>
									<div class="service-center-brand__field">
										<div class="service-center-brand__title">ООО «ТРАНССЕРВИС-95»</div>
										<div class="service-center-brand__phone">
											<a href="#">8 (495) 744-01-10</a>
										</div>
										<div class="service-center-brand__address">г. Москва, 1-й Варшавский пр-д, д. 1 а, стр. 3</div>
									</div>
									<div class="service-center-brand__field">
										<div class="service-center-brand__title">Представительство Asko</div>
										<div class="service-center-brand__phone">
											<a href="#">8 (800) 707-08-07</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- /.content-block -->

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
