{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					<ul>
						<li>
							<div class="available">В наличии</div>
						</li>
						<li>
							<div class="available available_order">Под заказ</div>
						</li>
						<li>
							<div class="available available_temp_not">Временно не доступен</div>
						</li>
						<li>
							<div class="available available_not">Нет в наличии</div>
						</li>
						<li>
							<div class="available available_out">Снят с производства</div>
						</li>
						<li>
							<div class="available available_soon">Скоро в продаже</div>
						</li>
					</ul>

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
