{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<div class="middle">
			<div class="middle__container">
				<div class="content">

					{% from "breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

					<div class="content-block content-block_bg_white content-block_bdrs">

						{{ breadcrumbs( text = 'Условия продажи товара физическим лицам' ) }}

						<div class="title">Условия продажи товара физическим лицам</div>
						<!-- /.title -->

						<div class="sell-product-text">
							<div class="sell-product-text__more" data-toggle-class="data-toggle-class"></div>
							<div class="sell-product-text__inner">
								<div class="row">
									<div class="col-sm-6">
										<div class="sell-product-text__title">Клиент</div>
										<p>Полностью дееспособное физическое лицо, размещающее Заказы на сайте
											<a href="#">www.hausdorf.ru</a>, либо указанное в качестве получателя Товара, либо использующее Товары, приобретенные на сайте
											<a href="#">www.hausdorf.ru</a>, исключительно для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности.</p>
									</div>
									<div class="col-sm-6">
										<div class="sell-product-text__title">Интернет-магазин</div>
										<p>Интернет-сайт, принадлежащий Продавцу, расположенный на сервере в г. Москва и имеющий адрес в сети Интернет
											<a href="#">www.hausdorf.ru</a>. На нем представлены товары, предлагаемые Продавцом своим Клиентам для оформления Заказов, а также условия оплаты и доставки этих Заказов Клиентам</p>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="sell-product-text__title">Сайт</div>
										<p>
											<a href="#">www.hausdorf.ru</a>
										</p>
									</div>
									<div class="col-sm-6">
										<div class="sell-product-text__title">Товар</div>
										<p>Объект материального мира, не изъятый из гражданского оборота и представленный к продаже на Сайте, за исключением моделей/единиц продукции ООО Миле СНГ, представленных к заказу на Сайте.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="sell-product-text__title">Заказ</div>
										<p>Должным образом оформленный запрос Клиента на доставку по указанному адресу перечня Товаров, выбранных на Сайте.</p>
									</div>
									<div class="col-sm-6">
										<div class="sell-product-text__title">Пользовательский счет клиента</div>
										<p>Персональный счет Клиента в Интернет-магазине, на который производится зачисление денежных средств в случае возврата или отказа Клиента от ранее оплаченного им Заказа. Эти денежные средства подлежат использованию в качестве предоплаты за
											последующие Заказы Клиента у Продавца, либо по письменному заявлению Клиента возврату Клиенту способом, которым была произведена оплата.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="sell-product-text__title">Служба доставки</div>
										<p>Третье лицо, оказывающее по договору с Продавцом услуги по доставке Заказов Клиентам.</p>
									</div>
									<div class="col-sm-6">
										<div class="sell-product-text__title">Дополнительно:</div>
										<p>Информация и документы для покупателей товаров Miele.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="sell-product-text__title">Дополнительно:</div>
										<p>
											<a href="#">Информация и документы</a>
											для покупателей товаров Miele.</p>

										{% from "download-files/download-files.njk" import downloadFiles %}
										{{
											downloadFiles()
										}}
									</div>
								</div>
							</div>
						</div>
						<!-- /.sell-product-text -->

						<div class="slidedown">
							<div class>
								<div class="data-dropdown__inner">
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Общие положения</div>
										<div class="data-dropdown__button slidedown__button active" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">
												<div class="slidedown__field">
													<i>1.1</i>Сайт принадлежит и администрируется Продавцом.</div>
												<div class="slidedown__field">
													<i>1.2</i>Заказывая товары через Интернет-магазин, Клиент соглашается с Условиями продажи товаров (далее - Условия), изложенными ниже.</div>
												<div class="slidedown__field">
													<i>1.3</i>Настоящие Условия являются публичной офертой в соответствии со ст.435 и ч.2 ст.437 ГК РФ.</div>
												<div class="slidedown__field">
													<i>1.4</i>К отношениям между Клиентом и Продавцом применяются положения ГК РФ о розничной купле-продаже (§ 2 глава 30), а также Закон РФ "О защите прав потребителей" от 07.02.1992 № 2300-1 и иные правовые акты, принятые в соответствии с ними.</div>
												<div class="slidedown__field">
													<i>1.5</i>Продавец оставляет за собой право вносить изменения в настоящие Условия, в связи с чем, Клиент обязуется отслеживать изменения в Условиях.</div>
												<div class="slidedown__field">
													<i>1.6</i>Клиент соглашается с Условиями нажатием кнопки "Отправить заказ" на этапе оформления Заказа на Сайте.</div>
											</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Регистрация на Сайте</div>
										<div class="data-dropdown__button slidedown__button active" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">
												<div class="slidedown__field">
													<i>2.1</i>Для оформления Заказа Клиенту необходимо зарегистрироваться на Сайте.</div>
												<div class="slidedown__field">
													<i>2.2</i>Продавец не несет ответственности за точность и правильность информации, предоставляемой Клиентом при регистрации.</div>
												<div class="slidedown__field">
													<i>2.3</i>Клиент обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации. В случае возникновения у Клиента подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими
													лицами, Клиент обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо в Службу по работе с клиентами.</div>
											</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Оформление и сроки выполнения Заказа</div>
										<div class="data-dropdown__button slidedown__button active" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">
												<div class="slidedown__field">
													<i>3.1</i>Заказ Клиента может быть оформлен следующими способами: принят по телефону или оформлен Клиентом самостоятельно на Сайте. Подробности оформления Заказа описаны в разделе "Доставка и оплата"</div>
												<div class="slidedown__field">
													<i>3.2</i>При оформлении Заказа Клиент должен указать следующую информацию:
													<ul>
														<li>
															<span>полностью Ф.И.О. Клиента либо Получателя Заказа;</span></li>
														<li>
															<span>адрес доставки Заказа;</span></li>
														<li>
															<span>контактный телефон.</span></li>
													</ul>
												</div>
												<div class="slidedown__field">
													<i>3.3</i>После оформления заказа Клиенту предоставляется информация об ожидаемой дате передачи Заказа в Службу доставки. Эта дата означает срок, в который Продавец обязуется передать Заказ Клиента в выбранную им при оформлении Заказа Службу
													доставки. Указанная дата зависит от наличия заказанных Товаров на складе Продавца и времени, необходимого на обработку Заказа.</div>
												<div class="slidedown__field">
													<i>3.4</i>Если на складе у Продавца отсутствует необходимое количество заказанного Товара, Продавец информирует об этом Клиента посредством направления электронного сообщения. Сообщение направляется по электронному адресу, указанному при регистрации.
													Клиент вправе согласиться принять Товар в количестве, имеющемся в наличии у Продавца, либо аннулировать данную позицию Товара из Заказа. В случае неполучения ответа Клиента в течение 7 дней Продавец оставляет за собой право аннулировать данный Товар
													из Заказа.</div>
												<div class="slidedown__field">
													<i>3.4.1</i>Продавец вправе аннулировать Заказы Клиента, содержащие Товары, от которых ранее Клиент отказался 3 и более раз, указав причины, не связанные с наличием недостатков в этих Товарах.</div>
												<div class="slidedown__field">
													<i>3.4.2</i>Продавец вправе отказать в заключении договора и оформлении Заказа, если у Клиента уже оформлены и не получены другие Заказы на общую сумму 20 тысяч рублей и выше.</div>
												<div class="slidedown__field">
													<i>3.5</i>Ожидаемый срок поставки Товара на склад Продавца сообщаются Клиенту представителем Продавца после оформления Заказа. Конечные сроки получения Заказа Клиентом зависят от адреса и региона доставки, работы конкретной Службы доставки, и
													напрямую не зависят от Продавца.</div>
												<div class="slidedown__field">
													<i>3.6</i>Все информационные материалы, представленные на Сайте, носят справочный характер, не являются сами по себе публичной офертой и не могут в полной мере передавать достоверную информацию о свойствах, комплектации и характеристиках Товара,
													включая цвета, размеры и формы. Фирма-производитель оставляет за собой право на внесение изменений в конструкцию, дизайн и комплектацию товара без предварительного уведомления. В случае возникновения у Клиента вопросов, касающихся свойств,
													характеристик и комплектации Товара, перед оформлением Заказа, Клиент должен обратиться к Продавцу.</div>
												<div class="slidedown__field">
													<i>3.7</i>В случае отсутствия заказанных Товаров на складе Продавца, в том числе по причинам, не зависящим от Продавца, Продавец вправе аннулировать указанный Товар из Заказа Клиента и уведомить об этом Клиента путем направления электронного
													сообщения по адресу, указанному при регистрации.</div>
												<div class="slidedown__field">
													<i>3.8</i>В случае аннуляции полностью либо частично предоплаченного Заказа, по письменному заявлению Клиента возвращается Продавцом Клиенту тем способом, которым Товар изначально был предоплачен.</div>
												<p>
													<b>Оформление Предзаказа.</b>
												</p>
												<div class="slidedown__field">
													<i>3.9</i>Продавцом на Сайте могут быть предложены к оформлению предварительных заказов товары, еще не поступившие в продажу и не находящиеся на складе Продавца. Указанный товар оформляется в отдельный заказ (далее – Предзаказ).</div>
												<div class="slidedown__field">
													<i>3.10</i>В отношении товара, который доступен для оформления Предзаказа, на Сайте указывается запланированный срок поступления товара в продажу, который может быть изменен по информации от производителя либо поставщика данного товара.</div>
												<div class="slidedown__field">
													<i>3.10.1</i>В случае изменения срока поступления товара в продажу Клиенту направляется уведомление на электронный адрес, указанный им при регистрации на Сайте.</div>
												<div class="slidedown__field">
													<i>3.10.2</i>Указанная на Сайте цена на товар, доступный для Предзаказа, не является окончательной. В случае изменения цены производителем или поставщиком Продавца, Продавец вправе изменить цену, в том числе, в уже оформленных Предзаказах. При этом
													оформление Предзаказа по измененной цене производится посредством аннулирования изначального Предзаказа Продавцом с одновременным уведомлением Клиента по электронному адресу, указанному при регистрации на Сайте, и оформления Клиентом Предзаказа на
													товар по новой цене.</div>
												<div class="slidedown__field">
													<i>3.10.3</i>Клиент вправе отказаться от оформления Предзаказа на товар по новой цене. В этом случае, при условии, что Предзаказ был оплачен, денежные средства отражаются на пользовательском счете Клиента, а также по письменному заявлению Клиента
													могут быть возвращены тем способом, которым изначально была произведена предоплата.</div>
												<div class="slidedown__field">
													<i>3.10.4</i>Согласно п.1. ст. 157 ГК РФ при оформлении Предзаказа обязанность Продавца по передаче товара возникает при условии его поступления в продажу. Если же по не зависящим от Продавца обстоятельствам выпуск товара в продажу производителем
													может быть отменен либо отложен на неопределенный срок, то Продавец в одностороннем порядке аннулирует Предзаказы. При этом денежные средства, перечисленные Клиентами в счет оплаты товаров в Предзаказах зачисляются на пользовательский счет Клиента
													либо по письменному заявлению Клиента могут быть возвращены тем способом, которым изначально была произведена предоплата.</div>
												<div class="slidedown__field">
													<i>3.10.5</i>При поступлении товара на склад Продавца Предзаказ Клиента уходит в обработку, Клиент информируется об ожидаемой дате передачи Предзаказа в службу доставки в порядке, предусмотренном для Заказов.</div>
												<p>
													<b>Особенности продажи уцененного товара</b>
												</p>
												<div class="slidedown__field">
													<i>3.10.6</i>Продавец вправе предлагать к продаже товар, имеющий недостатки, указываемые в описании товара на сайте, а также в сопроводительной документации к товару.</div>
												<div class="slidedown__field">
													<i>3.10.7</i>В случае обнаружения клиентом недостатков, которые не были оговорены продавцом при продаже уцененного товара, клиент вправе предъявлять требования о безвозмездном устранении недостатков, замене или расторжении договора, предусмотренные
													законом, если докажет, что недостатки возникли до передачи товара клиенту или по причинам, возникшим до передачи.</div>
												<div class="slidedown__field">
													<i>3.10.8</i>Во всем остальном к уцененным товарам применяются настоящие Условия.</div>
											</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Доставка</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Оплата Товара</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Возврат Товара</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Интеллектуальная собственность</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Гарантии и ответственность</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Конфиденциальность и защита персональной информации</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur ad ipisicing elit. Repudiandae officiis natus perferendis quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
									<div class="data-dropdown__title slidedown__title">
										<div class="data-dropdown__titletext slidedown__titletext">Прочие условия</div>
										<div class="data-dropdown__button slidedown__button" data-dropdown></div>
									</div>
									<div class="data-dropdown__section">
										<div class="data-dropdown__field">
											<div class="slidedown__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae officiis na s quae, voluptatem ratione voluptate tempora enim, provident commodi quia fugit sequi eum nam dolores hic vel. Explicabo, officia.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /.slidedown -->

					</div>
					<!-- /.content-block -->

				</div>
				<!-- /.content -->
			</div>
			<!-- /.middle__container -->
		</div>
		<!-- /.middle -->

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
