.detail-text {
	box-shadow: inset 0 1px 0 #ffffff;
	background-color: #f3f3f3;
	padding: 24px 24px 1px;
	margin: 0 -24px 32px;

	&_bottom {
		margin-bottom: -24px;
		border-radius: 0 0 5px 5px;
	}

	&__title {
		color: #000000;
		margin-bottom: 16px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__section {
		ul {
			list-style: none;
			margin: 0 0 24px;
			padding: 0;

			li {
				background: url(../images/circle.svg) no-repeat 8px center;
				padding: 0 0 0 32px;
			}
		}
	}

	@media (--phone) {
		margin: 0 -16px 16px;
		padding: 16px;

		&_bottom {
			margin-bottom: -16px;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		&__section {
			font-size: 12px;
			line-height: 1.5;

			p,
			ul {
				margin-bottom: 8px;
			}
		}
	}
}
