<div class="detail-text {{ mClassDetailText }}">
	{% if mClassDetailText %}		
	<div class="detail-text__title">Универсальная, 38 автоматических программ</div>
	<div class="detail-text__section">
		<p>
			De Dietrich DPI7572G — варочная панель с тремя индукционными конфорками. Модель изготовлена из серой стеклокерамики, прочного и простой в уходе. Индикация остаточного тепла и центральная блокировка гарантируют безопасную эксплуатацию устройства.
		</p>
		<ul>
			<li>Эргономичное крыло</li>
			<li>Компактный размер</li>
			<li>Оборачиваемая мойка</li>
		</ul>
		<p>
			* встраиваемые электрические приборы не комплектуются вилкой для подключения к электрической сети
		</p>
		{% include "swiper/swiper-large/swiper-large.njk" %}
		<p>
			Приборами Liebherr с отметкой «SmartDevice» можно управлять с помощью компьютера или мобильного устройства благодаря модулю SmartDeviceBox, который можно заказать в качестве аксессуара. Некоторые модели уже имеют в комплекте модуль SmartDeviceBox, об этом свидетельствует буквенный индекс «i» в аббревиатуре прибора, например, <a href="#">KBi 4350</a>.
		</p>
		<p>
			Согласно полученным данным, на пятом месте духовка  — стильная модель кремового цвета с латунной отделкой из коллекции Cortina. Кроме верхнего и нижнего нагрева, этот многофункциональный духовой шкаф оснащен конвекцией и грилем, что гарантирует вам равномерное пропекание, румяную корочку и абсолютно никаких хлопот при готовке. Поворотные механические регуляторы отлично подходят к дизайну модели. Паровая очистка, разморозка продуктов, 11 режимов работы, 5 уровней приготовления и электронный контроль температуры — современные технологии и стиль ретро гармонично дополняют друг друга.
		</p>
		<p>
			На четвертом месте модель в стиле хай-тек Neff B17CR22N1, лидера в производстве встраиваемой бытовой техники, известного уникальными технологиями, например, SLIDE&HIDE® — полностью утапливаемой в основание дверцей духового шкафа. Множеством технологий привлекает внимание и эта модель. Начнем с 12 режимов нагрева, системы очистки EasyClean®, электронной регулировки температуры в диапазоне 40–275 °С и цветного дисплея размером 2,5″ с управлением ShiftControl. Два типа гриля — обычный и термогриль — делают возможности этой модели поистине безграничными. В ней можно не просто печь или тушить, но и поднимать тесто, поддерживать блюда в теплом состоянии, включать режим брожения, приготовления пиццы и медленного бережного тушения. Настоящее сокровище на кухне! 
		</p>
	</div>
	{% else %}
	<div class="detail-text__title">SmartDevice — будущее разумной жизни</div>
	<div class="detail-text__section">
		<p>
			De Dietrich DPI7572G — варочная панель с тремя индукционными конфорками. Модель изготовлена из серой стеклокерамики, прочного и простой в уходе. Индикация остаточного тепла и центральная блокировка гарантируют безопасную эксплуатацию устройства.
		</p>
		<ul>
			<li>Эргономичное крыло</li>
			<li>Компактный размер</li>
			<li>Оборачиваемая мойка</li>
		</ul>
		<p>
			* встраиваемые электрические приборы не комплектуются вилкой для подключения к электрической сети
		</p>
	</div>
	{% endif %}
</div>
<!-- /.detail-text -->
