{% macro news(
		title = 'Чем отличаются серии стиральных машин BoschG',
		text = 'Оригинальный дизайн, высокая функциональность, передовые технологии и непревзойденное качество стиральной машины Miele PW 5065 идеально позиционируют модель как элитную технику для людей, не желающих мириться с компромиссами.',
		footer = false,
		photo = false,
		src = 'images/news1.jpg',
		favorite = false,
		action = 'Статья',
		actionCls = ''
	)
%}
	<div class="news__row">
		{% if photo %}
		<div class="news__photo">
			<a class="news__link" href="#">
				<img class="news__pic lazyload" data-src="{{ src }}" alt=""/>
			</a>
		</div>
		{% endif %}
		<div class="news__desc">
			<div class="news__title">
				<a class="news__titlelink" href="#">{{ title }}</a>
			</div>
			<div class="news__middle">
				<div class="news__info {{ actionCls }}">{{ action }}</div>
				{% if favorite %}
				<a class="button-favorite active">
					<span class="button-favorite__icon"></span>
					<span class="button-favorite__text">В избранном</span>
				</a>
				{% else %}
				<a class="button-favorite">
					<span class="button-favorite__icon"></span>
					<span class="button-favorite__text">В избранное</span>
				</a>
				{% endif %}
				<div class="news__date">26.10.2018</div>
			</div>
			<div class="news__text">{{ text }}</div>
			{% if footer %}
			<div class="news__footer">
				<div class="news__smtxt">До конца акции осталось:</div> 
				<div class="news__counter">
					{% include "news/news-counter/news-counter.njk" %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<!-- /.news__row -->
{% endmacro %}
