{% macro downloadFiles(data = [{"src": "images/pdf.svg", "text": "Условия продажи товаров Miele MCA", "small": "PDF, 1.3 Мб"}]) %}
	<div class="download-files">
		{% for item in data %}
		<div class="download-files__field">
			<div class="download-files__icon">
				<img class="download-files__pic lazyload" data-src="{{ item.src }}" />
			</div>
			<div class="download-files__text">
				{{ item.text }}
				<span>{{ item.small }}</span>
			</div>
		</div>
		{% endfor %}
	</div>
{% endmacro %}
