.footer-icons {
	display: flex;
	margin: -3px 0 0 18px;

	&_social {
		justify-content: flex-end;
	}

	&__link {
		margin-left: 23px;

		&:first-child {
			margin-left: 0;
		}
	}

	&_social &__link {
		margin-left: 33px;
	}

	&__pic {}

	@media (--phone) {
		margin: 0;
		justify-content: center;

		&_social {
			margin-bottom: 15px;
		}

		&__link {
			&:nth-child(1) {
				margin-left: 0;
			}
		}

		&_social &__link {
			margin-left: 50px;

			&:nth-child(1) {
				margin-left: 0;
			}
		}

		&__link:nth-child(2) &__pic {
			height: 20px;
		}

		&__link:nth-child(3) &__pic {
			height: 24px;
		}

		&__link:nth-child(4) &__pic {
			height: 24px;
		}
	}
}
