{% macro footerIcons(mod = '', arr = []) %}
	<div class="footer-icons {{ mod }}">
		{% for item in arr %}
			<a href="#" class="footer-icons__link">
				<img data-src="{{ item }}" class="footer-icons__pic lazyload" alt="">
			</a>
		{% endfor %}
	</div>
	<!-- /.footer-icons -->
{% endmacro %}