{% 
	set data = [
				{
					"title": "Бесплатный выезд менеджера"
				},
				{
					"title": "Действующие акции"
				},
				{
					"title": "О компании"
				},
				{
					"title": "Адрес бутика"
				},
				{
					"title": "Доставка и оплата"
				},
				{
					"title": "Подключение"
				},
				{
					"title": "Условия продажи"
				},
				{
					"title": "Сервис центры"
				},
				{
					"title": "Сотрудничество"
				},
				{
					"title": "Возврат и обмен"
				}
			]
%}


<div class="menu-footer">
	<ul class="menu-footer__list">

		{% for item in data %}
			{% if (loop.index == 1) or (loop.index == 2) %}
			<li class="menu-footer__field menu-footer__field_select">
				<a href="#" class="menu-footer__link">{{ item.title }}</a>
			</li>
			<!-- /.menu-footer__field -->				
			{% else %}
			<li class="menu-footer__field">
				<a href="#" class="menu-footer__link">{{ item.title }}</a>
			</li>
			<!-- /.menu-footer__field -->
			{% endif %}
		{% endfor %}
		
	</ul>
	<!-- /.menu-footer__list -->
</div>
<!-- /.menu-footer -->
