.menu-footer {
	display: flex;
	justify-content: flex-end;
	margin-right: -11px;

	&__list {
		max-width: 420px;
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}

	&__field {
		margin: 0 11px 8px;
	}

	&__link {
		font-size: 14px;
		text-align: right;
		color: #58585a;
		transition: color 400ms;

		&:hover {
			color: rgb(221, 0, 22);
		}
	}

	&__field_select &__link {
		color: #000;

		&:hover {
			color: rgb(221, 0, 22);
		}
	}

	@media (--phone) {
		justify-content: center;
		margin: 0 0 12px;

		&__list {
			justify-content: space-between;
		}

		&__field {
			width: 44%;
			margin: 0 0 8px;

			&_select {
				width: 100%;
				text-align: center;
				padding-left: 0 !important;
			}

			&:nth-child(1) {
				margin-bottom: 8px;
				order: 1;
			}

			&:nth-child(2) {
				margin-bottom: 16px;
				order: 2;
			}

			&:nth-child(3) {
				order: 3;
			}

			&:nth-child(7) {
				order: 4;
			}

			&:nth-child(4) {
				order: 5;
			}

			&:nth-child(8) {
				order: 6;
			}

			&:nth-child(5) {
				order: 7;
			}

			&:nth-child(9) {
				order: 8;
			}

			&:nth-child(6) {
				order: 9;
			}

			&:nth-child(10) {
				order: 10;
			}
		}

		&__field_select:nth-child(2) &__link {
			color: var(--cherry);
		}
	}
}
