<div class="detail-properties">
	<div class="detail-properties__more" data-toggle-class></div>
	<div class="detail-properties__inner">
		<div class="detail-properties__title">Общие характеристики</div>
		<!-- /.detail-properties__title -->
		<div class="detail-properties__table">
			<div class="detail-properties__field">
				<div class="detail-properties__name">Вид</div>
				<div class="detail-properties__value">индукционная</div>
			</div>
			<div class="detail-properties__field">
				<div class="detail-properties__name">Установка</div>
				<div class="detail-properties__value">независимая</div>
			</div>
			<div class="detail-properties__field">
				<div class="detail-properties__name">Способ подключения</div>
				<div class="detail-properties__value">электрическая</div>
			</div>
			<div class="detail-properties__field">
				<div class="detail-properties__name">Высота (см)</div>
				<div class="detail-properties__value">6.4</div>
			</div>
			<div class="detail-properties__field">
				<div class="detail-properties__name">Ширина (см)</div>
				<div class="detail-properties__value">65</div>
			</div>
			<div class="detail-properties__field">
				<div class="detail-properties__name">Глубина (см)</div>
				<div class="detail-properties__value">51.5</div>
			</div>
			<div class="detail-properties__field">
				<div class="detail-properties__name">Габариты (ВхШхГ), см</div>
				<div class="detail-properties__value">6.4x65x51.5</div>
			</div>
			<div class="detail-properties__field">
				<div class="detail-properties__name">Ширина встраивания (см)</div>
				<div class="detail-properties__value">56</div>
			</div>
			<div class="detail-properties__field">
				<div class="detail-properties__name">Глубина встраивания (см) 49</div>
				<div class="detail-properties__value">49</div>
			</div>
			<div class="detail-properties__field">
				<div class="detail-properties__name">Размеры ниши для встраивания (Ш х Г), см</div>
				<div class="detail-properties__value">56x49</div>
			</div>
			<div class="detail-properties__field">
				<div class="detail-properties__name">Габариты в упаковке (ВхШхГ), см </div>
				<div class="detail-properties__value">14x75x60</div>
			</div>
		</div>
		<div class="detail-properties__title">Дизайн</div>
		<!-- /.detail-properties__title -->
		<div class="detail-properties__table">
			<div class="detail-properties__field">
				<div class="detail-properties__name">Дизайн</div>
				<div class="detail-properties__value">horiZone Play</div>
			</div>
			<div class="detail-properties__field">
				<div class="detail-properties__name">Цвет черный</div>
				<div class="detail-properties__value">черный</div>
			</div>
			<div class="detail-properties__field">
				<div class="detail-properties__name">Обработка края</div>
				<div class="detail-properties__value">Профиль из нержавеющей стали</div>
			</div>
		</div>
		<div class="detail-properties__title">Дополнительные характеристики</div>
		<!-- /.detail-properties__title -->
		<div class="detail-properties__table">
			<div class="detail-properties__field">
				<div class="detail-properties__name">Серийная комплектация</div>
				<div class="detail-properties__value">
					Деревянная разделочная доска <br/>
					2 зоны horiZone (каждую можно разделить на 2 независимые конфорки) <br/>
					4 сенсора программируемого прямого доступа для каждой зоны <br/>
					4 независимых таймера <br/>
					с настройками от 1 до 99 минут
				</div>
			</div>
			<div class="detail-properties__field">
				<div class="detail-properties__name">Дополнительные параметры</div>
				<div class="detail-properties__value">
					10 функций безопасности <br/>
					Boil, Elapsed Time, Recall, Switch, Clean Lock, Grill/Plancha (гриль и планча приобретаются отдельно) <br/>
					Ограничитель температуры
				</div>
			</div>
		</div>
	</div>
	<!-- /.detail-properties__inner -->
	<div class="detail-properties__info">
		* Вся информация о товаре, характеристики и описание не являются публичной офертой. Производители техники могут без уведомления менять комплектацию, дизайн и функционал моделей. Уточняйте данные о товаре у консультантов.
	</div>
</div>
<!-- /.detail-properties -->
