.detail-properties {
	margin-bottom: 41px;
	padding-top: 4px;

	&__title {
		color: #000000;
		margin-bottom: 16px;
		font-size: 16px;
		font-weight: 500;
	}

	&__table {
		margin-bottom: 32px;
	}

	&__field {
		color: #000000;
		font-size: 14px;
		font-weight: 400;
		line-height: 32px;
		display: flex;
		justify-content: space-between;
		position: relative;

		&:before {
			position: absolute;
			left: 20px;
			border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
			content: '';
			right: 20px;
			top: 20px;
		}
	}

	&__name {
		background: #fff;
		position: relative;
		padding-right: 15px;
		color: #58585a;
	}

	&__value {
		width: 270px;
		background: #fff;
		position: relative;
		padding-left: 15px;
	}

	&__info {
		color: #58585a;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
	}

	@media (--phone) {
		margin-bottom: 24px;
		padding-top: 0;

		&__more {
			position: absolute;
			left: 7px;
			bottom: 94px;
			border-bottom: 1px dotted;
			cursor: pointer;
			font-size: 12px;
			line-height: 15px;
			color: #a5a5a6;

			&:after {
				content: 'Показать все характеристики';
			}

			&.active:after {
				content: "Скрыть";
			}
		}

		&__inner {
			overflow: hidden;
			max-height: 270px;
			margin-bottom: 50px;
			transition: max-height 400ms;
		}

		&__more.active + &__inner {
			max-height: 2000px;
		}

		&__title {
			font-size: 12px;
			margin-bottom: 4px;
		}

		&__table {
			margin-bottom: 8px;
		}

		&__field {
			font-size: 12px;
			line-height: 1.33;
			margin-bottom: 8px;

			&:before {
				top: 10px;
			}
		}

		&__value {
			max-width: 50%;
			width: auto;
		}

		&__info {
			font-size: 9px;
			line-height: 13px;
		}
	}
}
