.detail-brand {
	margin-bottom: 24px;

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		color: rgb(0, 0, 0);
		margin-bottom: 16px;

		.detail__brandwrap & {
			color: #dd0016;
		}
	}

	&__item {
		padding: 16px;
		border-radius: 5px;
		border-radius: 5px;
		border: solid 1px rgb(243, 243, 243);
		background-color: rgb(255, 255, 255);
	}

	&__photo {
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 16px;
	}

	&__link {
		display: block;
	}

	&__pic {
		max-height: 150px;
		max-width: 100%;
	}

	&__name {
		margin-bottom: 8px;
		color: #000000;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
	}

	&__namelink {
		color: #000000;

		span {
			display: block;
		}
	}

	&__price {
		color: #000000;
		font-size: 20px;
		font-weight: 500;

		span {
			font-size: 14px;
		}
	}

	&__list {
		margin: 0 0 24px;
		padding: 0;
		list-style: none;
		color: #a5a5a6;
		font-size: 13px;
		font-weight: 400;

		span {
			color: #000000;
			font-weight: 700;
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media (--phone) {
		margin: 0 -16px;
		padding: 16px;
		background: #fff;

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			color: rgb(0, 0, 0);
			margin-bottom: 8px;
		}

		.swiper-slide {
			width: 220px;
		}
	}
}
