<div class="detail-brand">
	<div class="detail-brand__title">Данная модель снята с производства. Рекомендуемые аналоги:</div>
	<div class="swiper">
		<div class="swiper-container" data-swiper="data-swiper" data-options='{"slidesPerView":4,"spaceBetween":16,"breakpoints":{"768":{"slidesPerView":"auto","spaceBetween": 0, "slidesPerGroup":1}}}'>
			<div class="swiper-wrapper">
				{% for item in '12345678' %}
					<div class="swiper-slide">

						<div class="detail-brand__item">
							<div class="detail-brand__photo">
								<a class="detail-brand__link" href="#">
									<img class="detail-brand__pic lazyload" data-src="images/detail-brand__pic.jpg" alt=""/>
								</a>
							</div>
							<div class="detail-brand__name" data-mh="detail-brand-name">
								<a class="detail-brand__namelink" href="#">
									<span>Стиральная машина</span>
									Asko WMC844 P G
								</a>
							</div>
							<ul class="detail-brand__list">
								<li>
									Ширина (см):
									<span>91.6</span>
								</li>
								<li>
									Общее количество конфорок:
									<span>4</span>
								</li>
								<li>
									Регулировка мощности:
									<span>9-ступенчатая</span>
								</li>
								<li>
									Левая (кВт):
									<span>справа</span>
								</li>
							</ul>
							<div class="detail-brand__footer">
								<div class="detail-brand__price">
									2 118 000
									<span>руб.</span>
								</div>
								<a href="#" class="button-buy"></a>
							</div>
						</div>
						<!-- /.detail-brand__item -->

					</div>
					<!-- /.swiper-slide -->
				{% endfor %}
			</div>
		</div>
		<div class="swiper__arrow swiper__arrow_right">
			<div class="swiper__prev swiper__prev_round js-swiper__prev"></div>
			<div class="swiper__next swiper__next_round js-swiper__next"></div>
		</div>
	</div>
</div>
<!-- /.detail-brand --> 
