{%
	set data = [
    {
        "src": "images/footer-info__pic1.svg",
        "name": "Бесплатная доставка",
        "text": "По Москве (МКАД +50 км.) и большинству городов России"
    },
    {
        "src": "images/footer-info__pic2.svg",
        "name": "Бесплатное подключение",
        "text": "Качественно установим технику на готовые коммуникации"
    },
    {
        "src": "images/footer-info__pic3.svg",
        "name": "Бесплатное хранение",
        "text": "До 365 дней — купите сегодня, а получите когда удобно"
    },
    {
        "src": "images/footer-info__pic4.svg",
        "name": "Простой возврат и обмен",
        "text": "Что-то не так? Обменяем товар или вернем деньги"
    }
]

%}

<div class="footer-info">
	<div class="footer-info__inner">
		<div class="row">

			{% for item in data %}
			<div class="col-sm-3">
			
				<div class="footer-info__item">

					<div class="footer-info__photo">
						<img data-src="{{ item.src }}" alt="" class="footer-info__pic lazyload">
					</div>
					<!-- /.footer-info__photo -->
					<div class="footer-info__desc">
						<div class="footer-info__name">{{ item.name }}</div>
						<!-- /.footer-info__name -->
						<div class="footer-info__text">
							{{ item.text }}
						</div>
						<!-- /.footer-info__text -->
													{% if (loop.index == 1) or (loop.index == 2) %}
							<a href="#" class="footer-info__link">
								Подробнее
							</a>
							{% endif %}
					</div>
					<!-- /.footer-info__desc -->

				</div>
				<!-- /.footer-info__item -->

			</div>
			<!-- /.col-sm-3 -->	
			{% endfor %}

		</div>
		<!-- /.row -->
	</div>
	<!-- /.footer-info__inner -->
</div>
<!-- /.footer-info -->
