.footer-info {
	margin: 30px 0 33px;
	transition: transform 400ms;

	body.menu-open & {
		transform: translate(100%, 0);
		position: fixed;
		left: 0;
		top: 100vh;
		width: 100%;
		margin: 0;
	}

	&__inner {
		width: 1156px;
		margin: 0 auto;
	}

	.row {
		margin-left: -7px;
		margin-right: -7px;

		[class*=col] {
			padding-left: 7px;
			padding-right: 7px;
		}
	}

	&__item {
		height: 157px;
		text-align: center;
		border-radius: 5px;
		background-color: #ffffff;
		padding: 0 24px;
	}

	&__photo {
		margin: 0 0 -11px;
		position: relative;
		top: -29px;
		display: flex;
		justify-content: center;
	}

	&__pic {
		display: block;
	}

	&__name {
		color: #000000;
		margin-bottom: 4px;
		font-size: 16px;
		font-weight: 500;
	}

	&__text {
		color: #000000;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		margin-bottom: 5px;
	}

	&__link {
		color: #dd0016;
		font-size: 12px;
	}

	@media (--phone) {
		margin: 16px 0;
		padding: 0 16px;

		&__inner {
			width: auto;
			overflow-x: auto;
			display: flex;
		}

		.row {
			margin-left: -4px;
			margin-right: -4px;
			display: flex;
			align-items: stretch;
			flex-wrap: nowrap;

			[class*=col] {
				padding-left: 4px;
				padding-right: 4px;
			}
		}

		&__item {
			padding: 16px;
			display: flex;
			min-width: 264px;
			height: 115px;
			align-items: flex-start;
			text-align: left;
		}

		&__photo {
			top: 0;
			margin: 0 16px 0 0;
		}

		&__name {
			font-size: 14px;
			line-height: 18px;
			white-space: nowrap;
		}

		&__text {
			font-size: 12px;
			line-height: 1.5;
			margin-bottom: 0;
		}

		&__link {
			font-size: 12px;
		}
	}
}
