<div class="bar-gift">
	<div class="bar-gift__close" onclick="this.parentNode.parentNode.removeChild(this.parentNode)"></div>
	<div class="bar-gift__inner">
		<div class="bar-gift__photo">
			<img src="images/mob-cert.png" alt="" class="bar-gift__pic">	
		</div>
		<div class="bar-gift__desc">
			Получите подарочную карту Hausdorf номиналом 2 500 руб. за регистрацию! <a href="#">Узнать подробнее</a>
		</div>
	</div>
</div>