.bar-gift {
	height: 48px;
	background-color: #ffffff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 48px;
		cursor: pointer;
		z-index: 2;

		&:before,
		&:after {
			position: absolute;
			left: 50%;
			margin: -1px 0 0 -8px;
			top: 50%;
			height: 2px;
			width: 16px;
			background: #a5a5a6;
			content: '';
			transform-origin: 50% 50%;
		}

		&:before {
			transform: rotate(-45deg);
		}

		&:after {
			transform: rotate(45deg);
		}
	}

	&__inner {
		width: 1156px;
		margin: 0 auto;
		height: 48px;
		display: flex;
		align-items: center;
	}

	&__photo {
		width: 110px;
		flex-shrink: 0;
		margin-right: 32px;
		margin-left: 60px;
	}

	&__pic {
		display: block;
	}

	&__desc {
		font-size: 16px;
		font-weight: 500;
		color: #000000;

		a {
			font-weight: normal;
			color: #dd0016;
		}
	}

	@media (max-width: 767px) {
		height: 164px;
		position: relative;
		padding-top: 16px;

		&__inner {
			width: 100%;
			padding: 0 16px;
			flex-direction: column;
		}

		&__photo {
			margin-right: 0;
			margin-left: 0;
		}

		&__desc {
			text-align: center;
		}
	}
}
