<div class="detail-icons">
	<div class="detail-icons__item">
		<img data-src="images/detail-icons__pic1.svg" alt="" class="detail-icons__pic lazyload">
	</div>
	<div class="detail-icons__item">
		<img data-src="images/detail-icons__pic2.svg" alt="" class="detail-icons__pic lazyload">
	</div>
	<div class="detail-icons__item">
		<img data-src="images/detail-icons__pic3.svg" alt="" class="detail-icons__pic lazyload">
	</div>
</div>