<div class="detail-phone">
	<div class="detail-phone__title detail__title">Консультации специалиста:</div>
	<div class="detail-phone__text">Наш консультант поможет Вам выбрать подходящую индукционную варочную панель.</div>
	<div class="detail-phone__small">Позвоните:</div>
	<div class="detail-phone__phones">
		<a href="#">+7 (495) 602-96-21</a>
		<a href="#">+7 (800) 333-10-52</a>
	</div>
	<div class="detail-phone__icon"></div>
</div>
