<div class="main-info">
	<div class="main-info__text">
		<h1>
			Hausdorf — бутик элитной бытовой техники
		</h1>
		Hausdorf — Ваш представитель в мире бытовой техники премиум-класса. Элитная бытовая техника — это техника, соответствующая высочайшему уровню жизни, самым жестким мировым стандартам и требованиям искушенных покупателей. Это техника, способная своим безупречным стилем и качеством подчеркнуть статус владельца, выразить его вкус и стать украшением любого интерьера.<br>
		Главное отличие нашей техники — это сочетание надежности и функциональности моделей профессионального уровня, а также современного дизайна и экологичности, которая позволяет экономично расходовать ресурсы и заботиться об окружающей среде.
	</div>
	<!-- /.main-info__text -->
	<a href="#" class="main-info__link">Подробнее</a>
</div>
<!-- /.main-info -->
