{%

	set data = [
		{
			"list": [
				[
					"Уход за одеждой",
					"Стиральные машины",
					"Сушильные машины",
					"Паровые шкафы для одежды",
					"Гладильные системы",
					"Парогенераторы"
				],
				[
					"Комфорт дома",
					"Мойки",
					"Смесители",
					"Измельчители",
					"Пылесосы",
					"Весы",
					"Обогреватели",
					"Утюги",
					"Фены",
					"Массажеры и спорт.инвентарь",
					"Аксессуары"
				]
			]
		},
		{
			"list": [
				[
					"Оснащение кухни",
					"Холодильники",
					"Варочные панели",
					"Духовые шкафы",
					"Варочные центры",
					"Микроволновые печи",
					"Пароварки",
					"Посудомоечные машины",
					"Кофемашины",
					"Вытяжки",
					"Подогреватели",
					"Комби-панели",
					"Фритюрницы",
					"Грили",
					"Вакуумные упаковщики"
				],
				[
					"Печи",
					"Барбекю",
					"Дровяные печи"
				]
			]
		},
		{
			"list": [
				[
					"Кухонные помощники",
					"Блендеры",
					"Чайники",
					"Миксеры",
					"Тостеры",
					"Вафельницы",
					"Кухонные комбайны",
					"Соковыжималки",
					"Кофемолки",
					"Мультиварки",
					"Мясорубки",
					"Посуда"
				],
				[
					"Вино и сигары",
					"Винные шкафы",
					"Хьюмидоры"
				],
				[
					"Кухни Hausdorf",
					"Кухни Hausdorf",
					"Кухни Kuchenberg",
					"Еще..."
				]
			]
		},
		{
			"list": [
				[
					"Для мягкого климата",
					"Вентиляторы",
					"Очистители воздуха",
					"Увлажнители воздуха"
				],
				[
					"Телевизоры и акустика",
					"Телевизоры",
					"Акустические системы",
					"Беспроводные акустические системы",
					"Наушники",
					"Аксессуары и принадлежности"
				],
				[
					"Для профессионалов",
					"Печи",
					"Посудомоечные машины",
					"Стаканомоечные машины",
					"Холодильное оборудование",
					"Ледогенераторы",
					"Аксессуары"
				]
			]
		}
	]

 %}

<nav class="menu">
	<div class="menu__inner">
		<div class="menu__row">
			<div class="menu__col">
				{% for item in data %}
				<div class="menu__cell">

					{% for prop in item.list %}
					<ul class="menu__list">

						{% for i in prop %}
							{% if loop.index == 1 %}
							<li class="menu__item menu__item_title" data-menu-dropdown>
								<div class="menu__icon">
									<img data-src="images/miele_pw.png" alt="" class="menu__icon-pic lazyload"> 
								</div>
								<!-- /.menu__icon -->
								<a href="#" class="menu__title">
									{{ i }}
								</a>
							</li>
							<!-- /.menu__item menu__item_title -->
							{% else %}
							<li class="menu__item">
								<a href="#" class="menu__link">{{ i }}</a>
							</li>
							<!-- /.menu__item -->
							{% endif %}
						{% endfor %}

					</ul>
					<!-- /.menu__list -->
					{% endfor %}

				</div>
				<!-- /.menu__cell -->
				{% endfor %}
			</div>
			<!-- /.menu__col -->
			<div class="menu__col">
				<div class="menu-brand-item">
					<div class="menu-brand-item__logo">
						<img data-src="images/menu-brand-item__brand.svg" alt="" class="menu-brand-item__brand lazyload">
					</div>
					<!-- /.menu-brand-item__logo -->
					<a href="#" class="menu-brand-item__name">
						Прекрасно адаптируется к условиям вашего бизнеса
					</a>
					<div class="menu-brand-item__photo">
						<a href="#" class="menu-brand-item__link">
							<img data-src="images/menu-brand-item__pic.png" alt="" class="menu-brand-item__pic lazyload">
						</a>
					</div>
					<!-- /.menu-brand-item__photo -->
					<div class="menu-brand-item__text">
						Стиральная машина Miele PW 6080 Vario RU
					</div>
					<!-- /.menu-brand-item__text -->
					<a href="#" class="menu-brand-item__buy">Купить</a>
				</div>
				<!-- /.menu-brand-item -->
			</div>
			<!-- /.menu__col -->
		</div>
		<!-- /.menu__row -->
	</div>
	<!-- /.menu__inner -->
</nav>
<!-- /.menu -->
