.detail-manager {
	border-radius: 5px;
	border: 1px solid #d7d7d7;
	background-color: #ffffff;
	padding: 32px 24px;
	margin: 0 0 24px -24px;
	display: flex;
	align-items: center;

	&__photo {
		margin-right: 24px;
		flex-shrink: 0;
	}

	&__pic {
		display: block;
		max-width: 100%;
		max-width: 100%;
	}

	&__desc {}

	&__name {
		color: #000000;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__text {
		color: #000000;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 8px;
	}

	&__small {
		color: #787878;
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
	}

	&__footer {
		a {
			color: #dd0016;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			margin-right: 8px;
		}

		b {
			color: #dd0016;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			margin-left: 8px;
		}
	}

	@media (--phone) {
		margin: 0 0 16px;
		align-items: flex-start;
		padding: 16px 16px 59px;
		position: relative;

		&__photo {
			width: 52px;
			height: 52px;
			margin-right: 24px;
		}

		&__pic {}

		&__name {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 2px;
		}

		&__text {
			font-size: 12px;
			line-height: 1.17;
		}

		&__small {
			position: absolute;
			left: 16px;
			font-size: 12px;
			line-height: 2.4;
			top: 80px;
		}

		&__footer {
			position: absolute;
			left: 16px;
			font-size: 12px;
			top: 100px;

			a,
			b {
				font-size: 14px;
				font-weight: bold;
				line-height: 1.71;
			}
		}
	}
}
