<div class="detail-manager">
	<div class="detail-manager__photo"><img class="detail-manager__pic lazyload" data-src="images/detail-manager__pic.jpg"/></div>
	<div class="detail-manager__desc">
		<div class="detail-manager__name">Мальцев Иван</div>
		<div class="detail-manager__text">Лучший специалист по технике класса люкс</div>
		<div class="detail-manager__small">Хотите поговорить именно с ним?</div>
		<div class="detail-manager__footer">
			<a href="#">+7 (495) 602-96-21</a>добавочный<b>115</b>
		</div>
	</div>
</div>
<!-- /.detail-manager -->
