<div class="catalog-text {% if catalogTextTitle == 'hide' %} catalog-text_top{% endif %}">
	<div class="catalog-text__inner">
		{% if catalogTextTitle != 'hide' %}
		<div class="catalog-text__title">
			Элегантность и функциональность
		</div>
		{% endif %}
		<div class="catalog-text__text catalog-text__text_reverse">
			Элитная техника, в том числе и стиральные машины, оснащаются инновационными технологиями. Так, например, компания V-ZUG разработала систему EcoManagement с широким спектром возможностей. Вы сможете легко вести домашнее хозяйство и при этом не быть привязанными к дому. 
			Функция интеллектуальной отсрочки старта OptiTime применяется в новейших стиральных машинах Adora: загружаете белье в барабан, выбираете необходимую программу стирки и затем с помощью функции OptiTime задаете время окончания программы.
			<img src="images/catalog-text__pic.png" alt="">
		</div>
	</div> 
</div>