.catalog-text {
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	padding: 24px;
	margin: 24px 0;

	&_top {
		padding: 0;
		background: none;
		border-radius: 0;
		margin-top: -10px;
	}

	&__inner {}

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		color: rgb(0, 0, 0);
		margin-bottom: 16px;
	}

	&__text {
		font-size: 14px;
		line-height: 1.71;
		color: rgb(0, 0, 0);
		display: flex;
		align-items: flex-start;

		img {
			margin-left: 16px;
			flex-shrink: 0;
		}

		&_reverse {
			flex-direction: row-reverse;

			img {
				margin: 0 16px 0 0;
			}
		}
	}

	@media (max-width: 768px) {
		border-radius: 0;
		padding: 16px;
		margin: 0 -16px 2px;

		&_top {
			padding-top: 0;
		}

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		&__text {
			font-size: 12px;
			line-height: 1.5;
		}
	}
}
