.pagination {
	border-bottom: 1px solid rgba(165, 165, 166, 0.2);
	padding-bottom: 15px;
	margin-top: 10px;

	&_indent,
	.reviews-list ~ &,
	.news ~ & {
		margin-top: 24px;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 7px;

		&-btn {
			@include button($bgc: #fff, $p: 0 50px, $bgi: none, $c: rgb(221, 0, 22), $bdrs: 20px, $bd: solid 1px rgb(165, 165, 166), $bgc-h: #dd0016);
		}
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__prev {
		opacity: 0.5;
		width: 32px;
		height: 32px;
		display: block;
		background: url(../images/caret-left-pagination.svg) no-repeat center center;
		margin-right: 15px;
	}

	&__disable {
		opacity: 0.2;
		cursor: default;
	}

	&__item {
		width: 32px;
		height: 32px;
		border-radius: 8px;
		text-decoration: none;
		color: #000000;
		font-size: 16px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 3px;

		&.active,
		&:hover {
			background-color: #dd0016;
			color: #fff;
		}
	}

	&__more {
		color: rgb(46, 46, 46);
		font-size: 16px;
		font-weight: 500;
		line-height: 1;
		padding: 19px 17px 0;
		display: block;
		height: 50px;
	}

	&__next {
		opacity: 0.5;
		width: 32px;
		height: 32px;
		display: block;
		background: url(../images/caret-right-pagination.svg) no-repeat center center;
		margin-left: 15px;
	}

	@media (--phone) {
		padding-top: 16px;
		margin-bottom: 20px;

		&_indent,
		.reviews-list ~ &,
		.news ~ & {
			margin-top: 0;
			padding-top: 0;
		}
	}
}
