<div class="pagination {{ mClass }}">
    <div class="pagination__header">
		<a class="pagination__header-btn" href="#">Загрузить еще</a>
	</div>
    <div class="pagination__list">
		<a class="pagination__prev pagination__disable" href="#"></a>
		<span class="pagination__item active">1</span>
		<a class="pagination__item" href="#">2</a>
		<a class="pagination__item" href="#">3</a>
		<a class="pagination__more" href="#">...</a>
		<a class="pagination__item" href="#">12</a>
		<a class="pagination__next" href="#"></a>
	</div>
</div>
<!-- /.pagination -->
