<div class="info-slide">
	<div class="info-slide__field">
		<div class="info-slide__button" data-dropdown>
			В какие сроки происходит доставка товаров?
		</div>
		<!-- /.info-slide__button -->
		<div class="info-slide__desc">
			<div class="info-slide__text">
				Основное производство находится во Франции и Италии. Контактные линзы J&J и Acuvue производятся
				в Бельгии, некоторые линзы производятся в Испании и Венгрии. Страна-производитель указана в технических характеристиках товара. Вы можете уточнить эту информацию в каталоге.
			</div>
			<!-- /.info-slide__text -->
		</div>
		<!-- /.info-slide__desc -->
	</div>
	<!-- /.info-slide__field -->
	<div class="info-slide__field active">
		<div class="info-slide__button" data-dropdown>
			Где производятся контактные линзы?
		</div>
		<!-- /.info-slide__button -->
		<div class="info-slide__desc">
			<div class="info-slide__text">
				Основное производство находится во Франции и Италии. Контактные линзы J&J и Acuvue производятся
				в Бельгии, некоторые линзы производятся в Испании и Венгрии. Страна-производитель указана в технических характеристиках товара. Вы можете уточнить эту информацию в каталоге.
			</div>
			<!-- /.info-slide__text -->
		</div>
		<!-- /.info-slide__desc -->
	</div>
	<!-- /.info-slide__field -->
	<div class="info-slide__field">
		<div class="info-slide__button" data-dropdown>
			Можно ли доставку заказать через неделю?
		</div>
		<!-- /.info-slide__button -->
		<div class="info-slide__desc">
			<div class="info-slide__text">
				Основное производство находится во Франции и Италии. Контактные линзы J&J и Acuvue производятся
				в Бельгии, некоторые линзы производятся в Испании и Венгрии. Страна-производитель указана в технических характеристиках товара. Вы можете уточнить эту информацию в каталоге.
			</div>
			<!-- /.info-slide__text -->
		</div>
		<!-- /.info-slide__desc -->
	</div>
	<!-- /.info-slide__field -->
	<div class="info-slide__field">
		<div class="info-slide__button" data-dropdown>
			Можно ли обменять товар после покупки?
		</div>
		<!-- /.info-slide__button -->
		<div class="info-slide__desc">
			<div class="info-slide__text">
				Основное производство находится во Франции и Италии. Контактные линзы J&J и Acuvue производятся
				в Бельгии, некоторые линзы производятся в Испании и Венгрии. Страна-производитель указана в технических характеристиках товара. Вы можете уточнить эту информацию в каталоге.
			</div>
			<!-- /.info-slide__text -->
		</div>
		<!-- /.info-slide__desc -->
	</div>
	<!-- /.info-slide__field -->
	<div class="info-slide__field">
		<div class="info-slide__button" data-dropdown>
			Что делать если заказали не те линзы?
		</div>
		<!-- /.info-slide__button -->
		<div class="info-slide__desc">
			<div class="info-slide__text">
				Основное производство находится во Франции и Италии. Контактные линзы J&J и Acuvue производятся
				в Бельгии, некоторые линзы производятся в Испании и Венгрии. Страна-производитель указана в технических характеристиках товара. Вы можете уточнить эту информацию в каталоге.
			</div>
			<!-- /.info-slide__text -->
		</div>
		<!-- /.info-slide__desc -->
	</div>
	<!-- /.info-slide__field -->
	<div class="info-slide__field">
		<div class="info-slide__button" data-dropdown>
			Каков срок ношения контактных линз?
		</div>
		<!-- /.info-slide__button -->
		<div class="info-slide__desc">
			<div class="info-slide__text">
				Основное производство находится во Франции и Италии. Контактные линзы J&J и Acuvue производятся
				в Бельгии, некоторые линзы производятся в Испании и Венгрии. Страна-производитель указана в технических характеристиках товара. Вы можете уточнить эту информацию в каталоге.
			</div>
			<!-- /.info-slide__text -->
		</div>
		<!-- /.info-slide__desc -->
	</div>
	<!-- /.info-slide__field -->
	<div class="info-slide__field">
		<div class="info-slide__button" data-dropdown>
			Какие запчасти используются при починке очков
		</div>
		<!-- /.info-slide__button -->
		<div class="info-slide__desc">
			<div class="info-slide__text">
				Основное производство находится во Франции и Италии. Контактные линзы J&J и Acuvue производятся
				в Бельгии, некоторые линзы производятся в Испании и Венгрии. Страна-производитель указана в технических характеристиках товара. Вы можете уточнить эту информацию в каталоге.
			</div>
			<!-- /.info-slide__text -->
		</div>
		<!-- /.info-slide__desc -->
	</div>
	<!-- /.info-slide__field -->
</div>
<!-- /.info-slide -->
