{%
	set data = ['benefits-product__pic1.svg', 'benefits-product__pic2.svg', 'benefits-product__pic3.svg', 'benefits-product__pic4.svg', 'benefits-product__pic5.svg']
%}
{% from "tooltip-hd/tooltip-hd.njk" import tooltip %}
<div class="benefits-product">
	{% for item in data %}
		<div class="benefits-product__item">
			<img class="benefits-product__pic lazyload" data-src="images/{{ item }}"/>
			{{ tooltip() }}
		</div>
	{% endfor %}
</div>
<!-- /.benefits-product -->
