<div class="title title_small">Не забудьте купить:</div>

{% from "catalog/catalog-item/catalog-item.njk" import catalogItem %}
<div class="swiper">
	<div class="swiper-container" data-swiper="data-swiper" data-options='{"slidesPerView":6,"spaceBetween":8,"breakpoints":{"768":{"slidesPerView":"auto","spaceBetween":8,"slidesPerGroup":1}}}'>
		<div class="swiper-wrapper">
			{% for item in[
				1,
				2,
				3,
				4,
				5,
				6,
				7,
				8
			] %}
				<div class="swiper-slide">
					{{ catalogItem() }}
				</div>
				<!-- /.swiper-slide -->
			{% endfor %}
		</div>
	</div>
	<div class="swiper__arrow swiper__arrow_right">
		<div class="swiper__prev swiper__prev_round js-swiper__prev"></div>
		<div class="swiper__next swiper__next_round js-swiper__next"></div>
	</div>
</div>
<!-- /.swiper -->
