.basket-props {
	position: relative;
	margin-bottom: 24px;
	border-bottom: 1px solid #f3f3f3;

	&__title {
		color: #000000;
		margin-bottom: 24px;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__info {
		color: #58585a;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		padding-top: 10px;
	}

	&__row {
		margin: 0 -38px;
		display: flex;

		&_top {
			margin-bottom: 16px;
		}
	}

	&__col {
		padding: 0 38px;

		&:nth-child(1) {
			width: 476px;
		}

		&:nth-child(2) {
			width: calc(100% - 476px);
		}
	}

	&__checkbox {
		display: flex;
		align-items: center;
		height: 38px;
		margin-bottom: 16px;

		.checkbox {
			margin-right: 24px;
		}
	}

	&__text {
		margin-right: 16px;
	}

	@media (--phone) {
		margin-bottom: 11px;
		position: static;
		padding: 0 0 7px;

		&__title {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		[class*=col-] {
			position: static;
		}

		&__row {
			flex-direction: column;
		}

		&__row_top {
			margin-bottom: 16px;
		}

		&__col {
			&:nth-child(1) {
				width: 100%;
			}

			&:nth-child(2) {
				width: 100%;
			}
		}

		&__checkbox {
			flex-wrap: wrap;
			height: auto;
			margin-bottom: 19px;

			.checkbox {
				margin-bottom: 0 !important;
				margin-right: 37px;
			}
		}

		&__text {
			font-size: 12px;
			line-height: 1.67;
			width: 100%;
			margin-bottom: 11px;
		}

		&__info {
			position: absolute;
			left: 16px;
			bottom: 16px;
			text-align: center;
			right: 16px;
			font-size: 12px;
			line-height: 1.5;
		}
	}
}
