{% import "form/form.njk" as form %}
<div class="basket-props">
	<div class="basket-props__title">Данные заказа</div>
	<div class="basket-props__row basket-props__row_top">
		<div class="basket-props__col">

			{% include "basket/basket-person/basket-person.njk" %}

		</div>
		<div class="basket-props__col">
			<div class="basket-props__info">* После оформления заявки с вами свяжется наш менеджер для подтверждения условий оплаты.</div>
		</div>
	</div>
	<div class="basket-props__row">
		<div class="basket-props__col">

			{{
				form.input()
			}}
			{{
				form.input(
					label = 'E-mail',
					type = 'email'
				)
			}}
			{{
				form.input(
					label = '+7(_ _ _) _ _ _ - _ _ - _ _',
					type = 'tel'
				)
			}}

			<div class="basket-props__checkbox">
				<div class="basket-props__text">Регион:</div>

				{{
					form.checkbox(
						mod = 'checkbox_radio',
						text = 'Москва и МО',
						type = 'radio'
					)
				}}
				{{
					form.checkbox(
						mod = 'checkbox_radio',
						text = 'Другой регион',
						type = 'radio'
					)
				}}

			</div>

			{{
				form.input(
					label = 'Адрес доставки',
					text = 'hide'
				)
			}}

		</div>
		<div class="basket-props__col">

			{{
				form.textarea(
					label = 'Дополнительная информация',
					text = 'hide'
				)
			}}

			{% include "basket/basket-payment/basket-payment.njk" %}

		</div>
	</div>
</div>
