.popup-gift {
	max-width: 344px;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
	padding: 48px 32px 40px;
	background: url(../images/popup-gift.jpg) no-repeat #fff;
	background-size: cover;

	&__photo {
		margin-bottom: 16px;

		img {
			margin: 0 auto;
			display: block;
			max-width: 100%;
		}
	}

	&__text {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.33;
		text-align: center;
		color: #000000;
		margin-bottom: 16px;
	}

	&__lnk {
		@include button($w: 100%);
	}

	@media (max-width: 767px) {
		padding: 32px 16px;

		&__text {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 24px;
		}
	}
}
