<div class="popup-gift">
	<div class="popup-gift__photo">
		<img src="images/popup-gift__pic.png" alt="">
	</div>
	<div class="popup-gift__text">
		Получите подарочную карту номиналом 2 500 рублей за регистрацию!
	</div>
	<a href="#" class="popup-gift__lnk">Подробнее</a>
</div>
<!-- /.popup-callback --> 
