{% macro newsBlock(
		src = 'images/news-block__pic.jpg',
		name = 'Скидка 25% на варочные панели Smeg',
		video = 'hide'
	)
%}
	<div class="news-block__item">
		<div class="news-block__photo">
			<img class="news-block__pic lazyload" data-src="{{ src }}"/>
			{% if video == 'show' %}
				<div class="news-block__video">
					<span></span>
				</div>
			{% endif %}
		</div>
		<div class="news-block__name">
			{{ name }}
		</div>
		<a class="news-block__link" href="#"></a>
	</div>
	<!-- /.news-block__item -->
{% endmacro %}
