.news-block {
	&_article {
		padding-top: 16px;
		margin-bottom: 24px;
	}

	&__title {
		margin-bottom: 20px;
	}

	.swiper-slide {
		height: auto;
	}

	&__item {
		position: relative;
		border-radius: 8px;
		background-color: #ffffff;
		height: 100%;
	}

	&__photo {
		position: relative;
		height: 180px;
	}

	&__video {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		span {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			background: rgba(26, 26, 26, 0.2) url(../images/controller-play.svg) no-repeat 55% center;
		}
	}

	&__pic {
		display: block;
		border-radius: 5px 5px 0 0;
		max-width: 100%;
		margin: 0 !important;
	}

	&__play {
		left: 50%;
		top: 50%;
		margin-top: -32px;
		width: 64px;
		height: 64px;
		border-radius: 50%;
		margin-left: -32px;
		position: absolute;
		background: url(../images/caret-right-play.svg) rgba(26, 26, 26, 0.2) no-repeat 15px center;
	}

	&__name {
		color: #000000;
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		padding: 16px;
	}

	&__link {
		@include posa;

		border: none !important;
	}

	@media (--phone) {
		&__photo {
			height: auto;
		}

		&__name {
			font-size: 12px;
		}
	}
}
