{% macro reviewsHeader(text = 'Вернуться на страницу бренда') %}
	<div class="reviews-header">
		<div class="reviews-header__texttop">
			Элитная техника, в том числе и стиральные машины, оснащаются инновационными технологиями. Так, например, компания V-ZUG разработала систему EcoManagement с широким спектром возможностей. Вы сможете легко вести домашнее хозяйство и при этом не быть привязанными к дому. Функция интеллектуальной отсрочки старта OptiTime применяется в новейших стиральных машинах Adora: загружаете белье в барабан, выбираете необходимую программу стирки и затем с помощью функции OptiTime задаете время окончания программы.
		</div>
		{% from "rating-stars/rating-stars.njk" import rating %}
		<div class="reviews-header__row">
			<div class="reviews-header__col">
				<div class="reviews-header__title">
					<div class="reviews-header__titletxt">Средняя оценка<span>5</span></div>
					{{
						rating(
							counter = 4,
							text = '50 отзывов',
							mClass = 'rating-stars_large'
						)
					}}						
				</div>
				<a href="#" class="reviews-header__back">
					{{ text }}
				</a>
			</div>
			<!-- /.reviews-header__col -->
			<div class="reviews-header__col">

				<div class="reviews-header__section">
					<div class="reviews-header__text">Отзывы с оценкой:</div>
					<div class="reviews-header__list" data-tabs="data-tabs">
						<a href="#" data-hash="#js-tabs-1" data-tabs-children="data-tabs-children">Любой</a>
						<a href="#" data-hash="#js-tabs-2" data-tabs-children="data-tabs-children">Положительные</a>
						<a href="#" data-hash="#js-tabs-3" data-tabs-children="data-tabs-children">Отрицательные</a>
					</div>
				</div>
				<!-- /.reviews-header__section -->

				<div class="tabs">
					<div class="tabs__inner" id="js-tabs-1">
						<div class="reviews-header__cell">
							<div class="ratings ratings_output">
								{{
									rating(
										counter = 5
									)
								}}	
								<div class="ratings__total ratings__total_bottom">
									<b>50%
									</b>25 отзывов</div>
							</div>
						</div>
						<div class="reviews-header__cell">
							<div class="ratings ratings_output">
								{{
									rating(
										counter = 3
									)
								}}	
								<div class="ratings__total ratings__total_bottom">
									<b>28%</b>13 отзывов</div>
							</div>
						</div>
						<div class="reviews-header__cell">
							<div class="ratings ratings_output">
								{{
									rating(
										counter = 2
									)
								}}	
								<div class="ratings__total ratings__total_bottom">
									<b>22%
									</b>12 отзывов</div>
							</div>
						</div>
					</div>
					<!-- /.tabs__inner -->
					<div class="tabs__inner" id="js-tabs-2">
						<div class="reviews-header__cell">
							<div class="ratings ratings_output">
								<div class="ratings__section">
									<div class="ratings__start"></div>
									<div class="ratings__click" style="width: 100%;"></div>
								</div>
								<div class="ratings__total ratings__total_bottom">
									<b>50%
									</b>25 отзывов</div>
							</div>
						</div>
						<div class="reviews-header__cell">
							<div class="ratings ratings_output">
								<div class="ratings__section">
									<div class="ratings__start"></div>
									<div class="ratings__click" style="width: 80%;"></div>
								</div>
								<div class="ratings__total ratings__total_bottom">
									<b>28%</b>13 отзывов</div>
							</div>
						</div>
						<div class="reviews-header__cell">
							<div class="ratings ratings_output">
								<div class="ratings__section">
									<div class="ratings__start"></div>
									<div class="ratings__click" style="width: 60%;"></div>
								</div>
								<div class="ratings__total ratings__total_bottom">
									<b>22%
									</b>12 отзывов
								</div>
							</div>
						</div>
					</div>
					<!-- /.tabs__inner -->
					<div class="tabs__inner" id="js-tabs-3">
						<div class="reviews-header__cell">
							<div class="ratings ratings_output">
								<div class="ratings__section">
									<div class="ratings__start"></div>
									<div class="ratings__click" style="width: 100%;"></div>
								</div>
								<div class="ratings__total ratings__total_bottom">
									<b>50%
									</b>25 отзывов</div>
							</div>
						</div>
						<div class="reviews-header__cell">
							<div class="ratings ratings_output">
								<div class="ratings__section">
									<div class="ratings__start"></div>
									<div class="ratings__click" style="width: 80%;"></div>
								</div>
								<div class="ratings__total ratings__total_bottom">
									<b>28%</b>13 отзывов</div>
							</div>
						</div>
						<div class="reviews-header__cell">
							<div class="ratings ratings_output">
								<div class="ratings__section">
									<div class="ratings__start"></div>
									<div class="ratings__click" style="width: 60%;"></div>
								</div>
								<div class="ratings__total ratings__total_bottom">
									<b>22%
									</b>12 отзывов</div>
							</div>
						</div>
					</div>
					<!-- /.tabs__inner -->
				</div>
				<!-- /.tabs-->
			</div>
			<!-- /.reviews-header__col -->
		</div>
	</div>
	<!-- /.reviews-header -->
{% endmacro %}
