{% from "utilities/phone-info/phone-info.njk" import phoneInfo %}
{% from "utilities/address-info/address-info.njk" import addressInfo %}
{% from "utilities/time-info/time-info.njk" import timeInfo %}

{%
	set data = [
		{
			"name": "ООО «Мир и Сервис»",
			"more": "Все сервисные центры AEG",
			"phone": [ "8 (495) 744 00 14" ],
			"address": "Москва, улица Промышленная, 11, стр.2.",
			"time": "с 9.00 до 18.00 по московскому времени"
		},
		{
			"name": "ООО «ТРАНССЕРВИС-95»",
			"more": "Все сервисные центры Asko",
			"phone": [ "8 (495) 744 00 14" ],
			"address": "г. Москва, 1-й Варшавский пр-д, д. 1 а, стр. 3",
			"time": "с 9.00 до 18.00 по московскому времени"
		},
		{
			"name": "Авторизованный сервисный центр Bang & Olufsen",
			"more": "Все сервисные центры Bang & Olufsen",
			"phone": [ "8 (495) 109 00 51" ],
			"address": "ПН - ПТ 10:00 - 21:00, СБ - ВС 11:00 - 21:00"
		},
		{
			"name": "Сервисная служба Beltratto",
			"more": "Все сервисные центры Asko",
			"phone": [ "8 (499) 794 28 13", "8 (499) 794 53 60", "8 (495) 988 87 61"]
		}
	]
%}

{% set count = 1 %}
<div class="service-list">
	{% for item in [1, 2, 3, 4, 5] %}

		{% for prop in data %}
			<div class="service-list__item">
				<div class="service-list__photo">
					<a href="#" class="service-list__link">
						<img class="service-list__pic lazyload" data-src="images/service-list__pic{{ count }}.png" alt=""/>
					</a>
				</div>
				{% set count = count + 1 %}
				<!-- /.service-list__photo -->
				<div class="service-list__desc">
					<div class="service-list__header">
						<a href="#" class="service-list__name">{{ prop.name }}</a>
						<a href="#" class="service-list__more">{{ prop.more }}</a>
					</div>
					<!-- /.service-list__header -->
					<div class="service-list__section">
						{{
							phoneInfo(prop.phone)
						}}
						{% if prop.address %}
							{{
								addressInfo()
							}}
						{% endif %}
						{% if prop.time %}
							{{
								timeInfo()
							}}
						{% endif %}
					</div>
					<!-- /.service-list__section -->
				</div>
				<!-- /.service-list__desc -->
			</div>
			<!-- /.service-list__item -->
		{% endfor %}

	{% endfor %}
</div>
<!-- /.service-list -->
