.service-list {
	&__item {
		margin-bottom: 8px;
		border-radius: 5px;
		background-color: rgb(255, 255, 255);
		padding: 20px 24px 24px 0;
		display: flex;
	}

	&__photo {
		min-width: 206px;
		border-right: 1px solid rgb(243, 243, 243);
		margin-right: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__link {
		text-decoration: none;
	}

	&__pic {
		display: block;
		max-width: 100%;
		max-width: 100%;
	}

	&__desc {
		width: calc(100% - 206px - 24px);
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12px;
	}

	&__name {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	&__more {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 32px;
		border-radius: 24px;
		padding: 0 24px;
		border: 1px solid rgb(215, 215, 215);
		color: rgb(88, 88, 90);
		font-size: 15px;
		font-weight: 400;
	}

	&__section {
		display: flex;
		flex-wrap: wrap;
	}

	.phone-info {
		a {
			margin-right: 24px;
		}
	}

	.address-info {
		margin-right: 24px;
	}

	.time-info {
		margin-right: 24px;
	}

	@media (--phone) {
		&__item {
			border-radius: 0;
			margin: 0 -16px 8px;
			flex-direction: column;
			padding: 0 16px;
		}

		&__header {
			margin-bottom: 3px;
		}

		&__photo {
			padding: 24px 0;
			margin: 0;
			border: none;
			border-bottom: 1px solid #f3f3f3;
			margin-bottom: 16px;
			width: 100%;
		}

		&__desc {
			width: 100%;
			position: relative;
			padding-bottom: 59px;
		}

		&__name {
			font-size: 14px;
			font-weight: 500;
			line-height: 1.29;
			margin-bottom: 8px;
		}

		&__more {
			bottom: 16px;
			left: 0;
			width: 100%;
			position: absolute;
			font-size: 13px;
		}

		.phone-info {
			margin-bottom: 10px;
		}

		.address-info {
			margin-bottom: 10px;
		}

		.time-info {
			margin-bottom: 10px;
		}
	}
}
