.filter-popup {
	position: relative;

	.filter__slider & {
		min-width: 185px;
	}

	&.active {
		z-index: 2;
	}

	&__title {
		color: rgb(0, 0, 0);
		margin-bottom: 18px;
		font-size: 14px;
		font-weight: 700;
	}

	&__value {
		display: inline-block;
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		border-bottom: dotted 1px rgb(165, 165, 166);
		cursor: pointer;
		margin-left: 10px;
		position: relative;
		z-index: 1;

		b {
			color: #dd0016;
		}
	}

	&_hidden &__value {
		position: static;
	}

	&.active &__value {
		border-bottom-color: transparent;
	}

	.filter__slider &__title {
		display: inline-block;
	}

	&__close {
		position: absolute;
		right: 16px;
		top: -2px;
		border-radius: 2px;
		cursor: pointer;
		color: #fff;
		padding: 2px 4px;
		background: #dd0016;
		transition: .4s;
		opacity: 0;
		pointer-events: none;
	}

	&__section {
		margin-bottom: 8px;
	}

	&_hidden &__section {
		display: none;
	}

	&_hidden.active &__section {
		display: block;
	}

	&__section[data-h="130"] {
		height: 130px;
	}

	&__section[data-h="140"] {
		height: 140px;
	}

	&__more {
		font-size: 12px;
		border-bottom: 1px dotted;
		display: inline-block;
		cursor: pointer;
		transition: .4s;
		opacity: 0;
		display: none;
		pointer-events: none;
	}

	&.enable &__title {
		position: relative;
		z-index: 1;
		border-bottom: 1px dotted;
		cursor: pointer;
		display: inline-block;

		.filter__slider & {
			border-bottom-color: transparent;
		}
	}

	&_hidden.enable &__title {
		border-bottom-color: transparent;
	}

	&_hidden.filter-popup_noval &__title {
		border-bottom: 1px dotted;
	}

	&.enable &__more {
		opacity: 1;
		pointer-events: auto;
		display: inline-block;
	}

	&.active &__close {
		z-index: 1;
		opacity: 1;
		pointer-events: auto;
	}

	&.active &__sectioninner {
		position: absolute;
		margin: -8px -8px 0 -8px;
		padding: 41px 8px 8px;
		left: 0;
		top: 0;
		width: 100%;
		background: #f3f3f3;
		box-shadow: 0 0 15px -5px #555;
		border-radius: 5px;

		.filter__slider & {
			width: 185px;
		}
	}

	&__scroll {
		padding: 2px;
		margin: 0 -2px;
	}

	&__section[data-h="130"] &__scroll {
		max-height: 130px;
		overflow: hidden;
	}

	&__section[data-h="140"] &__scroll {
		max-height: 140px;
		overflow: hidden;
	}

	&.active &__section[data-h-visible="250"] &__scroll {
		max-height: 250px;
		overflow: hidden;
	}

	&.scrolling &__section[data-h="130"] &__scroll {
		max-height: 130px;
		overflow-y: auto;
	}

	&.scrolling &__section[data-h="140"] &__scroll {
		max-height: 140px;
		overflow-y: auto;
	}

	&.active.scrolling &__section[data-h-visible="250"] &__scroll {
		max-height: 250px;
		overflow-y: auto;
	}

	&.scrolling &__section &__scroll::-webkit-scrollbar {
		background: #ccc;
		width: 3px;
	}

	&.scrolling &__section &__scroll::-webkit-scrollbar-thumb {
		background: #dd0016;
		width: 3px;
	}
}
