<div class="popup-benefits">
	<div class="popup__title">Причины доверять Hausdorf</div>
	{% set modClass = 'benefits-main_popup' %}
	{% set isHideBenefitsMainTitle = 'hide' %}    
	{% include "./templates/default/src/components/benefits/benefits-main/benefits-main.njk" %}
</div>
<!-- /.popup-callback --> 
