{%
	set data = [
		{
			"title": "Действующие акции"
		},
		{
			"title": "Адрес бутика"
		},
		{
			"title": "Доставка"
		},
		{
			"title": "Подключение"
		},
		{
			"title": "Сервис-центры"
		}
	]

%}

<div class="menu-header">
	<ul class="menu-header__list">
		{% for item in data %}
		<li class="menu-header__item {% if loop.index == 1%}active{% endif %}">
			<a href="#" class="menu-header__link">
				{{ item.title }} 
			</a>
		</li>
		<!-- /.menu-header__item -->
		{% endfor %}
	</ul>
	<!-- /.menu-header__list -->
</div>
<!-- /.menu-header -->